@use "../../base/core/settings/spacing" as *;
@use "../../base/core/tools/spacing" as *;
@use "../../base/core/settings/colours" as *;
@use "../../base/core/settings/typography" as *;
@use "../../base/core/tools/typography" as *;
@use "../../base/core/tools/links" as *;
@use "../../base/core/tools/sass-mq" as *;
@use "../../base/core/tools/mixins" as *;

.hse-tabs {
  @include hse-responsive-margin(1, "top");
  @include hse-responsive-margin(6, "bottom");
}

.hse-tabs__title {
  color: $hse-text-color;
  margin-bottom: hse-spacing(2);
  @include hse-font($size: 19);
}

.hse-tabs__list {
  list-style: none;
  margin: 0;
  padding: 0;
  @include hse-responsive-margin(6, "bottom");
}

.hse-tabs__list-item {
  margin-left: hse-spacing(5);
  margin-bottom: 0;
  @include hse-font($size: 19);
  &:before {
    color: $hse-text-color;
    content: "\2014 ";
    margin-left: -(hse-spacing(5));
    padding-right: hse-spacing(1);
  }
}

.hse-tabs__tab {
  display: inline-block;
  margin-bottom: hse-spacing(2);
  @include hse-link-style-default;
}

.hse-tabs__panel {
  @include hse-responsive-margin(8, "bottom");
}

// JavaScript enabled
.js-enabled {
  @include govuk-media-query($from: tablet) {
    .hse-tabs__list {
      border-bottom: 1px solid $hse-border-color;
      margin-bottom: 0;
      @include clearfix;
    }

    .hse-tabs__title {
      display: none;
    }

    .hse-tabs__list-item {
      background-color: $color_hse-grey-4;
      float: left;
      margin-bottom: 0;
      margin-left: 0;
      margin-right: hse-spacing(1);
      padding: hse-spacing(2) hse-spacing(4);
      position: relative;
      text-align: center;
      &:before {
        content: none;
      }
    }

    .hse-tabs__list-item--selected {
      $border-width: 1px;
      background-color: $color_hse-white;
      border: $border-width solid $hse-border-color;
      border-bottom: 0;
      margin-bottom: -$border-width; // Compensation for border (otherwise we get a shift)
      margin-top: -(hse-spacing(1));
      padding-bottom: (hse-spacing(2) * 1.5) + $border-width;
      padding-left: hse-spacing(4) - $border-width;
      padding-right: hse-spacing(4) - $border-width;
      padding-top: (hse-spacing(2) * 1.5) - $border-width;
      position: relative;
      .hse-tabs__tab {
        text-decoration: none;
      }
    }

    .hse-tabs__tab {
      @include hse-link-style-text;
      margin-bottom: 0;
      &:after {
        bottom: 0;
        content: "";
        left: 0;
        position: absolute;
        right: 0;
        top: 0;
      }
    }

    .hse-tabs__panel {
      background-color: $color_hse-white;
      border: 1px solid $hse-border-color;
      border-top: 0;
      padding: hse-spacing(6) hse-spacing(4);
      @include hse-responsive-margin(0, "bottom");
      & > :last-child {
        margin-bottom: 0;
      }
    }

    .hse-tabs__panel--hidden {
      display: none;
    }
  }
}