/* Tabs */
.tabs .ui-tabs-nav {
  margin: 0 !important;
}

.tabs__tab {
  &:focus {
    outline: none;
    border: none !important;
  }
  @include mq($from: tablet) {
    &:link,
    &:hover,
    &:visited,
    &:active {
      color: $black;
    }
  }
}

ul.tabs__list {
  position: relative;
  z-index: 100;
  padding: 0;
  font-size: 0;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  margin: 0;
  padding: 0;

  @include mq($from: tablet) {
    margin: 0 !important;
  }
}
.tabs__list-item {
  background-image: none !important;
  background-color: $color_hse-grey-4;
  margin-bottom: 0;
  font-size: 14px;
  font-weight: 600;

  &:last-of-type {
    margin-right: 0;
  }

  @include mq($from: tablet) {
    display: inline-block;
    a {
      &:link,
      &:hover,
      &:active,
      &:visited {
        color: $hse-text-color;
      }
    }

    &.selected {
      background: white;
      margin-bottom: -2px !important;
      a {
        border-top: 3px solid $color_hse-red;
        border-left: 2px solid $card-border-color;
        border-right: 2px solid $card-border-color;
        border-bottom: 0;
        &:link,
        &:hover,
        &:active,
        &:visited {
          color: $hse-text-color;
        }
      }
    }
  }
}

ul li .tabs__tab {
  display: block;

  &:link,
  &:active,
  &:hover,
  &:focus {
    border-bottom: 0 !important;
    text-decoration: none;
  }

  &:focus {
    background-color: #fd0;
  }

  @include mq($from: tablet) {
    padding: 12px 16px;
  }
}

.tabs__panel {
  margin-bottom: $hse-legacy-spacing-20;
  padding: 15px;
  @include mq($from: tablet) {
    .js-enabled & {
      display: none;
      border: 2px solid $card-border-color;
      padding: 15px 15px 5px 15px;

      &.show {
        display: block;
      }
    }
  }
}
