
.hse-side-navigation {
float: left;
width: 100%;
@include mq($until: desktop) {
  margin-bottom: $hse-legacy-spacing-20;
  }
}

.subnav-container {
  background-color: transparent;
  // transition: all 450ms ease-in-out;
}
.subnav-wrapper {
  position: relative;
  display: block;
  padding-left: 0;
  left: 0;
  list-style: none;
  margin: 0;
  width: 100%;
  transform: translateZ(0);
  // transition: all 300ms ease-in-out;
}

.draw {
  position: absolute;
  left: 100%;
  top: 0;
  width: 100%;
  z-index: -1;
  visibility: hidden;

  &.active {
    z-index: 1;
  visibility: visible;

  }
}

.subnav-container {
  overflow: hidden;
  transform: translateZ(0);
}
.subnav-container > ul {
  left: 0;
  position: relative;
  transform: translateZ(0);
}
.subnav-container ul,
.subnav-container li {
  list-style: none;
  margin: 0;
  font-size: 0;
}

.subnav-container a:focus {
  background: $hse-focus-color !important;
}
.subnav-container a:focus-visible {
outline: none;
}

.subnav-container ul {
  width: 100%;
}
.subnav-container li.first a:hover span {
  color: white;
  text-decoration: underline;
}
.subnav-container a {
  align-items: center;
  display: flex;
  overflow: visible;
  cursor: pointer;
  font-size: 1rem;
  text-decoration: none;
  &:visited {
  color: $color_hse-red;
  }
}

.subnav-container a span {
  flex: 1;
  overflow: visible;
  width: 100%;
  height: auto;
}
.subnav-container li ul {
  left: 100%;
  top: 0;
  padding: 0;
}
.subnav-container .header {
  display: flex;
  flex-flow: column;
  a {
    width: 100%;
  }
}

.subnav-container .first .header {
  display: flex;
}
.subnav-container .header .title {
  flex: 1;
  line-height: 1.4;
  margin: 0;
  order: 1;
}

.subnav-container .title {
  color: #333;
  padding: 1em;
}
.subnav-container li {
  line-height: 1.4;
}
.subnav-container li a {
  padding: $hse-legacy-spacing-10 0;
  &:hover {
  text-decoration: underline;
  font-weight: bold;
  }
}

.subnav-container li:not(.first) a:not(.back) {
  padding: 14px;
  @include mq($from: desktop) {
    padding: $hse-legacy-spacing-10;
  }
}



.subnav-container .draw.active li a:not(.header) {
  padding: $hse-legacy-spacing-10 ;
}


.subnav-container li a:not(.back):active {
  background-color: $color_hse-grey-3;
  color: $black;
}

.subnav-container .back::before {
  content: ' ';
  background: url('../../assets/v6-images/icons/svg/solid/arrow-left-red.svg');
  background-repeat: no-repeat;
  display: inline-block;
  height: 16px;
  margin: 0;
  transform: translateX(
    10px
  ) !important; // Important to reverse slinky transform CSS
  border-right: 10px solid transparent;
}

.subnav-container a.next::after {
  content: ' ';
  background-image: url('../../assets/v6-images/icons/svg/solid/arrow-right.svg');
  background-repeat: no-repeat;
  display: inline-block;
  width: 16px;
  height: 16px;
  margin: 0;
  margin-left: auto;
}

.subnav-container a.next:hover::after,
.subnav-container a.next:focus::after {
  content: ' ';
  background-image: url('../../assets/v6-images/icons/svg/solid/arrow-right-red.svg');
  background-repeat: no-repeat;
  display: inline-block;
  width: 16px;
  height: 16px;
  margin: 0;
  margin-left: auto;
  z-index: 9999;
}

.subnav-container .next::after {
  margin-left: 1em;
}
.subnav-container .back::before {
  padding: 0 1em;
  transform: scaleX(-1);
}

.subnav-container li {
  background: none;
  padding: 0;
}

.subnav-container li.first a {
  font-weight: bold;
}

// Active page

li a.active-page {
  border-left: 3px solid $color_hse-red;
  text-decoration: none;
  padding: 10px !important;
}
li a.active-page::before {
background-color: #0065bd;
content: "";
height: 4px;
position: absolute;
top: -4px;
width: 100%;
}
.no-active-style {
  background: none !important;
  border-left: none !important;
}

// Back

.subnav-container li a.back {
  width: 100%;
}

.subnav-container li.first a {
  width: 100%;
}

// links

.subnav-container li.first a:hover span,
.subnav-container li.header a:hover {
  text-decoration: underline !important;
}

.subnav-container .header .title {
  color: white;
}

.subnav-container li a.back {
  padding: 10px 0;
  @include mq($until: desktop) {
    padding: 14px 0;  
  }
}

.subnav-container li.first a:focus {
  color: $black !important;
}

.subnav-container li a:focus-within {
  background-color: $hse-focus-color;
  color: $black !important;
}

.subnav-container a.back:focus::before {
  content: ' ';
  background-image: url('../../assets/v6-images/icons/svg/solid/arrow-left-black.svg') !important;
}

.subnav-container .text-width {
  max-width: 90%;
}


.btn-mobile {
@include mq($from: desktop) {
    display: none !important;
}
}

@include mq($until: desktop) {

#menu {
width: 100%;
}

.collapse.subnav-container {
clip: rect(0 0 0 0);
clip-path: inset(50%);
height: 1px;
overflow: hidden;
position: absolute;
white-space: nowrap;
width: 1px;
}

.show.subnav-container {
  clip: none;
  clip-path: none;
  height: none;
  position: relative;
  white-space: none;
  width: 1px;
  }
  

// Expandable
.collapse {
  display: block;
  max-height: 0px;
  overflow: hidden;
  transition: max-height 0.5s cubic-bezier(0, 1, 0, 1);
}

.collapse.show {
  max-height: 99em;
  transition: max-height 0.5s ease-in-out;
}

.btn-mobile {
width: 100% !important; 
float: left !important;
clear: both !important;
text-align: left !important;
margin-bottom: 0 !important;
background: $color_hse-red !important; 
color: white !important;
}

.btn-mobile:focus {
background: $color_hse-grey-1 !important;
}

.subnav-container .back::before {
  content: ' ';
  background: url('../../assets/v6-images/icons/svg/solid/arrow-left-red.svg');
  background-repeat: no-repeat;
  display: inline-block;
  height: 16px;
  margin: 0;
  transform: translateX(
    $hse-legacy-spacing-10
  ) !important; // Important to reverse slinky transform CSS
  border-right: $hse-legacy-spacing-10 solid transparent;
}


li.first a.active-page:hover {
background: $color_hse-grey-3;
color: $color_hse-grey-1;
}

.subnav-container li.first a {
background: $color_hse-grey-4;
color: $color_hse-grey-1;
}

.subnav-container li.first a:hover {
background: #c2c2c2;
color: $color_hse-grey-1;
}

.btn-mobile svg {
float: right;
outline: none;
cursor: pointer;
pointer-events: none;
}

}

.subnav-title p {
font-size: 1rem;
margin-bottom: 10px;
font-weight: bold;
color: black;
}