tbody tr {
  &:nth-child(even) {
    td {
      background: #e0e0e0;
    }
  }
  &:nth-child(odd) {
    td {
      background: #ededed;
    }
  }
}

th {
  border: 1px solid #787878;
  font-weight: bold;
}

th a {
  color: #fff;
}

.sortable {
  th {
    position: relative;
    cursor: pointer;
    padding-right: $hse-legacy-spacing-20;
    background-image: url("../../assets/v6-images/icons/svg/tables/table-sortable.svg");
    background-size: $hse-legacy-spacing-10 13px;
    background-position: top 8px right 5px;
    background-repeat: no-repeat;

    &.sorted-asc {
      background-image: url("../../assets/v6-images/icons/svg/tables/table-sortable-up.svg");
    }
    &.sorted-desc {
      background-image: url("../../assets/v6-images/icons/svg/tables/table-sortable-down.svg");
    }
  }
}

// Borderless

table.no-border {
  td,
  th {
    border: none;
    padding: $hse-legacy-spacing-10 $hse-legacy-spacing-20 $hse-legacy-spacing-10 0;
    border-bottom: 1px solid $color_hse-grey-3;
  }

  caption {
    background: none;
    color: $black;
    text-align: left;
    padding: $hse-legacy-spacing-10 $hse-legacy-spacing-20 $hse-legacy-spacing-10 0;
  }
}

table.no-background {
  tr {
    &:nth-child(even) {
      td {
        background: white;
      }
    }
    &:nth-child(odd) {
      td {
        background: white;
      }
    }
  }
}

table {
  margin: 0 0 $hse-legacy-spacing-20 1px;
  border-spacing: 0;
  font-size: 0.9rem;
  line-height: 1.5;
}
caption {
  font-weight: 700;
}
.ie7 table {
  border-collapse: collapse;
}
td {
  padding: $hse-legacy-spacing-10 $hse-legacy-spacing-20 $hse-legacy-spacing-10 $hse-legacy-spacing-10;
  border: 1px solid #787878;
}
table td.numbers,
table td.numeric {
  text-align: right;
}
table.tablenumgrid th {
  text-align: center;
}
table.tablenumgrid th.secondary {
  text-align: right;
}
table.tablenumgrid td {
  text-align: right;
  white-space: nowrap;
}
th {
  padding: $hse-legacy-spacing-10 $hse-legacy-spacing-20 $hse-legacy-spacing-10 $hse-legacy-spacing-10;
  text-align: left;
}
th.secondary,
tr.secondary th {
  border: 1px solid #545454;
  font-weight: 400;
  border-top: none;
  padding: 2px 5px;
  background-color: #333;
  color: white;
}
div.sortDown,
div.sortNone,
div.sortUp {
  height: $hse-legacy-spacing-10;
  width: $hse-legacy-spacing-10;
  background-repeat: no-repeat;
}
div.sortUp {
  background-image: url("../../assets/v6-images/icons/svg/solid/caret-up-solid-red.svg");
}
div.sortDown {
  background-image: url("../../assets/v6-images/icons/svg/solid/caret-down-solid-red.svg");
}
div.sortNone {
  background-image: url("../../assets/v6-images/icons/svg/solid/sort-solid-red.svg");
}
table a.tableRowToggle,
table a.tableRowToggleClosed {
  width: 12px;
  height: 12px;
  display: inline-block;
  cursor: pointer;
  text-indent: -9999px;
  margin: 2px 0 0 2px;
}

table caption {
  padding: $hse-legacy-spacing-10;
  color: #000;
  text-align: left;
}
