@import 'settings/vars';
@import 'settings/breakpoints';
@import 'settings/colours';

@import 'foundations/body';

@import 'atoms/typographic/typography';
@import 'atoms/typographic/fonts';
@import 'atoms/typographic/headings';
@import 'atoms/typographic/icons';
@import 'atoms/typographic/lists';
@import 'atoms/typographic/paragraphs';

@import 'atoms/actions/links';
@import 'atoms/actions/buttons';
@import 'atoms/actions/buttons-outlined';

@import 'atoms/forms/forms';
@import 'atoms/forms/checkbox';
@import 'atoms/forms/date-formatted';
@import 'atoms/forms/datepicker';
@import 'atoms/forms/error';
@import 'atoms/forms/form-hint';
@import 'atoms/forms/input-email';
@import 'atoms/forms/input-file';
@import 'atoms/forms/input-numeric';
@import 'atoms/forms/input-password';
@import 'atoms/forms/input-text';
@import 'atoms/forms/radio';
@import 'atoms/forms/select-multi';
@import 'atoms/forms/select-native';
@import 'atoms/forms/select-ui';
@import 'atoms/forms/textarea';

@import 'atoms/loader';

@import 'molecules/dialogs';
@import 'molecules/picture';
@import 'molecules/code-example';
@import 'molecules/warning-text';

@import 'organisms/gdpr';
@import 'organisms/grids/grid';
@import 'organisms/navigation';
@import 'organisms/site-header';
@import 'organisms/site-footer';
@import 'organisms/tables';
@import 'organisms/chart-convertor';

@import 'templates/layout';

@import 'atoms/spacing/divider';
@import 'atoms/spacing/horizontal-rule';
@import 'atoms/spacing/keyline';
@import 'atoms/spacing/spacing';

/* Guide */
.exampleOutput {
  padding-top: $dp * 10 !important;
  border-top: 1px solid $mono-e !important;

  &:after {
    background-color: $mono-e;
    color: $mono-a !important;
    @extend .subtext;

    top: 0 !important;
    left: 0 !important;
    border-right: 0 !important;
    border-bottom: 0 !important;
    border-bottom-right-radius: 0 !important;
    padding: $dp !important;
    display: inline-block !important;
  }
}
