// Breadcrumbs

// .hse-breadcrumb ol specificty can be removed if .hse-breadrumb__list is applied to all breadcrumbs

.hse-breadcrumb__container {
padding: hse-spacing(3) 0;
}

.hse-breadcrumb__container ol {
@include mq($until: desktop) {
display: none;
}
@include mq($media-type: print) {
display: block;
}
}

.hse-breadcrumb__list, .hse-breadcrumb ol {
list-style: none;
margin: 0;
padding: 0;
font-size: 1.1em;
}

.hse-breadcrumb__item:first-of-type::before {
display: none;
}
  
.hse-breadcrumb__back {

&::before {
content: " ";
background-image: url(../../assets/v6-images/icons/svg/solid/chevron-right-gray.svg);
transform: rotate(180deg);
background-repeat: no-repeat;
background-position: bottom;
float: left;
top: 10px;
margin: 0 8px;
position: relative;
width: 10px;
height: 10px;  
}

padding: 0;
margin: 0;
@include mq($from: desktop) {
display: none;
}
@include mq($media-type: print) {
display: none;
}

}





.hse-breadcrumb ol li {
&::before {
  content: " ";
  background-image: url("../../assets/v6-images/icons/svg/solid/chevron-right-gray.svg");
  background-repeat: no-repeat;
  background-position: bottom;
  float: left;
  top: 11px;
  margin: 0 8px;
  position: relative;
  width: 10px;
  height: 10px;
}
&:first-of-type {
&::before {
display: none;
}
}
}

.hse-breadcrumb ol li {
display: inline-block;
margin: 0;
@include mq($media-type: print) {
padding-bottom: 10px;
}
a {
color: $color_hse-red;
&:visited {
color: $color_hse-red;
}
&:focus {
color: $color_hse-black;
}
}
}



