// Columns
  
  /* Spacing & Borders */
  
  .border:last-of-type {
    border-bottom: none;
    // margin-bottom: 0;
  }
  
  .border {
    margin-bottom: $hse-legacy-spacing-20;
    border-bottom: 2px solid $color_hse-red;
  }
  
  div.diaryMonth h2,
  .boxSubscribe {
    background-color: $color_hse-red;
  }
  
  .column.oneThird.backgroundRed {
    margin-bottom: $hse-legacy-spacing-20;
  }

  .more {
    box-sizing: border-box !important;
  }

  /* Desktop */
@media only screen and (min-width: $desktop) {

  #globalSearch table,
  #globalSearchMobile table {
    width: 250px !important;
  }

  .beta-highlight {
    margin-left: 0;
  }

}




