// Construction - overiding custom.css

@use "../../base/core/settings/spacing" as *;

#lwet-steps {
margin-bottom: $hse-legacy-spacing-20 !important;
}

#lwet-steps li a {
color: white !important;
}

.lwet #feature-home ol {
border-top: none;
}

.lwet #feature-home {
margin-bottom: $hse-legacy-spacing-20;
}