<!DOCTYPE html>
<html lang="en-GB"><!-- InstanceBegin template="/Templates/dev-kit.dwt" codeOutsideHTMLIsLocked="false" -->
<head>

<meta charset="utf-8">
	



<meta name="viewport" content="width=device-width, initial-scale=1.0">
<!-- v5.1.1 -->



<link rel="stylesheet" href="../assets/v5-css/v5.min.css" type="text/css" media="screen,print" />
<style>
#globalSearch {
display: none;
}	
</style>



<!-- Page title and meta -->
	
<!-- InstanceBeginEditable name="doctitle" -->
		<title>Accordion - HSE.GOV.UK Design System</title>
		<meta name="keywords" content=" " />
<meta name="description" content=" " />
<!-- InstanceEndEditable -->
<meta name="HSE.contentType" content="default" />
<link rel="shortcut icon" href="../favicon.ico" />
<link rel="apple-touch-icon" href="../assets/v4-images/shared/apple-touch-icon.png" />
<link rel="home" href="../index.htm" />


<!-- ie 11 fix for left-hand navigation --> 
<script src="https://cdn.polyfill.io/v2/polyfill.min.js"></script>


</head>
<body class="components normalFont">

<section id="top" aria-label="Skip to content">  <a href="#contentContainer" class="skip">Skip to content</a>  </section>
 
<section id="printBanner" aria-label="Print banner"> <img src="../assets/v4-images/website/print/print-logo.jpg" width="193" height="65" alt="Health and Safety Executive" id="printLogo"/> </section>
<header id="headerContainer">
  <div id="header">
    <div class="headerTop header js-header">
		 
		<div id="headerLogo" class="headerLogo"><a href="../index.htm">Health and Safety<br />
        Executive</a></div>
		
		 
		
      <div id="globalSearch" class="desktop-gcs-search">
        <gcse:searchbox-only></gcse:searchbox-only>
      </div>
    </div>
    
    <!-- JS Main Navigation -->
    
    <div class="menuContainer">
      <nav id="main-menu"  class="menu js-menu">
        <ul>
          <li class="home"><a href="../index.htm">Design system</a></li>
          <li class="style"><a href="../style/index.htm">Styles</a></li>
          <li class="components"><a href="index.htm">Components</a></li>
          <li class="patterns"><a href="../patterns/index.htm">Patterns</a></li>
          <li class="template"><a href="../framework/index.htm">Framework</a></li>
        </ul>
      </nav>
    </div>
  </div>
   </header>
   
<nav id="breadCrumb" aria-label="Previous pages:">
  <div class="breadCrumbContainer"> <!-- InstanceBeginEditable name="Breadcrumbs" -->
			<ol>
				<li class="home">
					<a href="../index.htm">Design System</a>
				</li>
				<li>
					<a href="index.htm">Components</a>
				</li>
				<li>Accordion</li>
			</ol>
			<!-- InstanceEndEditable --> </div>
  <div id="backTo">
    <p class="backto"><a id="backnav" href="index.htm">Back to</a></p>
  </div>
</nav>
 
<div id="pageContainer" class="v5" xmlns:argot="http://purl.oclc.org/argot/" xmlns:dc="http://purl.org/dc/terms/" xmlns:foaf="http://xmlns.com/foaf/0.1/" xmlns:v="http://www.w3.org/2006/vcard/ns#" xmlns:dbp="http://dbpedia.org/resource/">
<!-- InstanceBeginEditable name="beta-survey" -->

		<!-- InstanceEndEditable -->   

<!-- Beta content page --> 

  
<nav id="navSecondary" aria-label="Secondary"> <!-- InstanceBeginEditable name="Subnav" --><!-- #BeginLibraryItem "/Library/_v5-components.lbi" --><div id="menu" class="slinky-menu slinky-theme-default">
<ul>
    <li class="first"><a href="index.htm">Components</a></li>
	<li><a href="accordion.htm">Accordion</a></li>
	<li><a href="boxes.htm">Box</a></li>
	<li><a href="#">Charts (JS)</a>
		<ul>
			<li><a href="charts/index.htm">Overview</a></li>
			<li><a href="charts/data-attributes.htm">Data attributes</a></li>
		    <li><a href="charts/pie-chart.htm">Pie chart</a></li>
			<li><a href="charts/donut-chart.htm">Donut chart</a></li>
			<li><a href="charts/line-chart.htm">Line chart</a></li>
			<li><a href="charts/bar-chart.htm">Bar chart</a></li>
			<li><a href="charts/bar-stacked-chart.htm">Bar (stacked) chart</a></li>
			<li><a href="charts/column-chart.htm">Column chart</a></li>
			<li><a href="charts/column-stacked-chart.htm">Column (stacked) chart</a></li>
			<li><a href="charts/arearange-chart.htm">Area range chart</a></li>
			<li><a href="charts/dual-chart.htm">Dual charts</a></li>
			<li><a href="charts/missing-data.htm">Missing data</a></li>
			<li><a href="charts/confidence-intervals.htm">Confidence Intervals</a></li>
			<li><a href="charts/plot-bands.htm">Plot bands</a></li>
		</ul>
	</li>
	<li><a href="dialog.htm">Dialog box</a></li>
	<li><a href="#">Forms</a>
		<ul>
			<li><a href="forms/index.htm">Overview</a></li>
		    <li><a href="forms/buttons.htm">Buttons</a></li>
			<li><a href="forms/inputs.htm">inputs</a></li>
			<li><a href="forms/input-sizes.htm">Input sizes</a></li>
			<li><a href="forms/form-validation.htm">Form validation</a></li>
			<li><a href="forms/checkboxes.htm">Checkboxes</a></li>
			<li><a href="forms/dates.htm">Dates</a></li>
			<li><a href="forms/radios.htm">Radios</a></li>
			<li><a href="forms/switch.htm">Switch</a></li>
			<li><a href="forms/textarea.htm">Text area</a></li>
			<li><a href="forms/drop-down.htm">Drop-down list (Input)</a></li>
			<li><a href="forms/subscribe.htm">Subscribe (Input)</a></li>
		</ul>
	</li>
	<li><a href="images.htm">Images</a></li>
	<li><a href="lightbox.htm">Lightbox (JS)</a></li>
    <li><a href="tables.htm">Table</a></li>
	<li><a href="tabs.htm">Tabs (JS)</a></li>
	<li><a href="video.htm">Video (Embed)</a></li>
	<li><a href="#">Homepage</a>
	 <ul>
	  <li><a href="homepage/index.htm">Overview</a></li>
	  <li><a href="homepage/banner.htm">Banner</a></li>
	 </ul>
	</li>
	<li><a href="#">Navigation</a>
	 <ul>
	  <li><a href="navigation/index.htm">Overview</a></li>
	  <li><a href="navigation/a-z.htm">A-Z</a></li>
	  <li><a href="navigation/pagination.htm">Pagination</a></li>
	 </ul>
	</li>
 </ul>
</div><!-- #EndLibraryItem --><!-- InstanceEndEditable --> </nav>

<main id="contentContainer" class="columnbetacontentpage column2">
 
	
<!-- InstanceBeginEditable name="content" -->
			<h1>Accordion (JS)</h1>

			<p>The accordion component lets users show and hide sections of related content on a page.</p>

			<p>No default opened panel &amp; ability to open multiple panels at a time.</p>

			<div data-aria-accordion data-multi data-transition data-default="none">

				<h3 id="accordionSection1" data-aria-accordion-heading>Chapter 1</h3>
				<div data-aria-accordion-panel>
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
				</div>

				<h3 id="accordionSection2" data-aria-accordion-heading>Chapter 2</h3>
				<div data-aria-accordion-panel>
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
				</div>

				<h3 id="accordionSection3" data-aria-accordion-heading>Chapter 3</h3>
				<div data-aria-accordion-panel>
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
				</div>

			</div>

			<pre class="language-markup"><code>&lt;div data-aria-accordion data-multi data-transition data-default=&quot;none&quot;&gt;
	&lt;h3 id=&quot;accordionSection1&quot; data-aria-accordion-heading&gt;Chapter 1&lt;/h3&gt;
	&lt;div data-aria-accordion-panel&gt;
		&lt;p&gt;Chapter 1 content&lt;/p&gt;
	&lt;/div&gt;
	&lt;h3 id=&quot;accordionSection2&quot; data-aria-accordion-heading&gt;Chapter 2&lt;/h3&gt;
	&lt;div data-aria-accordion-panel&gt;
		&lt;p&gt;Chapter 2 content&lt;/p&gt;
	&lt;/div&gt;
	&lt;h3 id=&quot;accordionSection3&quot; data-aria-accordion-heading&gt;Chapter 3&lt;/h3&gt;
	&lt;div data-aria-accordion-panel&gt;
		&lt;p&gt;Chapter 3 content&lt;/p&gt;
	&lt;/div&gt;
&lt;/div&gt;</code></pre>

			<!--

	  <h3>Constantly opened panel &amp; nested accordion example</h3>

	  <div data-aria-accordion data-constant>
					<h3 data-aria-accordion-heading>
						Chapter 4
					</h3>
					<div data-aria-accordion-panel>
						<p>
							Using the <code>data-constant</code> attribute on the parent
							accordion wrapper will require that an accordion panel
							be perpetually set to open.
						</p>
					</div>
		  <h3 data-aria-accordion-heading>
						Chapter 4
					</h3>
					<div data-aria-accordion-panel>
						<p>
							Using the <code>data-constant</code> attribute on the parent
							accordion wrapper will require that an accordion panel
							be perpetually set to open.
						</p>
					</div>
	  </div>


	  <h3>Accordion with second panel opened by default, only one panel opened at a time, but all may be closed.</h3>

				<div data-default="2" data-aria-accordion data-transition>
					<h3 data-aria-accordion-heading>
						Chapter 7
					</h3>
					<div data-aria-accordion-panel>
						<p>
							Kind of like a choose your own adventure book, this panel was skipped over as Chapter 8 was opened by default.
						</p>
					</div>
					<h3 data-aria-accordion-heading>
						Chapter 8
					</h3>
					<div data-aria-accordion-panel>
						<p>
							This panel is set to be opened by default, when this particular accordion renders. This is accomplished via the <code>data-default="2"</code>, set on the parent accordion container.
						</p>
					</div>
				</div>

	  <h3 class="demo-heading">Accordion contained within an ordered list, with no panels open by default.</h3>
				<ol data-aria-accordion data-default="none">
					<li>
						<h3 data-aria-accordion-heading>
							Chapter 9
						</h3>
						<div data-aria-accordion-panel>
							<p>
								Using the <code>data-constant</code> attribute on the parent
								accordion wrapper will require that an accordion panel
								be perpetually set to open.
							</p>
						</div>
					</li>
					<li>
						<h3 data-aria-accordion-heading>
							Chapter 10
						</h3>
						<div data-aria-accordion-panel>
							<p>
								When panels are open, their corresponding trigger (button) will
								be announced as "dimmed" or "unavailable", so it's clear that
								while the trigger exists, it can't presently be activated.
							</p>
						</div>
					</li>
					<li>
						<h2 data-aria-accordion-heading>
							Chapter 11
						</h2>
						<div data-aria-accordion-panel>
							<p>
								Sometimes accordions are desired within accordions. Typically
								this sort of nesting should be avoided, as it can create a more
								complex UX than should really be necessary.
							</p>
						</div>
					</li>
				</ol>

-->

			<h2>How to use</h2>

			<h3>Accordion container</h3>

			<p>The accordion uses data attributes, to create an accordion you will need to assign the following data attributes to a <strong>&lt;div&gt;</strong> element:</p>

			<ul>
				<li>data-aria-accordion</li>
				<li>data-multi</li>
				<li>data-transition</li>
				<li>data-default="none"</li>
			</ul>

			<h3>Headings and panels</h3>

			<p>Each section is made up of a heading and it's corresponding panel, they must be placed inside the parent accordion <strong>&lt;div&gt;</strong> element.</p>

			<p>Choose a heading element (Making sure to keep the heading structure correct), then assign a data attribute of <strong>data-aria-accordion-heading</strong>. It is best practice to add an id to the heading element, to allow for anchor links to this section.</p>

			<p>For your section content you will need to create a <strong>&lt;div&gt;</strong> element directly below the corresponding heading and assign a data attribute of <strong>data-aria-accordion-panel</strong>.</p>

			<p>Repeat this process to add multiple sections to the accordion.</p>

			<h2>When to use</h2>
			<p>Only use an accordion if there’s evidence it’s helpful for users to:</p>

			<ul>
				<li>see an overview of multiple, related sections of content</li>
				<li>show and hide those sections as needed</li>
			</ul>

			<!-- InstanceEndEditable -->
	
 

<!-- Beta two column (top task) --> 

   </main>

</div>

<nav id="footer-nav" aria-label="Footer menu">
  <footer id="footerContainer">
    <div id="footer">
      <h2 class="visually-hidden">Footer links</h2>
      <div class="footer-links-container">
       
      </div>
    </div>
    <div id="baseStrip">
      <div id="baseStripInner">
        <p>HSE aims to reduce work-related death, injury and ill health.</p>
      </div>
    </div>
  </footer>
</nav>
<section id="lastUpdated" aria-label="Last updated">
<!-- InstanceBeginEditable name="updated" -->Updated:<!-- #BeginDate format:IS1 -->2021-04-29<!-- #EndDate --><!-- InstanceEndEditable -->
</section>
<script src="../assets/v5-js/v5-main.min.js"></script>
<script src="../assets/v5-js/jquery.min.js"></script> 
<script src="../assets/v5-js/v5-footer.min.js"></script> 

	
 
<script src="../assets/v5-js/v5-footer-slinky-js.min.js"></script> 





<div id="gutter"><!-- InstanceBeginEditable name="gutter" -->
		<!-- InstanceEndEditable --></div>

	
<!-- InstanceParam name="bodyClass" type="text" value="components" --> 
<!-- InstanceParam name="layout" type="text" value="betacontentpage" --> 
<!-- InstanceParam name="columnLayout" type="number" value="2" --> 
<!-- InstanceParam name="platform" type="text" value="v5" --> 
<!-- InstanceParam name="rdfa" type="boolean" value="false" --> 
<!-- InstanceParam name="welsh" type="boolean" value="false" --> 
<!-- InstanceParam name="homepage" type="boolean" value="true" --> 
<!-- InstanceParam name="weblite" type="boolean" value="false" --> 
<!-- InstanceParam name="feedback" type="boolean" value="true" --> 
<!-- InstanceParam name="contentType" type="text" value="default" --> 
<!-- InstanceParam name="notificationBar" type="boolean" value="false" --> 
<!-- InstanceParam name="printGuide" type="boolean" value="false" -->
</body>
<!-- InstanceEnd --></html>