<!DOCTYPE html>
<html lang="en-GB"><!-- InstanceBegin template="/Templates/dev-kit.dwt" codeOutsideHTMLIsLocked="false" -->
<head>

<meta charset="utf-8">



<meta name="viewport" content="width=device-width, initial-scale=1.0">
<!-- v5.1.1 -->



<link rel="stylesheet" href="../assets/v5-css/v5.min.css" type="text/css" media="screen,print" />
<style>
#globalSearch {
display: none;
}	
</style>



<!-- Page title and meta -->
	
<!-- InstanceBeginEditable name="doctitle" -->
		<title>Images - HSE.GOV.UK Design System</title>
		<meta name="keywords" content=" " />
<meta name="description" content=" " />
<!-- InstanceEndEditable -->
<meta name="HSE.contentType" content="default" />
<link rel="shortcut icon" href="../favicon.ico" />
<link rel="apple-touch-icon" href="../assets/v4-images/shared/apple-touch-icon.png" />
<link rel="home" href="../index.htm" />


<!-- ie 11 fix for left-hand navigation --> 
<script src="https://cdn.polyfill.io/v2/polyfill.min.js"></script>


</head>
<body class="components normalFont">

<section id="top" aria-label="Skip to content">  <a href="#contentContainer" class="skip">Skip to content</a>  </section>
 
<section id="printBanner" aria-label="Print banner"> <img src="../assets/v4-images/website/print/print-logo.jpg" width="193" height="65" alt="Health and Safety Executive" id="printLogo"/> </section>
<header id="headerContainer">
  <div id="header">
    <div class="headerTop header js-header">
		 
		<div id="headerLogo" class="headerLogo"><a href="../index.htm">Health and Safety<br />
        Executive</a></div>
		
		 
		
      <div id="globalSearch" class="desktop-gcs-search">
        <gcse:searchbox-only></gcse:searchbox-only>
      </div>
    </div>
    
    <!-- JS Main Navigation -->
    
    <div class="menuContainer">
      <nav id="main-menu"  class="menu js-menu">
        <ul>
          <li class="home"><a href="../index.htm">Design system</a></li>
          <li class="style"><a href="../style/index.htm">Styles</a></li>
          <li class="components"><a href="index.htm">Components</a></li>
          <li class="patterns"><a href="../patterns/index.htm">Patterns</a></li>
          <li class="template"><a href="../framework/index.htm">Framework</a></li>
		  <li class="development"><a href="../development/index.htm">Development</a></li>
        </ul>
      </nav>
    </div>
  </div>
   </header>
   
<nav id="breadCrumb" aria-label="Previous pages:">
  <div class="breadCrumbContainer"> <!-- InstanceBeginEditable name="Breadcrumbs" -->
			<ol>
				<li class="home">
					<a href="../index.htm">Design System</a>
				</li>
				<li>
					<a href="index.htm">Components</a>
				</li>
				<li>Images</li>
			</ol>
			<!-- InstanceEndEditable --> </div>
  <div id="backTo">
    <p class="backto"><a id="backnav" href="index.htm">Back to</a></p>
  </div>
</nav>
 
<div id="pageContainer" class="v5" xmlns:argot="http://purl.oclc.org/argot/" xmlns:dc="http://purl.org/dc/terms/" xmlns:foaf="http://xmlns.com/foaf/0.1/" xmlns:v="http://www.w3.org/2006/vcard/ns#" xmlns:dbp="http://dbpedia.org/resource/">
<!-- InstanceBeginEditable name="beta-survey" -->

		<!-- InstanceEndEditable -->   

<!-- Beta content page --> 

  
<nav id="navSecondary" aria-label="Secondary"> <!-- InstanceBeginEditable name="Subnav" --><!-- #BeginLibraryItem "/Library/_v5-components.lbi" --><div id="menu" class="slinky-menu slinky-theme-default">
<ul>
    <li class="first"><a href="index.htm">Components</a></li>
	<li><a href="accordion.htm">Accordion</a></li>
	<li><a href="boxes.htm">Box</a></li>
	<li><a href="#">Charts (JS)</a>
		<ul>
			<li><a href="charts/index.htm">Overview</a></li>
			<li><a href="charts/data-attributes.htm">Data attributes</a></li>
		    <li><a href="charts/pie-chart.htm">Pie chart</a></li>
			<li><a href="charts/donut-chart.htm">Donut chart</a></li>
			<li><a href="charts/line-chart.htm">Line chart</a></li>
			<li><a href="charts/bar-chart.htm">Bar chart</a></li>
			<li><a href="charts/bar-stacked-chart.htm">Bar (stacked) chart</a></li>
			<li><a href="charts/column-chart.htm">Column chart</a></li>
			<li><a href="charts/column-stacked-chart.htm">Column (stacked) chart</a></li>
			<li><a href="charts/arearange-chart.htm">Area range chart</a></li>
			<li><a href="charts/dual-chart.htm">Dual charts</a></li>
			<li><a href="charts/missing-data.htm">Missing data</a></li>
			<li><a href="charts/confidence-intervals.htm">Confidence Intervals</a></li>
			<li><a href="charts/plot-bands.htm">Plot bands</a></li>
		</ul>
	</li>
	<li><a href="dialog.htm">Dialog box</a></li>
	<li><a href="#">Forms</a>
		<ul>
			<li><a href="forms/index.htm">Overview</a></li>
		    <li><a href="forms/buttons.htm">Buttons</a></li>
			<li><a href="forms/inputs.htm">inputs</a></li>
			<li><a href="forms/input-sizes.htm">Input sizes</a></li>
			<li><a href="forms/form-validation.htm">Form validation</a></li>
			<li><a href="forms/checkboxes.htm">Checkboxes</a></li>
			<li><a href="forms/dates.htm">Dates</a></li>
			<li><a href="forms/radios.htm">Radios</a></li>
			<li><a href="forms/switch.htm">Switch</a></li>
			<li><a href="forms/textarea.htm">Text area</a></li>
			<li><a href="forms/drop-down.htm">Drop-down list (Input)</a></li>
			<li><a href="forms/subscribe.htm">Subscribe (Input)</a></li>
		</ul>
	</li>
	<li><a href="images.htm">Images</a></li>
	<li><a href="lightbox.htm">Lightbox (JS)</a></li>
    <li><a href="tables.htm">Table</a></li>
	<li><a href="tabs.htm">Tabs (JS)</a></li>
	<li><a href="video.htm">Video (Embed)</a></li>
 </ul>
</div><!-- #EndLibraryItem --><!-- InstanceEndEditable --> </nav>

<main id="contentContainer" class="columnbetacontentpage column2">
 
	
<!-- InstanceBeginEditable name="content" -->
	 <h1>Images</h1>

<div class="box">

<h2>Contents</h2>

<ul>
 <li><a href="#attributes">Image attributes</a></li>
 <li><a href="#full-width">Full width responsive image</a></li>
 <li><a href="#caption">Caption</a></li>
 <li><a href="#fixed-width">Fixed width image</a></li>
 <li><a href="#alt-text">Alternative text</a></li>
</ul>

</div>


<h2 id="attributes">Image attributes</h2>

<p><strong>Important:</strong> All content images should be contained inside a <strong>&lt;figure&gt;</strong> element with the class <strong>.v5-figure</strong> to make use of v5 styles detailed on this page. </p>

<h3>Height</h3>

<p>The height of an image is calculated with CSS auto height. This CSS attribute will overide the HTML height attribute and ensure that the image height is correct.</p>

<h3>Width</h3>

<p>The width of an image will be set by the width attribute in the image element HTML.</p>


<h3>Aspect ratio</h3>

<p>The reccomended aspect ratio for images is 16:9.</p>

<h2 id="full-width">Full width responsive image</h2>

<p>Wrap the image element inside a <strong>&lt;figure&gt;</strong> element with a class of <strong>.v5-figure</strong> and <strong>.full-width</strong>.</p>

<p>You don’t need to remove the height and width in the HTML.</p>

<figure class="v5-figure full-width">
<img alt="Inspector Calls" height="394" width="700" src="../images/examples/hse-inspector.jpg">
</figure>

<h3>Code example</h3>
	<pre class="language-markup"><code>&lt;figure class=&quot;v5-figure full-width&quot;&gt;
  &lt;img alt=&quot;Inspector Calls&quot; height=&quot;394&quot; width=&quot;700&quot; src=&quot;assets/images/hse-inspector.jpg&quot;&gt;
&lt;/figure&gt;</code></pre>

<h2 id="caption">Caption</h2>

	<p>The <strong>HTML &lt;figcaption&gt;</strong> represents a caption or legend describing the rest of the contents of its parent <strong>&lt;figure&gt;</strong> element.</p>

	<p>To add a caption to your image, place a <strong>&lt;figcaption&gt;</strong> element inside the relative <strong>&lt;figure&gt;</strong> element.</p>


    <figure class="v5-figure full-width">
	  <img alt="Inspector Calls" height="394" width="700" src="../images/examples/hse-inspector.jpg">
      <figcaption>This is a caption for an image</figcaption>
    </figure>

<h3>Code example</h3>
<pre class="language-html"><code>&lt;figure class=&quot;v5-figure full-width&quot;&gt;
  &lt;img alt=&quot;Inspector Calls&quot; height=&quot;394&quot; width=&quot;700&quot; src=&quot;assets/images/hse-inspector.jpg&quot;&gt;
  &lt;figcaption&gt;This is a caption for an image&lt;/figcaption&gt;
&lt;/figure&gt;</code></pre>

<h3 id="when-to-use">When to use</h3>

<p>When there is a need to provide context to the image, avoid unnecessary decoration. Only use images if there’s a real user need.</p>


<div class="box">

<h3>Accessibility</h3>

<p>From an accessibility viewpoint, captions and alt text have distinct roles. Captions benefit even people who can see the image, whereas alt text provides the same functionality as an absent image. Therefore, captions and alt text shouldn't just say the same thing, because they both appear when the image is gone. Try turning images off in your browser and see how it looks.</p>

</div>



<h2 id="fixed-width">Fixed width image</h2>


<figure class="v5-figure">
<img alt="" height="auto" width="450" src="../images/examples/hse-inspector.jpg">
</figure>

<h3>Code example</h3>
<pre class="language-html"><code>&lt;figure class=&quot;v5-figure&quot;&gt;
 &lt;img alt=&quot;HSE Inspector&quot; height=&quot;auto&quot; width=&quot;450&quot; src=&quot;assets/images/hse-inspector.jpg&quot;&gt;
&lt;/figure&gt;</code></pre>

<h3>Fixed image with caption</h3>

<figure id="fixed-caption" class="v5-figure">
<img alt="" height="auto" width="450" src="../images/examples/hse-inspector.jpg">
<figcaption class="fix">This image has a caption, This image has a caption, This image has a caption, This image has a caption</figcaption>
</figure>

<p class="utilclearfloats">Fixed images can also have captions but make sure the first element below the figure element has a class of <strong>.utilclearfloats</strong>.</p>

<h2 id="caption-width">Caption width</h2>

<p>Below demonstrates an issue with fixed image width and captions, if the caption width is larger than the image width it will not be automatically constrained to the image width.</p>

<p>To fix this issue add a class of <strong>.fix</strong> to the <strong>&lt;figcaption&gt;</strong> element.</p>

<h3>Small caption</h3>

<p>Caption text is small in this example and does not push the <strong>&lt;figcaption&gt;</strong> element beyond the width of the image.</p>

<figure class="v5-figure">
<img alt="" height="auto" width="450" src="../images/examples/hse-inspector.jpg">
<figcaption>Small caption</figcaption>
</figure>

<h3>Large caption</h3>

<p>In this example the large caption text stretches the <strong>&lt;figcaption&gt;</strong> element beyond the width of the image.</p>

<figure class="v5-figure">
<img alt="" height="auto" width="450" src="../images/examples/hse-inspector.jpg">
<figcaption>Large caption that spans beyond the width of fixed image and needs to be constrained</figcaption>
</figure>

<h3>Large caption with constraints applied</h3>

<figure class="v5-figure">
<img alt="" height="auto" width="450" src="../images/examples/hse-inspector.jpg">
<figcaption class="fix">Large caption that is constrained to width of image using the class <strong>.fix</strong> on the <strong>&lt;figcaption&gt;</strong> element</figcaption>
</figure>


 <h2 id="alt-text">Alternative text</h2>

  <p>The <strong>alt</strong> attribute should be included in all <strong>img</strong> elements.</p>

  <p>Its value is supposed to be a textual description of the image, for use in situations where the image cannot be seen/displayed or takes a long time to render because of a slow internet connection.</p>

 <h3>Decorative images</h3>

 <p>If you must include decorative images in your HTML, add a blank <strong>alt=""</strong>. If the image isn't part of the content, a screen reader shouldn't waste time reading it.</p>


 <h3>Content</h3>

 <p>If your image provides significant information, provide the same information in the main text which everybody can see or include a brief alt text.</p>

<h3>Text</h3>

<p>You should not use images that include text.</p>

<h3>Links</h3>

<p>If the img element is inside <strong>&lt;a&gt;</strong> element, either, write it inside the same <strong>&lt;a&gt;</strong> element, or inside the image's alt attribute.</p>

				<p>When there is a need to provide context to the image, avoid unnecessary decoration. Only use images if there’s a real user need.</p>

				<div class="box">

					<h3>Accessibility</h3>

					<p>From an accessibility viewpoint, captions and alt text have distinct roles. Captions benefit even people who can see the image, whereas alt text provides the same functionality as an absent image. Therefore, captions and alt text shouldn't just say the same thing, because they both appear when the image is gone. Try turning images off in your browser and see how it looks.</p>

				</div>


			<!-- InstanceEndEditable -->
	
 

<!-- Beta two column (top task) --> 

   </main>

</div>

<nav id="footer-nav" aria-label="Footer menu">
  <footer id="footerContainer">
    <div id="footer">
      <h2 class="visually-hidden">Footer links</h2>
      <div class="footer-links-container">
       
      </div>
    </div>
    <div id="baseStrip">
      <div id="baseStripInner">
        <p>HSE aims to reduce work-related death, injury and ill health.</p>
      </div>
    </div>
  </footer>
</nav>
<section id="lastUpdated" aria-label="Last updated">
<!-- InstanceBeginEditable name="updated" -->Updated:<!-- #BeginDate format:IS1 -->2022-03-24<!-- #EndDate --><!-- InstanceEndEditable -->
</section>
<script src="../assets/v5-js/v5-main.min.js"></script>

<div id="gutter"><!-- InstanceBeginEditable name="gutter" -->
		<!-- InstanceEndEditable --></div>

	
<!-- InstanceParam name="bodyClass" type="text" value="components" --> 
<!-- InstanceParam name="layout" type="text" value="betacontentpage" --> 
<!-- InstanceParam name="columnLayout" type="number" value="2" --> 
<!-- InstanceParam name="platform" type="text" value="v5" --> 
<!-- InstanceParam name="rdfa" type="boolean" value="false" --> 
<!-- InstanceParam name="welsh" type="boolean" value="false" --> 
<!-- InstanceParam name="homepage" type="boolean" value="true" --> 
<!-- InstanceParam name="weblite" type="boolean" value="false" --> 
<!-- InstanceParam name="feedback" type="boolean" value="true" --> 
<!-- InstanceParam name="contentType" type="text" value="default" --> 
<!-- InstanceParam name="notificationBar" type="boolean" value="false" --> 
<!-- InstanceParam name="printGuide" type="boolean" value="false" -->
</body>
<!-- InstanceEnd --></html>