<!DOCTYPE html>
<html lang="en-GB"><!-- InstanceBegin template="/Templates/dev-kit.dwt" codeOutsideHTMLIsLocked="false" -->
<head>

<meta charset="utf-8">
	



<meta name="viewport" content="width=device-width, initial-scale=1.0">
<!-- v5.1.1 -->



<link rel="stylesheet" href="../assets/v5-css/v5.min.css" type="text/css" media="screen,print" />
<style>
#globalSearch {
display: none;
}	
</style>



<!-- Page title and meta -->
	
<!-- InstanceBeginEditable name="doctitle" -->
    <title>Components - HSE.GOV.UK Design System</title>

    <!-- Custom CSS -->
    <!-- InstanceEndEditable -->
<meta name="HSE.contentType" content="default" />
<link rel="shortcut icon" href="../favicon.ico" />
<link rel="apple-touch-icon" href="../assets/v4-images/shared/apple-touch-icon.png" />
<link rel="home" href="../index.htm" />



</head>
<body class="components normalFont">

<section id="top" aria-label="Skip to content">  <a href="#contentContainer" class="skip">Skip to content</a>  </section>
 
<section id="printBanner" aria-label="Print banner"> <img src="../assets/v4-images/website/print/print-logo.jpg" width="193" height="65" alt="Health and Safety Executive" id="printLogo"/> </section>
<header id="headerContainer">
  <div id="header">
    <div class="headerTop header js-header">
		 
		<div id="headerLogo" class="headerLogo"><a href="../index.htm">Health and Safety<br />
        Executive</a></div>
		
		 
		
      <div id="globalSearch" class="desktop-gcs-search">
        <gcse:searchbox-only></gcse:searchbox-only>
      </div>
    </div>
    
    <!-- JS Main Navigation -->
    
    <div class="menuContainer">
      <nav id="main-menu"  class="menu js-menu">
        <ul>
          <li class="home"><a href="../index.htm">Design system</a></li>
          <li class="style"><a href="../style/index.htm">Styles</a></li>
          <li class="components"><a href="index.htm">Components</a></li>
          <li class="patterns"><a href="../patterns/index.htm">Patterns</a></li>
          <li class="template"><a href="../framework/index.htm">Framework</a></li>
        </ul>
      </nav>
    </div>
  </div>
   </header>
   
<nav id="breadCrumb" aria-label="Previous pages:">
  <div class="breadCrumbContainer"> <!-- InstanceBeginEditable name="Breadcrumbs" -->
        <ol>
          <li class="home">
            <a href="../index.htm">Design System</a>
          </li>
          <li>Components</li>
        </ol>
        <!-- InstanceEndEditable --> </div>
  <div id="backTo">
    <p class="backto"><a id="backnav" href="index.htm">Back to</a></p>
  </div>
</nav>
 
<div id="pageContainer" class="v5" xmlns:argot="http://purl.oclc.org/argot/" xmlns:dc="http://purl.org/dc/terms/" xmlns:foaf="http://xmlns.com/foaf/0.1/" xmlns:v="http://www.w3.org/2006/vcard/ns#" xmlns:dbp="http://dbpedia.org/resource/">
<!-- InstanceBeginEditable name="beta-survey" -->

      <!-- InstanceEndEditable -->   

<!-- Beta content page --> 

  
<main id="contentContainer" class="columnbetacontentpage column1">
 
	
<!-- InstanceBeginEditable name="content" -->

        <h1>Components</h1>

        <p>Components are reusable parts of the user interface that can be used in <a href="../framework/template/regions.htm">editable regions</a> of hse.gov.uk template.</p>

        <p>Individual components can be used in multiple different <a href="../patterns/index.htm">patterns</a> and contexts.</p>
	
		<div class="box">

        <p>Some components of hse.gov.uk are fixed <a href="../framework/components/index.htm">template components</a> and managed using <a href="../framework/template/regions.htm">editable regions</a> and <a href="../framework/template/param.htm">template parameters</a>. </p>
			
		</div>

        <h2>Content</h2>

        <div class="columnFull noBoxPadding">

          <div class="column multiCol col3">

            <ul class="columnsList">
              <li>
                <h3>
                  <a href="accordion.htm">Accordion (JS)</a>
                </h3>
                <p>Accordion component</p>
              </li>
              <li>
                <h3>
                  <a href="boxes.htm">Box</a>
                </h3>
                <p>Box component</p>
              </li>
              <li>
                <h3>
                  <a href="forms/index.htm">Forms</a>
                </h3>
                <p>Form components</p>
              </li>
              <li>
                <h3>
                  <a href="images.htm">Images</a>
                </h3>
                <p>Images component</p>
              </li>
              <li>
                <h3>
                  <a href="tables.htm">Tables</a>
                </h3>
                <p>Tables component</p>
              </li>
              <li>
                <h3>
                  <a href="tabs.htm">Tabs (JS)</a>
                </h3>
                <p>Tabs component</p>
              </li>
              <li>
                <h3>
                  <a href="video.htm">Video (Embed)</a>
                </h3>
                <p>YouTube embed component</p>
              </li>
              <li>
                <h3>
                  <a href="lightbox.htm">Lightbox (JS)</a>
                </h3>
                <p>Lightbox gallery</p>
              </li>
              <li>
                <h3>
                  <a href="dialog.htm">Dialog (JS)</a>
                </h3>
                <p>Dialog box</p>
              </li>
              <li>
                <h3>
                  <a href="charts.htm">Charts (JS)</a>
                </h3>
                <p>HighCharts</p>
              </li>
            </ul>

          </div>

        </div>

      

        <h2>Homepage</h2>

        <div class="columnFull noBoxPadding">

          <div class="column multiCol col3">

            <ul class="columnsList">
              <li>
                <h3>
                  <a href="homepage/banner.htm">Homepage banner</a>
                </h3>
                <p>Promotional banner</p>
              </li>
            </ul>

          </div>

        </div>

        <!-- InstanceEndEditable -->
	
 

<!-- Beta two column (top task) --> 

   </main>

</div>

<nav id="footer-nav" aria-label="Footer menu">
  <footer id="footerContainer">
    <div id="footer">
      <h2 class="visually-hidden">Footer links</h2>
      <div class="footer-links-container">
       
      </div>
    </div>
    <div id="baseStrip">
      <div id="baseStripInner">
        <p>HSE aims to reduce work-related death, injury and ill health.</p>
      </div>
    </div>
  </footer>
</nav>
<section id="lastUpdated" aria-label="Last updated">
<!-- InstanceBeginEditable name="updated" --> Updated:
	<!-- #BeginDate format:IS1 -->2021-11-16<!-- #EndDate --><!-- InstanceEndEditable -->
</section>
<script src="../assets/v5-js/v5-main.min.js"></script>
<script src="../assets/v5-js/jquery.min.js"></script> 
<script src="../assets/v5-js/v5-footer.min.js"></script> 

	





<div id="gutter"><!-- InstanceBeginEditable name="gutter" -->
      <!-- InstanceEndEditable --></div>

	
<!-- InstanceParam name="bodyClass" type="text" value="components" --> 
<!-- InstanceParam name="layout" type="text" value="betacontentpage" --> 
<!-- InstanceParam name="columnLayout" type="number" value="1" --> 
<!-- InstanceParam name="platform" type="text" value="v5" --> 
<!-- InstanceParam name="rdfa" type="boolean" value="false" --> 
<!-- InstanceParam name="welsh" type="boolean" value="false" --> 
<!-- InstanceParam name="homepage" type="boolean" value="false" --> 
<!-- InstanceParam name="weblite" type="boolean" value="false" --> 
<!-- InstanceParam name="feedback" type="boolean" value="true" --> 
<!-- InstanceParam name="contentType" type="text" value="default" --> 
<!-- InstanceParam name="notificationBar" type="boolean" value="false" --> 
<!-- InstanceParam name="printGuide" type="boolean" value="false" -->
</body>
<!-- InstanceEnd --></html>