<!DOCTYPE html>
<html lang="en-GB"><!-- InstanceBegin template="/Templates/dev-kit.dwt" codeOutsideHTMLIsLocked="false" -->
<head>

<meta charset="utf-8">



<meta name="viewport" content="width=device-width, initial-scale=1.0">
<!-- v5.1.1 -->



<link rel="stylesheet" href="../assets/v5-css/v5.min.css" type="text/css" media="screen,print" />
<style>
#globalSearch {
display: none;
}	
</style>



<!-- Page title and meta -->
	
<!-- InstanceBeginEditable name="doctitle" -->
    <title>Print guide - HSE.GOV.UK Design System</title>
    <!-- InstanceEndEditable -->
<meta name="HSE.contentType" content="default" />
<link rel="shortcut icon" href="../favicon.ico" />
<link rel="apple-touch-icon" href="../assets/v4-images/shared/apple-touch-icon.png" />
<link rel="home" href="../index.htm" />


<!-- ie 11 fix for left-hand navigation --> 
<script src="https://cdn.polyfill.io/v2/polyfill.min.js"></script>


</head>
<body class="components normalFont">

<section id="top" aria-label="Skip to content">  <a href="#contentContainer" class="skip">Skip to content</a>  </section>
 
<section id="printBanner" aria-label="Print banner"> <img src="../assets/v4-images/website/print/print-logo.jpg" width="193" height="65" alt="Health and Safety Executive" id="printLogo"/> </section>
<header id="headerContainer">
  <div id="header">
    <div class="headerTop header js-header">
		 
		<div id="headerLogo" class="headerLogo"><a href="../index.htm">Health and Safety<br />
        Executive</a></div>
		
		 
		
      <div id="globalSearch" class="desktop-gcs-search">
        <gcse:searchbox-only></gcse:searchbox-only>
      </div>
    </div>
    
    <!-- JS Main Navigation -->
    
    <div class="menuContainer">
      <nav id="main-menu"  class="menu js-menu">
        <ul>
          <li class="home"><a href="../index.htm">Design system</a></li>
          <li class="style"><a href="../style/index.htm">Styles</a></li>
          <li class="components"><a href="index.htm">Components</a></li>
          <li class="patterns"><a href="../patterns/index.htm">Patterns</a></li>
          <li class="template"><a href="../framework/index.htm">Framework</a></li>
		  <li class="development"><a href="../development/index.htm">Development</a></li>
        </ul>
      </nav>
    </div>
  </div>
   </header>
   
<nav id="breadCrumb" aria-label="Previous pages:">
  <div class="breadCrumbContainer"> <!-- InstanceBeginEditable name="Breadcrumbs" -->
        <ol>
          <li class="home">
            <a href="../index.htm">Design System</a>
          </li>
          <li>
            <a href="index.htm">Components</a>
          </li>
          <li>Print guide</li>
        </ol>
        <!-- InstanceEndEditable --> </div>
  <div id="backTo">
    <p class="backto"><a id="backnav" href="index.htm">Back to</a></p>
  </div>
</nav>
 
<div id="pageContainer" class="v5" xmlns:argot="http://purl.oclc.org/argot/" xmlns:dc="http://purl.org/dc/terms/" xmlns:foaf="http://xmlns.com/foaf/0.1/" xmlns:v="http://www.w3.org/2006/vcard/ns#" xmlns:dbp="http://dbpedia.org/resource/">
<!-- InstanceBeginEditable name="beta-survey" -->

      <!-- InstanceEndEditable -->   

<!-- Beta content page --> 

  
<nav id="navSecondary" aria-label="Secondary"> <!-- InstanceBeginEditable name="Subnav" --><!-- #BeginLibraryItem "/Library/_v5-components.lbi" --><div id="menu" class="slinky-menu slinky-theme-default">
<ul>
    <li class="first"><a href="index.htm">Components</a></li>
	<li><a href="accordion.htm">Accordion</a></li>
	<li><a href="Print guide.htm">Box</a></li>
	<li><a href="#">Charts (JS)</a>
		<ul>
			<li><a href="charts/index.htm">Overview</a></li>
			<li><a href="charts/data-attributes.htm">Data attributes</a></li>
		    <li><a href="charts/pie-chart.htm">Pie chart</a></li>
			<li><a href="charts/donut-chart.htm">Donut chart</a></li>
			<li><a href="charts/line-chart.htm">Line chart</a></li>
			<li><a href="charts/bar-chart.htm">Bar chart</a></li>
			<li><a href="charts/bar-stacked-chart.htm">Bar (stacked) chart</a></li>
			<li><a href="charts/column-chart.htm">Column chart</a></li>
			<li><a href="charts/column-stacked-chart.htm">Column (stacked) chart</a></li>
			<li><a href="charts/arearange-chart.htm">Area range chart</a></li>
			<li><a href="charts/dual-chart.htm">Dual charts</a></li>
			<li><a href="charts/missing-data.htm">Missing data</a></li>
			<li><a href="charts/confidence-intervals.htm">Confidence Intervals</a></li>
			<li><a href="charts/plot-bands.htm">Plot bands</a></li>
		</ul>
	</li>
	<li><a href="dialog.htm">Dialog box</a></li>
	<li><a href="#">Forms</a>
		<ul>
			<li><a href="forms/index.htm">Overview</a></li>
		    <li><a href="forms/buttons.htm">Buttons</a></li>
			<li><a href="forms/inputs.htm">inputs</a></li>
			<li><a href="forms/input-sizes.htm">Input sizes</a></li>
			<li><a href="forms/form-validation.htm">Form validation</a></li>
			<li><a href="forms/checkPrint guide.htm">CheckPrint guide</a></li>
			<li><a href="forms/dates.htm">Dates</a></li>
			<li><a href="forms/radios.htm">Radios</a></li>
			<li><a href="forms/switch.htm">Switch</a></li>
			<li><a href="forms/textarea.htm">Text area</a></li>
			<li><a href="forms/drop-down.htm">Drop-down list (Input)</a></li>
			<li><a href="forms/subscribe.htm">Subscribe (Input)</a></li>
		</ul>
	</li>
	<li><a href="images.htm">Images</a></li>
	<li><a href="lightbox.htm">Lightbox (JS)</a></li>
    <li><a href="tables.htm">Table</a></li>
	<li><a href="tabs.htm">Tabs (JS)</a></li>
	<li><a href="video.htm">Video (Embed)</a></li>
 </ul>
</div><!-- #EndLibraryItem --><!-- InstanceEndEditable --> </nav>

<main id="contentContainer" class="columnbetacontentpage column2">
 
	
<!-- InstanceBeginEditable name="content" -->
        <h1>Print guide</h1>

        <p>Sometimes a user may want to print off guidance as a collection of pages pertaining to an entire section of guidance.</p>
        <p>This feature will create a PDF document which the user can download or print the PDF from their browser.</p>
        <p>This can easily be achieved by creating print buttons referencing a JSON file containing the pages you want to collate along with some metadata.</p>
        
        <h2>Creating a print guide</h2>
        <p>Simply add this html to your page and create a <strong>.json</strong> file in the root folder <strong>'hse.gov.uk/print-guides/YOUR_JSON_FILE.json'</strong>.</p>
        <h3>Example HTML</h3>


<button class="btn btn-print btn-primary print-guide" data-print-guide="simple-health-safety-risk.json">Print this guide</button>
  <button class="btn btn-download btn-primary download-guide" data-print-guide="simple-health-safety-risk.json">Download this guide</button>
<pre class="language-markup"><code>&lt;button class=&quot;btn btn-print btn-primary print-guide&quot; data-print-guide=&quot;simple-health-safety-risk.json&quot;&gt;Print this guide&lt;/button&gt;
&lt;button class=&quot;btn btn-download btn-primary download-guide&quot; data-print-guide=&quot;simple-health-safety-risk.json&quot;&gt;Download this guide&lt;/button&gt;
</code></pre>
        
        <h3>Example JSON</h3>
        <p><code>https://www.hse.gov.uk/print-guides/simple-health-safety-risk.json</code></p>
        <pre class="language-js"><code>{
          "pages": [
            "./index.htm",
            "./steps-needed-to-manage-risk.htm",
            "./risk-assessment-template-and-examples.htm",
            "./more-detail-on-managing-risk.htm"
          ],
          "metadata": {
            "title": "Managing risks and risk assessment at work",
            "keywords": "risk, assessment, simple, record, potential, harm, measures, details, companies, employer, employee, health, safety",
            "description": "As an employer, you must make a 'suitable and sufficient assessment' of risks to your employees' health and safety, and risks to others because of your work."
          }
      }</code></pre>
        <h2>Legal information</h2>
        <p>HSE&apos;s Legal information is automatically appended to the end of the document produced. Legal information can be updating using the <strong>legal-information.json</strong> file. </p>
        <p><code>https://www.hse.gov.uk/print-guides/legal-information.json</code></p>

          <pre class="language-js"><code>{
            "heading": "Legal information",
            "content": [
                "This guidance is issued by the Health and Safety Executive. Following the guidance is not compulsory, unless specifically stated, and you are free to take other action. But if you do follow the guidance you will normally be doing enough to comply with the law. Health and safety inspectors seek to secure compliance with the law and may refer to this guidance."
            ]
        }</code></pre>
       
        <!-- /#secondTab -->

        <!-- InstanceEndEditable -->
	
 

<!-- Beta two column (top task) --> 

   </main>

</div>

<nav id="footer-nav" aria-label="Footer menu">
  <footer id="footerContainer">
    <div id="footer">
      <h2 class="visually-hidden">Footer links</h2>
      <div class="footer-links-container">
       
      </div>
    </div>
    <div id="baseStrip">
      <div id="baseStripInner">
        <p>HSE aims to reduce work-related death, injury and ill health.</p>
      </div>
    </div>
  </footer>
</nav>
<section id="lastUpdated" aria-label="Last updated">
<!-- InstanceBeginEditable name="updated" -->Updated:<!-- #BeginDate format:IS1 -->2021-11-19<!-- #EndDate --><!-- InstanceEndEditable -->
</section>
<script src="../assets/v5-js/v5-main.min.js"></script>

<div id="gutter"><!-- InstanceBeginEditable name="gutter" -->
      <!-- InstanceEndEditable --></div>

	
<!-- InstanceParam name="bodyClass" type="text" value="components" --> 
<!-- InstanceParam name="layout" type="text" value="betacontentpage" --> 
<!-- InstanceParam name="columnLayout" type="number" value="2" --> 
<!-- InstanceParam name="platform" type="text" value="v5" --> 
<!-- InstanceParam name="rdfa" type="boolean" value="false" --> 
<!-- InstanceParam name="welsh" type="boolean" value="false" --> 
<!-- InstanceParam name="homepage" type="boolean" value="true" --> 
<!-- InstanceParam name="weblite" type="boolean" value="false" --> 
<!-- InstanceParam name="feedback" type="boolean" value="true" --> 
<!-- InstanceParam name="contentType" type="text" value="default" --> 
<!-- InstanceParam name="notificationBar" type="boolean" value="false" --> 
<!-- InstanceParam name="printGuide" type="boolean" value="false" -->
</body>
<!-- InstanceEnd --></html>