<!DOCTYPE html>
<html lang="en-GB"><!-- InstanceBegin template="/Templates/dev-kit.dwt" codeOutsideHTMLIsLocked="false" -->
<head>

<meta charset="utf-8">
	



<meta name="viewport" content="width=device-width, initial-scale=1.0">
<!-- v5.1.1 -->



<link rel="stylesheet" href="../assets/v5-css/v5.min.css" type="text/css" media="screen,print" />
<style>
#globalSearch {
display: none;
}	
</style>



<!-- Page title and meta -->
	
<!-- InstanceBeginEditable name="doctitle" -->
		<title>Tables - HSE.GOV.UK Design System</title>
		<meta name="keywords" content=" " />
<meta name="description" content=" " />
<!-- InstanceEndEditable -->
<meta name="HSE.contentType" content="default" />
<link rel="shortcut icon" href="../favicon.ico" />
<link rel="apple-touch-icon" href="../assets/v4-images/shared/apple-touch-icon.png" />
<link rel="home" href="../index.htm" />


<!-- ie 11 fix for left-hand navigation --> 
<script src="https://cdn.polyfill.io/v2/polyfill.min.js"></script>


</head>
<body class="components normalFont">

<section id="top" aria-label="Skip to content">  <a href="#contentContainer" class="skip">Skip to content</a>  </section>
 
<section id="printBanner" aria-label="Print banner"> <img src="../assets/v4-images/website/print/print-logo.jpg" width="193" height="65" alt="Health and Safety Executive" id="printLogo"/> </section>
<header id="headerContainer">
  <div id="header">
    <div class="headerTop header js-header">
		 
		<div id="headerLogo" class="headerLogo"><a href="../index.htm">Health and Safety<br />
        Executive</a></div>
		
		 
		
      <div id="globalSearch" class="desktop-gcs-search">
        <gcse:searchbox-only></gcse:searchbox-only>
      </div>
    </div>
    
    <!-- JS Main Navigation -->
    
    <div class="menuContainer">
      <nav id="main-menu"  class="menu js-menu">
        <ul>
          <li class="home"><a href="../index.htm">Design system</a></li>
          <li class="style"><a href="../style/index.htm">Styles</a></li>
          <li class="components"><a href="index.htm">Components</a></li>
          <li class="patterns"><a href="../patterns/index.htm">Patterns</a></li>
          <li class="template"><a href="../framework/index.htm">Framework</a></li>
        </ul>
      </nav>
    </div>
  </div>
   </header>
   
<nav id="breadCrumb" aria-label="Previous pages:">
  <div class="breadCrumbContainer"> <!-- InstanceBeginEditable name="Breadcrumbs" -->
			<ol>
				<li class="home">
					<a href="../index.htm">Design System</a>
				</li>
				<li>
					<a href="index.htm">Components</a>
				</li>
				<li>Tables</li>
			</ol>
			<!-- InstanceEndEditable --> </div>
  <div id="backTo">
    <p class="backto"><a id="backnav" href="index.htm">Back to</a></p>
  </div>
</nav>
 
<div id="pageContainer" class="v5" xmlns:argot="http://purl.oclc.org/argot/" xmlns:dc="http://purl.org/dc/terms/" xmlns:foaf="http://xmlns.com/foaf/0.1/" xmlns:v="http://www.w3.org/2006/vcard/ns#" xmlns:dbp="http://dbpedia.org/resource/">
<!-- InstanceBeginEditable name="beta-survey" -->

		<!-- InstanceEndEditable -->   

<!-- Beta content page --> 

  
<nav id="navSecondary" aria-label="Secondary"> <!-- InstanceBeginEditable name="Subnav" --><!-- #BeginLibraryItem "/Library/_v5-components.lbi" --><div id="menu" class="slinky-menu slinky-theme-default">
<ul>
    <li class="first"><a href="index.htm">Components</a></li>
	<li><a href="accordion.htm">Accordion</a></li>
	<li><a href="boxes.htm">Box</a></li>
	<li><a href="#">Charts (JS)</a>
		<ul>
			<li><a href="charts/index.htm">Overview</a></li>
			<li><a href="charts/data-attributes.htm">Data attributes</a></li>
		    <li><a href="charts/pie-chart.htm">Pie chart</a></li>
			<li><a href="charts/donut-chart.htm">Donut chart</a></li>
			<li><a href="charts/line-chart.htm">Line chart</a></li>
			<li><a href="charts/bar-chart.htm">Bar chart</a></li>
			<li><a href="charts/bar-stacked-chart.htm">Bar (stacked) chart</a></li>
			<li><a href="charts/column-chart.htm">Column chart</a></li>
			<li><a href="charts/column-stacked-chart.htm">Column (stacked) chart</a></li>
			<li><a href="charts/arearange-chart.htm">Area range chart</a></li>
			<li><a href="charts/dual-chart.htm">Dual charts</a></li>
			<li><a href="charts/missing-data.htm">Missing data</a></li>
			<li><a href="charts/confidence-intervals.htm">Confidence Intervals</a></li>
			<li><a href="charts/plot-bands.htm">Plot bands</a></li>
		</ul>
	</li>
	<li><a href="dialog.htm">Dialog box</a></li>
	<li><a href="#">Forms</a>
		<ul>
			<li><a href="forms/index.htm">Overview</a></li>
		    <li><a href="forms/buttons.htm">Buttons</a></li>
			<li><a href="forms/inputs.htm">inputs</a></li>
			<li><a href="forms/input-sizes.htm">Input sizes</a></li>
			<li><a href="forms/form-validation.htm">Form validation</a></li>
			<li><a href="forms/checkboxes.htm">Checkboxes</a></li>
			<li><a href="forms/dates.htm">Dates</a></li>
			<li><a href="forms/radios.htm">Radios</a></li>
			<li><a href="forms/switch.htm">Switch</a></li>
			<li><a href="forms/textarea.htm">Text area</a></li>
			<li><a href="forms/drop-down.htm">Drop-down list (Input)</a></li>
			<li><a href="forms/subscribe.htm">Subscribe (Input)</a></li>
		</ul>
	</li>
	<li><a href="images.htm">Images</a></li>
	<li><a href="lightbox.htm">Lightbox (JS)</a></li>
    <li><a href="tables.htm">Table</a></li>
	<li><a href="tabs.htm">Tabs (JS)</a></li>
	<li><a href="video.htm">Video (Embed)</a></li>
	<li><a href="#">Homepage</a>
	 <ul>
	  <li><a href="homepage/index.htm">Overview</a></li>
	  <li><a href="homepage/banner.htm">Banner</a></li>
	 </ul>
	</li>
	<li><a href="#">Navigation</a>
	 <ul>
	  <li><a href="navigation/index.htm">Overview</a></li>
	  <li><a href="navigation/a-z.htm">A-Z</a></li>
	  <li><a href="navigation/pagination.htm">Pagination</a></li>
	 </ul>
	</li>
 </ul>
</div><!-- #EndLibraryItem --><!-- InstanceEndEditable --> </nav>

<main id="contentContainer" class="columnbetacontentpage column2">
 
	
<!-- InstanceBeginEditable name="content" -->
	  <h1>Tables</h1>

        <table>

          <thead>
            <tr>
              <th>Column A</th>
              <th>Column B</th>
              <th>Column C</th>
            </tr>
          </thead>

          <tbody>

            <tr>
              <td>Row 1 - Cell A</td>
              <td>Row 1 - Cell B</td>
              <td>Row 1 - Cell C</td>
            </tr>

            <tr>
              <td>Row 2 - Cell A</td>
              <td>Row 2 - Cell B</td>
              <td>Row 2 - Cell C</td>
            </tr>

            <tr>
              <td>Row 3 - Cell A</td>
              <td>Row 3 - Cell B</td>
              <td>Row 3 - Cell C</td>
            </tr>

          </tbody>

          <tfoot>

            <tr>
              <td>Footer Cell A</td>
              <td>Footer Cell B</td>
              <td>Footer Cell C</td>
            </tr>

          </tfoot>

        </table>

        <h2>When to use</h2>

        <p>Use the table component to make information easier to compare and scan for users.</p>

        <h2>When not to use</h2>

        <p>Never use the table component to layout content on a page.</p>

        <h2>No cell background colour</h2>

        <p>The default table uses border styles on cell background to make it easier to distinguish rows.</p>

        <p>Apply a class of <strong>.no-background</strong> to table element</p>

        <table class="no-background">

          <thead>
            <tr>
              <th>Column A</th>
              <th>Column B</th>
              <th>Column C</th>
            </tr>
          </thead>

          <tbody>

            <tr>
              <td>Row 1 - Cell A</td>
              <td>Row 1 - Cell B</td>
              <td>Row 1 - Cell C</td>
            </tr>

            <tr>
              <td>Row 2 - Cell A</td>
              <td>Row 2 - Cell B</td>
              <td>Row 2 - Cell C</td>
            </tr>

            <tr>
              <td>Row 3 - Cell A</td>
              <td>Row 3 - Cell B</td>
              <td>Row 3 - Cell C</td>
            </tr>

          </tbody>

          <tfoot>

            <tr>
              <td>Footer Cell A</td>
              <td>Footer Cell B</td>
              <td>Footer Cell C</td>
            </tr>

          </tfoot>

        </table>

        <h3>Code example</h3>


        <pre class="language-markup"><code>&lt;table class=&quot;no-background&quot;&gt;
  &lt;thead&gt;
    &lt;tr&gt;
      &lt;th&gt;Column Heading 1&lt;/th&gt;
      &lt;th&gt;Column Heading 2&lt;/th&gt;
      &lt;th&gt;Column Heading 3&lt;/th&gt;
    &lt;/tr&gt;
  &lt;/thead&gt;
  &lt;tbody&gt;
    &lt;tr&gt;
      &lt;td&gt;Row 1 - Cell A&lt;/td&gt;
      &lt;td&gt;Row 1 - Cell B&lt;/td&gt;
      &lt;td&gt;Row 1 - Cell C&lt;/td&gt;
    &lt;/tr&gt;
    &lt;tr&gt;
      &lt;td&gt;Row 2 - Cell A&lt;/td&gt;
      &lt;td&gt;Row 2 - Cell B&lt;/td&gt;
      &lt;td&gt;Row 2 - Cell C&lt;/td&gt;
    &lt;/tr&gt;
    &lt;tr&gt;
      &lt;td&gt;Row 3 - Cell A&lt;/td&gt;
      &lt;td&gt;Row 3 - Cell B&lt;/td&gt;
      &lt;td&gt;Row 3 - Cell C&lt;/td&gt;
    &lt;/tr&gt;
  &lt;/tbody&gt;
  &lt;tfoot&gt;
    &lt;tr&gt;
      &lt;td&gt;Footer Cell A&lt;/td&gt;
      &lt;td&gt;Footer Cell B&lt;/td&gt;
      &lt;td&gt;Footer Cell C&lt;/td&gt;
    &lt;/tr&gt;
  &lt;/tfoot&gt;
&lt;/table&gt;</code></pre>
        <h2>Table captions</h2>

        <p>Use the <strong>&lt;caption&gt;</strong> element to describe a table in the same way you would use a heading. A caption helps users find, navigate and understand tables.</p>

        <table>

          <caption>Caption for table below</caption>

          <thead>
            <tr>
              <th>Column A</th>
              <th>Column B</th>
              <th>Column C</th>
            </tr>
          </thead>

          <tbody>

            <tr>
              <td>Row 1 - Cell A</td>
              <td>Row 1 - Cell B</td>
              <td>Row 1 - Cell C</td>
            </tr>

            <tr>
              <td>Row 2 - Cell A</td>
              <td>Row 2 - Cell B</td>
              <td>Row 2 - Cell C</td>
            </tr>

            <tr>
              <td>Row 3 - Cell A</td>
              <td>Row 3 - Cell B</td>
              <td>Row 3 - Cell C</td>
            </tr>

          </tbody>

          <tfoot>

            <tr>
              <td>Footer Cell A</td>
              <td>Footer Cell B</td>
              <td>Footer Cell C</td>
            </tr>

          </tfoot>

        </table>

        <h3>Code example</h3>

        <pre class="language-markup"><code>&lt;table&gt;
  &lt;caption&gt;Caption for table below&lt;/caption&gt;
  &lt;thead&gt;
    &lt;tr&gt;
      &lt;th&gt;Column Heading 1&lt;/th&gt;
      &lt;th&gt;Column Heading 2&lt;/th&gt;
      &lt;th&gt;Column Heading 3&lt;/th&gt;
    &lt;/tr&gt;
  &lt;/thead&gt;
  &lt;tbody&gt;
    &lt;tr&gt;
      &lt;td&gt;Row 1 - Cell A&lt;/td&gt;
      &lt;td&gt;Row 1 - Cell B&lt;/td&gt;
      &lt;td&gt;Row 1 - Cell C&lt;/td&gt;
    &lt;/tr&gt;
    &lt;tr&gt;
      &lt;td&gt;Row 2 - Cell A&lt;/td&gt;
      &lt;td&gt;Row 2 - Cell B&lt;/td&gt;
      &lt;td&gt;Row 2 - Cell C&lt;/td&gt;
    &lt;/tr&gt;
    &lt;tr&gt;
      &lt;td&gt;Row 3 - Cell A&lt;/td&gt;
      &lt;td&gt;Row 3 - Cell B&lt;/td&gt;
      &lt;td&gt;Row 3 - Cell C&lt;/td&gt;
    &lt;/tr&gt;
  &lt;/tbody&gt;
  &lt;tfoot&gt;
    &lt;tr&gt;
      &lt;td&gt;Footer Cell A&lt;/td&gt;
      &lt;td&gt;Footer Cell B&lt;/td&gt;
      &lt;td&gt;Footer Cell C&lt;/td&gt;
    &lt;/tr&gt;
  &lt;/tfoot&gt;
&lt;/table&gt;</code></pre>

        <h2 id="borderless">Borderless table</h2>

        <p>The default table uses borders on table cells.</p>

        <p>To remove all border styles, add a class of <strong>.no-border</strong> and <strong>.no-background</strong> to the table element.</p>

        <table class="no-border no-background">

          <caption>Table caption</caption>

          <thead>
            <tr>
              <th>Column A</th>
              <th>Column B</th>
              <th>Column C</th>
            </tr>
          </thead>

          <tbody>

            <tr>
              <td>Row 1 - Cell A</td>
              <td>Row 1 - Cell B</td>
              <td>Row 1 - Cell C</td>
            </tr>

            <tr>
              <td>Row 1 - Cell A</td>
              <td>Row 2 - Cell B</td>
              <td>Row 3 - Cell C</td>
            </tr>

            <tr>
              <td>Row 1 - Cell A</td>
              <td>Row 2 - Cell B</td>
              <td>Row 3 - Cell C</td>
            </tr>

          </tbody>

        </table>

        <h3>Code example</h3>

        <pre class="language-markup"><code>&lt;table class=&quot;no-border no-background&quot;&gt;
  &lt;caption&gt;Table caption&lt;/caption&gt;
  &lt;thead&gt;
    &lt;tr&gt;
      &lt;th&gt;Column Heading 1&lt;/th&gt;
      &lt;th&gt;Column Heading 2&lt;/th&gt;
      &lt;th&gt;Column Heading 3&lt;/th&gt;
    &lt;/tr&gt;
  &lt;/thead&gt;
  &lt;tbody&gt;
    &lt;tr&gt;
      &lt;td&gt;Row 1 - Cell A&lt;/td&gt;
      &lt;td&gt;Row 1 - Cell B&lt;/td&gt;
      &lt;td&gt;Row 1 - Cell C&lt;/td&gt;
    &lt;/tr&gt;
    &lt;tr&gt;
      &lt;td&gt;Row 2 - Cell A&lt;/td&gt;
      &lt;td&gt;Row 2 - Cell B&lt;/td&gt;
      &lt;td&gt;Row 2 - Cell C&lt;/td&gt;
    &lt;/tr&gt;
    &lt;tr&gt;
      &lt;td&gt;Row 3 - Cell A&lt;/td&gt;
      &lt;td&gt;Row 3 - Cell B&lt;/td&gt;
      &lt;td&gt;Row 3 - Cell C&lt;/td&gt;
    &lt;/tr&gt;
  &lt;/tbody&gt;
&lt;/table&gt;</code></pre>

        <h2>Table headers</h2>

        <p>Use table headers to tell users what the rows and columns represent. Use the <strong>scope</strong> attribute to help users of assistive technology distinguish between row and column headers.</p>

        <table class="no-border no-background">

          <caption>Table caption</caption>

          <thead>
            <tr>
              <th scope="col">Column A</th>
              <th scope="col">Column B</th>
              <th scope="col">Column C</th>
            </tr>
          </thead>

          <tbody>

            <tr>
              <th scope="row">Row 1 - Cell A</th>
              <td>Row 1 - Cell B</td>
              <td>Row 1 - Cell C</td>
            </tr>

            <tr>
              <th scope="row">Row 2 - Cell A</th>
              <td>Row 2 - Cell B</td>
              <td>Row 2 - Cell C</td>
            </tr>

            <tr>
              <th scope="row">Row 3 - Cell A</th>
              <td>Row 3 - Cell B</td>
              <td>Row 3 - Cell C</td>
            </tr>

          </tbody>

        </table>

<pre class="language-markup"><code>&lt;table class=&quot;no-border no-background&quot;&gt;
  &lt;caption&gt;Table caption&lt;/caption&gt;
  &lt;thead&gt;
    &lt;tr&gt;
      &lt;th scope=&quot;col&quot;&gt;Column Heading 1&lt;/th&gt;
      &lt;th scope=&quot;col&quot;&gt;Column Heading 2&lt;/th&gt;
      &lt;th scope=&quot;col&quot;&gt;Column Heading 3&lt;/th&gt;
    &lt;/tr&gt;
  &lt;/thead&gt;
  &lt;tbody&gt;
    &lt;tr&gt;
      &lt;th scope=&quot;row&quot;&gt;Row 1 - Cell A&lt;/th&gt;
      &lt;td&gt;Row 1 - Cell B&lt;/td&gt;
      &lt;td&gt;Row 1 - Cell C&lt;/td&gt;
    &lt;/tr&gt;
    &lt;tr&gt;
      &lt;th scope=&quot;row&quot;&gt;Row 2 - Cell A&lt;/th&gt;
      &lt;td&gt;Row 2 - Cell B&lt;/td&gt;
      &lt;td&gt;Row 2 - Cell C&lt;/td&gt;
    &lt;/tr&gt;
    &lt;tr&gt;
      &lt;th scope=&quot;row&quot;&gt;Row 3 - Cell A&lt;/th&gt;
      &lt;td&gt;Row 3 - Cell B&lt;/td&gt;
      &lt;td&gt;Row 3 - Cell C&lt;/td&gt;
    &lt;/tr&gt;
  &lt;/tbody&gt;
&lt;/table&gt;</code></pre>
        <h2>Sortable table (JS)</h2>

        <p>Allows a table to be sorted by the column headers, in ascending or descending order.</p>

        <table class="sortable">
          <thead>
            <tr>
              <th>Date of incident</th>
              <th>Name</th>
              <th>Age</th>
              <th>Description of incident</th>
              <th>Location of incident</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>01/07/2011</td>
              <td>Mary Black</td>
              <td>86</td>
              <td>The deceased died following a gas explosion</td>
              <td>Sunderland</td>
            </tr>
            <tr>
              <td>09/01/2012</td>
              <td>Arthur Day</td>
              <td>94</td>
              <td>The deceased died from carbon monoxide poisoning</td>
              <td>Lewisham</td>
            </tr>
            <tr>
              <td>01/02/2012</td>
              <td>Elaine Coley</td>
              <td>52</td>
              <td>The deceased died from carbon monoxide poisoning</td>
              <td>Cleethorpes</td>
            </tr>
            <tr>
              <td>06/03/2012</td>
              <td>Ernest Rowland</td>
              <td>65</td>
              <td>The deceased died from suspected carbon monoxide poisoning</td>
              <td>Swindon</td>
            </tr>
          </tbody>
        </table>

<pre class="language-html"><code>&lt;table class=&quot;sortable&quot;&gt;
  &lt;thead&gt;
    &lt;tr&gt;
      &lt;th&gt;Date of incident&lt;/th&gt;
      &lt;th&gt;Name&lt;/th&gt;
      &lt;th&gt;Age&lt;/th&gt;
      &lt;th&gt;Description of incident&lt;/th&gt;
      &lt;th&gt;Location of incident&lt;/th&gt;
    &lt;/tr&gt;
  &lt;/thead&gt;
  &lt;tbody&gt;
    &lt;tr&gt;
      &lt;td&gt;01/07/2011&lt;/td&gt;
      &lt;td&gt;Mary Black&lt;/td&gt;
      &lt;td&gt;86&lt;/td&gt;
      &lt;td&gt;The deceased died following a gas explosion&lt;/td&gt;
      &lt;td&gt;Sunderland&lt;/td&gt;
    &lt;/tr&gt;
    &lt;tr&gt;
      &lt;td&gt;09/01/2012&lt;/td&gt;
      &lt;td&gt;Arthur Day&lt;/td&gt;
      &lt;td&gt;94&lt;/td&gt;
      &lt;td&gt;The deceased died from carbon monoxide poisoning&lt;/td&gt;
      &lt;td&gt;Lewisham&lt;/td&gt;
    &lt;/tr&gt;
    &lt;tr&gt;
      &lt;td&gt;01/02/2012&lt;/td&gt;
      &lt;td&gt;Elaine Coley&lt;/td&gt;
      &lt;td&gt;52&lt;/td&gt;
      &lt;td&gt;The deceased died from carbon monoxide poisoning&lt;/td&gt;
      &lt;td&gt;Cleethorpes&lt;/td&gt;
    &lt;/tr&gt;
    &lt;tr&gt;
      &lt;td&gt;06/03/2012&lt;/td&gt;
      &lt;td&gt;Ernest Rowland&lt;/td&gt;
      &lt;td&gt;65&lt;/td&gt;
      &lt;td&gt;The deceased died from suspected carbon monoxide poisoning&lt;/td&gt;
      &lt;td&gt;Swindon&lt;/td&gt;
    &lt;/tr&gt;
  &lt;/tbody&gt;
&lt;/table&gt;</code></pre>

			<!-- InstanceEndEditable -->
	
 

<!-- Beta two column (top task) --> 

   </main>

</div>

<nav id="footer-nav" aria-label="Footer menu">
  <footer id="footerContainer">
    <div id="footer">
      <h2 class="visually-hidden">Footer links</h2>
      <div class="footer-links-container">
       
      </div>
    </div>
    <div id="baseStrip">
      <div id="baseStripInner">
        <p>HSE aims to reduce work-related death, injury and ill health.</p>
      </div>
    </div>
  </footer>
</nav>
<section id="lastUpdated" aria-label="Last updated">
<!-- InstanceBeginEditable name="updated" -->Updated:<!-- #BeginDate format:IS1 -->2021-09-09<!-- #EndDate --><!-- InstanceEndEditable -->
</section>
<script src="../assets/v5-js/v5-main.min.js"></script>
<script src="../assets/v5-js/jquery.min.js"></script> 
<script src="../assets/v5-js/v5-footer.min.js"></script> 

	
 
<script src="../assets/v5-js/v5-footer-slinky-js.min.js"></script> 





<div id="gutter"><!-- InstanceBeginEditable name="gutter" -->
		<!-- InstanceEndEditable --></div>

	
<!-- InstanceParam name="bodyClass" type="text" value="components" --> 
<!-- InstanceParam name="layout" type="text" value="betacontentpage" --> 
<!-- InstanceParam name="columnLayout" type="number" value="2" --> 
<!-- InstanceParam name="platform" type="text" value="v5" --> 
<!-- InstanceParam name="rdfa" type="boolean" value="false" --> 
<!-- InstanceParam name="welsh" type="boolean" value="false" --> 
<!-- InstanceParam name="homepage" type="boolean" value="true" --> 
<!-- InstanceParam name="weblite" type="boolean" value="false" --> 
<!-- InstanceParam name="feedback" type="boolean" value="true" --> 
<!-- InstanceParam name="contentType" type="text" value="default" --> 
<!-- InstanceParam name="notificationBar" type="boolean" value="false" --> 
<!-- InstanceParam name="printGuide" type="boolean" value="false" -->
</body>
<!-- InstanceEnd --></html>