{
   "env": {
      "development" : {
        "compact": false
      }
    },
   "presets": [
      ["@babel/preset-env", {
            "useBuiltIns": "usage",
            "corejs": 3,
            "targets": {
               "browsers": [
                  "last 2 versions",
                  "> 0.5%",
                  "not dead"
               ]
            }
         }
      ]
   ]
}