*.DS_Store
*.lbi
node_modules
src/**/*.htm
src/assets/v4-homepage
build/assets/v4-homepage
build/**/*.htm
devkit-v5
*.bak
.vscode/settings.json
.eslintrc.json

brexit/
coronavirus/
news/
asbestos
/secureroot
/devguide
/secureroot.zip
/devguide.zip
/src/secureroot/html
/gulp/tasks/shared/devguide/js/report.html
/report.html
/yarn-error.log
/yarn.lock
/package-lock.json
/src/secureroot/html/Templates/v5-hse-1.2.0.dwt
