*.DS_Store
node_modules
src/assets/v4-homepage
devkit-v5
*.bak
.vscode/settings.json
.eslintrc.json
*.zip
brexit/
coronavirus/
news/
asbestos
src/secureroot/html/**/*
src/secureroot/**/*.lbi
/secureroot
/designsystem
src/designsystem/html/**/*
/gulp/tasks/shared/designsystem/js/report.html
/report.html
/yarn-error.log
/yarn.lock
/package-lock.json
