@use "sass:math";

@use "../../base/core/tools/spacing" as *;
@use "../../base/core/tools/mixins" as *;
@use "../../base/core/tools/typography" as *;
@use "../../base/core/tools/links" as *;
@use "../../base/core/tools/focused" as *;
@use "../../base/core/settings/spacing" as *;
@use "../../base/core/settings/colours" as *;
@use "../../base/core/settings/typography" as *;
@use "../../base/core/tools/sass-mq" as *;

$hse-service-navigation-active-link-border-width: hse-spacing(1);
$hse-service-navigation-text-colour: $color_hse-grey-1;
$hse-service-navigation-background: $color_hse-red-tint-1;
$hse-service-navigation-border-colour: $color_hse-red-tint-2;

.hse-service-navigation {
  @include hse-font(19);
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: $hse-service-navigation-border-colour;
  color: $hse-service-navigation-text-colour;
  background-color: $hse-service-navigation-background;
}

.hse-service-navigation__container {
  display: flex;
  flex-direction: column;
  align-items: start;

  @include mq($from: tablet) {
    flex-direction: row;
    flex-wrap: wrap;
  }
}

.hse-service-navigation__item,
.hse-service-navigation__service-name {
  position: relative;
  margin: hse-spacing(2) 0;
  border-width: 0;
  border-style: solid;
  border-color: $color_hse-red;

  @include mq($from: tablet) {
    display: inline-block;
    margin-top: 0;
    margin-bottom: 0;
    padding: hse-spacing(3) 0;
    line-height: math.div(29, 19);

    &:not(:last-child) {
      @include hse-responsive-margin(6, $direction: right);
    }
  }
}

.hse-service-navigation__service-name + .hse-service-navigation__wrapper {
  .hse-service-navigation__list:first-child,
  .hse-service-navigation__toggle[hidden] + .hse-service-navigation__list {
    .hse-service-navigation__item:first-child {
      margin-top: 0;
    }
  }
}

.hse-service-navigation__item--active {
  @include mq($until: tablet) {
    margin-left: (
      ($hse-service-navigation-active-link-border-width + hse-spacing(2)) * -1
    );
    padding-left: hse-spacing(2);
    border-left-width: $hse-service-navigation-active-link-border-width;
  }

  @include mq($from: tablet) {
    padding-bottom: hse-spacing(3) -
      $hse-service-navigation-active-link-border-width;
    border-bottom-width: $hse-service-navigation-active-link-border-width;
  }
}

.hse-service-navigation__wrapper {
  flex-grow: 1;
}

.hse-service-navigation__list {
  margin: 0;
  margin-bottom: hse-spacing(3);
  padding: 0;
  list-style: none;

  @include mq($from: tablet) {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 0;

    @media screen and (min-width: 0\0) {
      display: block;
    }
  }
}

.hse-service-navigation__active-fallback {
  font-weight: inherit;
}

.hse-service-navigation__service-name {
  @include hse-typography-weight-bold;
}

.hse-service-navigation__link {
  @include hse-link-style-default;
  @include hse-link-style-no-visited-state;
}

.hse-service-navigation__service-name .hse-service-navigation__link {
  @include hse-link-style-default;
  @include hse-link-style-text;
}

.hse-service-navigation__toggle {
  @include hse-font(19, bold);
  display: inline-flex;
  align-items: center;
  margin: hse-spacing(2) 0;
  padding: 0;
  border: 0;
  color: $color_hse-red;
  background: none;
  word-break: break-all;
  cursor: pointer;

  &:focus {
    @include hse-focused-text;
  }

  &::after {
    content: "";
    display: inline-block;
    width: 0;
    height: 0;
    border-style: solid;
    border-color: $color_hse-red-tint-2;
    -webkit-clip-path: polygon(0% 0%, 50% 100%, 100% 0%);
    clip-path: polygon(0% 0%, 50% 100%, 100% 0%);
    border-width: 8.66px 5px 0;
    border-top-color: inherit;
    margin-left: hse-spacing(1);
  }

  &[aria-expanded="true"]::after {
    -webkit-clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
    clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
    border-width: 0 5px 8.66px;
    border-bottom-color: inherit;
    border-top-color: $color_hse-red-tint-2;
  }

  &[hidden] {
    display: none;
  }

  .hse-service-navigation__service-name + .hse-service-navigation__wrapper & {
    margin-top: 0;
  }
}
