/*doc
---
title: Breadcrumbs
name: f-block-breadcrumbs
category: Site features - Breadcrumbs
---


```html_example
  <div class="breadcrumb">
    <ul class="breadcrumb__list">
      <li class="breadcrumb__item"><a href="#">Home</a></li>
      <li class="breadcrumb__item"><a href="#">Blog</a></li>
      <li class="breadcrumb__item">Blog article</li>
    </ul>
  </div>
```

*/
.breadcrumb {
  padding: $dp;
  border-bottom: 1px solid $mono-d;
}
.breadcrumb__list {
  list-style: none;
  width: 100%;
  margin: 0;
  padding: 0;
}
.breadcrumb__item {
  position: relative;
  display: inline-block;
  margin: 0;
  padding: 0 ($dp * 2) 0 ($dp * 2);

  &:after {
    content: '\00BB';
    position: absolute;
    top: 0;
    right: 0;
  }
}
