/*doc
---
title: Generic dialog
name: a-dialog-generic
category: Page features - Generic dialog
---

Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.

| Atributes       | Value     | Required?     |
| :------------- | :----------- | -----------: |
| class          | .modal-handle | Yes    |
| data-source    | A json file with title and copy | Yes | |


```html_example

<button class="modal-handle btn" data-source="/data/modal-example.json">Open modal</button>
<modal-elem></modal-elem>
```

*/

.modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    background-color: $white;
    border: 5px solid rgba(255, 255, 255, 1);
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    padding: $dp*3;
}

.modal-action {
    text-align: center;
}