// HTML print guides

.hse-print-guide-page  ul {
  margin: 0 0 10px 28px;
}

.btn-print {
  background: url(../../assets/v6-images/icons/icon-print.png) no-repeat 10px 50%;
  background-size: 16px 18px;
  padding: $hse-legacy-spacing-10 $hse-legacy-spacing-10 $hse-legacy-spacing-10 36px !important;
  text-decoration: none;
  @include mq($media-type: print) {
    display: none !important;
  }
}

// default focus override
.hse-button--transparent.btn-print {
 box-shadow: none;
 &:focus {
  background: url(../../assets/v6-images/icons/icon-print.png) no-repeat 10px 50%;
  background-color: $hse-focus-color;
 }
 &:active {
  color: inherit;
 }
}

.printable-version {
  width: 100%;
  background: url(../../assets/v6-images/icons/icon-print.png) white no-repeat 0;
  background-size: 16px 18px;
  padding: $hse-legacy-spacing-10 30px;
  margin-bottom: $hse-legacy-spacing-20;
}

.printable-version p {
  margin: 0;
  font-weight: 700;
}

.hse-print-guide-page article {
max-width: 44em;
}

div[id*='guide-section'] {
padding: 0;
}
