.v6-youtube-embed {
    width: 100%;
    position: relative;
    padding-bottom: 56.25%;
    height: 0;
    // overflow:hidden;
    margin-bottom: $hse-legacy-spacing-20;
  }
  
  .v6-youtube-embed iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }