/* prototype-overrides.css
   Loaded in prototyping kit only — never in production HSE front-end*/
@use "base/core/settings/_all" as *;
@use "base/core/tools/_all" as *;

a:link,
a:visited,
a:hover,
a:active {
  @include hse-link-style-default;
}

// Sticky footer — override HSE core, different DOM structure in GOV.UK Prototype Kit
.govuk-main-wrapper {
  flex: unset;
}

.govuk-width-container {
  flex: 1 0 auto;
  width: 100%;
}