{% set pageTitle = "Charts" %}
{% extends "layouts/layout.njk" %}
{% set data = default %}
{% block content %}
  <div class="row divider">
    <div data-span="12 last">
      <h2 class="heading-l">Charts</h2>
      <p class="subtext">Charts rendered with the <a href="https://www.highcharts.com/" target="_blank">HighChartsJS</a> plugin</p>
      <p class="subtext">Please see the <a href="csv-convertor.html">CSV to HighCharts</a> tool to instantly create these charts from your own data.</p>
      <p class="subtext">
        <strong>Note: Currently being worked on</strong>
      </p>
    </div>
  </div>

  <div class="row divider">
    <div data-span="3" class="sticky-contents">
      <nav>
        <h2 class="heading-xs">Contents</h2>
        <ul class="list">
          <li>
            <a href="#piePercentage">Pie chart with percentages</a>
          </li>
          <li>
            <a href="#pieUnit">Pie chart with units</a>
          </li>
          <li>
            <a href="#bar">Bar Chart</a>
          </li>
          <li>
            <a href="#barstackd">Bar Chart (stacked)</a>
          </li>
          <li>
            <a href="#column">Column chart</a>
          </li>
          <li>
            <a href="#columnintervals">Column chart with intervals</a>
          </li>
          <li>
            <a href="#line">Line chart</a>
          </li>
          <li>
            <a href="#linemissing">Line chart (with missing data)</a>
          </li>
          <li>
            <a href="#plotband">Line chart (with plot bands)</a>
          </li>
          <li>
            <a href="#arearange">Area-range</a>
          </li>
        </li>
      </ul>
    </nav>
  </div>
  <div data-span="9 last">
    <div class="divider">
      <h2 class="heading-xs" id="piePercentage">Donut chart with &quot;percentage&quot; values</h2>
      <div class="chart" data-chart-type="donut" data-chart-units="percentage" data-decimal-point="0" data-chart-title="Donut chart with title" data-chart-subtitle="" data-chart-description="Chart description" data-xaxis-text="X Axis Text" data-yaxis-text="">
        <div class="displayChart"></div>
        <figure class="datacontent">
          <h2 class="datacontent__title">Donut chart with title</h2>
          <table class="tabledata" id="previewTable">
            <thead class="table__head">
              <tr class="table__row">
                <th class="table__cell heading">Name of fruit</th>
                <th class="table__cell heading">Number of fruit</th>
              </tr>
            </thead>
            <tbody class="table__body">
              <tr class="table__row">
                <td class="table__cell category">Apples</td>
                <td class="table__cell unit">7</td>
              </tr>
              <tr class="table__row">
                <td class="table__cell category">Pears</td>
                <td class="table__cell unit">4</td>
              </tr>
              <tr class="table__row">
                <td class="table__cell category">Banana</td>
                <td class="table__cell unit">3</td>
              </tr>
              <tr class="table__row">
                <td class="table__cell category">Plums</td>
                <td class="table__cell unit">10</td>
              </tr>
              <tr class="table__row">
                <td class="table__cell category">Oranges</td>
                <td class="table__cell unit">12</td>
              </tr>
            </tbody>
          </table>
        </figure>
      </div>

      <details class="details">
        <summary class="details__summary">
          <span class="details__summary-text">Code example</span>
        </summary>
        <div class="details__text">
          <pre class="code-example">
              <code>&#x3C;div class=&#x22;chart&#x22; data-chart-type=&#x22;pie&#x22; data-chart-units=&#x22;percentage&#x22; data-chart-title=&#x22;Highcharts pie chart&#x22; data-chart-subtitle=&#x22;A pie chart with percentage values&#x22; data-chart-description=&Chart description#x22;&#x22; data-xaxis-text=&X Axis Text#x22;&#x22; data-yaxis-text=&#x22;&#x22;&#x3E;
              &#x3C;div class=&#x22;displayChart&#x22;&#x3E;&#x3C;/div&#x3E;
                &#x3C;figure class=&#x22;datacontent&#x22;&#x3E;
                  &#x3C;h2 class=&#x22;datacontent__title&#x22;&#x3E;Highcharts pie chart&#x3C;/h2&#x3E;
                  &#x3C;h3 class=&#x22;datacontent__subtitle&#x22;&#x3E;A pie chart with percentage values&#x3C;/h3&#x3E;
                  &#x3C;table class=&#x22;tabledata&#x22; id=&#x22;previewTable&#x22;&#x3E;
                    &#x3C;thead class=&#x22;table__head&#x22;&#x3E;
                      &#x3C;tr class=&#x22;table__row&#x22;&#x3E;
                        &#x3C;th class=&#x22;table__cell&#x22;&#x3E;Name of fruit&#x3C;/th&#x3E;
                        &#x3C;th class=&#x22;table__cell&#x22;&#x3E;Number of fruit&#x3C;/th&#x3E;
                      &#x3C;/tr&#x3E;
                    &#x3C;/thead&#x3E;
                    &#x3C;tbody class=&#x22;table__body&#x22;&#x3E;
                      &#x3C;tr class=&#x22;table__row&#x22;&#x3E;
                        &#x3C;td class=&#x22;table__cell category&#x22;&#x3E;Apples&#x3C;/td&#x3E;
                        &#x3C;td class=&#x22;table__cell unit&#x22;&#x3E;7&#x3C;/td&#x3E;
                      &#x3C;/tr&#x3E;
                      &#x3C;tr class=&#x22;table__row&#x22;&#x3E;
                        &#x3C;td class=&#x22;table__cell category&#x22;&#x3E;Pears&#x3C;/td&#x3E;
                        &#x3C;td class=&#x22;table__cell unit&#x22;&#x3E;4&#x3C;/td&#x3E;
                      &#x3C;/tr&#x3E;
                      &#x3C;tr class=&#x22;table__row&#x22;&#x3E;
                        &#x3C;td class=&#x22;table__cell category&#x22;&#x3E;Banana&#x3C;/td&#x3E;
                        &#x3C;td class=&#x22;table__cell unit&#x22;&#x3E;3&#x3C;/td&#x3E;
                      &#x3C;/tr&#x3E;
                      &#x3C;tr class=&#x22;table__row&#x22;&#x3E;
                        &#x3C;td class=&#x22;table__cell category&#x22;&#x3E;Plums&#x3C;/td&#x3E;
                        &#x3C;td class=&#x22;table__cell unit&#x22;&#x3E;10&#x3C;/td&#x3E;
                      &#x3C;/tr&#x3E;
                      &#x3C;tr class=&#x22;table__row&#x22;&#x3E;
                        &#x3C;td class=&#x22;table__cell category&#x22;&#x3E;Oranges&#x3C;/td&#x3E;
                        &#x3C;td class=&#x22;table__cell unit&#x22;&#x3E;12&#x3C;/td&#x3E;
                      &#x3C;/tr&#x3E;
                    &#x3C;/tbody&#x3E;
                  &#x3C;/table&#x3E;
                &#x3C;/figure&#x3E;
            &#x3C;/div&#x3E;</code>
          </pre>
        </div>
      </details>
      <div class="row divider">
        <div>
          <h2 class="heading-xs" id="pieUnit">Pie chart with &quot;unit&quot; values</h2>
          <div class="chart" data-chart-type="pie" data-chart-units="unit" data-chart-title="Pie chart" data-chart-subtitle="A pie chart with title and subtitle" data-chart-description="Chart descriptionLorem ipsum dolor sit amet, consectetur adipiscing elit. Nam eget pharetra nibh. Mauris dictum ultrices commodo. Praesent sed dictum velit. Cras sed mauris at enim maximus rutrum. Etiam sed fringilla." data-xaxis-text="X Axis Text" data-yaxis-text="" data-decimal-place="3">
            <div class="displayChart"></div>
            <figure class="datacontent">
              <h2 class="datacontent__title">Pie chart</h2>
              <h3 class="datacontent__subtitle">A pie chart with title and subtitle</h3>
              <p class="datacontent__description">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam eget pharetra nibh. Mauris dictum ultrices commodo. Praesent sed dictum velit. Cras sed mauris at enim maximus rutrum. Etiam sed fringilla.</p>
              <table class="tabledata" id="previewTable">
                <thead class="table__head">
                  <tr class="table__row">
                    <th class="table__cell heading">Name of fruit</th>
                    <th class="table__cell heading">Number of fruit</th>
                  </tr>
                </thead>
                <tbody class="table__body">
                  <tr class="table__row">
                    <td class="table__cell category">Apples</td>
                    <td class="table__cell unit">7</td>
                  </tr>
                  <tr class="table__row">
                    <td class="table__cell category">Pears</td>
                    <td class="table__cell unit">4</td>
                  </tr>
                  <tr class="table__row">
                    <td class="table__cell category">Banana</td>
                    <td class="table__cell unit">3</td>
                  </tr>
                  <tr class="table__row">
                    <td class="table__cell category">Plums</td>
                    <td class="table__cell unit">10</td>
                  </tr>
                  <tr class="table__row">
                    <td class="table__cell category">Oranges</td>
                    <td class="table__cell unit">12</td>
                  </tr>
                </tbody>
              </table>
            </figure>
          </div>
        </div>
        <details class="details">
          <summary class="details__summary">
            <span class="details__summary-text">Code example</span>
          </summary>
          <div class="details__text">
            <pre class="code-example">
              <code>&#x3C;div class=&#x22;chart&#x22; data-chart-type=&#x22;unit&#x22; data-chart-units=&#x22;unit&#x22; data-chart-title=&#x22;Highcharts pie chart&#x22; data-chart-subtitle=&#x22;A pie chart with unit values&#x22; data-chart-description=&Chart description#x22;&#x22; data-xaxis-text=&X Axis Text#x22;&#x22; data-yaxis-text=&#x22;&#x22;&#x3E;
              &#x3C;div class=&#x22;displayChart&#x22;&#x3E;&#x3C;/div&#x3E;
                &#x3C;figure class=&#x22;datacontent&#x22;&#x3E;
                  &#x3C;h2 class=&#x22;datacontent__title&#x22;&#x3E;Highcharts pie chart&#x3C;/h2&#x3E;
                  &#x3C;h3 class=&#x22;datacontent__subtitle&#x22;&#x3E;A pie chart with unit values&#x3C;/h3&#x3E;
                  &#x3C;table class=&#x22;tabledata&#x22; id=&#x22;previewTable&#x22;&#x3E;
                    &#x3C;thead class=&#x22;table__head&#x22;&#x3E;
                      &#x3C;tr class=&#x22;table__row&#x22;&#x3E;
                        &#x3C;th class=&#x22;table__cell&#x22;&#x3E;Name of fruit&#x3C;/th&#x3E;
                        &#x3C;th class=&#x22;table__cell&#x22;&#x3E;Number of fruit&#x3C;/th&#x3E;
                      &#x3C;/tr&#x3E;
                    &#x3C;/thead&#x3E;
                    &#x3C;tbody class=&#x22;table__body&#x22;&#x3E;
                      &#x3C;tr class=&#x22;table__row&#x22;&#x3E;
                        &#x3C;td class=&#x22;table__cell category&#x22;&#x3E;Apples&#x3C;/td&#x3E;
                        &#x3C;td class=&#x22;table__cell unit&#x22;&#x3E;7&#x3C;/td&#x3E;
                      &#x3C;/tr&#x3E;
                      &#x3C;tr class=&#x22;table__row&#x22;&#x3E;
                        &#x3C;td class=&#x22;table__cell category&#x22;&#x3E;Pears&#x3C;/td&#x3E;
                        &#x3C;td class=&#x22;table__cell unit&#x22;&#x3E;4&#x3C;/td&#x3E;
                      &#x3C;/tr&#x3E;
                      &#x3C;tr class=&#x22;table__row&#x22;&#x3E;
                        &#x3C;td class=&#x22;table__cell category&#x22;&#x3E;Banana&#x3C;/td&#x3E;
                        &#x3C;td class=&#x22;table__cell unit&#x22;&#x3E;3&#x3C;/td&#x3E;
                      &#x3C;/tr&#x3E;
                      &#x3C;tr class=&#x22;table__row&#x22;&#x3E;
                        &#x3C;td class=&#x22;table__cell category&#x22;&#x3E;Plums&#x3C;/td&#x3E;
                        &#x3C;td class=&#x22;table__cell unit&#x22;&#x3E;10&#x3C;/td&#x3E;
                      &#x3C;/tr&#x3E;
                      &#x3C;tr class=&#x22;table__row&#x22;&#x3E;
                        &#x3C;td class=&#x22;table__cell category&#x22;&#x3E;Oranges&#x3C;/td&#x3E;
                        &#x3C;td class=&#x22;table__cell unit&#x22;&#x3E;12&#x3C;/td&#x3E;
                      &#x3C;/tr&#x3E;
                    &#x3C;/tbody&#x3E;
                  &#x3C;/table&#x3E;
                &#x3C;/figure&#x3E;
            &#x3C;/div&#x3E;</code>
          </pre>
          </div>
        </details>
      </div>
      <div class="row divider">
        <div>
          <h2 class="heading-xs" id="bar">Bar chart</h2>
          <div class="chart" data-chart-type="bar" data-chart-units="" data-chart-title="Bar chart" data-chart-subtitle="A bar chart of fruit consumed" data-chart-description="Chart description" data-data-xaxis-text="Types of fruit" data-yaxis-text="Fruit consumed">
            <div class="displayChart"></div>
            <figure class="datacontent">
              <h2 class="datacontent__title">Bar chart</h2>
              <h3 class="datacontent__subtitle">A bar chart of fruit consumed</h3>
              <table class="tabledata" id="previewTable">
                <thead class="table__head">
                  <tr class="table__row">
                    <th class="table__cell heading">Name of fruit</th>
                    <th class="table__cell heading">Number of fruit Timmy ate</th>
                    <th class="table__cell heading">Number of fruit Jannet ate</th>
                  </tr>
                </thead>
                <tbody class="table__body">
                  <tr class="table__row">
                    <td class="table__cell category">Apples</td>
                    <td class="table__cell unit">6</td>
                    <td class="table__cell unit">7</td>
                  </tr>
                  <tr class="table__row">
                    <td class="table__cell category">Pears</td>
                    <td class="table__cell unit">4</td>
                    <td class="table__cell unit">10</td>
                  </tr>
                  <tr class="table__row">
                    <td class="table__cell category">Banana</td>
                    <td class="table__cell unit">2</td>
                    <td class="table__cell unit">5</td>
                  </tr>
                  <tr class="table__row">
                    <td class="table__cell category">Plums</td>
                    <td class="table__cell unit">7</td>
                    <td class="table__cell unit">10</td>
                  </tr>
                  <tr class="table__row">
                    <td class="table__cell category">Oranges</td>
                    <td class="table__cell unit">12</td>
                    <td class="table__cell unit">5</td>
                  </tr>
                </tbody>
              </table>
            </figure>
          </div>
        </div>
        <details class="details">
          <summary class="details__summary">
            <span class="details__summary-text">Code example</span>
          </summary>
          <div class="details__text"></div>
        </details>
      </div>

      <div class="row divider">
        <h2 class="heading-xs" id="barstacked">Bar chart - Stacked</h2>
        {# <p>
          <a href="csv/stacked-bar-chart.csv" download>Example CSV</a>
        </p> #}
        <div class="chart" data-chart-type="barstacked" data-chart-units="unit" data-chart-title="Fruit consumed" data-chart-subtitle="" data-chart-description="" data-table-desc-x="" data-table-desc-y="">
          <div class="displayChart"></div>
          <figure class="datacontent">
            <h2 class="datacontent__title">Fruit consumed</h2>
            <table class="table tabledata" id="previewTable">
              <thead class="table__head">
                <tr class="table__row">
                  <th class="table__cell heading">Category</th>
                  <th class="table__cell heading">John</th>
                  <th class="table__cell heading">Jane</th>
                  <th class="table__cell heading">Joe</th>
                </tr>
              </thead>
              <tbody class="table__body">
                <tr class="table__row">
                  <td class="table__cell category">Apples</td>
                  <td class="table__cell unit">5</td>
                  <td class="table__cell unit">2</td>
                  <td class="table__cell unit">3</td>
                </tr>
                <tr class="table__row">
                  <td class="table__cell category">Oranges</td>
                  <td class="table__cell unit">3</td>
                  <td class="table__cell unit">2</td>
                  <td class="table__cell unit">4</td>
                </tr>
                <tr class="table__row">
                  <td class="table__cell category">Pears</td>
                  <td class="table__cell unit">4</td>
                  <td class="table__cell unit">3</td>
                  <td class="table__cell unit">4</td>
                </tr>
                <tr class="table__row">
                  <td class="table__cell category">Grapes</td>
                  <td class="table__cell unit">7</td>
                  <td class="table__cell unit">2</td>
                  <td class="table__cell unit">2</td>
                </tr>
                <tr class="table__row">
                  <td class="table__cell category">Bananas</td>
                  <td class="table__cell unit">2</td>
                  <td class="table__cell unit">1</td>
                  <td class="table__cell unit">5</td>
                </tr>
              </tbody>
            </table>
          </figure>
        </div>
      </div>

      <div class="row divider">
        <div>
          <h2 class="heading-xs" id="column">Column chart</h2>
          <div class="chart" data-chart-type="column" data-chart-units="percentage" data-decimal-point="0" data-chart-title="column chart" data-chart-subtitle="A column chart of fruit consumed" data-chart-description="Chart description" data-xaxis-text="Types of fruit" data-yaxis-text="Fruit consumed">
            <div class="displayChart"></div>
            <figure class="datacontent">
              <h2 class="datacontent__title">Column chart</h2>
              <h3 class="datacontent__subtitle">A column chart of fruit consumed</h3>
              <table class="tabledata" id="previewTable">
                <thead class="table__head">
                  <tr class="table__row">
                    <th class="table__cell heading">Fruit eaten</th>
                    <th class="table__cell heading">Number of fruit</th>
                  </tr>
                </thead>
                <tbody class="table__body">
                  <tr class="table__row">
                    <td class="table__cell category">Apples</td>
                    <td class="table__cell unit">7</td>
                  </tr>
                  <tr class="table__row">
                    <td class="table__cell category">Pears</td>
                    <td class="table__cell unit">4</td>
                  </tr>
                  <tr class="table__row">
                    <td class="table__cell category">Banana</td>
                    <td class="table__cell unit">3</td>
                  </tr>
                  <tr class="table__row">
                    <td class="table__cell category">Plums</td>
                    <td class="table__cell unit">10</td>
                  </tr>
                  <tr class="table__row">
                    <td class="table__cell category">Oranges</td>
                    <td class="table__cell unit">12</td>
                  </tr>
                </tbody>
              </table>
            </figure>
          </div>
        </div>
        <details class="details">
          <summary class="details__summary">
            <span class="details__summary-text">Code example</span>
          </summary>
          <div class="details__text"></div>
        </details>
      </div>

      <div class="row">
        <div>
          <h2 class="heading-xs" id="columnintervals">Column chart with intervals</h2>
          <div class="chart" data-chart-type="column" data-chart-units="unit" data-chart-title="Column chart with intervals" data-chart-subtitle="Browser market share data 2019-2020" data-chart-description="Chart description" data-xaxis-text="Popular browsers" data-yaxis-text="Market share">
            <div class="displayChart"></div>
            <figure class="datacontent">
              <table class="table tabledata" id="previewTable">
                <thead class="table__head">
                  <tr class="table__row">
                    <th scope="col" valign="top" rowspan="2" class="table__cell heading">Category</th>
                    <th scope="col" valign="top" rowspan="2" class="table__cell heading">2019</th>
                    <th scope="col" colspan="2" class="table__cell">2019 Error</th>
                    <th scope="col" valign="top" rowspan="2" class="table__cell heading">2020</th>
                    <th scope="col" colspan="2" class="table__cell">2020 Error</th>
                  </tr>
                  <tr class="table__row">
                    <th scope="col" class="table__cell">low</th>
                    <th scope="col" class="table__cell">high</th>
                    <th scope="col" class="table__cell">low</th>
                    <th scope="col" class="table__cell">high</th>
                  </tr>
                </thead>
                <tbody class="table__body">
                  <tr class="table__row">
                    <th scope="row" class="table__cell category">Chrome</th>
                    <td class="table__cell unit">61.41</td>
                    <td class="table__cell error-low">55</td>
                    <td class="table__cell error-high">65</td>
                    <td class="table__cell unit">50</td>
                    <td class="table__cell error-low">45</td>
                    <td class="table__cell error-high">55</td>
                  </tr>
                  <tr class="table__row">
                    <th scope="row" class="table__cell category">Internet Explorer</td>
                    <td class="table__cell unit">11.84</td>
                    <td class="table__cell error-low">5</td>
                    <td class="table__cell error-high">15</td>
                    <td class="table__cell unit">40</td>
                    <td class="table__cell error-low">30</td>
                    <td class="table__cell error-high">50</td>
                  </tr>
                  <tr class="table__row">
                    <th scope="row" class="table__cell category">Firefox</td>
                    <td class="table__cell unit">10.85</td>
                    <td class="table__cell error-low">7</td>
                    <td class="table__cell error-high">25</td>
                    <td class="table__cell unit">20</td>
                    <td class="table__cell error-low">15</td>
                    <td class="table__cell error-high">30</td>
                  </tr>
                  <tr class="table__row">
                    <th scope="row" class="table__cell category">Edge</td>
                    <td class="table__cell unit">1</td>
                    <td class="table__cell error-low">1</td>
                    <td class="table__cell error-high">2</td>
                    <td class="table__cell unit">15</td>
                    <td class="table__cell error-low">10</td>
                    <td class="table__cell error-high">20</td>
                  </tr>
                  <tr class="table__row">
                    <th scope="row" class="table__cell category">Safari</td>
                    <td class="table__cell unit">1</td>
                    <td class="table__cell error-low">1</td>
                    <td class="table__cell error-high">2</td>
                    <td class="table__cell unit">14</td>
                    <td class="table__cell error-low">10</td>
                    <td class="table__cell error-high">20</td>
                  </tr>

                  <tr class="table__row">
                    <th scope="row" class="table__cell category">Sogou Explorer</td>
                    <td class="table__cell unit">1.64</td>
                    <td class="table__cell error-low">1</td>
                    <td class="table__cell error-high">4</td>
                    <td class="table__cell unit">12</td>
                    <td class="table__cell error-low">6</td>
                    <td class="table__cell error-high">18</td>
                  </tr>
                  <tr class="table__row">
                    <th scope="row" class="table__cell category">Opera</td>
                    <td class="table__cell unit">1.6</td>
                    <td class="table__cell error-low">1</td>
                    <td class="table__cell error-high">3</td>
                    <td class="table__cell unit">6</td>
                    <td class="table__cell error-low">4</td>
                    <td class="table__cell error-high">8</td>
                  </tr>
                  <tr class="table__row">
                    <th scope="row" class="table__cell category">QQ</td>
                    <td class="table__cell unit">1</td>
                    <td class="table__cell error-low">1</td>
                    <td class="table__cell error-high">2</td>
                    <td class="table__cell unit">4</td>
                    <td class="table__cell error-low">1</td>
                    <td class="table__cell error-high">6</td>
                  </tr>
                  <tr class="table__row">
                    <th scope="row" class="table__cell category">Other</td>
                    <td class="table__cell unit">2.61</td>
                    <td class="table__cell error-low">2</td>
                    <td class="table__cell error-high">4</td>
                    <td class="table__cell unit">3</td>
                    <td class="table__cell error-low">1</td>
                    <td class="table__cell error-high">6</td>
                  </tr>
                </tbody>
              </table>
            </figure>
          </div>
        </div>
        <details class="details">
          <summary class="details__summary">
            <span class="details__summary-text">
                Code example
            </span>
          </summary>
          <div class="details__text"></div>
        </details>
      </div>

      <div class="row">
        <div>
          <h2 class="heading-xs" id="line">Line chart</h2>
          <div class="chart" data-chart-type="line" data-chart-units="percentage" data-chart-title="Line chart" data-chart-subtitle="Browser market share data 2019-2020" data-chart-description="Chart description" data-xaxis-text="Popular browsers" data-yaxis-text="Market share">
            <div class="displayChart"></div>
            <figure class="datacontent">
              <table class="table tabledata" id="previewTable">
                <thead class="table__head">
                  <tr class="table__row">
                    <th class="table__cell heading">Category</th>
                    <th class="table__cell heading">2019</th>
                    <th class="table__cell heading">2020</th>
                  </tr>
                </thead>
                <tbody class="table__body">
                  <tr class="table__row">
                    <td class="table__cell category">Chrome</td>
                    <td class="table__cell unit">80</td>
                    <td class="table__cell unit">50</td>
                  </tr>
                  <tr class="table__row">
                    <td class="table__cell category">Internet Explorer</td>
                    <td class="table__cell unit">70</td>
                    <td class="table__cell unit">40</td>
                  </tr>
                  <tr class="table__row">
                    <td class="table__cell category">Firefox</td>
                    <td class="table__cell unit">60</td>
                    <td class="table__cell unit">20</td>
                  </tr>
                  <tr class="table__row">
                    <td class="table__cell category">Edge</td>
                    <td class="table__cell unit">0</td>
                    <td class="table__cell unit">50</td>
                  </tr>
                  <tr class="table__row">
                    <td class="table__cell category">Safari</td>
                    <td class="table__cell unit">40</td>
                    <td class="table__cell unit">14</td>
                  </tr>
                  <tr class="table__row">
                    <td class="table__cell category">Sogou Explorer</td>
                    <td class="table__cell unit">30</td>
                    <td class="table__cell unit">12</td>
                  </tr>
                  <tr class="table__row">
                    <td class="table__cell category">Opera</td>
                    <td class="table__cell unit">20</td>
                    <td class="table__cell unit">6</td>
                  </tr>
                  <tr class="table__row">
                    <td class="table__cell category">QQ</td>
                    <td class="table__cell unit">10</td>
                    <td class="table__cell unit">4</td>
                  </tr>
                  <tr class="table__row">
                    <td class="table__cell category">Other</td>
                    <td class="table__cell unit">5</td>
                    <td class="table__cell unit">3</td>
                  </tr>
                </tbody>
              </table>
            </figure>
          </div>
        </div>
        <details class="details">
          <summary class="details__summary">
            <span class="details__summary-text">
                Code example
            </span>
          </summary>
          <div class="details__text"></div>
        </details>
      </div>

      <div class="row">
        <div>
          <h2 class="heading-xs" id="linemissing">Line chart (with missing data)</h2>
          <div class="chart" data-chart-type="line" data-chart-units="percentage" data-chart-title="Line chart" data-chart-subtitle="Browser market share data 2019-2020" data-chart-description="Chart description" data-xaxis-text="Popular browsers" data-yaxis-text="Market share">
            <div class="displayChart"></div>
            <figure class="datacontent">
              <table class="table tabledata" id="previewTable">
                <thead class="table__head">
                  <tr class="table__row">
                    <th class="table__cell heading">Category</th>
                    <th class="table__cell heading">Market shares</th>
                  </tr>
                </thead>
                <tbody class="table__body">
                  <tr class="table__row">
                    <td class="table__cell category">Chrome</td>
                    <td class="table__cell unit">50</td>
                  </tr>
                  <tr class="table__row">
                    <td class="table__cell category">Internet Explorer</td>
                    <td class="table__cell unit">40</td>
                  </tr>
                  <tr class="table__row">
                    <td class="table__cell category">Firefox</td>
                    <td class="table__cell unit">0</td>
                  </tr>
                  <tr class="table__row">
                    <td class="table__cell category">Edge</td>
                    <td class="table__cell unit">0</td>
                  </tr>
                  <tr class="table__row">
                    <td class="table__cell category">Safari</td>
                    <td class="table__cell unit">14</td>
                  </tr>
                  <tr class="table__row">
                    <td class="table__cell category">Sogou Explorer</td>
                    <td class="table__cell unit">0</td>
                  </tr>
                  <tr class="table__row">
                    <td class="table__cell category">Opera</td>
                    <td class="table__cell unit">6</td>
                  </tr>
                  <tr class="table__row">
                    <td class="table__cell category">QQ</td>
                    <td class="table__cell unit">4</td>
                  </tr>
                  <tr class="table__row">
                    <td class="table__cell category">Other</td>
                    <td class="table__cell unit">3</td>
                  </tr>
                </tbody>
              </table>
            </figure>
          </div>
        </div>
        <details class="details">
          <summary class="details__summary">
            <span class="details__summary-text">
                Code example
            </span>
          </summary>
          <div class="details__text"></div>
        </details>
      </div>

      <div class="row">
        <h2 class="heading-xs" id="plotband">Line chart (with plot bands)</h2>
        <div class="chart" data-chart-type="line" data-chart-units="celsius" data-chart-title="Line chart" data-chart-subtitle="Range of temperatures in July 2009" data-chart-description="Chart description" data-yaxis-text="Temperature (C)" data-data-xaxis-text="Range of temperatures in July 2009">
          <div class="displayChart"></div>
          <figure class="datacontent">
            <h2 class="datacontent__title">Line chart with plot bands</h2>
            <table class="table tabledata" id="previewTable">
              <thead class="table__head">
                <tr class="table__row">
                  <th scope="col" colspan="2" class="table__cell heading">DateTime</th>
                  <th scope="col" colspan="2" class="table__cell heading">Temperature</th>
                </tr>
                <tr class="table__row plot-area">
                  <th colspan="2" class="table__cell plot-title">Plot area 1</th>
                  <th class="table__cell plot-band">0</th>
                  <th class="table__cell plot-band">10</th>
                </tr>
                <tr class="table__row plot-area">
                  <th colspan="2" class="table__cell plot-title">Plot area 2</th>
                  <th class="table__cell plot-band">10</th>
                  <th class="table__cell plot-band">25</th>
                </tr>
              </thead>
              <tbody class="table__body">
                <tr class="table__row">
                  <td colspan="2" class="table__cell category">2009-07-01</td>
                  <td colspan="2" class="table__cell unit">21.5</td>
                </tr>
                <tr class="table__row">
                  <td colspan="2" class="table__cell category">2009-07-02</td>
                  <td colspan="2" class="table__cell unit">22.1</td>
                </tr>
                <tr class="table__row">
                  <td colspan="2" class="table__cell category">2009-07-03</td>
                  <td colspan="2" class="table__cell unit">23</td>
                </tr>
                <tr class="table__row">
                  <td colspan="2" class="table__cell category">2009-07-04</td>
                  <td colspan="2" class="table__cell unit">23.8</td>
                </tr>
                <tr class="table__row">
                  <td colspan="2" class="table__cell category">2009-07-05</td>
                  <td colspan="2" class="table__cell unit">21.4</td>
                </tr>
                <tr class="table__row">
                  <td colspan="2" class="table__cell category">2009-07-06</td>
                  <td colspan="2" class="table__cell unit">21.3</td>
                </tr>
                <tr class="table__row">
                  <td colspan="2" class="table__cell category">2009-07-07</td>
                  <td colspan="2" class="table__cell unit">18.3</td>
                </tr>
                <tr class="table__row">
                  <td colspan="2" class="table__cell category">2009-07-08</td>
                  <td colspan="2" class="table__cell unit">15.4</td>
                </tr>
                <tr class="table__row">
                  <td colspan="2" class="table__cell category">2009-07-09</td>
                  <td colspan="2" class="table__cell unit">16.4</td>
                </tr>
                <tr class="table__row">
                  <td colspan="2" class="table__cell category">2009-07-10</td>
                  <td colspan="2" class="table__cell unit">17.7</td>
                </tr>
                <tr class="table__row">
                  <td colspan="2" class="table__cell category">2009-07-11</td>
                  <td colspan="2" class="table__cell unit">17.5</td>
                </tr>
                <tr class="table__row">
                  <td colspan="2" class="table__cell category">2009-07-12</td>
                  <td colspan="2" class="table__cell unit">17.6</td>
                </tr>
                <tr class="table__row">
                  <td colspan="2" class="table__cell category">2009-07-13</td>
                  <td colspan="2" class="table__cell unit">17.7</td>
                </tr>
                <tr class="table__row">
                  <td colspan="2" class="table__cell category">2009-07-14</td>
                  <td colspan="2" class="table__cell unit">16.8</td>
                </tr>
                <tr class="table__row">
                  <td colspan="2" class="table__cell category">2009-07-15</td>
                  <td colspan="2" class="table__cell unit">17.7</td>
                </tr>
                <tr class="table__row">
                  <td colspan="2" class="table__cell category">2009-07-16</td>
                  <td colspan="2" class="table__cell unit">16.3</td>
                </tr>
                <tr class="table__row">
                  <td colspan="2" class="table__cell category">2009-07-17</td>
                  <td colspan="2" class="table__cell unit">17.8</td>
                </tr>
                <tr class="table__row">
                  <td colspan="2" class="table__cell category">2009-07-18</td>
                  <td colspan="2" class="table__cell unit">18.1</td>
                </tr>
                <tr class="table__row">
                  <td colspan="2" class="table__cell category">2009-07-19</td>
                  <td colspan="2" class="table__cell unit">17.2</td>
                </tr>
                <tr class="table__row">
                  <td colspan="2" class="table__cell category">2009-07-20</td>
                  <td colspan="2" class="table__cell unit">14.4</td>
                </tr>
                <tr class="table__row">
                  <td colspan="2" class="table__cell category">2009-07-21</td>
                  <td colspan="2" class="table__cell unit">13.7</td>
                </tr>
                <tr class="table__row">
                  <td colspan="2" class="table__cell category">2009-07-22</td>
                  <td colspan="2" class="table__cell unit">15.7</td>
                </tr>
                <tr class="table__row">
                  <td colspan="2" class="table__cell category">2009-07-23</td>
                  <td colspan="2" class="table__cell unit">14.6</td>
                </tr>
                <tr class="table__row">
                  <td colspan="2" class="table__cell category">2009-07-24</td>
                  <td colspan="2" class="table__cell unit">15.3</td>
                </tr>
                <tr class="table__row">
                  <td colspan="2" class="table__cell category">2009-07-25</td>
                  <td colspan="2" class="table__cell unit">15.3</td>
                </tr>
                <tr class="table__row">
                  <td colspan="2" class="table__cell category">2009-07-26</td>
                  <td colspan="2" class="table__cell unit">15.8</td>
                </tr>
                <tr class="table__row">
                  <td colspan="2" class="table__cell category">2009-07-27</td>
                  <td colspan="2" class="table__cell unit">15.2</td>
                </tr>
                <tr class="table__row">
                  <td colspan="2" class="table__cell category">2009-07-28</td>
                  <td colspan="2" class="table__cell unit">14.8</td>
                </tr>
                <tr class="table__row">
                  <td colspan="2" class="table__cell category">2009-07-29</td>
                  <td colspan="2" class="table__cell unit">14.4</td>
                </tr>
                <tr class="table__row">
                  <td colspan="2" class="table__cell category">2009-07-30</td>
                  <td colspan="2" class="table__cell unit">15</td>
                </tr>
                <tr class="table__row">
                  <td colspan="2" class="table__cell category">2009-07-31</td>
                  <td colspan="2" class="table__cell unit">13.6</td>
                </tr>
              </tbody>
            </table>
          </figure>
        </div>
        <details class="details">
          <summary class="details__summary">
            <span class="details__summary-text">Code example</span>
          </summary>
          <div class="details__text"></div>
        </details>
      </div>
    </div>

    <div class="row">
      <h2 class="heading-xs" id="arearange">Area range chart</h2>
      <div class="chart" data-chart-type="arearange" data-chart-units="celsius" data-chart-title="Area range chart" data-chart-subtitle="Range of temperatures in July 2009" data-chart-description="Chart description" data-yaxis-text="Dates" data-data-xaxis-text="Temperatures">
        <div class="displayChart"></div>
        <figure class="datacontent">
          <h2 class="datacontent__title">Area range chart</h2>
          <table class="table tabledata" id="previewTable">
            <thead class="table__head">
              <tr class="table__row">
                <th class="table__cell heading">DateTime</th>
                <th class="table__cell heading">Temperature</th>
                <th class="table__cell heading">Range (low)</th>
                <th class="table__cell heading">Range (high)</th>
              </tr>
            </thead>
            <tbody class="table__body">
              <tr class="table__row">
                <td class="table__cell category series-range-axis">2009-07-01</td>
                <td class="table__cell unit series-range-average">21.5</td>
                <td class="table__cell unit series-range-low">14.3</td>
                <td class="table__cell unit series-range-high">27.7</td>
              </tr>
              <tr class="table__row">
                <td class="table__cell category series-range-axis">2009-07-02</td>
                <td class="table__cell unit series-range-average">22.1</td>
                <td class="table__cell unit series-range-low">14.5</td>
                <td class="table__cell unit series-range-high">27.8</td>
              </tr>
              <tr class="table__row">
                <td class="table__cell category series-range-axis">2009-07-03</td>
                <td class="table__cell unit series-range-average">23</td>
                <td class="table__cell unit series-range-low">15.5</td>
                <td class="table__cell unit series-range-high">29.6</td>
              </tr>
              <tr class="table__row">
                <td class="table__cell category series-range-axis">2009-07-04</td>
                <td class="table__cell unit series-range-average">23.8</td>
                <td class="table__cell unit series-range-low">16.7</td>
                <td class="table__cell unit series-range-high">30.7</td>
              </tr>
              <tr class="table__row">
                <td class="table__cell category series-range-axis">2009-07-05</td>
                <td class="table__cell unit series-range-average">21.4</td>
                <td class="table__cell unit series-range-low">16.5</td>
                <td class="table__cell unit series-range-high">25</td>
              </tr>
              <tr class="table__row">
                <td class="table__cell category series-range-axis">2009-07-06</td>
                <td class="table__cell unit series-range-average">21.3</td>
                <td class="table__cell unit series-range-low">17.8</td>
                <td class="table__cell unit series-range-high">25.7</td>
              </tr>
              <tr class="table__row">
                <td class="table__cell category series-range-axis">2009-07-07</td>
                <td class="table__cell unit series-range-average">18.3</td>
                <td class="table__cell unit series-range-low">13.5</td>
                <td class="table__cell unit series-range-high">24.8</td>
              </tr>
              <tr class="table__row">
                <td class="table__cell category series-range-axis">2009-07-08</td>
                <td class="table__cell unit series-range-average">15.4</td>
                <td class="table__cell unit series-range-low">10.5</td>
                <td class="table__cell unit series-range-high">21.4</td>
              </tr>
              <tr class="table__row">
                <td class="table__cell category series-range-axis">2009-07-09</td>
                <td class="table__cell unit series-range-average">16.4</td>
                <td class="table__cell unit series-range-low">9.2</td>
                <td class="table__cell unit series-range-high">23.8</td>
              </tr>
              <tr class="table__row">
                <td class="table__cell category series-range-axis">2009-07-10</td>
                <td class="table__cell unit series-range-average">17.7</td>
                <td class="table__cell unit series-range-low">11.6</td>
                <td class="table__cell unit series-range-high">21.8</td>
              </tr>
              <tr class="table__row">
                <td class="table__cell category series-range-axis">2009-07-11</td>
                <td class="table__cell unit series-range-average">17.5</td>
                <td class="table__cell unit series-range-low">10.7</td>
                <td class="table__cell unit series-range-high">23.7</td>
              </tr>
              <tr class="table__row">
                <td class="table__cell category series-range-axis">2009-07-12</td>
                <td class="table__cell unit series-range-average">17.6</td>
                <td class="table__cell unit series-range-low">11</td>
                <td class="table__cell unit series-range-high">23.3</td>
              </tr>
              <tr class="table__row">
                <td class="table__cell category series-range-axis">2009-07-13</td>
                <td class="table__cell unit series-range-average">17.7</td>
                <td class="table__cell unit series-range-low">11.6</td>
                <td class="table__cell unit series-range-high">23.7</td>
              </tr>
              <tr class="table__row">
                <td class="table__cell category series-range-axis">2009-07-14</td>
                <td class="table__cell unit series-range-average">16.8</td>
                <td class="table__cell unit series-range-low">11.8</td>
                <td class="table__cell unit series-range-high">20.7</td>
              </tr>
              <tr class="table__row">
                <td class="table__cell category series-range-axis">2009-07-15</td>
                <td class="table__cell unit series-range-average">17.7</td>
                <td class="table__cell unit series-range-low">12.6</td>
                <td class="table__cell unit series-range-high">22.4</td>
              </tr>
              <tr class="table__row">
                <td class="table__cell category series-range-axis">2009-07-16</td>
                <td class="table__cell unit series-range-average">16.3</td>
                <td class="table__cell unit series-range-low">13.6</td>
                <td class="table__cell unit series-range-high">19.6</td>
              </tr>
              <tr class="table__row">
                <td class="table__cell category series-range-axis">2009-07-17</td>
                <td class="table__cell unit series-range-average">17.8</td>
                <td class="table__cell unit series-range-low">11.4</td>
                <td class="table__cell unit series-range-high">22.6</td>
              </tr>
              <tr class="table__row">
                <td class="table__cell category series-range-axis">2009-07-18</td>
                <td class="table__cell unit series-range-average">18.1</td>
                <td class="table__cell unit series-range-low">13.2</td>
                <td class="table__cell unit series-range-high">25</td>
              </tr>
              <tr class="table__row">
                <td class="table__cell category series-range-axis">2009-07-19</td>
                <td class="table__cell unit series-range-average">17.2</td>
                <td class="table__cell unit series-range-low">14.2</td>
                <td class="table__cell unit series-range-high">21.6</td>
              </tr>
              <tr class="table__row">
                <td class="table__cell category series-range-axis">2009-07-20</td>
                <td class="table__cell unit series-range-average">14.4</td>
                <td class="table__cell unit series-range-low">13.1</td>
                <td class="table__cell unit series-range-high">17.1</td>
              </tr>
              <tr class="table__row">
                <td class="table__cell category series-range-axis">2009-07-21</td>
                <td class="table__cell unit series-range-average">13.7</td>
                <td class="table__cell unit series-range-low">12.2</td>
                <td class="table__cell unit series-range-high">15.5</td>
              </tr>
              <tr class="table__row">
                <td class="table__cell category series-range-axis">2009-07-22</td>
                <td class="table__cell unit series-range-average">15.7</td>
                <td class="table__cell unit series-range-low">12</td>
                <td class="table__cell unit series-range-high">20.8</td>
              </tr>
              <tr class="table__row">
                <td class="table__cell category series-range-axis">2009-07-23</td>
                <td class="table__cell unit series-range-average">14.6</td>
                <td class="table__cell unit series-range-low">12</td>
                <td class="table__cell unit series-range-high">17.1</td>
              </tr>
              <tr class="table__row">
                <td class="table__cell category series-range-axis">2009-07-24</td>
                <td class="table__cell unit series-range-average">15.3</td>
                <td class="table__cell unit series-range-low">12.7</td>
                <td class="table__cell unit series-range-high">18.3</td>
              </tr>
              <tr class="table__row">
                <td class="table__cell category series-range-axis">2009-07-25</td>
                <td class="table__cell unit series-range-average">15.3</td>
                <td class="table__cell unit series-range-low">12.4</td>
                <td class="table__cell unit series-range-high">19.4</td>
              </tr>
              <tr class="table__row">
                <td class="table__cell category series-range-axis">2009-07-26</td>
                <td class="table__cell unit series-range-average">15.8</td>
                <td class="table__cell unit series-range-low">12.6</td>
                <td class="table__cell unit series-range-high">19.9</td>
              </tr>
              <tr class="table__row">
                <td class="table__cell category series-range-axis">2009-07-27</td>
                <td class="table__cell unit series-range-average">15.2</td>
                <td class="table__cell unit series-range-low">11.9</td>
                <td class="table__cell unit series-range-high">20.2</td>
              </tr>
              <tr class="table__row">
                <td class="table__cell category series-range-axis">2009-07-28</td>
                <td class="table__cell unit series-range-average">14.8</td>
                <td class="table__cell unit series-range-low">11</td>
                <td class="table__cell unit series-range-high">19.3</td>
              </tr>
              <tr class="table__row">
                <td class="table__cell category series-range-axis">2009-07-29</td>
                <td class="table__cell unit series-range-average">14.4</td>
                <td class="table__cell unit series-range-low">10.8</td>
                <td class="table__cell unit series-range-high">17.8</td>
              </tr>
              <tr class="table__row">
                <td class="table__cell category series-range-axis">2009-07-30</td>
                <td class="table__cell unit series-range-average">15</td>
                <td class="table__cell unit series-range-low">11.8</td>
                <td class="table__cell unit series-range-high">18.5</td>
              </tr>
              <tr class="table__row">
                <td class="table__cell category series-range-axis">2009-07-31</td>
                <td class="table__cell unit series-range-average">13.6</td>
                <td class="table__cell unit series-range-low">10.8</td>
                <td class="table__cell unit series-range-high">16.1</td>
              </tr>
            </tbody>
          </table>
        </figure>
      </div>
      <details class="details">
        <summary class="details__summary">
          <span class="details__summary-text">Code example</span>
        </summary>
        <div class="details__text"></div>
      </details>
    </div>

    <div class="row">
      <div class="chart" data-chart-type="column"
              data-chart-units="pounds" data-chart-title="Individuals bear the
              majority of costs" data-chart-subtitle=""
              data-chart-description="Chart provides breakdown of total costs by
              cost bearer." data-xaxis-text="" data-yaxis-text="Cost (per
              billion £)">
        <div class="displayChart"></div>
        <figure class="datacontent">
          <h2 class="datacontent__title">Individuals bear the majority of
                  costs</h2>
          <p class="datacontent__description">Individual costs make up
                  £9.6bn, employer costs of £3.2bn and government have costs of
                  £3.5bn</p>
          <table class="table tabledata" id="previewTable">
            <thead class="table__head">
              <tr class="table__row">
                <th class="table__cell heading">Category</th>
                <th class="table__cell heading">Individuals</th>
                <th class="table__cell heading">Employer</th>
                <th class="table__cell heading">Government</th>
              </tr>
            </thead>
            <tbody class="table__body">
              <tr class="table__row">
                <th class="table__cell category">Workplace self-reported injuries</th>
                <td class="table__cell unit">9600000000</td>
                <td class="table__cell unit">3200000000</td>
                <td class="table__cell unit">3500000000</td>
              </tr>
            </tbody>
          </table>
        </figure>
      </div>

      <div class="row">
        <div class="chart" data-chart-type="donut" data-chart-units="pounds" data-chart-title="£16.2 bn Cost of workplace injury and ill health
              2018/19" data-chart-subtitle="" data-chart-description="Total
              costs to Britain of workplace injury and new cases of ill health
              were £16.2 billion in 2018/19, with £10.6 billion resulting from
              ill health and £5.6 billion from injury" data-x-axis-text="" data-y-axis-text="">
          <div class="displayChart"></div>
          <figure class="datacontent">
            <table class="table tabledata" id="previewTable">
              <thead class="table__head">
                <tr class="table__row">
                  <th class="table__cell heading">Injury and ill health</th>
                  <th class="table__cell heading">Cost</th>
                </tr>
              </thead>
              <tbody class="table__body">
                <tr class="table__row">
                  <td class="table__cell category">Injury</td>
                  <td class="table__cell unit">5600000000</td>
                </tr>
                <tr class="table__row">
                  <td class="table__cell category">Ill health</td>
                  <td class="table__cell unit">10600000000</td>
                </tr>
              </tbody>
            </table>
          </figure>
        </div>
      </div>

      <div class="row">
      <div class="chart" data-chart-type="bar" data-chart-units="percentage"
          data-chart-title="Non-fatal injuries to employees by most common
          accident kinds"
          data-chart-subtitle="(Non-fatal injuries reported under RIDDOR
          2019/20, includes those accident kinds that account for 5% or more of
          the total)"
          data-chart-description="Non-fatal injuries reported under RIDDOR
          2019/20 where accident kinds account for 5% or more of the total,
          Slips, trips or falls on same level 29%, Handling, lifting or carrying
          19%, Struck by moving object 11%, Acts of violence 9% and falls from
          height 8%"
          data-xaxis-text="" data-yaxis-text="">
          <div class="displayChart"></div>
          <figure class="datacontent">
            <h2 class="datacontent__title">Non-fatal injuries to employees by
              most common accident kinds</h2>
            <h3 class="datacontent__subtitle">(Non-fatal injuries reported under
              RIDDOR 2019/20, includes those accident kinds
              that account for 5% or more of the total)</h3>
            <p class="datacontent__description">Non-fatal injuries reported
              under RIDDOR 2019/20 where accident kinds account
              for 5% or more of the total, Slips, trips or falls on same level
              29%, Handling, lifting or carrying 19%, Struck by
              moving object 11%, Acts of violence 9% and falls from height 8%</p>
            <table class="table tabledata" id="previewTable">
              <thead class="table__head">
                <tr class="table__row">
                  <th class="heading table__cell">Type of injury</th>
                  <th class="heading table__cell">Percentage of injuries</th>
                </tr>
              </thead>
              <tbody class="table__body">
                <tr class="table__row">
                  <td class="table__cell category">Slips trips or falls on same level</td>
                  <td class="table__cell unit">29</td>
                </tr>
                <tr class="table__row">
                  <td class="table__cell category">Handling lifting or carrying</td>
                  <td class="table__cell unit">19</td>
                </tr>
                <tr class="table__row">
                  <td class="table__cell category">Struck by moving object</td>
                  <td class="table__cell unit">11</td>
                </tr>
                <tr class="table__row">
                  <td class="table__cell category">Acts of violence</td>
                  <td class="table__cell unit">9</td>
                </tr>
                <tr class="table__row">
                  <td class="table__cell category">Falls from a height</td>
                  <td class="table__cell unit">8</td>
                </tr>
              </tbody>
            </table>
          </figure>
        </div>
      </div>

    </div>
  </div>
</div>
{% endblock %}