{% set pageTitle = "Home page" %}
{% set expPage = false %}
{% extends "layouts/layout.njk" %}
{% block content %}
   <div class="row">
      <div data-span="12 last">
         <h2 class="heading-l">Welcome to HSE Digital workspace</h1>
         <p class="subtext">This site is intended to showcase components and tools to be used on the HSE website along with documentation and code examples on how to use.</p>
      </div>
   </div>

   <div class="row">
      <div data-span="4">
         <h3 class="heading-s">Tools</h3>
         <ul class="list">
            <li>
               <a href="csv-convertor.html">HighCharts Convertor</a>
               <p class="subtext">A tool to convert CSV into HighCharts</p>
            </li>
         </ul>
      </div>

      <div data-span="6 last">
         <h3 class="heading-s">Components</h3>
         <ul class="list">
            <li>
               <a href="charts.html">Charts</a>
               <p class="subtext">Display data in html tables as charts</p>
            </li>

            {# <li>
               <a href="#">Tabs</a>
               <p class="subtext">Tabbed content feature</p>
            </li> #}
         </ul>
      </div>
   </div>

{% endblock %}