/*doc
---
title: Form hint
name: c-hints
category: Page features - Form elements
---

```html_example
<div class="form-group">
    <label class="label" for="fullName">
        What is your name?
    </label>
    <p class="hint">Give your full name</p>
    <input class="input" id="fullName" name="fullName" type="text">
</div>
```

*/
.hint {
  display: block;
  margin-bottom: $dp;
  @extend .subtext;
  color: $mono-b;
}
