$switch-size: 26px;

// Label
.input-switch-label {
  position: relative;
  display: flex;
  justify-content: space-between;

  width: $switch-size * 2.3;
  height: $switch-size + 10px;
  margin: 10px 40px 10px 30px;

  &:focus {
    outline: 0;
  }
}

// Checkbox
.input-switch {
    width: 0;
    height: 0;
    appearance: none;

    &:before,
    &:after {
        display: block;
        position: absolute;
        width: 50%;
        top: 50%;
        transform: translateY(-50%);
        color: $black;
        cursor: pointer;
        @include type-setting(0);

        transition: color 300ms ease-in-out;
    }
    &:before {
        left: -30px;
        content: "No"
    }
    &:after {
        right: -40px;
        color: $mono-d;
        content: "Yes"
    }

    &:checked {
        &:before {
            color: $mono-d;
        }
        &:after {
            color: $black;
        }
    }
}

// Slider
.input-switch--slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  transition: .4s;
  border-radius: $switch-size * 2.3;
  &:before {
    content: "";
    border-radius: 50%;
    position: absolute;
    height: $switch-size;
    width: $switch-size;
    left: 4px;
    bottom: $switch-size / 6;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
}

// States
.input-switch:focus + .input-switch--slider {
  box-shadow: 0 0 0 3px #fd0;
}

.input-switch:checked + .input-switch--slider {
  background-color: $yes;
}

.input-switch:checked + .input-switch--slider:before {
  transform: translateX($switch-size);
}
