r<!DOCTYPE html>
<html lang="en-GB"><!-- InstanceBegin template="/Templates/dev-kit.dwt" codeOutsideHTMLIsLocked="false" -->
<head>

<!-- Anti-flicker snippet (recommended) If installing optimise with GTM, specifcy GTM container ID  --> 

<script id="anti-flicker">(function(a,s,y,n,c,h,i,d,e){s.className+=' '+y;h.start=1*new Date;
h.end=i=function(){s.className=s.className.replace(RegExp(' ?'+y),'')};
(a[n]=a[n]||[]).hide=h;setTimeout(function(){i();h.end=null},c);h.timeout=c;
})(window,document.documentElement,'async-hide','dataLayer',4000,
{'GTM-PJPWMNL':true});
</script> 

<!-- GTM --> 
	
<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
})(window,document,'script','dataLayer','GTM-PJPWMNL');</script>

<meta charset="utf-8">
	



<meta name="viewport" content="width=device-width, initial-scale=1.0">
<!-- v5.1.1 -->



<link rel="stylesheet" href="../../assets/v5-css/v5.min.css" type="text/css" media="screen,print" />
<style>
#globalSearch {
display: none;
}	
</style>



<!-- Page title and meta -->
	
<!-- InstanceBeginEditable name="doctitle" -->
<title>A-Z - HSE.GOV.UK Design System</title>
<!-- InstanceEndEditable -->
<meta name="HSE.contentType" content="default" />
<link rel="shortcut icon" href="../../favicon.ico" />
<link rel="apple-touch-icon" href="../../assets/v4-images/shared/apple-touch-icon.png" />
<link rel="home" href="../../index.htm" />


<!-- ie 11 fix for left-hand navigation --> 
<script src="https://cdn.polyfill.io/v2/polyfill.min.js"></script>


</head>
<body class="components normalFont">

<!-- GTM -->

<noscript aria-hidden="true" aria-label="GTM-PJPWMNL">
<iframe title="GTM-PJPWMNL" src="https://www.googletagmanager.com/ns.html?id=GTM-PJPWMNL" height="0" width="0" style="display:none;visibility:hidden" aria-hidden="true"></iframe>
</noscript>
<section id="top" aria-label="Skip to content">  <a href="#contentContainer" class="skip">Skip to content</a>  </section>
 
<section id="printBanner" aria-label="Print banner"> <img src="../../assets/v4-images/website/print/print-logo.jpg" width="193" height="65" alt="Health and Safety Executive" id="printLogo"/> </section>
<header id="headerContainer">
  <div id="header">
    <div class="headerTop header js-header">
		 
		<div id="headerLogo" class="headerLogo"><a href="../../index.htm">Health and Safety<br />
        Executive</a></div>
		
		 
		
      <div id="globalSearch" class="desktop-gcs-search">
        <gcse:searchbox-only></gcse:searchbox-only>
      </div>
    </div>
    
    <!-- JS Main Navigation -->
    
    <div class="menuContainer">
      <nav id="main-menu"  class="menu js-menu">
        <ul>
          <li class="home"><a href="../../index.htm">Design system</a></li>
          <li class="brand"><a href="../../brand/index.htm">Brand</a></li>
          <li class="style"><a href="../../style/index.htm">Styles</a></li>
          <li class="components"><a href="../index.htm">Components</a></li>
          <li class="patterns"><a href="../../patterns/index.htm">Patterns</a></li>
          <li class="template"><a href="../../framework/index.htm">Framework</a></li>
        </ul>
      </nav>
    </div>
  </div>
   </header>
   
<nav id="breadCrumb" aria-label="Previous pages:">
  <div class="breadCrumbContainer"> <!-- InstanceBeginEditable name="Breadcrumbs" -->
		<ol>
			<li class="home"><a href="../../index.htm">Design System</a></li>
			<li><a href="../index.htm">Components</a></li>
			<li><a href="index.htm">Navigation</a></li>
			<li>A-Z</li>
		</ol>
		<!-- InstanceEndEditable --> </div>
  <div id="backTo">
    <p class="backto"><a id="backnav" href="../index.htm">Back to</a></p>
  </div>
</nav>
 
<div id="pageContainer" class="v5" xmlns:argot="http://purl.oclc.org/argot/" xmlns:dc="http://purl.org/dc/terms/" xmlns:foaf="http://xmlns.com/foaf/0.1/" xmlns:v="http://www.w3.org/2006/vcard/ns#" xmlns:dbp="http://dbpedia.org/resource/">
<!-- InstanceBeginEditable name="beta-survey" --> 


<!-- InstanceEndEditable -->   

<!-- Beta content page --> 

  
<nav id="navSecondary" aria-label="Secondary"> <!-- InstanceBeginEditable name="Subnav" --><!-- #BeginLibraryItem "/Library/_v5-components.lbi" --><div id="menu" class="slinky-menu slinky-theme-default">
<ul>
    <li class="first"><a href="../index.htm">Components</a></li>
    <li><a href="../accordion.htm">Accordion (JS)</a></li>
    <li><a href="../tabs.htm">Tabs (JS)</a></li>
    <li><a href="../boxes.htm">Boxes</a></li>
    <li><a href="../images.htm">Images</a></li>
    <li><a href="../tables.htm">Table</a></li>
    <li><a href="../video.htm">Video (Embed)</a></li>
	<li><a href="../subscribe.htm">Subscribe (Input)</a></li>
	<li><a href="../drop-down.htm">Drop-down list (Input)</a></li>
	<li><a href="../lightbox.htm">Lightbox (JS)</a></li>
	<li><a href="../dialog.htm">Dialog box</a></li>
	<li><a href="#">Homepage</a>
	 <ul>
	  <li><a href="../homepage/index.htm">Overview</a></li>
	  <li><a href="../homepage/banner.htm">Banner</a></li>
	 </ul>
	</li>
	<li><a href="#">Navigation</a>
	 <ul>
	  <li><a href="index.htm">Overview</a></li>
	  <li><a href="a-z.htm">A-Z</a></li>
	  <li><a href="pagination.htm">Pagination</a></li>
	 </ul>
	</li>
 </ul>
</div>
<!-- #EndLibraryItem --><!-- InstanceEndEditable --> </nav>

<main id="contentContainer" class="columnbetacontentpage column2">
 
	
<!-- InstanceBeginEditable name="content" -->
  <h1>A-Z</h1>
    
  <nav class="boxAtoZ" aria-label="A to Z Navigation">
    <ul class="alphabetList">
      <li><a href="#a">A</a></li>
      <li><a href="#b">B</a></li>
      <li><a href="#c">C</a></li>
      <li><a href="#d">D</a></li>
      <li><a href="#e">E</a></li>
      <li><a href="#f">F</a></li>
      <li><a href="#g">G</a></li>
      <li><a href="#h">H</a></li>
      <li class="empty"><span class="emptyLetter">I</span></li>
      <li class="empty"><span class="emptyLetter">J</span></li>
      <li class="empty"><span class="emptyLetter">K</span></li>
      <li><a href="#l">L</a></li>
      <li><a href="#m">M</a></li>
      <li class="empty"><span class="emptyLetter">N</span></li>
      <li><a href="#o">O</a></li>
      <li><a href="#p">P</a></li>
      <li><a href="#q-az">Q</a></li>
      <li><a href="#r">R</a></li>
      <li><a href="#s">S</a></li>
      <li><a href="#t">T</a></li>
      <li class="empty"><span class="emptyLetter">U</span></li>
      <li class="empty"><span class="emptyLetter">V</span></li>
      <li><a href="#w">W</a></li>
      <li class="empty"><span class="emptyLetter">X</span></li>
      <li class="empty"><span class="emptyLetter">Y</span></li>
      <li class="empty"><span class="emptyLetter">Z</span></li>
    </ul>
  
    </nav>
	
	
	<div class="listAtoZ">
    <h2 class="clearAll" id="a">A</h2>
    <ul>
      <li><a href="../../agriculture/index.htm" title="Agriculture has one of the worst fatal accident records of any industry">Agriculture</a></li>
    </ul>
    <h2 id="b">B</h2>
    <ul>
      <li><a href="../../biocides/index.htm" title="Biocidal products are used in a variety of industries to control unwanted organisms, such as animals, insects, bacteria, viruses and fungi">Biocides</a></li>
    </ul>
    <h2 id="c">C</h2>
    <ul>
      <li><a href="../../catering/index.htm" title="The hospitality industry includes hotels, pubs and restaurants, contract caterers, fast food takeaways cafes and bistros">Catering and hospitality</a></li>
    </ul>
    <h2 id="d">D</h2>
    <ul>
      <li><a href="../../diving/index.htm" title="Health and safety information relating to the Diving Industry">Diving</a></li>
    </ul>
    <h2 id="e">E</h2>
    <ul>
      <li><a href="../../services/education/index.htm" title="Education sector health and safety information">Education</a></li>
    </ul>
    <h2 id="f">F</h2>
    <ul>
      <li><a href="../../services/fire/index.htm" title="Health and safety advice for the fire brigades and other rescue services">Fire and rescue services</a></li>
    </ul>
    <h2 id="g">G</h2>
    <ul>
      <li><a href="../../gas/domestic/index.htm" title="Information gas consumers need to know in order to manage gas appliances/equipment safely and tells you what to do in an emergency.">Gas - Domestic</a></li>
    </ul>
    <h2 id="h">H</h2>
    <ul>
      <li><a href="../../hairdressing/index.htm" title="Up to 70% of hairdressers suffer from skin damage">Hairdressing</a></li>
    </ul>
    <h2 id="l">L</h2>
    <ul>
      <li><a href="../../laundries/index.htm" title="Health and safety information for people working in the laundries and dry cleaning industries.">Laundries and dry-cleaners</a></li>
    </ul>
    <h2 id="m">M</h2>
    <ul>
      <li><a href="../../manufacturing/index.htm" title="Health and safety information relating to people working in the manufacturing industry">Manufacturing</a></li>
    </ul>
    
    <h2 id="o">O</h2>
    <ul>
      <li><a href="../../offshore/index.htm" title="Health and safety information relevant to those who work in the offshore oil and gas industry.">Offshore oil and gas</a></li>
    </ul>
    <h2 id="p">P</h2>
    <ul>
      <li><a href="../../paper/index.htm" title="Papermaking, conversion and paper recycling have traditionally suffered from a high accident rate">Paper</a></li>
    </ul>
    <h2 id="q-az">Q</h2>
    <ul>
      <li><a href="../../quarries/index.htm" title="The quarry industry fatality rate in June 2000 averaged three times that of construction. The industry also has the highest injury rate">Quarries</a></li>
    </ul>
    <h2 id="r">R</h2>
    <ul>
      <li><a href="../../waste/index.htm" title="Health and safety information for those involved in waste management and recycling">Recycling</a></li>
    </ul>
    <h2 id="s">S</h2>
    <ul>
      <li><a href="../../shale-gas/index.htm">Shale gas</a></li>
    </ul>
    <h2 id="t">T</h2>
    <ul>
      <li><a href="../../textiles/index.htm" title="The textiles and clothing industries employ around 189,000 in the UK increasingly in small businesses">Textiles</a></li>
    </ul>
    <h2 id="w">W</h2>
    <ul>
      <li><a href="../../waste/index.htm" title="Health and safety information for those involved in waste management and recycling">Waste management</a></li>
    </ul>
    
    
    </div>
  
  
  <!-- /#secondTab -->
        
  <!-- InstanceEndEditable -->
	
 

<!-- Beta two column (top task) --> 

   </main>

</div>

<nav id="footer-nav" aria-label="Footer menu">
  <footer id="footerContainer">
    <div id="footer">
      <h2 class="visually-hidden">Footer links</h2>
      <div class="footer-links-container">
       
      </div>
    </div>
    <div id="baseStrip">
      <div id="baseStripInner">
        <p>HSE aims to reduce work-related death, injury and ill health.</p>
      </div>
    </div>
  </footer>
</nav>
<section id="lastUpdated" aria-label="Last updated">
<!-- InstanceBeginEditable name="updated" -->Updated:<!-- #BeginDate format:IS1 -->2021-02-02<!-- #EndDate -->
  <!-- InstanceEndEditable -->
</section>
<script src="../../assets/v5-js/v5-main.min.js"></script>
<script src="../../assets/v5-js/jquery.min.js"></script> 
<script src="../../assets/v5-js/v5-footer.min.js"></script> 

	
 
<script src="../../assets/v5-js/v5-footer-slinky-js.min.js"></script> 





<div id="gutter"><!-- InstanceBeginEditable name="gutter" --> 
<script>
 $(".accordion").accordion({header: "h3", collapsible: true, active: false, autoHeight: false, navigation: true, active: false});
 $('.accordion h3').attr('tabindex','0');
 </script> <!-- InstanceEndEditable --></div>

<!-- SiteImprove JS --> 
<script type="text/javascript">
/*<![CDATA[*/
(function() {
var sz = document.createElement('script'); sz.type = 'text/javascript'; sz.async = true;
sz.src = '//siteimproveanalytics.com/js/siteanalyze_6798.js';
var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(sz, s);
})();
/*]]>*/
	
// removes cellspacing & cellpadding attributes from GCS (Assesibility fix)
window.onload = function(){

var searchTable = document.querySelector('table.gsc-search-box');
var searchTable2 = document.querySelector('table.gsc-input');
var searchTable3 = document.querySelector('table.gssb_c');
var searchInput = document.querySelector('input.gsc-input');

searchTable.removeAttribute('cellpadding');
searchTable2.removeAttribute('cellpadding');
searchTable3.removeAttribute('cellpadding');
searchInput.removeAttribute('cellpadding');

searchTable.removeAttribute('cellspacing');
searchTable2.removeAttribute('cellspacing');
searchTable3.removeAttribute('cellspacing');
searchInput.removeAttribute('cellspacing');
};	
</script> 
	
<!-- InstanceParam name="bodyClass" type="text" value="components" --> 
<!-- InstanceParam name="layout" type="text" value="betacontentpage" --> 
<!-- InstanceParam name="columnLayout" type="number" value="2" --> 
<!-- InstanceParam name="platform" type="text" value="v5" --> 
<!-- InstanceParam name="rdfa" type="boolean" value="false" --> 
<!-- InstanceParam name="welsh" type="boolean" value="false" --> 
<!-- InstanceParam name="homepage" type="boolean" value="true" --> 
<!-- InstanceParam name="weblite" type="boolean" value="false" --> 
<!-- InstanceParam name="feedback" type="boolean" value="true" --> 
<!-- InstanceParam name="contentType" type="text" value="default" --> 
<!-- InstanceParam name="notificationBar" type="boolean" value="false" --> 
<!-- InstanceParam name="printGuide" type="boolean" value="false" -->
</body>
<!-- InstanceEnd --></html>