@use "../../base/core/tools/spacing.scss" as *;
@use "../../base/core/settings/spacing.scss" as *;
@use "../../base/core/settings/colours.scss" as *;
@use "../../base/core/settings/breakpoints.scss" as *;
@use "../../base/core/tools/sass-mq" as *;

.box-half {
  display: grid;
  column-gap: 20px;
  grid-template-columns: 1fr; // default: 1 per row
  @include mq($from: desktop) {
  grid-template-columns: repeat(2, 1fr); // 2 per row
  }
}

.box {
  display: flex;
  flex-direction: column;
  background-color: $color_hse-grey-4;
  margin-bottom: 20px;
  @include hse-responsive-padding(4);
}

.box-card {
  @include mq($until: tablet) {
    margin-bottom: -9px;
  }
  @include mq($from: tablet) {
    margin-bottom: -11px;
  }
}

.box-card-image {
  width: 150px; 
  margin-bottom: 5px;
}

.box > :last-child {
  margin-bottom: 0;
}

.box-align-bottom {
margin-top: auto;
}

