#headerLogo {
font-size: 14px;
}

#menu {
  margin-bottom: $hse-legacy-spacing-20;
}

#navigationContainer {
width: $full-width;
margin: 15px auto 0 auto;
height: 33px;
}

#baseStrip p {
vertical-align: baseline;
}

#gutter,
#printBanner {
display: none;
}

#lastUpdated {
display: none;
}

#contentContainer {
  flex: 1;
}

  /* Footer */

#footer h2 {
  color: white;
}



.footer-links-container ul {
list-style-type: none;
margin: 0;
}


#languagesDropdown-container {
  width: 100%;
}

// Header

#headerLogo {
  line-height: 1.333em;
  font-weight: 700;
  font-family: Helvetica, Arial, sans-serif;
  color: $color_hse-red;
  margin: 0;
  text-decoration: none;
  a {
    color: $color_hse-black;
    display: block;
    padding: 0;
    width: 183px;
    text-decoration: none !important;
    display: flex;
  }
  svg {
    margin-right: $hse-legacy-spacing-20;
  }
}

#navigationContainer {
  height: 33px;
}

.navDropdown {
  font-size: 1.1em !important;
}

// Cookie container

// Print page
#printGuide {
  margin-top: $hse-legacy-spacing-20;
}



