/* ==========================================================================
   COMPONENTS/ #CHECKBOXES
   ========================================================================== */

/**
 * 1. remove 300ms pause on mobile.
 * 2. Fix bug in IE11 caused by transform rotate (-45deg).
 */

 @use "../../base/core/settings/typography" as *;
 @use "../../base/core/tools/typography" as *;
 @use "../../base/core/tools/focused" as *;
 @use "../../base/core/tools/spacing" as *;
 @use "../../base/core/settings/colours" as *;
 @use "../../base/core/settings/globals" as *;
 @use "../../base/core/settings/spacing" as *;


 $hse-checkboxes-size: hse-spacing(6);
 $hse-checkboxes-label-padding-left-right: 12px;
 
 .hse-checkboxes__item {
   clear: left;
   display: block;
   margin-bottom: hse-spacing(2);
   min-height: $hse-checkboxes-size;
   padding: 0 0 0 $hse-checkboxes-size;
   position: relative;
   @include hse-font(19);
 }
 
 .hse-checkboxes__item:last-child,
 .hse-checkboxes__item:last-of-type {
   margin-bottom: 0;
 }
 
 .hse-checkboxes__input {
   cursor: pointer;
   height: $hse-checkboxes-size;
   left: 0;
   margin: 0;
   opacity: 0;
   position: absolute;
   top: 0;
   width: $hse-checkboxes-size;
   z-index: 1;
 }
 
 .hse-checkboxes__label {
   cursor: pointer;
   display: inline-block;
   margin-bottom: 0;
   padding: 8px $hse-checkboxes-label-padding-left-right hse-spacing(1);
   -ms-touch-action: manipulation; /* 1 */
   touch-action: manipulation;
 }
 
 .hse-checkboxes__hint {
   display: block;
   padding-left: $hse-checkboxes-label-padding-left-right;
   padding-right: $hse-checkboxes-label-padding-left-right;
 }
 
 .hse-checkboxes__input + .hse-checkboxes__label::before {
   background: $hse-form-element-background-color;
   border: $hse-border-width-form-element solid $hse-form-border-color;
   box-sizing: border-box;
   content: "";
   height: $hse-checkboxes-size;
   left: 0;
   position: absolute;
   top: 0;
   width: $hse-checkboxes-size;
 }
 
 .hse-checkboxes__input + .hse-checkboxes__label::after {
   background: transparent;
   border: solid;
   border-top-color: transparent;
   border-width: 0 0 $hse-border-width $hse-border-width;
   content: "";
   height: 10px;
   left: 10px;
   opacity: 0; /* 2 */
   position: absolute;
   top: 13px;
   -ms-transform: rotate(-45deg);
   -webkit-transform: rotate(-45deg);
   transform: rotate(-45deg);
   width: 22px;
 }
 
 /*
  * Focus state
  *
  * 1. Since box-shadows are removed when users customise their colours
  *    We set a transparent outline that is shown instead.
  *    https://accessibility.blog.gov.uk/2017/03/27/how-users-change-colours-on-websites/
  */
 
 .hse-checkboxes__input:focus + .hse-checkboxes__label::before {
   @include hse-focused-checkbox();
 }
 
 /* Selected state */
 
 .hse-checkboxes__input:checked + .hse-checkboxes__label::after {
   opacity: 1;
 }
 
 /* Disabled state */
 
 .hse-checkboxes__input:disabled,
 .hse-checkboxes__input:disabled + .hse-checkboxes__label {
   cursor: default;
 }
 
 .hse-checkboxes__input:disabled + .hse-checkboxes__label {
   opacity: 0.5;
 }
 
 /* Divider variant */
 
 .hse-checkboxes__divider {
   $hse-divider-size: $hse-checkboxes-size !default;
   color: $hse-text-color;
   margin-bottom: hse-spacing(2);
   text-align: center;
   width: $hse-divider-size;
   @include hse-font(19);
 }
 
 /*
  * Conditional
  *
  * 1. Calculate the amount of padding needed to keep the border
  *    centered against the checkbox.
  * 2. Move the border centered with the checkbox.
  * 3. Move the contents of the conditional inline with the label.
  */
 
 $conditional-border-width-checkbox: $hse-border-width-mobile;
 $conditional-border-padding-checkbox: ($hse-checkboxes-size * 0.5) - ($conditional-border-width-checkbox * 0.5); /* 1 */
 $conditional-margin-left-checkbox: $conditional-border-padding-checkbox; /* 2 */
 $conditional-padding-left-checkbox: $conditional-border-padding-checkbox + $hse-checkboxes-label-padding-left-right; /* 3 */
 
 .hse-checkboxes__conditional {
   border-left: $conditional-border-width-checkbox solid $hse-form-border-color;
   margin-left: $conditional-margin-left-checkbox;
   padding-left: $conditional-padding-left-checkbox;
   @include hse-responsive-margin(4, "bottom");
   & > :last-child {
     margin-bottom: 0;
   }
 }
 
 .js-enabled .hse-checkboxes__conditional--hidden {
   display: none;
 }