%form-focus {
  &:focus {
    outline: solid $hse-focus-color;
    outline-offset: 0;
  }
}

%form-elem-cosmetics {
  appearance: none;
  width: 100%;
  padding: $dp;
  border: 2px solid $mono-a;
  @extend %form-focus;
}

input:required:valid {
  outline: $hse-focus-color solid $yes;
}

// input:required:invalid:not(:placeholder-shown) {
//   outline: 3px solid $color_hse-red;
// }

// input:required:invalid:not(:placeholder-shown) + .validation {
//   opacity: 1;
// }

%validation-error {
  opacity: 0;
  display: block;
  margin: $dp 0;
  padding: $dp $dp * 2;
  background-color: $color_hse-red;
  color: $color_hse-white;
  font-weight: 700;
}
.validation {
  @extend %validation-error;
  .js-enabled & {
    display: none;
  }
}

.validation-error-message {
  position: fixed;
  display: inline-block;
  max-width: 400px;
  transform: translateY(70vh);
  left: calc(-50vw + 50%);
  right: calc(-50vw + 50%);
  margin-left: auto;
  margin-right: auto;
  transition: top 300ms ease-in-out, opacity 300ms ease-in-out;
  box-shadow: 0px 10px 26px 0px rgba($black,0.25);
  z-index: 9999;
    opacity: 1;

  @extend %validation-error;
  .invalid & {
    opacity: 1;
    transform: translateY(50vh);
  }
}

.form-group {
  position: relative;
  margin-bottom: $dp * 2;

  &-hide {
    display: none;
  }
}

.form-group-adjacent {
  display: flex;
}

/* Fieldsets */

.fieldset {
  padding: 0;
  margin: 0 0 $dp*2 0;
  border: none;
}
.fieldset__heading {
  margin-bottom: $dp * 2;
  color: $color_hse-red;
}

.fieldset__legend {
  margin-bottom: $dp;
  p {
    margin-bottom: $dp;

    &:last-of-type {
      margin-bottom: $dp*3;
    }
  }
}

/* Labels */
.label {
  display: block;
  font-weight: 400;
  margin-bottom: $dp;
  max-width: 55ex;
}

.input-email,
.input-file,
.input-numeric,
.input-password,
.input-telephone,
.input-text {
  display: inline-block;
  width: 45ex; // default width
}

.input-email {
font-size: 1rem;
line-height: 1.5;
}

/* Widths */
.input-digits-1 {
  font-size: 13pt;
  font-family: monospace;
  max-width: 3ch;
}
.input-digits-2 {
  font-size: 13pt;
  font-family: monospace;
  max-width: 4ch;
}
.input-digits-3 {
  font-size: 13pt;
  font-family: monospace;
  max-width: 5ch;
}
.input-digits-4 {
  font-size: 13pt;
  font-family: monospace;
  max-width: 6ch;
}

.input-width-half {
  width: 50%;
  max-width: 50%;
}
.input-width-full {
  width: 100%;
  max-width: 100%;
}

.input-width-s {
  max-width: 15ex;

}
.input-width-m {
  max-width: 30ex;

}
.input-width-l {
  @include mq($until: tablet) {
    width: 100%;
    }
  max-width: 45ex;
}

textarea {
  width: 100%;
  max-width: 45ex;
}

input {
  margin-right: $dp;
  margin-bottom: $dp;

  &:last-of-type {
    margin-right: 0;
  }
}

// style fixes to forms in subscribe boxes

.box .subscribe .fieldset__legend, .column .subscribe .fieldset__legend {
margin-bottom: 0 !important;
}

.column .subscribe .fieldset__heading {
margin-bottom: 10px;
}
