/* ==========================================================================
   COMPONENTS/ #TEXTAREA
   ========================================================================== */
@use "../../base/core/settings/typography" as *;
@use "../../base/core/tools/typography" as *;
@use "../../base/core/settings/globals" as *;
@use "../../base/core/settings/colours" as *;
@use "../../base/core/tools/focused" as *;

   .hse-textarea {
    -webkit-appearance: none;
    border: $hse-border-width-form-element solid $hse-form-border-color;
    border-radius: 0;
    box-sizing: border-box;
    display: block;
    min-height: 40px;
    padding: hse-spacing(1);
    resize: vertical;
    width: 100%;
    @include hse-font(19);
    &:focus {
      @include hse-focused-input;
    }
  }
  
  .hse-textarea--error {
    border: $hse-border-width-form-element-error solid $hse-error-color;
  }