
// Google Custom Search

@use "../../base/core/settings/colours" as *;
@use "../../base/core/settings/spacing" as *;
@use "../../base/core/tools/spacing" as *;
@use "../../base/core/tools/sass-mq" as *;

.gsc-search-box {
  margin: 0 !important;
  background-color: $color_hse-red;
  background: none !important;
  font-size: 0.9rem !important;
  padding-bottom: 15px;
}

input.gsc-input {
  width: 100% !important;
  background-color: white !important;
  background-color: white !important;
  text-indent: $hse-legacy-spacing-10 !important;
  padding: $hse-legacy-spacing-10 !important;
  padding: 0px !important;
}

td.gsc-input {
  padding: 0 !important;
  margin: 0 !important;
  width: 100% !important;
  font-size: 0.9rem !important;
}

td.gsib_a,
td.gsib_b {
  padding: 0 !important;
}

.gsc-input-box {
border-width: 2px !important;
border-color: $color_hse-grey-3 !important;
border-right: 0 !important;
border-top-left-radius: 0 !important;
border-bottom-left-radius: 0 !important;
}

.gsc-search-button {
  z-index: 1;
  margin-left: 0 !important;
  width: auto !important;
  padding: 0 !important;
  min-width: 48px !important;

  min-height: 48px !important;

}

.gsc-search-button svg {
top: 2px !important;
position: relative !important;
}

.gsc-search-button-v2 {
  font-size: 0.9rem !important;
  background-color: $color_hse-red !important;
  border: 0 !important;
  border-radius: 0 !important;
  -webkit-border-radius: 0 !important;
  padding: 0 !important;
}

.gsc-search-button-v2.gsc {
  background-color: $color_hse-white !important;
  min-height: 0 !important;
}

.gsc-search-button-v2:hover {
  cursor: pointer;
}

.gsc-search-button-v2 svg {
  fill: $color_hse-white !important;
  margin-top: -7px !important;
  width: 100%;
}

.gsc-search-button-v2.gsc svg {
  width: 21px;
  margin-left: -8px;
}

.main-search-expanded .gsc-search-button-v2.gsc {
  background-color: $color_hse-grey-4 !important;
  padding-left: 4px !important;
}

// td.gsib_b {
//   background-color: white !important;
// }
.gsst_a .gscb_a {
  color: $color_hse-black !important;
  font-size: 30px !important;
  position: relative;
  top: 0;
}

#globalSearch #gsc-i-id1 {
  margin: 0 !important;
  height: 38px !important;
  background: none !important;
  background-color: #fff !important;
  border: none !important;
  position: relative !important;
}

// #globalSearch #gsc-i-id1:focus {
//   outline: $hse-focus-color 5px solid !important;
//   z-index: 2 !important;
// }

#globalSearch .gsc-input-box:focus-within {
  outline: $hse-focus-color 3px solid !important;
  padding-right: 4px;
  z-index: 9999 !important;
  position: relative !important;
  border-radius: 0 !important;
}

.gcs-results .gsc-input tbody tr:focus-within {
  outline-offset: -1px;
}

/* Remove wrapper outline when X is focused */
#globalSearch .gsc-input tbody tr:focus-within:has(.gsst_a:focus), .gcs-results .gsc-input tbody tr:focus-within:has(.gsst_a:focus)  {
  outline: none !important;
}

input.gsc-input, .gsc-input-box, .gsc-input-box-hover, .gsc-input-box-focus {
    border: none !important;
}

.gsib_b a:focus {
  box-shadow: none;
}



.gsst_b {
  padding: 0 !important;
}

// Mobile css fix
.gsc-input-box {
  padding: 0 !important;
  min-width: 250px;
}

// a:focus
td.gsc-search-button {
  position: relative !important;
  z-index: 1 !important;
}

td.gsc-search-button button:focus {
  outline: #ffdd00 3px solid !important;
  outline-color: #ffdd00 !important;
}

// Search results
.gcs-results {

  .gs-snippet {
    font-size: 1rem !important;
    margin-bottom: 10px !important;
  }

  .gsc-input {
    margin: 0 !important;
    height: 40px !important;
    font-size: 1rem !important;
    // &:focus { 
    //   outline:#fd0 5px solid !important;
    // }
  }
  .gsc-input-box {
    border: 1px solid #dfe1e5 !important;
    border-right: 0px !important;
    border-top-left-radius: 0 !important;
    border-bottom-left-radius: 0 !important;
    border-top-right-radius: 0 !important;
    border-bottom-right-radius: 0 !important;
    margin: 0 !important;
    height: 48px !important;
  }

  .gsst_b {
    padding: 0 !important;
  }

  .gsc-search-button-v2 {
    background-color: $color_hse-red !important;
  }

  .gsc-control-cse {
    padding: 0 !important;
  }

  .gsc-control-cse .gs-spelling,
  .gsc-control-cse .gs-result .gs-title,
  .gsc-control-cse .gs-result .gs-title * {
    font-size: 1.1875rem !important;
    line-height: 1.25 !important;
  }

  td.gsib_b {
    background: none;
  }

  .gsst_a .gscb_a {
    color: $color_hse-grey-1 !important;
  }

  .gs-visibleUrl {
    color: $color_hse-grey-1 !important;
  }

  .gsc-tabHeader.gsc-tabhActive,
  .gsc-refinementHeader.gsc-refinementhActive {
    color: $color_hse-red !important;
  }

  .gsc-tabHeader.gsc-tabhInactive,
  .gsc-refinementHeader.gsc-refinementhInactive,
  .gsc-results .gsc-cursor-box .gsc-cursor-page,
  .gsc-result-info {
    color: $color_hse-grey-1 !important;
  }

  .gsc-cursor-page {
    
  }

  .gsc-refinementHeader:nth-child(n+7) {
  display: none !important;
  }

  .gsc-tabHeader {
  display: none !important;
  }

  .gs-webResult div.gs-visibleUrl-breadcrumb {
    margin-bottom: 8px !important;
  }
  table.gsc-search-box td {
  border: hidden;
  }
  .gsc-result-info-container {
  padding: 0 !important;
  border: none !important;
  }
}

/* Only show the search button inside the search-results page container */
#gcs-results-page .search-box-container .gsc-search-button {
    display: inline-block !important;
}

/* Force search button to show ONLY on search-results page */
#gcs-results-page .gsc-search-button {
    display: table-cell !important;
}

#gcs-results-page .gsc-search-button button {
    display: inline-block !important;
}

#gcs-results-page input.gsc-input {
  background-position: 10px center !important;
}

@include mq($from: tablet) {
  .searchContainer form.gsc-search-box {
    max-width: 66.6667% !important;
  }
}

@include mq($until: tablet) {
  .searchContainer form.gsc-search-box {
    max-width: 100% !important;
  }
}







