/*doc
---
title: Links
name: b-links
category: Page features - Links
---

```html_example
<ul>
  <li><a href="#">Alpha</a></li>
  <li><a href="#">Beta</a></li>
  <li><a href="#">Gamma</a></li>
  <li><a href="#">Delta</a></li>
</ul>
```

*/
p a,
li a {
  transition: all 300ms ease-in-out;
  &:link {
    color: $link-link;
    text-decoration: none;
  }
  &:hover {
    color: $link-hover;
    text-decoration: none;
  }
  &:active {
    color: $link-active;
    text-decoration: none;
  }
  &:visited {
    color: $link-visited;
    text-decoration: none;
  }
}
