dl ul,
ol ol,
ol ol ol,
ol ul,
ul ol,
ul ul,
ul ul ul {
margin-bottom: 0 !important;
}

ol {
margin: 0 0 10px 0.1px;
}
#contentContainer dl {
margin: 0 0 1em 0;
}

ul.no-style {
margin: 0 !important;
padding: 0 !important;
}
ul.no-style li {
background: 0 0 !important;
margin: 0 !important;
padding: 0 !important;
}