<div class="questionaire">

<div class="question">

<h2 class="questionaire__title">Do you have a moment to help us?</h2>

<p class="question-caption">How much do you agree with the following statement</p>

<p class="question-text"><strong>It was easy for me to find the information I needed on the website?</strong></p>

<p class="question-hint">(1 being 'completely disagree' and 5 being 'completely agree')</p>

<ul class="question-list__list">

<li class="question-list__item"><button id="CES1" class="answer">1</button></li>

<li class="question-list__item"><button id="CES2" class="answer">2</button></li>

<li class="question-list__item"><button id="CES3" class="answer">3</button></li>

<li class="question-list__item"><button id="CES4" class="answer">4</button></li>

<li class="question-list__item"><button id="CES5" class="answer">5</button></li>

</ul>

</div>

<div class="question">

<h2 class="questionaire__title">Do you have a moment to help us?</h2>

<p class="question-text"><strong>How satisfied are you that you got all the information you were looking for today?</strong></p>

<p class="question-hint">(1 being 'completely disagree' and 5 being 'completely agree')</p>

<ul class="question-list__list">

<li class="question-list__item"><button id="CSAT1" class="answer">1</button></li>

<li class="question-list__item"><button id="CSAT2" class="answer">2</button></li>

<li class="question-list__item"><button id="CSAT3" class="answer">3</button></li>

<li class="question-list__item"><button id="CSAT4" class="answer">4</button></li>

<li class="question-list__item"><button id="CSAT5" class="answer">5</button></li>

</ul>

</div>

<div class="question survey-thankyou">

<h2 class="questionaire__title">Thank you</h2>

<p>Your participation is greatly appreciated.</p>

<button class="btn survey-close">Close</button>

</div>

</div>