<!DOCTYPE html>
<html lang="en-GB"><!-- InstanceBegin template="/Templates/dev-kit.dwt" codeOutsideHTMLIsLocked="false" -->
<head>

<meta charset="utf-8">
	



<meta name="viewport" content="width=device-width, initial-scale=1.0">
<!-- v5.1.1 -->



<link rel="stylesheet" href="../../assets/v5-css/v5.min.css" type="text/css" media="screen,print" />
<style>
#globalSearch {
display: none;
}	
</style>



<!-- Page title and meta -->
	
<!-- InstanceBeginEditable name="doctitle" -->
    <title>Charts - HSE.GOV.UK Design System</title>
    <!-- InstanceEndEditable -->
<meta name="HSE.contentType" content="default" />
<link rel="shortcut icon" href="../../favicon.ico" />
<link rel="apple-touch-icon" href="../../assets/v4-images/shared/apple-touch-icon.png" />
<link rel="home" href="../../index.htm" />


<!-- ie 11 fix for left-hand navigation --> 
<script src="https://cdn.polyfill.io/v2/polyfill.min.js"></script>


</head>
<body class="components normalFont">

<section id="top" aria-label="Skip to content">  <a href="#contentContainer" class="skip">Skip to content</a>  </section>
 
<section id="printBanner" aria-label="Print banner"> <img src="../../assets/v4-images/website/print/print-logo.jpg" width="193" height="65" alt="Health and Safety Executive" id="printLogo"/> </section>
<header id="headerContainer">
  <div id="header">
    <div class="headerTop header js-header">
		 
		<div id="headerLogo" class="headerLogo"><a href="../../index.htm">Health and Safety<br />
        Executive</a></div>
		
		 
		
      <div id="globalSearch" class="desktop-gcs-search">
        <gcse:searchbox-only></gcse:searchbox-only>
      </div>
    </div>
    
    <!-- JS Main Navigation -->
    
    <div class="menuContainer">
      <nav id="main-menu"  class="menu js-menu">
        <ul>
          <li class="home"><a href="../../index.htm">Design system</a></li>
          <li class="style"><a href="../../style/index.htm">Styles</a></li>
          <li class="components"><a href="../index.htm">Components</a></li>
          <li class="patterns"><a href="../../patterns/index.htm">Patterns</a></li>
          <li class="template"><a href="../../framework/index.htm">Framework</a></li>
		  <li class="development"><a href="../../development/index.htm">Development</a></li>
        </ul>
      </nav>
    </div>
  </div>
   </header>
   
<nav id="breadCrumb" aria-label="Previous pages:">
  <div class="breadCrumbContainer"> <!-- InstanceBeginEditable name="Breadcrumbs" -->
        <ol>
          <li class="home">
            <a href="../index.htm">Design System</a>
          </li>
          <li>
            <a href="../index.htm">Components</a>
          </li>
          <li>
            <a href="index.htm">Charts</a>
          </li>
          <li>Missing data</li>
        </ol>
        <!-- InstanceEndEditable --> </div>
  <div id="backTo">
    <p class="backto"><a id="backnav" href="index.htm">Back to</a></p>
  </div>
</nav>
 
<div id="pageContainer" class="v5" xmlns:argot="http://purl.oclc.org/argot/" xmlns:dc="http://purl.org/dc/terms/" xmlns:foaf="http://xmlns.com/foaf/0.1/" xmlns:v="http://www.w3.org/2006/vcard/ns#" xmlns:dbp="http://dbpedia.org/resource/">
<!-- InstanceBeginEditable name="beta-survey" -->

      <!-- InstanceEndEditable -->   

<!-- Beta content page --> 

  
<nav id="navSecondary" aria-label="Secondary"> <!-- InstanceBeginEditable name="Subnav" --><!-- #BeginLibraryItem "/Library/_v5-components.lbi" --><div id="menu" class="slinky-menu slinky-theme-default">
<ul>
    <li class="first"><a href="../index.htm">Components</a></li>
	<li><a href="../accordion.htm">Accordion</a></li>
	<li><a href="../boxes.htm">Box</a></li>
	<li><a href="#">Charts (JS)</a>
		<ul>
			<li><a href="index.htm">Overview</a></li>
			<li><a href="data-attributes.htm">Data attributes</a></li>
		    <li><a href="pie-chart.htm">Pie chart</a></li>
			<li><a href="donut-chart.htm">Donut chart</a></li>
			<li><a href="line-chart.htm">Line chart</a></li>
			<li><a href="bar-chart.htm">Bar chart</a></li>
			<li><a href="bar-stacked-chart.htm">Bar (stacked) chart</a></li>
			<li><a href="column-chart.htm">Column chart</a></li>
			<li><a href="column-stacked-chart.htm">Column (stacked) chart</a></li>
			<li><a href="arearange-chart.htm">Area range chart</a></li>
			<li><a href="dual-chart.htm">Dual charts</a></li>
			<li><a href="missing-data.htm">Missing data</a></li>
			<li><a href="confidence-intervals.htm">Confidence Intervals</a></li>
			<li><a href="plot-bands.htm">Plot bands</a></li>
		</ul>
	</li>
	<li><a href="../dialog.htm">Dialog box</a></li>
	<li><a href="#">Forms</a>
		<ul>
			<li><a href="../forms/index.htm">Overview</a></li>
		    <li><a href="../forms/buttons.htm">Buttons</a></li>
			<li><a href="../forms/inputs.htm">inputs</a></li>
			<li><a href="../forms/input-sizes.htm">Input sizes</a></li>
			<li><a href="../forms/form-validation.htm">Form validation</a></li>
			<li><a href="../forms/checkboxes.htm">Checkboxes</a></li>
			<li><a href="../forms/dates.htm">Dates</a></li>
			<li><a href="../forms/radios.htm">Radios</a></li>
			<li><a href="../forms/switch.htm">Switch</a></li>
			<li><a href="../forms/textarea.htm">Text area</a></li>
			<li><a href="../forms/drop-down.htm">Drop-down list (Input)</a></li>
			<li><a href="../forms/subscribe.htm">Subscribe (Input)</a></li>
		</ul>
	</li>
	<li><a href="../images.htm">Images</a></li>
	<li><a href="../lightbox.htm">Lightbox (JS)</a></li>
    <li><a href="../tables.htm">Table</a></li>
	<li><a href="../tabs.htm">Tabs (JS)</a></li>
	<li><a href="../video.htm">Video (Embed)</a></li>
	<li><a href="#">Homepage</a>
	 <ul>
	  <li><a href="../homepage/index.htm">Overview</a></li>
	  <li><a href="../homepage/banner.htm">Banner</a></li>
	 </ul>
	</li>
 </ul>
</div><!-- #EndLibraryItem --><!-- InstanceEndEditable --> </nav>

<main id="contentContainer" class="columnbetacontentpage column2">
 
	
<!-- InstanceBeginEditable name="content" -->
        <h1>Missing data</h1>

		<p>Missing data is easily represented in a bar or column chart, however for line and area-range charts some extra work has to be done behind the scenes to make this work. For ease when developing we can enter a value of ‘0’ to represent the null data.</p>

        <p>Currently for area-ranges we must still supply the estimated data for the low band and high band and only supply zero values for the average.</p>

        <p>Naturally the tooltip won’t display where we have null data as expected.</p>
        <h2>Chart example</h2>

        <div class="chart" data-chart-type="arearange"
                data-chart-units="unit"
                data-chart-title="Rate of work-related ill health per 100,000 workers -
                new and long-standing" data-chart-subtitle=""
                data-chart-description="Workers suffering from work-related
                ill-health (new and long-standing) has been broadly flat in
                recent rates, although 2019/20 is above recent years."
                data-xaxis-text="" data-yaxis-text="" data-area-range-title="95%
                Confidence interval" data-gridline="false" data-chart-caption="For the year, 2002/03 and 2012/13, estimated figures have been provided where data hasn't been collected.<br />
                Shaded area represents 95% confidence interval<br /><br />
                <strong>Source:</strong> Labour Force Survey (LFS) self-reported estimates">
          <div class="displayChart"></div>
          <figure class="datacontent">
            <h2 class="datacontent__title">Rate of work-related ill health per
                    100,000 workers - new and long-standing</h2>
            <p class="datacontent__description">Workers suffering from
                    work-related ill-health (new and long-standing) has been
                    broadly flat in recent rates, although 2019/20 is above
                    recent years.</p>
            <table class="table tabledata" id="previewTable">
              <thead class="table__head">
                <tr class="table__row">
                  <th class="heading table__cell">Year</th>
                  <th class="heading table__cell">Work-related ill health</th>
                  <th class="heading table__cell">Lower Bound</th>
                  <th class="heading table__cell">Upper Bound</th>
                </tr>
              </thead>
              <tbody class="table__body">
                <tr class="table__row">
                  <td class="table__cell category series-range-axis">2001/02</td>
                  <td class="table__cell unit series-range-average">4870</td>
                  <td class="table__cell unit series-range-low">4690</td>
                  <td class="table__cell unit series-range-high">5050</td>
                </tr>
                <tr class="table__row">
                  <td class="table__cell category series-range-axis">2002/03</td>
                  <td class="table__cell unit series-range-average">0</td>
                  <td class="table__cell unit series-range-low">4575</td>
                  <td class="table__cell unit series-range-high">4930</td>
                </tr>
                <tr class="table__row">
                  <td class="table__cell category series-range-axis">2003/04</td>
                  <td class="table__cell unit series-range-average">4630</td>
                  <td class="table__cell unit series-range-low">4460</td>
                  <td class="table__cell unit series-range-high">4810</td>
                </tr>
                <tr class="table__row">
                  <td class="table__cell category series-range-axis">2004/05</td>
                  <td class="table__cell unit series-range-average">4210</td>
                  <td class="table__cell unit series-range-low">4040</td>
                  <td class="table__cell unit series-range-high">4390</td>
                </tr>
                <tr class="table__row">
                  <td class="table__cell category series-range-axis">2005/06</td>
                  <td class="table__cell unit series-range-average">3910</td>
                  <td class="table__cell unit series-range-low">3740</td>
                  <td class="table__cell unit series-range-high">4080</td>
                </tr>
                <tr class="table__row">
                  <td class="table__cell category series-range-axis">2006/07</td>
                  <td class="table__cell unit series-range-average">4710</td>
                  <td class="table__cell unit series-range-low">4530</td>
                  <td class="table__cell unit series-range-high">4900</td>
                </tr>
                <tr class="table__row">
                  <td class="table__cell category series-range-axis">2007/08</td>
                  <td class="table__cell unit series-range-average">4170</td>
                  <td class="table__cell unit series-range-low">3990</td>
                  <td class="table__cell unit series-range-high">4350</td>
                </tr>
                <tr class="table__row">
                  <td class="table__cell category series-range-axis">2008/09</td>
                  <td class="table__cell unit series-range-average">3890</td>
                  <td class="table__cell unit series-range-low">3710</td>
                  <td class="table__cell unit series-range-high">4070</td>
                </tr>
                <tr class="table__row">
                  <td class="table__cell category series-range-axis">2009/10</td>
                  <td class="table__cell unit series-range-average">4230</td>
                  <td class="table__cell unit series-range-low">4030</td>
                  <td class="table__cell unit series-range-high">4420</td>
                </tr>
                <tr class="table__row">
                  <td class="table__cell category series-range-axis">2010/11</td>
                  <td class="table__cell unit series-range-average">3830</td>
                  <td class="table__cell unit series-range-low">3630</td>
                  <td class="table__cell unit series-range-high">4030</td>
                </tr>
                <tr class="table__row">
                  <td class="table__cell category series-range-axis">2011/12</td>
                  <td class="table__cell unit series-range-average">3550</td>
                  <td class="table__cell unit series-range-low">3370</td>
                  <td class="table__cell unit series-range-high">3730</td>
                </tr>
                <tr class="table__row">
                  <td class="table__cell category series-range-axis">2012/13</td>
                  <td class="table__cell unit series-range-average">0</td>
                  <td class="table__cell unit series-range-low">3580</td>
                  <td class="table__cell unit series-range-high">3955</td>
                </tr>
                <tr class="table__row">
                  <td class="table__cell category series-range-axis">2013/14</td>
                  <td class="table__cell unit series-range-average">3990</td>
                  <td class="table__cell unit series-range-low">3790</td>
                  <td class="table__cell unit series-range-high">4180</td>
                </tr>
                <tr class="table__row">
                  <td class="table__cell category series-range-axis">2014/15</td>
                  <td class="table__cell unit series-range-average">3910</td>
                  <td class="table__cell unit series-range-low">3710</td>
                  <td class="table__cell unit series-range-high">4110</td>
                </tr>
                <tr class="table__row">
                  <td class="table__cell category series-range-axis">2015/16</td>
                  <td class="table__cell unit series-range-average">4050</td>
                  <td class="table__cell unit series-range-low">3840</td>
                  <td class="table__cell unit series-range-high">4260</td>
                </tr>
                <tr class="table__row">
                  <td class="table__cell category series-range-axis">2016/17</td>
                  <td class="table__cell unit series-range-average">3970</td>
                  <td class="table__cell unit series-range-low">3750</td>
                  <td class="table__cell unit series-range-high">4190</td>
                </tr>
                <tr class="table__row">
                  <td class="table__cell category series-range-axis">2017/18</td>
                  <td class="table__cell unit series-range-average">4120</td>
                  <td class="table__cell unit series-range-low">3890</td>
                  <td class="table__cell unit series-range-high">4340</td>
                </tr>
                <tr class="table__row">
                  <td class="table__cell category series-range-axis">2018/19</td>
                  <td class="table__cell unit series-range-average">4060</td>
                  <td class="table__cell unit series-range-low">3830</td>
                  <td class="table__cell unit series-range-high">4280</td>
                </tr>
                <tr class="table__row">
                  <td class="table__cell category series-range-axis">2019/20</td>
                  <td class="table__cell unit series-range-average">4790</td>
                  <td class="table__cell unit series-range-low">4530</td>
                  <td class="table__cell unit series-range-high">5060</td>
                </tr>
              </tbody>
            </table>
          </figure>
        </div>
<pre class="language-markup"><code>&lt;div class=&quot;chart&quot;
  data-chart-type=&quot;arearange&quot;
  data-chart-units=&quot;unit&quot;
  data-chart-title=&quot;Rate of work-related ill health per 100,000 workers -
  new and long-standing&quot;
  data-chart-subtitle=&quot;&quot;
  data-chart-description=&quot;Workers suffering from work-related
  ill-health (new and long-standing) has been broadly flat in
  recent rates, although 2019/20 is above recent years.&quot;
  data-xaxis-text=&quot;&quot;
  data-yaxis-text=&quot;&quot; data-area-range-title=&quot;95%
  Confidence interval&quot; data-gridline=&quot;false&quot;
  data-chart-caption=&quot;For the year, 2002/03 and 2012/13, estimated figures have been provided where data hasn't been collected.&lt;br /&gt;
  Shaded area represents 95% confidence interval&lt;br /&gt;&lt;br /&gt;
  &lt;strong&gt;Source:&lt;/strong&gt; Labour Force Survey (LFS) self-reported estimates&quot;&gt;
  &lt;div class=&quot;displayChart&quot;&gt;&lt;/div&gt;
  &lt;figure class=&quot;datacontent&quot;&gt;
    &lt;h2 class=&quot;datacontent__title&quot;&gt;Rate of work-related ill health per 100,000 workers - new and long-standing&lt;/h2&gt;
    &lt;p class=&quot;datacontent__description&quot;&gt;Workers suffering from work-related ill-health (new and long-standing) has been broadly flat in recent rates, although 2019/20 is above recent years.&lt;/p&gt;
    &lt;table class=&quot;table tabledata&quot; id=&quot;previewTable&quot;&gt;
      &lt;thead class=&quot;table__head&quot;&gt;
        &lt;tr class=&quot;table__row&quot;&gt;
          &lt;th class=&quot;heading table__cell&quot;&gt;Year&lt;/th&gt;
          &lt;th class=&quot;heading table__cell&quot;&gt;Work-related ill health&lt;/th&gt;
          &lt;th class=&quot;heading table__cell&quot;&gt;Lower Bound&lt;/th&gt;
          &lt;th class=&quot;heading table__cell&quot;&gt;Upper Bound&lt;/th&gt;
        &lt;/tr&gt;
      &lt;/thead&gt;
      &lt;tbody class=&quot;table__body&quot;&gt;
        &lt;tr class=&quot;table__row&quot;&gt;
          &lt;td class=&quot;table__cell category series-range-axis&quot;&gt;2001/02&lt;/td&gt;
          &lt;td class=&quot;table__cell unit series-range-average&quot;&gt;4870&lt;/td&gt;
          &lt;td class=&quot;table__cell unit series-range-low&quot;&gt;4690&lt;/td&gt;
          &lt;td class=&quot;table__cell unit series-range-high&quot;&gt;5050&lt;/td&gt;
        &lt;/tr&gt;
        &lt;tr class=&quot;table__row&quot;&gt;
          &lt;td class=&quot;table__cell category series-range-axis&quot;&gt;2002/03&lt;/td&gt;
          &lt;td class=&quot;table__cell unit series-range-average&quot;&gt;0&lt;/td&gt;
          &lt;td class=&quot;table__cell unit series-range-low&quot;&gt;4575&lt;/td&gt;
          &lt;td class=&quot;table__cell unit series-range-high&quot;&gt;4930&lt;/td&gt;
        &lt;/tr&gt;
        &lt;tr class=&quot;table__row&quot;&gt;
          &lt;td class=&quot;table__cell category series-range-axis&quot;&gt;2003/04&lt;/td&gt;
          &lt;td class=&quot;table__cell unit series-range-average&quot;&gt;4630&lt;/td&gt;
          &lt;td class=&quot;table__cell unit series-range-low&quot;&gt;4460&lt;/td&gt;
          &lt;td class=&quot;table__cell unit series-range-high&quot;&gt;4810&lt;/td&gt;
        &lt;/tr&gt;
        &lt;tr class=&quot;table__row&quot;&gt;
          &lt;td class=&quot;table__cell category series-range-axis&quot;&gt;2004/05&lt;/td&gt;
          &lt;td class=&quot;table__cell unit series-range-average&quot;&gt;4210&lt;/td&gt;
          &lt;td class=&quot;table__cell unit series-range-low&quot;&gt;4040&lt;/td&gt;
          &lt;td class=&quot;table__cell unit series-range-high&quot;&gt;4390&lt;/td&gt;
        &lt;/tr&gt;
        &lt;tr class=&quot;table__row&quot;&gt;
          &lt;td class=&quot;table__cell category series-range-axis&quot;&gt;2005/06&lt;/td&gt;
          &lt;td class=&quot;table__cell unit series-range-average&quot;&gt;3910&lt;/td&gt;
          &lt;td class=&quot;table__cell unit series-range-low&quot;&gt;3740&lt;/td&gt;
          &lt;td class=&quot;table__cell unit series-range-high&quot;&gt;4080&lt;/td&gt;
        &lt;/tr&gt;
        &lt;tr class=&quot;table__row&quot;&gt;
          &lt;td class=&quot;table__cell category series-range-axis&quot;&gt;2006/07&lt;/td&gt;
          &lt;td class=&quot;table__cell unit series-range-average&quot;&gt;4710&lt;/td&gt;
          &lt;td class=&quot;table__cell unit series-range-low&quot;&gt;4530&lt;/td&gt;
          &lt;td class=&quot;table__cell unit series-range-high&quot;&gt;4900&lt;/td&gt;
        &lt;/tr&gt;
        &lt;tr class=&quot;table__row&quot;&gt;
          &lt;td class=&quot;table__cell category series-range-axis&quot;&gt;2007/08&lt;/td&gt;
          &lt;td class=&quot;table__cell unit series-range-average&quot;&gt;4170&lt;/td&gt;
          &lt;td class=&quot;table__cell unit series-range-low&quot;&gt;3990&lt;/td&gt;
          &lt;td class=&quot;table__cell unit series-range-high&quot;&gt;4350&lt;/td&gt;
        &lt;/tr&gt;
        &lt;tr class=&quot;table__row&quot;&gt;
          &lt;td class=&quot;table__cell category series-range-axis&quot;&gt;2008/09&lt;/td&gt;
          &lt;td class=&quot;table__cell unit series-range-average&quot;&gt;3890&lt;/td&gt;
          &lt;td class=&quot;table__cell unit series-range-low&quot;&gt;3710&lt;/td&gt;
          &lt;td class=&quot;table__cell unit series-range-high&quot;&gt;4070&lt;/td&gt;
        &lt;/tr&gt;
        &lt;tr class=&quot;table__row&quot;&gt;
          &lt;td class=&quot;table__cell category series-range-axis&quot;&gt;2009/10&lt;/td&gt;
          &lt;td class=&quot;table__cell unit series-range-average&quot;&gt;4230&lt;/td&gt;
          &lt;td class=&quot;table__cell unit series-range-low&quot;&gt;4030&lt;/td&gt;
          &lt;td class=&quot;table__cell unit series-range-high&quot;&gt;4420&lt;/td&gt;
        &lt;/tr&gt;
        &lt;tr class=&quot;table__row&quot;&gt;
          &lt;td class=&quot;table__cell category series-range-axis&quot;&gt;2010/11&lt;/td&gt;
          &lt;td class=&quot;table__cell unit series-range-average&quot;&gt;3830&lt;/td&gt;
          &lt;td class=&quot;table__cell unit series-range-low&quot;&gt;3630&lt;/td&gt;
          &lt;td class=&quot;table__cell unit series-range-high&quot;&gt;4030&lt;/td&gt;
        &lt;/tr&gt;
        &lt;tr class=&quot;table__row&quot;&gt;
          &lt;td class=&quot;table__cell category series-range-axis&quot;&gt;2011/12&lt;/td&gt;
          &lt;td class=&quot;table__cell unit series-range-average&quot;&gt;3550&lt;/td&gt;
          &lt;td class=&quot;table__cell unit series-range-low&quot;&gt;3370&lt;/td&gt;
          &lt;td class=&quot;table__cell unit series-range-high&quot;&gt;3730&lt;/td&gt;
        &lt;/tr&gt;
        &lt;tr class=&quot;table__row&quot;&gt;
          &lt;td class=&quot;table__cell category series-range-axis&quot;&gt;2012/13&lt;/td&gt;
          &lt;td class=&quot;table__cell unit series-range-average&quot;&gt;0&lt;/td&gt;
          &lt;td class=&quot;table__cell unit series-range-low&quot;&gt;3580&lt;/td&gt;
          &lt;td class=&quot;table__cell unit series-range-high&quot;&gt;3955&lt;/td&gt;
        &lt;/tr&gt;
        &lt;tr class=&quot;table__row&quot;&gt;
          &lt;td class=&quot;table__cell category series-range-axis&quot;&gt;2013/14&lt;/td&gt;
          &lt;td class=&quot;table__cell unit series-range-average&quot;&gt;3990&lt;/td&gt;
          &lt;td class=&quot;table__cell unit series-range-low&quot;&gt;3790&lt;/td&gt;
          &lt;td class=&quot;table__cell unit series-range-high&quot;&gt;4180&lt;/td&gt;
        &lt;/tr&gt;
        &lt;tr class=&quot;table__row&quot;&gt;
          &lt;td class=&quot;table__cell category series-range-axis&quot;&gt;2014/15&lt;/td&gt;
          &lt;td class=&quot;table__cell unit series-range-average&quot;&gt;3910&lt;/td&gt;
          &lt;td class=&quot;table__cell unit series-range-low&quot;&gt;3710&lt;/td&gt;
          &lt;td class=&quot;table__cell unit series-range-high&quot;&gt;4110&lt;/td&gt;
        &lt;/tr&gt;
        &lt;tr class=&quot;table__row&quot;&gt;
          &lt;td class=&quot;table__cell category series-range-axis&quot;&gt;2015/16&lt;/td&gt;
          &lt;td class=&quot;table__cell unit series-range-average&quot;&gt;4050&lt;/td&gt;
          &lt;td class=&quot;table__cell unit series-range-low&quot;&gt;3840&lt;/td&gt;
          &lt;td class=&quot;table__cell unit series-range-high&quot;&gt;4260&lt;/td&gt;
        &lt;/tr&gt;
        &lt;tr class=&quot;table__row&quot;&gt;
          &lt;td class=&quot;table__cell category series-range-axis&quot;&gt;2016/17&lt;/td&gt;
          &lt;td class=&quot;table__cell unit series-range-average&quot;&gt;3970&lt;/td&gt;
          &lt;td class=&quot;table__cell unit series-range-low&quot;&gt;3750&lt;/td&gt;
          &lt;td class=&quot;table__cell unit series-range-high&quot;&gt;4190&lt;/td&gt;
        &lt;/tr&gt;
        &lt;tr class=&quot;table__row&quot;&gt;
          &lt;td class=&quot;table__cell category series-range-axis&quot;&gt;2017/18&lt;/td&gt;
          &lt;td class=&quot;table__cell unit series-range-average&quot;&gt;4120&lt;/td&gt;
          &lt;td class=&quot;table__cell unit series-range-low&quot;&gt;3890&lt;/td&gt;
          &lt;td class=&quot;table__cell unit series-range-high&quot;&gt;4340&lt;/td&gt;
        &lt;/tr&gt;
        &lt;tr class=&quot;table__row&quot;&gt;
          &lt;td class=&quot;table__cell category series-range-axis&quot;&gt;2018/19&lt;/td&gt;
          &lt;td class=&quot;table__cell unit series-range-average&quot;&gt;4060&lt;/td&gt;
          &lt;td class=&quot;table__cell unit series-range-low&quot;&gt;3830&lt;/td&gt;
          &lt;td class=&quot;table__cell unit series-range-high&quot;&gt;4280&lt;/td&gt;
        &lt;/tr&gt;
        &lt;tr class=&quot;table__row&quot;&gt;
          &lt;td class=&quot;table__cell category series-range-axis&quot;&gt;2019/20&lt;/td&gt;
          &lt;td class=&quot;table__cell unit series-range-average&quot;&gt;4790&lt;/td&gt;
          &lt;td class=&quot;table__cell unit series-range-low&quot;&gt;4530&lt;/td&gt;
          &lt;td class=&quot;table__cell unit series-range-high&quot;&gt;5060&lt;/td&gt;
        &lt;/tr&gt;
      &lt;/tbody&gt;
    &lt;/table&gt;
  &lt;/figure&gt;
&lt;/div&gt;</code></pre>
        <!-- /#secondTab -->

        <!-- InstanceEndEditable -->
	
 

<!-- Beta two column (top task) --> 

   </main>

</div>

<nav id="footer-nav" aria-label="Footer menu">
  <footer id="footerContainer">
    <div id="footer">
      <h2 class="visually-hidden">Footer links</h2>
      <div class="footer-links-container">
       
      </div>
    </div>
    <div id="baseStrip">
      <div id="baseStripInner">
        <p>HSE aims to reduce work-related death, injury and ill health.</p>
      </div>
    </div>
  </footer>
</nav>
<section id="lastUpdated" aria-label="Last updated">
<!-- InstanceBeginEditable name="updated" -->Updated:<!-- #BeginDate format:IS1 -->2021-03-26<!-- #EndDate --><!-- InstanceEndEditable -->
</section>
<script src="../../assets/v5-js/v5-main.min.js"></script>
<script src="../../assets/v5-js/jquery.min.js"></script> 
<script src="../../assets/v5-js/v5-footer.min.js"></script> 

	
 
<script src="../../assets/v5-js/v5-footer-slinky-js.min.js"></script> 





<div id="gutter"><!-- InstanceBeginEditable name="gutter" -->
      <!-- InstanceEndEditable --></div>

	
<!-- InstanceParam name="bodyClass" type="text" value="components" --> 
<!-- InstanceParam name="layout" type="text" value="betacontentpage" --> 
<!-- InstanceParam name="columnLayout" type="number" value="2" --> 
<!-- InstanceParam name="platform" type="text" value="v5" --> 
<!-- InstanceParam name="rdfa" type="boolean" value="false" --> 
<!-- InstanceParam name="welsh" type="boolean" value="false" --> 
<!-- InstanceParam name="homepage" type="boolean" value="true" --> 
<!-- InstanceParam name="weblite" type="boolean" value="false" --> 
<!-- InstanceParam name="feedback" type="boolean" value="true" --> 
<!-- InstanceParam name="contentType" type="text" value="default" --> 
<!-- InstanceParam name="notificationBar" type="boolean" value="false" --> 
<!-- InstanceParam name="printGuide" type="boolean" value="false" -->
</body>
<!-- InstanceEnd --></html>