@use "../../base/core/settings/spacing" as *;
@use "../../base/core/tools/spacing" as *;
@use "../../base/core/settings/colours" as *;

.tooltip {
  position: relative;
  border-bottom: 1px dashed #111;
  cursor: help;

  &:focus > :last-child,
  &:hover > :last-child,
  & :focus + :last-child {
    opacity: 1;
    transition: 0.4s 0s;
    visibility: visible;
  }

  & > :last-child {
    background-color: #ffdb58;
    border: solid 1px #f1bd00;
    border-radius: 5px;
    box-shadow:
      0 1px 2px rgba(0, 0, 0, 0.3),
      0 1px 0 rgba(255, 255, 255, 0.3) inset;
    color: #3f3100;
    font-style: normal;
    font-weight: 400;
    line-height: 1.5;
    opacity: 0;
    padding: $hse-legacy-spacing-10 $hse-legacy-spacing-20;
    position: absolute;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
    transition: 0.2s 0s;
    visibility: hidden;
    width: 275px;
    z-index: 999;

    * {
      max-width: 100%;
    }

    &:after,
    &:before {
      border: solid 11px;
      content: "";
      display: block;
      margin: 0 $hse-legacy-spacing-20;
      position: absolute;
    }

    &:after {
      border-color: #ffdb58;
    }

    &:before {
      border-color: #f1bd00;
    }
  }

  &.tooltipToolbox > :last-child {
    bottom: 100%;
    margin-bottom: 15px;
    right: 0;

    &:after {
      margin-top: -1px;
    }

    &:after,
    &:before {
      border-bottom-color: #f1bd00;
      border-left-color: #f1bd00;
      border-right-color: #f1bd00;
      right: 0;
      top: 100%;
    }

    &:before {
      margin-top: 0;
    }
  }
}

.ie8 .tooltip span {
  display: none;
}

.ie8 .tooltip:focus span,
.ie8 .tooltip:hover span {
  display: block;
  background-color: #ffdb58;
  border-color: #f1bd00;
  color: #3f3100;
  position: absolute;
  top: -9.5em;
  right: 0;
  width: 275px;
  padding: 5px $hse-legacy-spacing-10;
  z-index: 999;
}
