@mixin ds_colwidth($columns: 1, $total: 12, $hse-legacy-spacing-20: $grid-gap-x) {
    width: calc(100% * #{$columns/$total} - #{$hse-legacy-spacing-20});
}

@mixin ds_colpush($columns: 1, $total: 12) {
    margin-left: calc(100% * #{$columns/$total});
}

@mixin ds_colpull($columns: 1, $total: 12) {
    margin-left: calc(100% * #{$columns/$total} * -1);
}

@mixin ds_layout($hse-legacy-spacing-20: $grid-gap-x, $sub: false) {
    @if $sub {} @else {
        margin-right: #{$hse-legacy-spacing-20 * -1};
    }
    overflow: hidden;

    > * {
        margin-right: $hse-legacy-spacing-20;
    }

    @supports (display: grid) {
        display: grid;
        grid-gap: 0 $hse-legacy-spacing-20;
        margin-right: 0;
        overflow: visible;

        > * {
            margin-left: 0;
            margin-right: 0;
            width: auto !important;
        }
    }
}




/// legacy non-prefixed names
@mixin colwidth($columns: 1, $total: 12, $hse-legacy-spacing-20: $grid-gap-x) {
    @include ds_colwidth($columns, $total, $hse-legacy-spacing-20);
}

@mixin colpush($columns: 1, $total: 12) {
    @include ds_colpush($columns, $total);
}

@mixin colpull($columns: 1, $total: 12) {
    @include ds_colpull($columns, $total);
}

@mixin layout($hse-legacy-spacing-20: $grid-gap-x, $sub: false) {
    @include ds_layout($hse-legacy-spacing-20, $sub);
}
