{% from "macros/form-container.njk" import formContainer -%}
{% from "macros/cards.njk" import cards -%}
{% from "macros/example-grid.njk" import exampleGrid -%}
{% from "macros/hero.njk" import hero %}

{% macro blocks(components) %}
  {% for row, items in components.objects | groupby("row") %}
    {% for item in items %}
      <div class="row {{components.className}}">
        <div class="block component-container">
          <div data-span="{{components.grid}}">
            {% if components.type == 'hero' %}
              {{ hero(components) }}
            {% elif components.type == 'exampleGrid' %}
              {{exampleGrid(components)}}
            {% elif components.type == 'cards' %}
              {{cards(components)}}
            {% elif components.type == 'form' %}
              {{ formContainer(components, components.childObjects) }}
            {% endif %}
          </div>
        </div>
      {% endfor %}
    </div>
  {% endfor %}
{% endmacro %}