{% macro hero(item) %}
  <div class="hero">
    <div class="hero__inner">
      {% for item in item.objects %}
        <h2>{{item.title}}</h2>
        <p>{{item.copy}}</p>
        {% for image in item.images %}
          <picture>
            <img srcset="{{image.desktop}}" alt="{{image.alt_text}}"/>
          </picture>
        {% endfor %}
      {% endfor %}
    </div>
  </div>
{% endmacro %}