h1 {
margin: 0 0 0.5em 0;
}
h2 {
margin: 0 0 0.5em 0;
}

h3 {
margin: 0 0 0.5em 0;
}
h4 {
margin: 0 0 0.5em 0;
}



// Headings top task

.v6 .aside h2, .v6 .aside h3 {
  margin: 0 0 15px !important;
}

.v6 .articleList h3, .v6 .articleList h4 {
  margin: 0 0 5px !important;
}

.v6 .guidanceList h3, .v6 .guidanceList h4 {
  margin: 0 0 5px !important;
}
