@use "../tools/spacing" as *;

h1,
h2,
h3,
h4,
h5,
h6,
ul,
ol,
dl,
blockquote,
p,
address,
table,
fieldset,
figure,
pre {
  margin: 0 0 1em;
}

// Page contents padding

.hse-page-contents,
.hse-page-contents--fullWidth,
.sideNavigation {
  @include hse-responsive-padding(6, "top");
  @include hse-responsive-padding(6, "bottom");
}

.hse-page-header {
  @include hse-responsive-padding(6, "top");
}

.sideNavigation .hse-page-contents,
.twoThirdsOneThird .hse-page-contents {
  padding-top: 0;
}

// remove top padding for page container on homepage

.home {
  .hse-page-contents--fullWidth {
    padding-top: 0;
    padding-bottom: 0;
  }
}
