/* ==========================================================================
   STYLES / #TYPOGRAPHY
   ========================================================================== */

/* Headings */

@use "../tools/typography" as *;
@use "../settings/globals" as *;
@use "../settings/colours" as *;
@use "../tools/spacing" as *;
@use "../tools/sass-mq" as *;



/* XL Heading */
%hse-heading-xl {
  display: block;
  font-weight: $hse-font-bold;
  margin-top: 0;

  @include hse-typography-responsive(48);
  @include hse-responsive-margin(7, "bottom");
}

h1 { 
  color: $color_hse-red;
}

h1,
.hse-heading-xl {
  @extend %hse-heading-xl;
}

/* L Heading */
%hse-heading-l {
  display: block;
  font-weight: $hse-font-bold;
  margin-top: 0;

  @include hse-typography-responsive(32);
  @include hse-responsive-margin(4, "bottom");
}

h2,
.hse-heading-l {
  @extend %hse-heading-l;
}

/* M Heading */
%hse-heading-m {
  display: block;
  font-weight: $hse-font-bold;
  margin-top: 0;

  @include hse-typography-responsive(24);
  @include hse-responsive-margin(4, "bottom");
}

h3,
.hse-heading-m {
  @extend %hse-heading-m;
}

/* S Heading */
%hse-heading-s {
  display: block;
  font-weight: $hse-font-bold;
  margin-top: 0;

  @include hse-typography-responsive(22);
  @include hse-responsive-margin(4, "bottom");
}

h4,
.hse-heading-s {
  @extend %hse-heading-s;
}

/* XS Heading */
%hse-heading-xs {
  display: block;
  font-weight: $hse-font-bold;
  margin-top: 0;

  @include hse-typography-responsive(19);
  @include hse-responsive-margin(4, "bottom");
}

h5,
.hse-heading-xs {
  @extend %hse-heading-xs;
}

/* XXS Heading */
%hse-heading-xxs {
  display: block;
  font-weight: $hse-font-bold;
  margin-top: 0;

  @include hse-typography-responsive(19);
  @include hse-responsive-margin(4, "bottom");
}

h6,
.hse-heading-xxs {
  @extend %hse-heading-xxs;
}

/* Captions */
.hse-caption-xl {
  color: $hse-secondary-text-color;
  display: block;
  margin-bottom: hse-spacing(1);

  @include hse-font(32);
}

.hse-caption-l {
  color: $hse-secondary-text-color;
  display: block;
  margin-bottom: hse-spacing(1);

  @include hse-font(24);
}

.hse-caption-m {
  color: $hse-secondary-text-color;
  display: block;

  @include hse-font(19);
}

.hse-caption--bottom {
  margin-bottom: hse-spacing(0);
  margin-top: hse-spacing(1);
}

/* Body (paragraphs) */
%hse-body-l {
  display: block;
  margin-top: 0;

  @include hse-typography-responsive(24);
  @include hse-responsive-margin(5, "bottom");
}

.hse-body-l {
  @extend %hse-body-l;
}

%hse-body-m {
  display: block;
  margin-top: 0;

  @include hse-typography-responsive(19);
  @include hse-responsive-margin(4, "bottom");
}

p,
.hse-body-m,
.accordion__heading {
  @extend %hse-body-m;
  color: inherit;
}

%hse-body-s {
  display: block;
  margin-top: 0;

  @include hse-typography-responsive(16);
  @include hse-responsive-margin(4, "bottom");
}

.hse-body-s {
  @extend %hse-body-s;
}

address {
  @extend %hse-body-m;
  font-style: normal;
}

/* Lede text */
.hse-lede-text {
  line-height: 1.5 !important;

  @include hse-font(24);
  @include hse-responsive-margin(7, "bottom");

  p,
  ul {
    @include hse-font(24);
  }
}

.hse-lede-text--small {
  @include hse-font(19);
  @include hse-responsive-margin(5, "bottom");
}

h1 + .hse-lede-text,
h1 + .hse-lede-text--small {
  margin-top: -(hse-spacing(2));
}

/* Contextual adjustments */
%hse-body-l + %hse-heading-l {
  padding-top: hse-spacing(1);

  @include mq($from: tablet) {
    padding-top: hse-spacing(2);
  }
}

%hse-body-m + %hse-heading-l,
%hse-body-s + %hse-heading-l,
%hse-list + %hse-heading-l {
  @include hse-responsive-padding(4, "top");
}

%hse-body-m + %hse-heading-m,
%hse-body-s + %hse-heading-m,
%hse-list + %hse-heading-m,
%hse-body-m + %hse-heading-s,
%hse-body-s + %hse-heading-s,
%hse-list + %hse-heading-s {
  padding-top: hse-spacing(1);

  @include mq($from: tablet) {
    padding-top: hse-spacing(2);
  }
}

.hse-lede-text + %hse-heading-l {
  padding-top: 0;
}

/* Font weight for <strong> and <b> */
strong,
b {
  font-weight: $hse-font-bold;
}
