// Always do @use first so this file itself knows about mq()
@use "../vendor/sass-mq" as mq-core;

// Then forward it so downstream files can access it too
@forward "../vendor/sass-mq" show mq;

// Now you can use it
@mixin govuk-media-query($args...) {
  @include mq-core.mq($args...) {
    @content;
  }
}
