// ==========================================================================
// TOOLS / #SASS-MQ
// ==========================================================================

// ✅ Modern module import
@use "../vendor/sass-mq" as *;


$sass-mq-already-included: false !default;

@if $sass-mq-already-included {
  $mq-show-breakpoints: ();
}



$sass-mq-already-included: true;

// ==========================================================================
// sass-mq helpers
// ==========================================================================

@mixin govuk-media-query($args...) {
  @include mq($args...) {
    @content;
  }
}
