/*doc
---
title: Input (password)
name: b-forms-a-input-password
category: Page features - Form elements
---

```html_example
<form>
    <div class="form-group">
        <label class="label">Create a password</label>
        <span class="hint">
            Your password must contain 8 or more characters that are of at least one number
        </span>
        <input class="input" type="password" id="password" name="password" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}" title="Must contain at least one number and one uppercase and lowercase letter, and at least 8 or more characters">
        <input class="btn btn-green" type="submit">
    </div>
</form>
```

*/
