/*doc
---
title: Input (text)
name: b-forms-a-input
category: Page features - Form elements
---

```html_example
<div class="form-group">
    <label class="label" for="fistNname">
        First name
    </label>
    <input class="input" id="fistNname" name="fistNname" type="text">
</div>
```

*/

.input {
  @extend %form-elem-cosmetics;
}

.input-full {
  width: 100%;
}
