/* ==========================================================================
   COMPONENTS/ #ACTION-LINK
   ========================================================================== */

/**
 * 1. Display is inline-block so the top and bottom margins/paddings are
 *    respected.
 * 2. 'Random number' is used to properly have sufficient space between icon
 *    and text.
 * 3. Position is relative so the arrow icon can display absolute.
 * 4. Text decoration none used to override default <a> styling.
 * 5. Box shadow 8px used instead of the default 4px.
 * 6. Text decoration underline used to override default <a> styling.
 */

@use "../../base/core/tools/focused" as *;
@use "../../base/core/settings/spacing" as *;
@use "../../base/core/tools/spacing" as *;
@use "../../base/core/settings/typography" as *;
@use "../../base/core/tools/typography" as *;
@use "../../base/core/settings/globals" as *;
@use "../../base/core/settings/colours" as *;
@use "../../base/core/tools/sass-mq" as *;
@use "../../base/core/tools/mixins" as *;


 .hse-action-link {
    @include hse-responsive-padding(3, "top");
    @include hse-responsive-padding(3, "bottom");
  }

  .hse-width-container--full {
    .hse-action-link {
    margin-bottom: 0;
    }  
  }
  // .hse-action-link__menu {
  //   // @include hse-font(16);
  //   // font-weight: 700;
  //   // padding-left: 28px;
  // }
  .hse-action-link__link {
    display: inline-block; /* [1] */
    padding-left: 38px; /* [2] */
    position: relative; /* [3] */
    text-decoration: none; /* [4] */
    @include hse-font($size: 22, $weight: bold);
    &--menu {
      padding-left: 28px;
    @include hse-font($size: 16, $weight: bold);
      .hse-icon__arrow-right-circle {
        top: 2px !important;
      }
    }
    &--white {
      color: $color_hse-white;
    }
  
    &:hover {
      .hse-action-link__text {
        text-decoration: underline; /* [6] */
      }
    }
  
    &:focus {
      @include hse-focused-text();
  
      &:hover {
        .hse-action-link__text {
          color: $hse-focus-text-color;
          text-decoration: none;
        }
      }
    }
  
    @include mq($until: tablet) {
      padding-left: 26px; /* [2] */
    }
  
    @include mq($media-type: print) {
      color: $hse-print-text-color;
  
      &:visited {
        color: $hse-print-text-color;
      }
    }

    .hse-icon__arrow-right-circle {
      fill: $color_hse-red;
      height: 36px;
      left: -3px;
      position: absolute;
      top: -2px;
      width: 36px;
      @include print-color($hse-print-text-color);
      &--small {
        height: 26px;
        width: 26px;
      }
      &--white {
        fill: $color_hse-white;
      }
  
      @include mq($until: tablet) {
        height: 24px;
        left: -2px;
        margin-bottom: 0;
        top: 2px;
        width: 24px;
      }
    }
  }