ul.progressbar {
	margin:0;
	padding:2px;

}

ul.progressbar .done {
	background-color: #FFDDDD;

	}
	
ul.progressbar .active {
	background-color: #FF7D87;
	font-weight: bold;
	}

ul.progressbar li {

	background:none;
	list-style-type: none;
	float:left;
	margin: 0 0 7px 7px;
	text-align:center;
	width:5%;
	padding:3px 2px;
	border: 1px;
	border-color: #CCCCCC;
	border-style: solid;
	display: inline;

	}

ul.progressbar li a {
	font-size: large;
	color: #990000;
	}
	
ul.progressbar .active a {
	font-weight: bold;
	color:#000000;
	}
  
    
ul.listhorizontal li.first {
	border:none;
	padding-right:0.6em;
	border-left-style: none;
}
ul.listhorizontal {margin:1em 0 2em 0;}
ul.listhorizontal li {background:none; margin:0; padding:0 0.6em; display: inline; border-left-width: 1px; border-left-style: solid;}



