ul.managing-delivery-progress{
  display: block;
  margin: 1em 0 !important;
  padding: 0;
  list-style: none;
  list-style-position: none;
/*  border: 1px solid #A50532;*/
}
ul.managing-delivery-progress:before, ul.managing-delivery-progress:after{
  content: '';
  display: table;
}
ul.managing-delivery-progress:after{
  clear: both;
}
ul.managing-delivery-progress li{
  display: block;
  float: left;
  margin: 0;
  padding: 0;
  width: 25%;
  background-image: none;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  text-align: center;
}
ul.managing-delivery-progress li a{
  margin: 0;
  padding: 0.3em 0;
  display: block;
  border: 1px solid #A50532;
  background-color: #E8E8E8;
  color: #000000;
  font-size: 1.2em;
  text-decoration: none !important;
}
ul.managing-delivery-progress li a.active{
  background-color: #ffffff;
}