/* Custom style sheet for Statistics homepage - Built by Phil Lennon */

.boxNoBackgroundBorder {
    padding-left: 0!important;
    padding-right: 0!important;
    border-radius: 0!important;
    background-color: transparent!important;
    background-image: none!important;
    -pie-background: 0 0;
	outline: solid thin #CCC;
}

.center-text {
	text-align:center
	}
	
.float-left-icon {
	float:left;
	margin-right:5px;
	}	