/*doc
---
title: Accordion
name: z-site-d-accordion
category: Page features - Accordion
---

Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.

```html_example
<div class="accordion-container">
    <div class="accordion-item hide">
        <h2 class="accordion-heading heading-s">Aliquip est pariatur</h2>
        <div class="accordion-content">
            <div>
                <p>Sunt sint proident aliquip elit mollit quis deserunt amet deserunt.</p>
            </div>
        </div>
    </div>
    <div class="accordion-item hide">
        <h2 class="accordion-heading heading-s">Amet ut reprehenderit</h2>
        <div class="accordion-content">
            <div>
                <p>Eu ipsum sunt excepteur fugiat.</p>
            </div>
        </div>
    </div>
    <div class="accordion-item hide">
        <h2 class="accordion-heading heading-s">Tempor et irure in enim</h2>
        <div class="accordion-content">
            <div>
                <p>Incididunt deserunt excepteur excepteur do tempor ullamco qui ut do aute tempor non ex.</p>
            </div>
        </div>
    </div>
</div>
```

*/

.accordion-container {
  margin: $dp 0;
}

.accordion-heading {
  position: relative;
  cursor: pointer;
  font-weight: 700;
  padding: rvr(0.75) 0;
  margin: 0;
  border-bottom: 1px solid $mono-c;

  &:before {
    content: '\2212';
    display: block;
    position: absolute;
    right: 10px;
    top: 50%;
    font-size: 30px;
    transform: translateY(-50%);
    color: $mono-a;
  }
}

.accordion-item.hide .accordion-heading {
  &:before {
    color: $mono-a;
    content: '\002B';
  }
}

.accordion-content {
  overflow: hidden;
  -webkit-transition: 0.5s height;
  transition: 0.5s height;
  height: 0;
  box-sizing: border-box;

  div {
    // @include font($size: 14);
    padding-top: rvr(0.75);
  }
}
