
.hse-feedback {
  @include clearfix();
  @include mq($media-type: print) {
    display: none;
  }
}

.feedback-container {
  background: $color_hse-grey-4;
  border-top: 1px solid $color_hse-grey-2;
    @include mq($media-type: print) {
     border-top: none;
  }
}

#feedback {
  max-width: $hse-page-width;
  margin: 0 auto;
}

.hse-feedback__prompt {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  // remove margins from buttons
  button {
  margin: 0;
  }
  @include mq($from: tablet) {
  flex-direction: row;
  padding: 0;
  }
  @include mq($from: desktop) {
  justify-content: space-between;
  }

  background: $color_hse-grey-4;
  &.js-feedback-open
  {
    background: white;
    }
}

.hse-section--feedback:has(.js-feedback-open) {
background: white;
}

.hse-section--feedback .hse-feedback__prompt {
  background: inherit;
  border-top: none;
}

.hse-feedback__prompt-link {
box-shadow: 0 3px 0 #0b0c0c;
}

.hse-feedback__prompt-link.btn {
background: none;
border: 1px solid $color_hse-grey-2; 
}

.hse-feedback__prompt-questions-answers, .hse-feedback__report-a-problem {
display: flex;
padding: 10px;
align-items: center;
.btn {
  margin: 0;
  }
@include mq($from: desktop) {
  margin: 10px 32px;
  padding: 0;
  }
@include mq($from: hse-desktop) {
  margin: 10px 0;
  padding: 0;
  }
}


.fieldset {
&.report-a-problem-form__questions, &.report-a-problem-form__hidden-fields {margin: 0;}
}

.hse-feedback__report-a-problem button.btn-secondary {
margin: 0;
}

.hse-feedback__prompt-question {
margin: 0;
margin-right: 10px;
@include hse-font(16);
}

.feedback-links a {
  padding: 5px;
  text-decoration: underline;
}

.feedback-links a:hover,
.feedback-links a:visited,
.feedback-links a:active {
  border: 1px solid white;
  padding: 4px;
  text-decoration: none;
  color: white;
}

.help-improve {
  background-color: white;
  padding: 10px;
  margin-top: 10px;
}

.help-improve p {
  color: #111;
}

.help-improve a {
  color: #014a82;
}

.feedback-survey,
.report-a-problem-form {
  width: 100%;
  position: relative;
  overflow-y: hidden;
  float: left;
  display: none;
  .hse-fieldset__heading {
  font-weight: 600;
  }
  &.survey-in {
    display: flex;
  }

  &.survey-show {
    transform: translateY(0);
  }
}

.feedback-survey__inner {
  width: 100%;
  height: 100%;
  margin: 0 auto;
  bottom: 0;
  left: 50%;
}

.questionaire {
  padding: 25px 10px;
  width: 100%;
  min-height: 200px;
}

.question-caption,
.question-text {
  font-size: 16px;
  color: #000;
}
.question-caption {
  margin: 0;
  color: #000;
}
p.question-hint {
  font-size: 12px;
  color: #4b4b4b;
}

.question {
  position: relative;
  display: none;

  &.active {
    display: block;
  }

  &-text {
    font-weight: 700;
  }
}

.survey-thankyou {
  text-align: center;
  p {
    font-weight: 700;
  }
}

.question-list__list {
  margin: 10px 0;
  padding: 0;
  font-size: 0 !important;
}

.question-list__item {
  display: inline-block;
  padding: 0;
  margin-right: 15px;

  &:last-of-type {
    margin-right: 0;
  }

  button {
    appearance: none;
    border: 0;
    font-size: 16px;
    padding: 10px $hse-legacy-spacing-20;
    background-color: $yes;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;

    &:focus {
      outline: none;
      background-color: #fd0;
      color: $hse-text-color;
    }
  }
}

.feedback {
  background: $color_hse-grey-4;
  border-top: 1px solid $color_hse-grey-3; 
}

.feedback-message-active {
  margin-top: 0 !important;
}

.report-a-problem-container {
  text-align: center;
}

.report-a-problem-form {
  width: 100%;
  margin: 0 auto;
  display: none;
}

.report-a-problem-form form {
  clear: both;
}

.show {
  display: flex;
}

.js-hide {
  display: none !important;
}

.feedback__report-problem-alert {
  background: $color_hse-grey-4;
  padding: $hse-legacy-spacing-10;
}

