<!DOCTYPE html>
<html lang="en-GB">
	<!-- InstanceBegin template="/Templates/dev-kit.dwt" codeOutsideHTMLIsLocked="false" -->
	<head>

		<!-- Anti-flicker snippet (recommended) If installing optimise with GTM, specifcy GTM container ID  -->

		<script id="anti-flicker">
			(function (a, s, y, n, c, h, i, d, e) {
				s.className += ' ' + y;
				h.start = 1 * new Date;
				h.end = i = function () {
					s.className = s
						.className
						.replace(RegExp(' ?' + y), '')
				};
				(a[n] = a[n] || []).hide = h;
				setTimeout(function () {
					i();
					h.end = null
				}, c);
				h.timeout = c;
			})(window, document.documentElement, 'async-hide', 'dataLayer', 4000, {'GTM-PJPWMNL': true});
		</script>

		<!-- GTM -->

		<script>
			(function (w, d, s, l, i) {
				w[l] = w[l] || [];
				w[l].push({'gtm.start': new Date().getTime(), event: 'gtm.js'});
				var f = d.getElementsByTagName(s)[0],
					j = d.createElement(s),
					dl = l != 'dataLayer'
						? '&l=' + l
						: '';
				j.async = true;
				j.src = 'https://www.googletagmanager.com/gtm.js?id=' + i + dl;
				f
					.parentNode
					.insertBefore(j, f);
			})(window, document, 'script', 'dataLayer', 'GTM-PJPWMNL');
		</script>

		<meta charset="utf-8">

		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<!-- v5.1.1 -->

		<link rel="stylesheet" href="../../assets/v5-css/v5.min.css" type="text/css" media="screen,print"/>
		<style>
			#globalSearch {
				display: none;
			}
		</style>

		<!-- Page title and meta -->

		<!-- InstanceBeginEditable name="doctitle" -->
		<title>Drop-down - HSE.GOV.UK Design System</title>
		<!-- InstanceEndEditable -->
		<meta name="HSE.contentType" content="default"/>
		<link rel="shortcut icon" href="../../favicon.ico"/>
		<link rel="apple-touch-icon" href="../../assets/v4-images/shared/apple-touch-icon.png"/>
		<link rel="home" href="../../index.htm"/>

		<!-- ie 11 fix for left-hand navigation -->
		<script src="https://cdn.polyfill.io/v2/polyfill.min.js"></script>

	</head>
	<body class="components normalFont">

		<!-- GTM -->

		<noscript aria-hidden="true" aria-label="GTM-PJPWMNL">
			<iframe title="GTM-PJPWMNL" src="https://www.googletagmanager.com/ns.html?id=GTM-PJPWMNL" height="0" width="0" style="display:none;visibility:hidden" aria-hidden="true"></iframe>
		</noscript>
		<section id="top" aria-label="Skip to content">
			<a href="#contentContainer" class="skip">Skip to content</a>
		</section>

		<section id="printBanner" aria-label="Print banner">
			<img src="../../assets/v4-images/website/print/print-logo.jpg" width="193" height="65" alt="Health and Safety Executive" id="printLogo"/>
		</section>
		<header id="headerContainer">
			<div id="header">
				<div class="headerTop header js-header">

					<div id="headerLogo" class="headerLogo">
						<a href="../../index.htm">Health and Safety<br/>
        Executive</a>
					</div>

					<div id="globalSearch" class="desktop-gcs-search">
						<gcse:searchbox-only></gcse:searchbox-only>
					</div>
				</div>

				<!-- JS Main Navigation -->

				<div class="menuContainer">
					<nav id="main-menu"  class="menu js-menu">
						<ul>
							<li class="home">
								<a href="../../index.htm">Design system</a>
							</li>
							<li class="style">
								<a href="../../style/index.htm">Styles</a>
							</li>
							<li class="components">
								<a href="../index.htm">Components</a>
							</li>
							<li class="patterns">
								<a href="../../patterns/index.htm">Patterns</a>
							</li>
							<li class="template">
								<a href="../../framework/index.htm">Framework</a>
							</li>
						</ul>
					</nav>
				</div>
			</div>
		</header>

		<nav id="breadCrumb" aria-label="Previous pages:">
			<div class="breadCrumbContainer">
				<!-- InstanceBeginEditable name="Breadcrumbs" -->
				<ol>
					<li class="home">
						<a href="../../index.htm">Design System</a>
					</li>
					<li>
						<a href="../index.htm">Components</a>
					</li>
					<li>Drop down</li>
				</ol>
				<!-- InstanceEndEditable -->
			</div>
			<div id="backTo">
				<p class="backto">
					<a id="backnav" href="index.htm">Back to</a>
				</p>
			</div>
		</nav>

		<div id="pageContainer" class="v5" xmlns:argot="http://purl.oclc.org/argot/" xmlns:dc="http://purl.org/dc/terms/" xmlns:foaf="http://xmlns.com/foaf/0.1/" xmlns:v="http://www.w3.org/2006/vcard/ns#" xmlns:dbp="http://dbpedia.org/resource/">
			<!-- InstanceBeginEditable name="beta-survey" -->

			<!-- InstanceEndEditable -->

			<!-- Beta content page -->

			<nav id="navSecondary" aria-label="Secondary">
				<!-- InstanceBeginEditable name="Subnav" --><!-- #BeginLibraryItem "/Library/_v5-components.lbi" --><div id="menu" class="slinky-menu slinky-theme-default">
<ul>
    <li class="first"><a href="../index.htm">Components</a></li>
	<li><a href="../accordion.htm">Accordion</a></li>
	<li><a href="../boxes.htm">Boxes</a></li>
	<li><a href="#">Charts (JS)</a>
		<ul>
			<li><a href="../charts/index.htm">Overview</a></li>
			<li><a href="../charts/data-attributes.htm">Data attributes</a></li>
			<li><a href="../charts/pie-chart.htm">Pie chart</a></li>
			<li><a href="../charts/donut-chart.htm">Donut chart</a></li>
			<li><a href="../charts/line-chart.htm">Line chart</a></li>
			<li><a href="../charts/bar-chart.htm">Bar chart</a></li>
			<li><a href="../charts/bar-stacked-chart.htm">Bar (stacked) chart</a></li>
			<li><a href="../charts/column-chart.htm">Column chart</a></li>
			<li><a href="../charts/column-stacked-chart.htm">Column (stacked) chart</a></li>
			<li><a href="../charts/arearange-chart.htm">Area range chart</a></li>
			<li><a href="../charts/dual-chart.htm">Dual charts</a></li>
			<li><a href="../charts/missing-data.htm">Missing data</a></li>
			<li><a href="../charts/confidence-intervals.htm">Confidence Intervals</a></li>
			<li><a href="../charts/plot-bands.htm">Plot bands</a></li>
		</ul>
	</li>
	<li><a href="../dialog.htm">Dialog box</a></li>
	<li><a href="#">Forms</a>
		<ul>
			<li><a href="index.htm">Overview</a></li>
		    <li><a href="buttons.htm">Buttons</a></li>
			<li><a href="inputs.htm">inputs</a></li>
			<li><a href="input-sizes.htm">Input sizes</a></li>
			<li><a href="form-validation.htm">Form validation</a></li>
			<li><a href="checkboxes.htm">Checkboxes</a></li>
			<li><a href="dates.htm">Dates</a></li>
			<li><a href="radios.htm">Radios</a></li>
			<li><a href="switch.htm">Switch</a></li>
			<li><a href="textarea.htm">Text area</a></li>
		    <li><a href="buttons.htm">Buttons</a></li>
			<li><a href="drop-down.htm">Drop-down list (Input)</a></li>
			<li><a href="subscribe.htm">Subscribe (Input)</a></li>
		</ul>
	</li>
	<li><a href="../images.htm">Images</a></li>
	<li><a href="../lightbox.htm">Lightbox (JS)</a></li>
    <li><a href="../tables.htm">Table</a></li>
	<li><a href="../tabs.htm">Tabs (JS)</a></li>
	<li><a href="../video.htm">Video (Embed)</a></li>
	<li><a href="#">Homepage</a>
	 <ul>
	  <li><a href="../homepage/index.htm">Overview</a></li>
	  <li><a href="../homepage/banner.htm">Banner</a></li>
	 </ul>
	</li>
	<li><a href="#">Navigation</a>
	 <ul>
	  <li><a href="../navigation/index.htm">Overview</a></li>
	  <li><a href="../navigation/a-z.htm">A-Z</a></li>
	  <li><a href="../navigation/pagination.htm">Pagination</a></li>
	 </ul>
	</li>
 </ul>
</div><!-- #EndLibraryItem --><!-- InstanceEndEditable -->
			</nav>

			<main id="contentContainer" class="columnbetacontentpage column2">

				<!-- InstanceBeginEditable name="content" -->
				<h1>Drop-down list (Select)</h1>

				<div class="box">
					<ul class="ddmswitch" title="Components" id="componentsDropdown">
						<li>
							<a href="../index.htm">Components</a>
						</li>
						<li>
							<a href="../accordion.htm" title="Accordion">Accordion</a>
						</li>
						<li>
							<a href="../boxes.htm" title="Boxes">Boxes</a>
						</li>

					</ul>

					<ul class="ddmswitch" title="Template" id="templateDropdown">
						<li>
							<a href="../index.htm">Template</a>
						</li>
						<li>
							<a href="../../template/index.htm" title="Components">Components</a>
						</li>
						<li>
							<a href="../../template/breadcrumbs.htm" title="Breadcrumbs">Breadcrumbs</a>
						</li>

					</ul>
				</div>
				<!-- InstanceEndEditable -->

				<!-- Beta two column (top task) -->

			</main>

		</div>

		<nav id="footer-nav" aria-label="Footer menu">
			<footer id="footerContainer">
				<div id="footer">
					<h2 class="visually-hidden">Footer links</h2>
					<div class="footer-links-container"></div>
				</div>
				<div id="baseStrip">
					<div id="baseStripInner">
						<p>HSE aims to reduce work-related death, injury and ill health.</p>
					</div>
				</div>
			</footer>
		</nav>
		<section id="lastUpdated" aria-label="Last updated">
			<!-- InstanceBeginEditable name="updated" -->Updated:<!-- #BeginDate format:IS1 -->2021-03-17<!-- #EndDate --><!-- InstanceEndEditable --></section>
		<script src="../../assets/v5-js/v5-main.min.js"></script>
		<script src="../../assets/v5-js/jquery.min.js"></script>
		<script src="../../assets/v5-js/v5-footer.min.js"></script>

		<script src="../../assets/v5-js/v5-footer-slinky-js.min.js"></script>

		<div id="gutter">
			<!-- InstanceBeginEditable name="gutter" -->
			<!-- InstanceEndEditable -->
		</div>

		<!-- SiteImprove JS -->
		<script type="text/javascript">
			/* <![CDATA[ */
			(function () {
				var sz = document.createElement('script');
				sz.type = 'text/javascript';
				sz.async = true;
				sz.src = '//siteimproveanalytics.com/js/siteanalyze_6798.js';
				var s = document.getElementsByTagName('script')[0];
				s
					.parentNode
					.insertBefore(sz, s);
			})();
			/* ]]> */

			// removes cellspacing & cellpadding attributes from GCS (Assesibility fix)
			window.onload = function () {

				var searchTable = document.querySelector('table.gsc-search-box');
				var searchTable2 = document.querySelector('table.gsc-input');
				var searchTable3 = document.querySelector('table.gssb_c');
				var searchInput = document.querySelector('input.gsc-input');

				searchTable.removeAttribute('cellpadding');
				searchTable2.removeAttribute('cellpadding');
				searchTable3.removeAttribute('cellpadding');
				searchInput.removeAttribute('cellpadding');

				searchTable.removeAttribute('cellspacing');
				searchTable2.removeAttribute('cellspacing');
				searchTable3.removeAttribute('cellspacing');
				searchInput.removeAttribute('cellspacing');
			};
		</script>

		<!-- InstanceParam name="bodyClass" type="text" value="components" -->
		<!-- InstanceParam name="layout" type="text" value="betacontentpage" -->
		<!-- InstanceParam name="columnLayout" type="number" value="2" -->
		<!-- InstanceParam name="platform" type="text" value="v5" -->
		<!-- InstanceParam name="rdfa" type="boolean" value="false" -->
		<!-- InstanceParam name="welsh" type="boolean" value="false" -->
		<!-- InstanceParam name="homepage" type="boolean" value="true" -->
		<!-- InstanceParam name="weblite" type="boolean" value="false" -->
		<!-- InstanceParam name="feedback" type="boolean" value="true" -->
		<!-- InstanceParam name="contentType" type="text" value="default" -->
		<!-- InstanceParam name="notificationBar" type="boolean" value="false" -->
		<!-- InstanceParam name="printGuide" type="boolean" value="false" -->
	</body>
	<!-- InstanceEnd -->
</html>