<!DOCTYPE html>
<html lang="en-GB"><!-- InstanceBegin template="/Templates/dev-kit.dwt" codeOutsideHTMLIsLocked="false" -->
<head>

<meta charset="utf-8">
	



<meta name="viewport" content="width=device-width, initial-scale=1.0">
<!-- v5.1.1 -->



<link rel="stylesheet" href="../../assets/v5-css/v5.min.css" type="text/css" media="screen,print" />
<style>
#globalSearch {
display: none;
}	
</style>



<!-- Page title and meta -->
	
<!-- InstanceBeginEditable name="doctitle" -->
    <title>Radios - Form elements - Components - Design System</title>
    <meta name="Description" content="HSE's job is to protect people against
      risks to health or safety arising out of work activities. Provides advice,
      guidance, regulations and inspections."/>
    <meta name="Keywords" content="HSE, health and safety executive,
      occupational ill-health, occupational health and safety, accident, safety,
      employee safety, health and safety at work act, law"/>
    <!-- Custom CSS -->
    <!-- InstanceEndEditable -->
<meta name="HSE.contentType" content="default" />
<link rel="shortcut icon" href="../../favicon.ico" />
<link rel="apple-touch-icon" href="../../assets/v4-images/shared/apple-touch-icon.png" />
<link rel="home" href="../../index.htm" />


<!-- ie 11 fix for left-hand navigation --> 
<script src="https://cdn.polyfill.io/v2/polyfill.min.js"></script>


</head>
<body class="patterns normalFont">

<section id="top" aria-label="Skip to content">  <a href="#contentContainer" class="skip">Skip to content</a>  </section>
 
<section id="printBanner" aria-label="Print banner"> <img src="../../assets/v4-images/website/print/print-logo.jpg" width="193" height="65" alt="Health and Safety Executive" id="printLogo"/> </section>
<header id="headerContainer">
  <div id="header">
    <div class="headerTop header js-header">
		 
		<div id="headerLogo" class="headerLogo"><a href="../../index.htm">Health and Safety<br />
        Executive</a></div>
		
		 
		
      <div id="globalSearch" class="desktop-gcs-search">
        <gcse:searchbox-only></gcse:searchbox-only>
      </div>
    </div>
    
    <!-- JS Main Navigation -->
    
    <div class="menuContainer">
      <nav id="main-menu"  class="menu js-menu">
        <ul>
          <li class="home"><a href="../../index.htm">Design system</a></li>
          <li class="style"><a href="../../style/index.htm">Styles</a></li>
          <li class="components"><a href="../index.htm">Components</a></li>
          <li class="patterns"><a href="../../patterns/index.htm">Patterns</a></li>
          <li class="template"><a href="../../framework/index.htm">Framework</a></li>
        </ul>
      </nav>
    </div>
  </div>
   </header>
   
<nav id="breadCrumb" aria-label="Previous pages:">
  <div class="breadCrumbContainer"> <!-- InstanceBeginEditable name="Breadcrumbs" -->
        <ol>
          <li class="home">
            <a href="../index.htm">Design System</a>
          </li>
        </ol>
        <!-- InstanceEndEditable --> </div>
  <div id="backTo">
    <p class="backto"><a id="backnav" href="index.htm">Back to</a></p>
  </div>
</nav>
 
<div id="pageContainer" class="v5" xmlns:argot="http://purl.oclc.org/argot/" xmlns:dc="http://purl.org/dc/terms/" xmlns:foaf="http://xmlns.com/foaf/0.1/" xmlns:v="http://www.w3.org/2006/vcard/ns#" xmlns:dbp="http://dbpedia.org/resource/">
<!-- InstanceBeginEditable name="beta-survey" -->

      <!-- InstanceEndEditable -->   

<!-- Beta content page --> 

  
<nav id="navSecondary" aria-label="Secondary"> <!-- InstanceBeginEditable name="Subnav" --><!-- #BeginLibraryItem "/Library/_v5-components.lbi" --><div id="menu" class="slinky-menu slinky-theme-default">
<ul>
    <li class="first"><a href="../index.htm">Components</a></li>
	<li><a href="../accordion.htm">Accordion</a></li>
	<li><a href="../boxes.htm">Box</a></li>
	<li><a href="#">Charts (JS)</a>
		<ul>
			<li><a href="../charts/index.htm">Overview</a></li>
			<li><a href="../charts/data-attributes.htm">Data attributes</a></li>
		    <li><a href="../charts/pie-chart.htm">Pie chart</a></li>
			<li><a href="../charts/donut-chart.htm">Donut chart</a></li>
			<li><a href="../charts/line-chart.htm">Line chart</a></li>
			<li><a href="../charts/bar-chart.htm">Bar chart</a></li>
			<li><a href="../charts/bar-stacked-chart.htm">Bar (stacked) chart</a></li>
			<li><a href="../charts/column-chart.htm">Column chart</a></li>
			<li><a href="../charts/column-stacked-chart.htm">Column (stacked) chart</a></li>
			<li><a href="../charts/arearange-chart.htm">Area range chart</a></li>
			<li><a href="../charts/dual-chart.htm">Dual charts</a></li>
			<li><a href="../charts/missing-data.htm">Missing data</a></li>
			<li><a href="../charts/confidence-intervals.htm">Confidence Intervals</a></li>
			<li><a href="../charts/plot-bands.htm">Plot bands</a></li>
		</ul>
	</li>
	<li><a href="../dialog.htm">Dialog box</a></li>
	<li><a href="#">Forms</a>
		<ul>
			<li><a href="index.htm">Overview</a></li>
		    <li><a href="buttons.htm">Buttons</a></li>
			<li><a href="inputs.htm">inputs</a></li>
			<li><a href="input-sizes.htm">Input sizes</a></li>
			<li><a href="form-validation.htm">Form validation</a></li>
			<li><a href="checkboxes.htm">Checkboxes</a></li>
			<li><a href="dates.htm">Dates</a></li>
			<li><a href="radios.htm">Radios</a></li>
			<li><a href="switch.htm">Switch</a></li>
			<li><a href="textarea.htm">Text area</a></li>
			<li><a href="drop-down.htm">Drop-down list (Input)</a></li>
			<li><a href="subscribe.htm">Subscribe (Input)</a></li>
		</ul>
	</li>
	<li><a href="../images.htm">Images</a></li>
	<li><a href="../lightbox.htm">Lightbox (JS)</a></li>
    <li><a href="../tables.htm">Table</a></li>
	<li><a href="../tabs.htm">Tabs (JS)</a></li>
	<li><a href="../video.htm">Video (Embed)</a></li>
	<li><a href="#">Homepage</a>
	 <ul>
	  <li><a href="../homepage/index.htm">Overview</a></li>
	  <li><a href="../homepage/banner.htm">Banner</a></li>
	 </ul>
	</li>
	<li><a href="#">Navigation</a>
	 <ul>
	  <li><a href="../navigation/index.htm">Overview</a></li>
	  <li><a href="../navigation/a-z.htm">A-Z</a></li>
	  <li><a href="../navigation/pagination.htm">Pagination</a></li>
	 </ul>
	</li>
 </ul>
</div><!-- #EndLibraryItem --><!-- InstanceEndEditable --> </nav>

<main id="contentContainer" class="columnbetacontentpage column2">
 
	
<!-- InstanceBeginEditable name="content" -->

        <h1>Radios</h1>

        <h2>Horizontal</h2>

        <div class="form-group">
          <fieldset class="fieldset" aria-describedby="changed-name-hint">
            <legend class="fieldset__legend fieldset__legend--xl">
              <h3 class="fieldset__heading">
                  Have you changed your name?
                </h3>
            </legend>
            <span id="changed-name-hint" class="hint">
                This includes changing your last name or spelling your name
                differently.
              </span>
            <div class="radios radios--inline">
              <div class="radios__item">
                <input class="radios__input" id="changed-name"
                    name="changed-name" type="radio" value="yes">
                <label class="label radios__label" for="changed-name">
                    Yes
                  </label>
              </div>
              <div class="radios__item">
                <input class="radios__input" id="changed-name-2"
                    name="changed-name" type="radio" value="no">
                <label class="label radios__label" for="changed-name-2">
                    No
                  </label>
              </div>
            </div>
          </fieldset>
        </div>

        <h2>Vertical</h2>

        <div class="form-group">
          <fieldset class="fieldset" aria-describedby="age-consent-hint">
            <legend class="fieldset__legend fieldset__legend--xl">
              <h3 class="fieldset__heading">
                  Are you over 18 years old?
                </h3>
            </legend>
            <span id="-consent-hint" class="hint">
                By selecting yes you are confirming you are legally of age.
              </span>
            <div class="radios">
              <div class="radios__item">
                <input class="radios__input" id="age-consent"
                    name="age-consent"
                    type="radio" value="yes">
                <label class="label radios__label" for="age-consent">
                    Yes
                  </label>
              </div>
              <div class="radios__item">
                <input class="radios__input" id="age-consent-2"
                    name="age-consent"
                    type="radio" value="no">
                <label class="label radios__label" for="age-consent-2">
                    No
                  </label>
              </div>
            </div>
          </fieldset>
        </div>

        <!-- InstanceEndEditable -->
	
 

<!-- Beta two column (top task) --> 

   </main>

</div>

<nav id="footer-nav" aria-label="Footer menu">
  <footer id="footerContainer">
    <div id="footer">
      <h2 class="visually-hidden">Footer links</h2>
      <div class="footer-links-container">
       
      </div>
    </div>
    <div id="baseStrip">
      <div id="baseStripInner">
        <p>HSE aims to reduce work-related death, injury and ill health.</p>
      </div>
    </div>
  </footer>
</nav>
<section id="lastUpdated" aria-label="Last updated">
<!-- InstanceBeginEditable name="updated" --> Updated:
        <!-- #BeginDate format:IS1 -->2021-02-09<!-- #EndDate --><!-- InstanceEndEditable -->
</section>
<script src="../../assets/v5-js/v5-main.min.js"></script>
<script src="../../assets/v5-js/jquery.min.js"></script> 
<script src="../../assets/v5-js/v5-footer.min.js"></script> 

	
 
<script src="../../assets/v5-js/v5-footer-slinky-js.min.js"></script> 





<div id="gutter"><!-- InstanceBeginEditable name="gutter" -->
      <!-- InstanceEndEditable --></div>

	
<!-- InstanceParam name="bodyClass" type="text" value="patterns" --> 
<!-- InstanceParam name="layout" type="text" value="betacontentpage" --> 
<!-- InstanceParam name="columnLayout" type="number" value="2" --> 
<!-- InstanceParam name="platform" type="text" value="v5" --> 
<!-- InstanceParam name="rdfa" type="boolean" value="false" --> 
<!-- InstanceParam name="welsh" type="boolean" value="false" --> 
<!-- InstanceParam name="homepage" type="boolean" value="false" --> 
<!-- InstanceParam name="weblite" type="boolean" value="false" --> 
<!-- InstanceParam name="feedback" type="boolean" value="true" --> 
<!-- InstanceParam name="contentType" type="text" value="default" --> 
<!-- InstanceParam name="notificationBar" type="boolean" value="false" --> 
<!-- InstanceParam name="printGuide" type="boolean" value="false" -->
</body>
<!-- InstanceEnd --></html>