//
// Primary
//


$color_hse-red: #981e32;
$color_hse-dark-red: #58041b;
$color_hse-black: #212b32;
$color_hse-white: #ffffff;
$color_hse-yellow: #ffdd00;


//
// Colours
//


$color_hse-beta: #014a82;

$black: #000000;
$color_hse-white: #ffffff;


///
/// Forms
/// 

$mono-a: #333333;
$mono-b: #4f4f4f;
$mono-c: #828282;
$mono-d: #bdbdbd;
$mono-e: #e0e0e0;
$mono-f: #f2f2f2;

$yes: #005500;

///
/// Links
/// 

$hse-link-hover-color: $color_hse-dark-red;

// Focus
$hse-focus-color: $color_hse-yellow;
$hse-focus-text-color: $color_hse-black;

///
/// ?
/// 


$color_hse-blue: #005eb8;
$color_hse-green: #007f3b;
$color_hse-purple: #330072;
$color_hse-dark-pink: #7c2855;
$color_hse-yellow: #ffeb3b;
