#colmiddle ul.listql, #colmiddle  h3 {width:300px; float:left;}
#colmiddle ul.linkList {width:280px; float:left;}
#illustration {width:450px; height:385px; float:right; background:url(../../asbestos/images/building/ab0.jpg) no-repeat;}
ul.listql li p img {display:none;}
.building0 { background:url(../../asbestos/images/building/ab0.jpg) no-repeat !important;}
.building1 { background:url(../../asbestos/images/building/ab1.jpg) no-repeat !important;}
.building2 { background:url(../../asbestos/images/building/ab2.jpg) no-repeat !important;}
.building3 { background:url(../../asbestos/images/building/ab3.jpg) no-repeat !important;}
.building4 { background:url(../../asbestos/images/building/ab4.jpg) no-repeat !important;}
.building5 { background:url(../../asbestos/images/building/ab5.jpg) no-repeat !important;}
.building6 { background:url(../../asbestos/images/building/ab6.jpg) no-repeat !important;}
.building7 { background:url(../../asbestos/images/building/ab7.jpg) no-repeat !important;}
ul.listql li p {margin-top:0;display:block; font-size:110%; font-weight:bold;}
ul.listql li p a {text-decoration:none !important; border: 1px solid #F2F7EB;}
ul.listql li p a:hover, ul.listql li p a:active {color:#FF0000; border: 1px solid #FF0000;}
@media print {
ul.listql li p img {display:block;}
ul.listql li.break {page-break-before:always;}
ul.listql li p a {border:none;}
}
@media handheld {
#illustration {display:none;}
}