/* A-Z lists */

.boxAtoZ {
margin: 0 0 20px 0 !important;
padding: 0 !important;
float: left;
}

#contentContainer ul.alphabetList {
float: left;
margin: 0 !important;
}

ul.alphabetList li {
float:left;	
list-style-type: none;	
background: none;
padding-left: 0;
margin: 0 10px 10px 0;
}

ul.alphabetList li.empty span {
display: block;
font-weight: bold;
font-size: large;
border: 2px solid #f3f3f3;
padding: 10px 14px;	
text-align:center;
background-color: #fff;
color: #333;
}


ul.alphabetList li a {
display: block;
font-weight: bold;
font-size: large;
border: 2px solid #f3f3f3;
padding: 10px 14px;	
text-align:center;
background-color: #fff;
}

ul.alphabetList li a:hover {
background-color: $red;
color: white !important;
text-decoration: none !important;
}

.AtoZSelected {
color: #000 !important;
background-color: #D5D5D5 !important;
border: 1px solid #E90542 !important;
} 

dl.dlpretty {margin-top: 15px;}

// A-Z list

.listAtoZ {
float: left;
clear: both;
}

.listAtoZ h2 {
display: inline-block;
background-color: $red;
color: white;
padding: 10px 14px;
}

.listAtoZ ul li {
background: none;
}

