// BASE

.hide-notification {
display: none !important;
}

// HSE colours

$gray: #eee;
$darkgray: #c2c2c2;
$red: #981e32;
$redhover: #333333;
$darkergray: #4e4e4e;
$darkred: #58041b;
$black: #000;
$hseblack: #333333;
$body: #111;
$beta: #014a82;
$focus: #ffdd00;
$yes: #005500;

// Responsive breakpoints

$desktop: 980px;

// Background box colour
.backgroundRed {
background-color: $red !important;
}
.backgroundGray {
background-color: $gray !important;
}

.backgroundRed a, .backgroundRed h2, .backgroundRed h3, .backgroundRed p {
color: white !important;
}


// Links

a, a span {
text-decoration: underline;
}

a:link,
a:visited,
a {
color: $red;
text-decoration: underline;
}


a:hover,
a:active,
a:focus, a span.subText, a:hover span
{
text-decoration: none !important;
color: $redhover;
}



#contentContainer .linkList li {
background: none;
padding-left: 0;
}

#contentContainer .linkList {
margin: 0 0 1em 0;
}

#contentContainer .backgroundRed .linkList li a::before {
background-image: none;
padding-right: 0;
}


// Margins - Padding - Borders

.p-10 {
padding: 10px !important;
}
#contentContainer {

.noPadding {
padding: 0 !important;
}

.border:last-of-type {
border-bottom: none;
}

}

// Lists

dd {
margin: 10px 0;
}

.backgroundRed ul.listCaret li:before {
color: white;
}

#contentContainer .columnFull ul.listCaret {
margin-bottom: 0 !important;
}

#contentContainer .columnFull  ul.listCaret li {
background-image: none;
position: relative;
}


#contentContainer .backgroundRed p, #contentContainer .backgroundRed ul li  {
color: white !important;
}





#contentContainer .columnFull ul.listLinks {
margin: 0 0 15px 0px !important;
float: left;
}

#contentContainer .columnFull ul.articleList {
margin-bottom: 0 !important;
}

#contentContainer ol.multistep li {
margin-left: 15px;
padding: 0;
}

#contentContainer ul.multistep li {
padding-left: 0;
margin-left: 15px;
background: none;
}

#contentContainer ul.multistep li::before {
content: "— ";
color: $hseblack;
}
#contentContainer ul.linkArrow li {
padding-left: 0;
}

#contentContainer .linkArrow li {
display: block;
}

#contentContainer .linkArrow li a:hover {
text-decoration: underline !important;
}

@media only screen and (min-width : 992px) {

.linkArrow li {
display: block;
}

}
#contentContainer ul.listLinks li
{
background: none;
padding-left: 0;
list-style-type: none;
margin: 0;
clear: both;
float: left;
font-size: 1.1em;
}

#contentContainer ul.mostPopular li {
font-weight: 700;
}

#contentContainer .columnFull .column.noBoxPadding ul.listLinks {
margin-bottom: 10px !important;
}

#contentContainer ul.listLinks li a {
float: left;
}

#contentContainer ul.listLinks li span {
display: inline-block;
}

#contentContainer ul.listLinks p {
clear:both;
}

// Article lists

#contentContainer .article {
padding-top: 0;
padding-bottom: 0;
}

#contentContainer ul.guidanceList, #contentContainer ul.articleList {
font-size: inherit;
float: left;
}

#contentContainer ul.guidanceList li, ul.articleList li {
list-style-type: none;
background: none;
padding: 0;
@media only screen and (min-width : $desktop) {
min-height: 87px;
margin-bottom: 10px;
clear: both;
float: left;
}
}

#contentContainer .columnFull ul {
margin: 0 0 15px 0px !important;
}

.columnFull .guidanceList li {
margin-bottom: 20px !important;
}

#contentContainer ul.list li {
background: none;
list-style-type: none;
padding: 0;
}

#contentContainer .mb0 {
margin-bottom: 0;
}

// Box lists

#contentContainer ul.boxList li {
float: left;
clear: both;
width: 100%;
background: none;
background-color: $gray;
margin: 5px 0;
padding: 0;
}

#contentContainer ul.boxList li a {
width: 100%;
float: left;
padding: 10px;
}

#contentContainer ul.boxList li:hover {
background-color: $darkergray;
}

#contentContainer ul.boxList li h3 {
color: $red !important;
}



#contentContainer ul.boxList li h3 {
margin: 0;
display: inline;
}



// Main content

#contentContainer ol {
margin-bottom: 0;
}

#contentContainer .pressReleases li {
padding-bottom: 20px;
}

#contentContainer .safetyAlerts li {
list-style-type: none;
}


// Forms

input#email {
box-sizing: border-box;
padding: 5px;
}

.eBulletinButton {
background-color: $red;
color: white;
padding: 5px;
margin-top: 10px;
border: 0;
}

// Responsive images

img.featuredImg {
width: 100%;
@media only screen and (min-width : $desktop) {
min-height: 200px;
}
height: auto;
float: left;
}

img.responsiveImg {
width: 100%;
float: left;
}

#pageContainer {
margin: 20px auto;
clear: both;
}


#contentContainer {
margin: 0 !important;
// Important fix for Edge
// 81.0.416.62
//-webkit-transform: translateZ(0);
//transform: translateZ(0);
}

// Input focus fix

input.gsc-input:focus, #baseStrip ul.ddmswitch li a:focus {
outline: -webkit-focus-ring-color auto 5px !important;
outline-color: -webkit-focus-ring-color !important;
outline-style: auto !important;
outline-width: 5px !important;
}

/* V5 global styles */

.v5-inline {
display: inline-block;
}