// BASE


// Forms
input#email {
  box-sizing: border-box;
  // padding: 5px;
}

// Responsive images

picture,
img {
  height: auto;
  max-width: 100%;
  vertical-align: bottom !important;
}


img.responsiveImg {
  width: 100%;
  float: left;
  height: auto;
}



/* V5 global styles */

.v5-inline {
  display: inline-block;
}

.no-wrap {
  white-space: nowrap;
}

