#beta-user-testing  {
clear: both;
margin: 0 0 20px 0;
}

#beta-user-testing p a {
text-decoration: underline;
}
#beta-user-testing p a:hover {
text-decoration: none;
color: $hseblack;
}

/* Beta */

#beta-user-testing {
    padding: 10px;
    width: 100%;
    border: 2px solid $beta;	
    box-sizing: border-box;
        @media only screen and (min-width : $desktop) {	
        width: 940px;
        }
    }
    
    
    
    .v5 #beta-user-testing {
        @media only screen and (min-width : $desktop) {	
        width: 940px;
        }
    }
    
    .v5 #beta-user-testing p {
    margin-bottom: 0 !important;
    }
    
    .home .v5 #beta-user-testing, .news .v5 #beta-user-testing {
    margin-top: 0 !important;	
    }
    
    .beta-highlight {
    display: inline-block;
    margin: 0 8px 0 0;
    padding: 2px 5px 0;
    font-family: "nta", Arial, sans-serif;
    font-weight: 700;
    font-size: 14px;
    text-transform: uppercase;
    letter-spacing: 1px;
    text-decoration: none;
    color: #fff;
    background-color: $beta;
    font-size: 16px;
    line-height: 1.25;
    }
    
    #beta-user-testing a:link, #beta-user-testing a:visited, #beta-user-testing a:focus {
    color: $beta;	
    }
    
    #beta-user-testing p {
    font-size: 0.9rem;
    margin: 0px;
    }
    
