%button-cosmetic {
    box-sizing: border-box;
    appearance: none;
    outline: 0;
    display: inline-block;
    background-color: #eee;

    #pageContainer & {
        margin-bottom: $dp*2;
    }

    text-align: center;
    text-decoration: none;
    font-weight: 700;
    white-space: nowrap;
    vertical-align: top;

    user-select: none;
    padding: ($dp) ($dp * 3);

    border-width: $border-width;
    border-style: solid;
    border-color: transparent;
    border-radius: $button-border-radius;
    cursor: pointer;

    @include type-setting(0);

    &:focus {
        outline: $focus-width solid #fd0;
    }

    transition: all 300ms ease-in-out;
}

.btn + .btn {
    @media (min-width: $tablet) {
        margin-left: $dp*2;
    }
}

input,
button,
a {
    &.btn {
        @extend %button-cosmetic;

        &-small {
            padding: ($vr) $dp+$vr;
        }
    }

    &.btn-green {
        background-color: $yes;
        color: #FFF;
    }
    &.btn-red {
        background-color: $red;
        color: #FFF;
    }

    &.btn-yellow {
        background-color: $focus;
        color: #333;
    }
}