/* Components */




.publications-products a {
background-color: #2846A5;
}

.training a {
background-color: #4F2170;
}

.testing a {
background-color: #CE421B;
}

.research a {
background-color: #287826;
}



// Lightbox

.lightbox {
margin-bottom: 10px !important;
}

.lightbox li {
background: none;
padding-right: 0 !important;
background-color: $gray;
border: 5px solid $gray;
}

#contentContainer ul.lightbox li {
padding-bottom: 0 !important;
}

.lightbox li a {
float: left;
}

body.hasScript #contentContainer ul.lightbox li {
margin-right: 10px;
}

.expand {
bottom: 10px !important;
left: auto !important;
}

// Alert box

.v5-notice-box {
float: left;
padding: 10px;
width: 100%;
border: 2px solid $red;
margin-bottom: 20px;
}

// Containers

.v5-container {
width: 90%;
clear: both;
padding-left: 5%;
padding-right: 5%;
@media only screen and (min-width : $desktop) {
width: 940px !important;
margin: 0 auto;
padding: 0;
}
}

.home #headerContainer {
margin-bottom: 20px;
}

// Column lists

.column.multiCol {
margin-bottom: 0;
padding-bottom: 0;
}

ul.columnsList {
margin: 0 !important;
@media only screen and (min-width : $desktop) {
flex-wrap: wrap;
display: flex;
}
}

.columnsList li p {
padding-bottom: 20px;
margin: 0;    
}
.column.multiCol.col2 {
.columnsList li {
    flex: 1 0 465px;
    max-width: 465px;  
    margin-right: 10px;
} 
.columnsList li:nth-child(2n+2) {
margin-right: 0;    
}   
}
.columnsList li {
padding: 0 !important;
background: none;
list-style-image: none !important;
@media only screen and (min-width : $desktop) {
-webkit-column-break-inside: avoid; /* Chrome, Safari, Opera */
page-break-inside: avoid; /* Firefox */
break-inside: avoid; /* IE 10+ */
flex: 1 0 306.666666666666667px;
max-width: 306.666666666666667px;
margin-right: 10px;
}
}

.columnsList li:nth-child(3n+3) {
margin-right: 0;    
}

.addToBasket a {
background: $red;
}

