/* Components */

// itemThumbBook

ul.itemThumbBook .header, ul.itemThumbBook .resourceTitle {
color: $red;
}

ul.itemThumbBook .header:hover , ul.itemThumbBook .resourceTitle:hover, ul.itemThumbBook a:focus .header, ul.itemThumbBook a:focus .resourceTitle {
color: $black !important;
}

ul.itemThumbBook .subText {
width: 100% !important;
}

ul.itemThumbBook {
margin: 0 !important;
}

ul.itemThumbBook a {
float: left !important;
width: 100%;
}

ul.itemThumbBook a span {
text-decoration: underline;
}

ul.itemThumbBook a:hover span {
text-decoration: none;
}


ul.itemThumbBook a:hover .resourcePrice {
text-decoration: none;
color: $hseblack;
}

ul.itemThumbBook li {
float: left;
padding: 0 !important;
margin-bottom: 10px;
width: 100%;
}

ul.itemThumbBook li p {
margin: 0 !important;
}

ul.itemThumbBook span {
padding-right: 0;
}

.v5-float-right {
float: right !important
}


// HSL Publications *replaced js carousel (homepage)

.hsl-links {
margin: 0 !important;
}

ul.itemThumbBook.publications li {
width: 100% !important;
}

ul.itemThumbBook.publications li {

@media only screen and (min-width : 756px) {
width: 47% !important;
}

@media only screen and (min-width : 979px) {
max-width: 100px !important;
}

margin-right: 20px;
clear: none;

}

@media only screen and (min-width : 979px) {
.itemThumbBook.publications  a:last-of-type {
margin-right: 0px !important;
}


.publications.itemThumbBook img {
margin: 0 0 10px 0 !important;
}


ul.itemThumbBook.publications li a:hover span {
color: $hseblack !important;
}

.mobile {
display: none;
}

.publications li {
clear: none !important;
}

}


.publications-products a {
background-color: #2846A5;
}

.training a {
background-color: #4F2170;
}

.testing a {
background-color: #CE421B;
}

.research a {
background-color: #287826;
}



// Lightbox

.lightbox {
margin-bottom: 10px !important;
}

.lightbox li {
background: none;
padding-right: 0 !important;
background-color: $gray;
border: 5px solid $gray;
}

#contentContainer ul.lightbox li {
padding-bottom: 0 !important;
}

.lightbox li a {
float: left;
}

body.hasScript #contentContainer ul.lightbox li {
margin-right: 10px;
}

.expand {
bottom: 10px !important;
left: auto !important;
}

// Dropdown

.ddmswitch input.button {
position: relative;
background-color: $red;
color: white;
}

.box .ddmStyling {
margin: 0 10px 0 0;
}

.ddmStyling {
float: left;
}

.ddmStyling select {
float: left;
display: block;
@media only screen and (min-width : $desktop) {
width: 100% !important;
}
max-width: 100%;
box-sizing: border-box;
margin: 0;
border-radius: 0;
height: 31px !important;
background-position: right;
content: " ";
}

.ddmStyling select::-ms-expand {
display: none;
}
.ddmStyling select:hover {
border-color: #888;
}
.ddmStyling selectfocus {
border-color: #aaa;
box-shadow: 0 0 1px 3px rgba(59, 153, 252, .7);
box-shadow: 0 0 0 3px -moz-mac-focusring;
color: #222;
outline: none;
}
.ddmStyling select option {
font-weight:normal;
}

.ddmStyling input.button, .box .ddmStyling input.button {
width: 34px !important;
height: 31px !important;
}

.ddmStyling input.button:hover {
cursor: pointer;
}

.ddmStyling select {
width: 160px !important;
}



// Alert box

.v5-notice-box {
float: left;
padding: 10px;
width: 100%;
border: 2px solid $red;
margin-bottom: 20px;
}

// Accordion

.ui-accordion .ui-accordion-header .ui-icon {
vertical-align: middle !important;
margin: 0  5px 10px 0 !important;
position: relative !important;
text-indent: -99999px !important;
overflow: hidden !important;
background-repeat: no-repeat !important;
left: 0 !important;
float: left !important;
}

.ui-accordion .ui-icon {
float: left;
}

.ui-icon {
width: 16px;
height: 16px;
background-image: url(https://www.hse.gov.uk/assets/v4-images/website/jqueryui/ui-icons_b82533_256x240.png);
}

.ui-accordion .ui-accordion-header  {
border: 1px solid $gray;
}

.ui-icon-triangle-1-e {
background-image: url('../../assets/v5-images/icons/svg/solid/chevron-down-solid-red.svg');
background-repeat: no-repeat;
display: inline-block;
width: 15px;
height: 15px;
margin: 0 5px 10px 5px;
}


.ui-corner-top .ui-icon-triangle-1-s {
content: " ";
background-image: url('../../assets/v5-images/icons/svg/solid/chevron-up-solid-red.svg');
background-repeat: no-repeat;
display: inline-block;
width: 15px;
height: 15px;
margin: 0 5px 10px 5px;
}

.ui-accordion-content {
margin-bottom: 10px !important;
width: 100% !important;
}


.ui-accordion-header {
background: none !important;
color: $red !important;
padding: 10px 0 !important;
border-radius: 0 !important;
text-decoration: underline !important;
}
.ui-accordion-header:hover {
color: $black !important;
text-decoration: none !important;
cursor: pointer;
}


.ui-accordion-header.ui-state-focus  {
background-color: $focus !important;
color: $black !important;
text-decoration: none !important;
}

.ui-accordion-header.ui-state-active {
color: $black !important;
margin: 0 !important;
}


.ui-corner-all {
border-radius: 0 !important;
}

.ui-accordion .ui-accordion-content {
padding: 20px !important;
}

.ui-accordion .ui-accordion-content-active {
border: 1px solid $gray !important;
border-top: 0 !important;
border-radius: 0 !important;
}

// Containers

.v5-container {
width: 90%;
clear: both;
padding-left: 5%;
padding-right: 5%;
@media only screen and (min-width : $desktop) {
width: 940px !important;
margin: 0 auto;
padding: 0;
}
}

.home #headerContainer {
margin-bottom: 20px;
}

// Column lists

.column.multiCol {
margin-bottom: 0;
}

.column.multiCol.col3 {
-webkit-column-count: 1; /* Chrome, Safari, Opera */
-moz-column-count: 1; /* Firefox */
column-count: 1;
@media only screen and (min-width : $desktop) {
-webkit-column-count: 3; /* Chrome, Safari, Opera */
-moz-column-count: 3; /* Firefox */
column-count: 3;
}
}

.column.multiCol.col2 {
-webkit-column-count: 1; /* Chrome, Safari, Opera */
-moz-column-count: 1; /* Firefox */
column-count: 1;
@media only screen and (min-width : $desktop) {
-webkit-column-count: 2; /* Chrome, Safari, Opera */
-moz-column-count: 2; /* Firefox */
column-count: 2;
}
}

ul.columnsList {
margin: 0 0 10px 0 !important;
}


.columnsList li {
padding: 0 !important;
background: none;
background-image: none !important;
@media only screen and (min-width : $desktop) {
-webkit-column-break-inside: avoid; /* Chrome, Safari, Opera */
page-break-inside: avoid; /* Firefox */
break-inside: avoid; /* IE 10+ */
min-height: 82.2px;
}
}

.addToBasket a {
background: $red;
}

