
/* Desktop */
@media only screen and (min-width : $desktop) {

#headerContainer {
min-width: 960px;
}
#header {
width: 100%;
padding-left: 0;
padding-right: 0;
}
#pageContainer {
width: 940px;
margin: 0 auto;
}	
#pageTitle {
float: right;
width: 690px;
}

.breadCrumbContainer {
width: 940px;
margin: auto;
padding: 10px 0;
}
	

#backTo {
display: none;
}

	
#contentContainer {
margin: 0;
width: 940px;
}
	

#contentContainer.columnbetacontentpage.column1 {
width: 940px !important;
}
	
#contentContainer.columnbetacontentpage.column2 {
width: 700px !important;		
}	
#contentContainer.columnbetacontentpage.column3 {
width: 680px !important;
margin-right: 20px !important;
}
	
#contentContainer.columnbetacontentpage {
width: 700px;
}
	
#sideBar {
float: left;
width: 240px !important;
margin-top: 0px !important;
}

#sideBar .box {
width: 100% !important;
}
	
.more {
box-sizing: border-box !important;
}

/* Layout */
	
.last, .noBoxPadding.last {
margin-right: 0 !important;
}
	
/* 3 Col */

#contentContainer .oneThird {
width: 300px;
}
	
#contentContainer .half {
width: 460px;
}

#contentContainer .twoThird {
width: 620px;
}
	
/* 8 Col */
	
#contentContainer .oneEighth {
width: 100px !important;
}
#contentContainer .twoEighths {
width: 220px !important;
}
#contentContainer .threeEighths {
width: 340px !important;
}
#contentContainer .fourEighths {
width: 460px !important;
}
#contentContainer .fiveEighths {
width: 580px !important;
}
#contentContainer .sixEighths {
width: 700px !important;
}
#contentContainer .sevenEighths {
width: 820px !important;
}
	

#contentContainer .mostPopular {
width: 300px;
}

#contentContainer .homepageBanner {
width: 620px;
}

#contentContainer .noPadding.twoThird {
width: 620px;	
}

#contentContainer .twoThirdHalf {
width: 290px;
margin-right: 20px;
}

#contentContainer .twoThirdHalf.subColumn {
width: 290px;
padding: 0;
}

.columnFull {
width: 940px;
}
	
.column.noBoxPadding {
margin: 0 20px 20px 0;
}
	
.column {
margin: 0 20px 0 0;
}	


.multistep {
width: 280px;
float: left;
}

/* No box padding */
	
/* 3 col (No box paddding) */

#contentContainer .oneThird.noBoxPadding {
width: 300px;
margin-right: 20px;
}

#contentContainer .twoThird.noBoxPadding  {
width: 620px;
margin-right: 20px;
}

#contentContainer .noBoxPadding .multistep {
width: 308px;
float: left;
}
	
#contentContainer .noBoxPadding .twoThirdHalf.subColumn {
width: 300px;
}

#contentContainer .noBoxPadding.twoThirdHalf {
width: 300px;
}
	
	
/* 8 Col (No box padding) */
	
#contentContainer .noBoxPadding.oneEighth {
width: 100px !important;
margin-right: 20px;
}
#contentContainer .noBoxPadding.twoEighths {
width: 220px !important;
margin-right: 20px;
}
#contentContainer .noBoxPadding.threeEighths {
width: 340px !important;
margin-right: 20px;
}
#contentContainer .noBoxPadding.fourEighths {
width: 460px !important;
margin-right: 20px;
}
#contentContainer .noBoxPadding.fiveEighths {
width: 580px !important;
margin-right: 20px;
}
#contentContainer .noBoxPadding.sixEighths {
width: 700px !important;
margin-right: 20px;
}
#contentContainer .noBoxPadding.sevenEighths {
width: 820px !important;
margin-right: 20px;
}

/* Offset */

.offsetTwoThird {
margin-left: 640px !important;
}


/* Beta */

#globalSearch  {
float: right;
}
#globalSearch table, #globalSearchMobile  table {
width: 250px !important;	
}

.beta-highlight {
margin-left: 0;
}

#off-canvas-container {
display: none;
}

.offCanvasHeaderLogo {
display: none;
}
	
.footer-links-container {
width: 940px;
padding-left: 0;
padding-right: 0;
}

}