/* Desktop */
@media only screen and (min-width: $desktop) {
  #headerContainer {
    min-width: 960px;
  }
  #header {
    width: 100%;
    padding-left: 0;
    padding-right: 0;
  }
  #pageContainer {
    width: $full-width;
    margin: 0 auto;
  }
  #pageTitle {
    float: right;
    width: 690px;
  }

  .breadCrumbContainer {
    width: $full-width;
    margin: auto;
  }

  #backTo {
    display: none;
  }

  #contentContainer {
    margin: 0;
    width: $full-width;
  }

  .columnbetacontentpage.column1 {
    width: $full-width !important;
  }

  .columnbetacontentpage,
  .columnbetacontentpage.column2 {
    width: 700px !important;
  }
  .columnbetacontentpage.column3 {
    width: 680px !important;
    margin-right: 20px !important;
  }

  #sideBar {
    float: left;
    width: 240px !important;
    margin-top: 0px !important;
  }

  #sideBar .box {
    width: 100% !important;
  }

  .more {
    box-sizing: border-box !important;
  }

  /* Layout */

  .last,
  .noBoxPadding.last {
    margin-right: 0 !important;
  }

  /* 3 Col */

  .oneThird {
    width: 300px;
  }

  #contentContainer .half {
    width: 460px;
  }

  .twoThird {
    width: 620px;
  }

  .mostPopular {
    width: 300px;
  }

  .homepageBanner {
    width: 620px;
  }

  .noPadding.twoThird {
    width: 620px;
  }

  .twoThirdHalf {
    width: 290px;
    margin-right: 20px;
  }

  .twoThirdHalf.subColumn {
    width: 290px;
    padding: 0;
  }

  .columnFull {
    width: $full-width;
  }

  .column {
    margin: 0 20px 0 0;
  }

  /* No box padding */

  /* 3 col (No box paddding) */

  .oneThird.noBoxPadding {
    width: 300px;
    margin-right: 20px;
  }

  .twoThird.noBoxPadding {
    width: 620px;
    margin-right: 20px;
  }

  .noBoxPadding .twoThirdHalf.subColumn {
    width: 300px;
  }

  .noBoxPadding.twoThirdHalf {
    width: 300px;
  }

  /* Offset */

  .offsetTwoThird {
    margin-left: 640px !important;
  }

  /* Beta */

  #globalSearch {
    float: right;
  }
  #globalSearch table,
  #globalSearchMobile table {
    width: 250px !important;
  }

  .beta-highlight {
    margin-left: 0;
  }

  .footer-links-container {
    width: $full-width;
    padding-left: 0;
    padding-right: 0;
  }
}
