/* P Jenkinson 06/12/2018 - yes/no user feedback (Responsive) */

#feedback {
    clear: both;
    width: 100%;
    position: sticky;
    bottom: 0;
    left: 0;
    // border-bottom: 10px solid $red;

    background-color: $red;
    padding: 4px 0;

        opacity: 0;
        transition: opacity 300ms ease-in-out;

    .feedback-in & {
        opacity: 1;
    }
}

.feedback-container {
    width: 100%;
    margin: auto;
    text-align: center;

}

/* Large Devices, Wide Screens */
@media only screen and (min-width : 1170px) {

.feedback-container {
    width: 460px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    // padding: 10px 10px 0 10px;
    border-bottom: 1px solid $red;;
}

}

.feedback-container p {
color: white;
display: inline-block;
text-align: center;
margin: 0;
}

.feedback-container a, .feedback-container p {
color: white;
}

.feedback-links {
display: inline-block;
text-align: center;
}

.feedback-links a {
padding: 5px;
text-decoration: underline;
}

.feedback-links a:hover, .feedback-links a:visited, .feedback-links a:active  {
border: 1px solid white;
padding: 4px;
text-decoration: none;
color: white;
}

.help-improve {
background-color: white;
padding: 10px;
margin-top: 10px;
}

.help-improve p {
color: #111;
}

.help-improve a {
color: #014a82;
}

.feedback-survey {
    display: none;
}