/* P Jenkinson 06/12/2018 - yes/no user feedback (Responsive) */
#feedback {
    clear: both;
}

.feedback {
    z-index: 1;

    display: block;
    width: 100%;
    background-color: #FFF;
    border-bottom: 10px solid #981e32;

    &.feedback-beta {
        position: sticky;
        bottom: 0;
        background-color: $red;
        border: 0;
    }

    .feedback-in & {
        opacity: 1;
    }
}

.feedback-container {
    width: 100%;
    margin: auto;
    text-align: center;
    background-color: $red;
    padding: 5px 0;
    text-align: center;

    p {
        color: white;
        display: inline-block;
        text-align: center;
        margin: 0;
    }

    /* Large Devices, Wide Screens */
    @media only screen and (min-width : 1170px) {
        margin: 0 auto;

        width: 460px;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
        padding: 10px 10px 0 10px;
        border-bottom: 1px solid $red;

        .feedback-beta & {
            padding: 5px 0;
            width: 100%;
            border: 0;
        }
    }
}

.feedback-container a, .feedback-container p {
    color: white;
}

.feedback-links {
    display: inline-block;
    text-align: center;
}

.feedback-links a {
    padding: 5px;
    text-decoration: underline;
}

.feedback-links a:hover, .feedback-links a:visited, .feedback-links a:active  {
    border: 1px solid white;
    padding: 4px;
    text-decoration: none;
    color: white;
}

.help-improve {
    background-color: white;
    padding: 10px;
    margin-top: 10px;
}

.help-improve p {
    color: #111;
}

.help-improve a {
    color: #014a82;
}

.feedback-survey {
    position: relative;
    background-color: #FFF;
    overflow-y: hidden;

    *{
        box-sizing: border-box;
    }

    transform: translateY(100%);
    transition: height 600ms ease-in-out, transform 600ms ease-in-out;
    flex-wrap: wrap;
    bottom: 0;
    display: none;

    &.survey-in {
        display: flex;
    }

    &.survey-show {
        transform: translateY(0);
    }
}

.feedback-survey__inner {
    width: 100%;
    height: 100%;
    max-width: 460px;
    margin: 0 auto;
    bottom: 0;
    left: 50%;
}

.questionaire {
    padding: 25px 10px;
    width: 100%;
    min-height: 200px;
}

.questionaire__title {
}

.question-caption,
.question-text {
    font-size: 16px;
    color: #000;
}
.question-caption {
    margin: 0;
    color: #000;

}
p.question-hint {
    font-size: 12px;
    color: #4b4b4b;
}

.question {
    position: relative;
    display: none;

    &.active {
        display: block;
    }

    &-text {
        font-weight: 700;
    }
}

.survey-thankyou {
    text-align: center;
    p {
        font-weight: 700;
    }
}

.question-list__list {
    margin: 10px 0;
    padding: 0;
    font-size: 0 !important;
}

.question-list__item {
    display: inline-block;
    padding: 0;
    margin-right: 15px;

    &:last-of-type{
        margin-right: 0;
    }

    button {
        appearance: none;
        border: 0;
        font-size: 16px;
        padding: 10px 20px;
        background-color: $yes;
        color: #FFF;
        text-decoration: none;
        border-radius: 5px;

        &:focus {
            outline: none;
            background-color: #fd0;
            color: $black;
        }
    }
}