// GLOBAL FOCUS

a:focus, button:focus  {
outline: $focus 5px solid;
z-index: 100;
}

.slinky-menu ul li a:focus {
outline: solid transparent !important;
text-decoration: none !important;
background-color: $focus !important;
color: $black !important;
border-bottom: 2px solid $black !important;
}

a:hover, a:focus {
text-decoration: none;
color: $redhover;
}

// COMPONENT FOCUS



// Content focus

.boxList ul li a:focus h3 {
color: $black !important;
}

#contentContainer li a:focus-within {
background-color: $focus;
outline: solid transparent !important;
color: $black;
}

#contentContainer ul li a:focus {
border-bottom: 2px solid $black !important;
}


#contentContainer .backgroundRed a:focus {
color: $black;
}

#contentContainer .backgroundRed p a:focus, #beta-user-testing p a:focus, #contentContainer .backgroundRed li a:focus-within, .hsl-links a:focus-within, .footer-links-container li a:focus-within, .breadCrumbContainer li a:focus, .skip:focus, .slinky-menu ul li a:focus, .v5-button a:focus, .v5-hide-button:focus, button.v5-button:focus, .menu li a:focus, .multistep li a:focus, .listCaret li a:focus, a:focus .pagination-text, .listLinks a:focus  {
outline: solid transparent !important;
text-decoration: none !important;
background-color: $focus !important;
color: $black !important;
border-bottom: 2px solid $black !important;
}

// #contentContainer input:focus {
// outline: $focus 5px solid !important;
// }

#contentContainer li h3 a:focus, #contentContainer p a:focus {
outline: solid transparent !important;
color: #0b0c0c;
background-color: $focus;
text-decoration: none;
border-bottom: 2px solid $black !important;
}

// Accordion




// Form focus


.v5-button a:focus, button.v5-button:focus, #navSecondary ul li a:focus, .footer-links-container li a:focus-within {
border-bottom: 0 !important;
}

// itemThumbBook within box component

.box ul.itemThumbBook li a:focus {
background-color: $focus;
}

.box ul.itemThumbBook li a:focus .resourceTitle {
color: $hseblack;
}

