// Fonts

.v5 h1, .v5 h2, .v5 h3 {
    font-weight: bold;
}

.v5 h1 {
// font-size: 3em;
    // margin: 0 0 20px !important;
    padding-top: 0;
    // color: $red;
}
.v5 h2 {
// font-size: 2em;
}
.v5 h3, .v5 ul h3 {
// font-size: 1.1rem;
}

.v5 p, .v5 ul p, .v5 ol, .v5 ul {
// font-size: 0.9rem;
}

.v5 p, .v5 h2, .v5 h3, .v5 h4 {
    // margin: 0 0 15px;
}

.v5 .aside h2, .v5 .aside h3 {
    margin: 0 0 15px !important;
}

.v5 .articleList h3, .v5 .articleList h4 {
    margin: 0 0 5px !important;
}

.v5 .guidanceList h3, .v5 .guidanceList h4 {
    margin: 0 0 5px !important;
}

