


#contentContainer .columnFull p.moreLink a::before {
content: " ";
position: relative;
top: 2px;
background-image: url('../../assets/v5-images/icons/svg/solid/arrow-right-red.svg');
background-repeat: no-repeat;
display: inline-block;
padding-right: 5px;
width: 16px;
height: 16px;
margin: 0;
}

#contentContainer .columnFull p.moreLink a:hover::before {
content: " ";
background-image: url('../../assets/v5-images/icons/svg/solid/arrow-right-black.svg');
background-repeat: no-repeat;
display: inline-block;
padding-right: 5px;
width: 16px;
height: 16px;
margin: 0;
}

#contentContainer .columnFull .backgroundRed p.moreLink a::before {
content: " ";
background-image: url('../../assets/v5-images/icons/svg/solid/arrow-right-white.svg');
background-repeat: no-repeat;
display: inline-block;
padding-right: 5px;
width: 16px;
height: 16px;
margin: 0;
}

#contentContainer .columnFull ul.social li a::before {
position: relative;
top: 2px;
background-repeat: no-repeat;
display: inline-block;
margin-right: 5px;
width: 16px;
height: 16px;
}

#contentContainer .columnFull ul.social li.facebook a::before {
content: " ";
background-image: url('../../assets/v5-images/icons/svg/brands/facebook-square-red.svg');
}

#contentContainer .columnFull ul.social li.linkedin a::before {
content: " ";
background-image: url('../../assets/v5-images/icons/svg/brands/linkedin-red.svg');

}

#contentContainer .columnFull ul.social li.youtube a::before {
content: " ";
background-image: url('../../assets/v5-images/icons/svg/brands/youtube-red.svg');
}

#contentContainer .columnFull ul.social li.twitter a::before {
content: " ";
background-image: url('../../assets/v5-images/icons/svg/brands/twitter-red.svg');
}

#printGuide a::before {
content: " ";
background-image: url('../../assets/v5-images/icons/svg/solid/print.svg');
background-repeat: no-repeat;
display: inline-block;
padding-right: 5px;
width: 16px;
height: 16px;
margin: 0;
}


.menu-button span::before, .menu-button.main-menu span::before {
content: " ";
background-image: url('../../assets/v5-images/icons/svg/solid/bars-white.svg');
background-repeat: no-repeat;
display: inline-block;
width: 25px;
height: 25px;
margin: 0;
}

.menu-button.main-menu-expanded span::before {
content: " ";
background-image: url('../../assets/v5-images/icons/svg/solid/window-close-white.svg');
background-repeat: no-repeat;
display: inline-block;
width: 25px;
height: 25px;
margin: 0;
}

/* HSL */

.hsl-links li {
background: none;
list-style-image: none !important;
width: 100%;
@media only screen and (min-width : $desktop) {
width: 232px;
margin-right: 3px;
}
float: left;
padding: 0 0 10px 0;
}

.hsl-links li a:hover {
background-color: $hseblack;
}

.hsl-links a {
float: left;
width: 100%;
color: white !important;
display: block;
font-weight: bold;
text-decoration: none !important;
padding: 10px;
}

.hsl-links li a::before {	
content: " ";
background-image: url('../../assets/v5-images/icons/svg/solid/chevron-circle-right-white.svg');
background-repeat: no-repeat;
display: inline-block;
float: left;
width: 17px;
height: 17px;
margin: 0;
border-right: 10px solid transparent;
}

#contentContainer p.linkList a {
text-decoration: underline;
}


// Pagination icons

#contentContainer #pagination .next-page .pagination-icon::after {	
content: " ";
background-size: 28px;
background-image: url('../../assets/v5-images/icons/svg/solid/arrow-right-red.svg');
background-repeat: no-repeat;
background-position: right;
display: inline-block;
width: 30px;
height: 30px;
padding-left: 5px;
margin: 0;
}

#contentContainer #pagination .previous-page .pagination-icon::before {	
content: " ";
background-size: 28px;
background-image: url('../../assets/v5-images/icons/svg/solid/arrow-left-red.svg');
background-repeat: no-repeat;
background-position: left;
display: inline-block;
width: 30px;
height: 30px;
padding-right: 5px;
margin: 0;
}
	
.boxList ul li:hover a::after  {
content: " ";
background-image: url('../../assets/v5-images/icons/svg/solid/arrow-right-white.svg');
background-repeat: no-repeat;
float: right;
top: 20px;
-webkit-transform: translateY(-100%);
-ms-transform: translateY(-100%);
transform: translateY(-100%);
width: 16px;
height: 16px;
margin: 0;
}

.boxList ul li:hover h3 {
color: white !important;
}

.boxList ul li a::after {
content: " ";
background-image: url('../../assets/v5-images/icons/svg/solid/arrow-right-red.svg');
background-repeat: no-repeat;
position: relative;
float: right;
top: 20px;
-webkit-transform: translateY(-100%);
-ms-transform: translateY(-100%);
transform: translateY(-100%);
width: 16px;
height: 16px;
margin: 0;
}

#backnav::before{
content: " ";
background-image: url('../../assets/v5-images/icons/svg/solid/arrow-left-white.svg');
background-repeat: no-repeat;
display: inline-block;
position: relative;
top: 3px;
width: 16px;
height: 16px;
padding-right: 10px;
margin: 0;
}

