#information-banner {
  clear: both;
  margin: 0 0 $gutter 0;
}

#information-banner p a {
  text-decoration: underline;
}
#information-banner p a:hover {
  text-decoration: none;
  color: $hseblack;
}

/* Beta */

#information-banner {
  padding: 10px;
  width: 100%;
  border: 2px solid $beta;
  box-sizing: border-box;
  @media only screen and (min-width: $desktop) {
    width: $full-width;
  }
}

.v5 #information-banner {
  @media only screen and (min-width: $desktop) {
    width: $full-width;
  }
}

.v5 #information-banner p {
  margin-bottom: 0 !important;
}

.home .v5 #information-banner,
.news .v5 #information-banner {
  margin-top: 0 !important;
}

.beta-highlight {
  display: inline-block;
  margin: 0 8px 0 0;
  padding: 2px 5px 0;
  font-family: "nta", Arial, sans-serif;
  font-weight: 700;
  font-size: 14px;
  text-transform: uppercase;
  letter-spacing: 1px;
  text-decoration: none;
  color: #fff;
  background-color: $beta;
  font-size: 16px;
  line-height: 1.25;
}

#information-banner a:link,
#information-banner a:visited,
#information-banner a:focus {
  color: $beta;
}

#information-banner p {
  font-size: 0.9rem;
  margin: 0px;
}
