$btnSize: 30px;

.lightbox {
    text-align: center;
    display: inline-flex;
    flex-direction: column;
}

.lightbox__container {
    position: relative;
    height: 100%;
    width: 100%;
}

.lightbox__content {
    position: relative;
    height: 100%;
    width: 100%;
    min-width: 200px;
    min-height: 200px;
    transition: all 600ms ease;

    &--panel {
        text-align: center;
        vertical-align: middle;
        display: none;

        &[data-status="active"] {
            display: block;
        }

        img {
            position: relative;
        }
    }
}
// .lightbox__content--panel {
//     text-align: center;
//     vertical-align: middle;
//     display: none;

//     &[data-status="active"] {
//         display: block;
//     }

//     img {
//         position: relative;
//     }
// }

.lightbox__caption {
    padding: 5px 0;
    color: #333;
    white-space: pre-line;
    align-self: center;
    text-align: left;

    @include type-setting(0);

    p {
        margin: 0;
    }
}

.lightbox__footer {
    width: 100%;
    background-color: #FFF;
    display: flex;
    column-gap: ($btnSize + 15px);
    justify-content: space-between;
    padding-top: calc($btnSize / 2)
}

.lightbox__nav {
    &.prev,
    &.next {
        box-sizing: border-box;
        position: relative;
        appearance: none;
        padding: 0;
        background-color: #eee;

        &:focus {
            outline: none;
            background-color: #fd0;
        }

        width: $btnSize;
        height: $btnSize;
        border: none;
        border-radius: 50%;
        cursor: pointer;

        &:before {
            content: '';
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            width: 0;
            height: 0;
            border-style: solid;
        }

        span {
            @extend .visually-hidden;
        }
    }
    &.prev {
        &:before {
            border-width: 8px 12px 8px 0;
            border-color: transparent $black transparent transparent;
        }
    }
    &.next {
        &:before {
            border-width: 8px  0 8px 12px;
            border-color: transparent transparent transparent $black;
        }
    }
}