
a {
    text-decoration: underline;
    &:link {
        color: $red; 
    }
    &:visited {
        color: $darkred;
        text-decoration: underline;
    }
    &:hover,
    &:active,
    &:focus,
    a span.subText {
        text-decoration: none !important;
        color: $redhover;
    }
}


p a, li a {

    &:hover, &:focus {
    text-decoration: none !important;
    color: $black; 
    background: $focus;   
    }
}

.footer-links-container a, .guidance-languages a {
color: white;
}


