
a {
    text-decoration: underline;
    background-color: transparent;

    &:link,
    &:visited {
        color: $red;
        text-decoration: underline;
    }

    &:hover,
    &:active,
    &:focus,
    a span.subText {
        text-decoration: none !important;
        color: $redhover;
    }
}