.draw-container {
  overflow: hidden;
  transform: translateZ(0);
}
.draw-container > ul {
  left: 0;
  position: relative;
  transform: translateZ(0);
}
.draw-container ul,
.draw-container li {
  list-style: none;
  margin: 0;
}
.draw-container li:hover {
  background: $darkgray;
}
.draw-container a:focus {
  background: $focus;
}
.draw-container ul {
  width: 100%;
}
.draw-container li.first a:hover span {
  color: white;
  text-decoration: underline;
}
.draw-container a {
  align-items: center;
  display: flex;
  overflow: visible;
  background-color: $gray;
}

.draw-container a span {
  flex: 1;
  overflow: visible;
  width: 100%;
  height: auto;
}
.draw-container li ul {
  //display: none;
  left: 100%;
  // position: absolute; Applied only if browser has JS - accesibility
  top: 0;
}
.draw-container .header {
  display: flex;
}

.draw-container .first .header {
  display: flex;
}
.draw-container .header .title {
  flex: 1;
  line-height: 1.4;
  margin: 0;
  order: 1;
}

.draw-container {
  //background-color: $gray;
}
.draw-container .title {
  color: #333;
  padding: 1em;
}
.draw-container li {
  line-height: 1.4;
}
.draw-container a:not(.back) {
  color: #333;
  padding: 14px !important;
}
.draw-container a:not(.back):hover {
  background-color: $darkgray;
  color: $black;
}
.draw-container a:not(.back):active {
  background-color: $darkgray;
  color: $black;
}

.draw-container .back::before {
  content: ' ';
  background-image: url('../../assets/v5-images/icons/svg/solid/arrow-left-white.svg');
  background-repeat: no-repeat;
  display: inline-block;
  height: 16px;
  margin: 0;
  transform: translateX(
    10px
  ) !important; // Important to reverse slinky transform CSS
  border-right: 10px solid transparent;
}

.draw-container .back {
  text-decoration: none;
}

.draw-container a.next::after {
  content: ' ';
  background-image: url('../../assets/v5-images/icons/svg/solid/arrow-right.svg');
  background-repeat: no-repeat;
  display: inline-block;
  width: 16px;
  height: 16px;
  margin: 0;
  margin-left: auto;
}

.draw-container a.next:hover::after,
.draw-container a.next:focus::after {
  content: ' ';
  background-image: url('../../assets/v5-images/icons/svg/solid/arrow-right-red.svg');
  background-repeat: no-repeat;
  display: inline-block;
  width: 16px;
  height: 16px;
  margin: 0;
  margin-left: auto;
  z-index: 9999;
}

.draw-container .next::after {
  margin-left: 1em;
}
.draw-container .back::before {
  padding: 0 1em;
  transform: scaleX(-1);
}

.draw-container li {
  background: none;
  padding: 0;
}

.draw-container li.first a {
  font-weight: bold;
  background-color: $red;
}

.draw-container li.first a {
  color: white;
}

.draw-container li.first a:hover {
  background-color: $red;
  color: white;
}

// Active page

li a.active-page {
  background-color: $darkgray;
  border-left: 3px solid $red;
  text-decoration: none;
}

li.first a.active-page {
  background-color: $red;
}

.no-active-style {
  background: none !important;
  border-left: none !important;
}

// Back

.draw-container li a.back {
  width: 100%;
  background-color: $red;
  color: white;
}

.draw-container li.first a {
  width: 100%;
}

// links

.draw-container li.first a:hover span,
.draw-container li.header a:hover {
  text-decoration: underline !important;
}

.draw-container a,
.draw-container a span {
  text-decoration: none;
}

.draw-container .header .title {
  color: white;
}

.draw-container li a.back {
  padding: 1em 0;
}

.draw-container li.first a:focus {
  color: $black !important;
}

.draw-container li a:focus-within {
  background-color: $focus;
  color: $black !important;
}

.draw-container a.back:focus::before {
  content: ' ';
  background-image: url('../../assets/v5-images/icons/svg/solid/arrow-left-black.svg') !important;
}

.draw-container .text-width {
  max-width: 90%;
}
