.subnav-container {
  background-color: transparent;
  // transition: all 450ms ease-in-out;
}
.subnav-wrapper {
  position: relative;
  display: block;
  left: 0;
  list-style: none;
  margin: 0;
  width: 100%;
  transform: translateZ(0);
  // transition: all 300ms ease-in-out;
}

.draw {
  position: absolute;
  left: 100%;
  top: 0;
  width: 100%;
  z-index: -1;
  visibility: hidden;

  &.active {
    z-index: 1;
  visibility: visible;

  }
}

.subnav-container {
  overflow: hidden;
  transform: translateZ(0);
}
.subnav-container > ul {
  left: 0;
  position: relative;
  transform: translateZ(0);
}
.subnav-container ul,
.subnav-container li {
  list-style: none;
  margin: 0;
  font-size: 0;
}
.subnav-container li:hover {
  background: $darkgray;
}
.subnav-container a:focus {
  background: $focus;
}
.subnav-container ul {
  width: 100%;
}
.subnav-container li.first a:hover span {
  color: white;
  text-decoration: underline;
}
.subnav-container a {
  align-items: center;
  display: flex;
  overflow: visible;
  background-color: $gray;
  cursor: pointer;
  @include type-setting(0);
}

.subnav-container a span {
  flex: 1;
  overflow: visible;
  width: 100%;
  height: auto;
}
.subnav-container li ul {
  left: 100%;
  top: 0;
}
.subnav-container .header {
  display: flex;
  a {
    width: 100%;
  }
}

.subnav-container .first .header {
  display: flex;
}
.subnav-container .header .title {
  flex: 1;
  line-height: 1.4;
  margin: 0;
  order: 1;
}

.subnav-container .title {
  color: #333;
  padding: 1em;
}
.subnav-container li {
  line-height: 1.4;
}
.subnav-container a:not(.back) {
  color: #333;
  padding: 14px !important;
}
.subnav-container a:not(.back):hover {
  background-color: $darkgray;
  color: $black;
}
.subnav-container a:not(.back):active {
  background-color: $darkgray;
  color: $black;
}

.subnav-container .back::before {
  content: ' ';
  background: url('../../assets/v5-images/icons/svg/solid/arrow-left-white.svg');
  background-repeat: no-repeat;
  display: inline-block;
  height: 16px;
  margin: 0;
  transform: translateX(
    10px
  ) !important; // Important to reverse slinky transform CSS
  border-right: 10px solid transparent;
}

.subnav-container .back {
  text-decoration: none;
}

.subnav-container a.next::after {
  content: ' ';
  background-image: url('../../assets/v5-images/icons/svg/solid/arrow-right.svg');
  background-repeat: no-repeat;
  display: inline-block;
  width: 16px;
  height: 16px;
  margin: 0;
  margin-left: auto;
}

.subnav-container a.next:hover::after,
.subnav-container a.next:focus::after {
  content: ' ';
  background-image: url('../../assets/v5-images/icons/svg/solid/arrow-right-red.svg');
  background-repeat: no-repeat;
  display: inline-block;
  width: 16px;
  height: 16px;
  margin: 0;
  margin-left: auto;
  z-index: 9999;
}

.subnav-container .next::after {
  margin-left: 1em;
}
.subnav-container .back::before {
  padding: 0 1em;
  transform: scaleX(-1);
}

.subnav-container li {
  background: none;
  padding: 0;
}

.subnav-container li.first a {
  font-weight: bold;
  background-color: $red;
}

.subnav-container li.first a {
  color: white;
}

.subnav-container li.first a:hover {
  background-color: $red;
  color: white;
}

// Active page

li a.active-page {
  background-color: $darkgray;
  border-left: 3px solid $red;
  text-decoration: none;
}

li.first a.active-page {
  background-color: $red;
}

.no-active-style {
  background: none !important;
  border-left: none !important;
}

// Back

.subnav-container li a.back {
  width: 100%;
  background-color: $red;
  color: white;
}

.subnav-container li.first a {
  width: 100%;
}

// links

.subnav-container li.first a:hover span,
.subnav-container li.header a:hover {
  text-decoration: underline !important;
}

.subnav-container a,
.subnav-container a span {
  text-decoration: none;
}

.subnav-container .header .title {
  color: white;
}

.subnav-container li a.back {
  padding: 1em 0;
}

.subnav-container li.first a:focus {
  color: $black !important;
}

.subnav-container li a:focus-within {
  background-color: $focus;
  color: $black !important;
}

.subnav-container a.back:focus::before {
  content: ' ';
  background-image: url('../../assets/v5-images/icons/svg/solid/arrow-left-black.svg') !important;
}

.subnav-container .text-width {
  max-width: 90%;
}


.btn-mobile {
@media only screen and (min-width : $desktop) {
display: none !important;
}
}

@media only screen and (max-width : $desktop) {

#navSecondary {
margin-bottom: 0;
}

// Expandable
.collapse {
  display: block;
  max-height: 0px;
  overflow: hidden;
  transition: max-height 0.5s cubic-bezier(0, 1, 0, 1);
}

.collapse.show {
  max-height: 99em;
  transition: max-height 0.5s ease-in-out;
}

.btn-mobile {
width: 100%;
text-align: left !important;
margin-bottom: 0 !important;
background: $black !important; 
color: white !important;
}

.btn-mobile svg {
float: right;
outline: none;
cursor: pointer;
pointer-events: none;
}

}