

tbody tr {
	&:nth-child(even) {
		td {
			background: #E0E0E0;
		}
	}
	&:nth-child(odd) {
		td {
			background: #EDEDED;
		}
	}
}

th {
	border: 1px solid #787878;
	font-weight: bold;
}

th a {
	color:#FFF;
}



.sortable {
    th {
        position: relative;
        cursor: pointer;
        padding-right: 20px;
        background-image: url('../../assets/v5-images/icons/svg/tables/table-sortable.svg');
        background-size: 10px 13px;
        background-position: top 8px right 5px;
        background-repeat: no-repeat;

        &.sorted-asc {
            background-image: url('../../assets/v5-images/icons/svg/tables/table-sortable-up.svg');
        }
        &.sorted-desc {
            background-image: url('../../assets/v5-images/icons/svg/tables/table-sortable-down.svg');
        }
    }
}

// Borderless

table.no-border {

td,th {
border: none;
padding:10px 20px 10px 0;
border-bottom: 1px solid $darkgray;
}

caption {
background: none;
color: $black;
text-align: left;
padding:10px 20px 10px 0;
}

}

table.no-background {

    tr {
        &:nth-child(even) {
            td {
                background: white;
            }
        }
        &:nth-child(odd) {
            td {
                background: white;
            }
        }
    }

}


// V4 port


table{
    margin:0 0 20px 1px;
    border-spacing:0;
    font-size: 0.9rem;
    line-height: 1.5;
    }
    caption{
    font-weight:700;
    }
    .ie7 table{
    border-collapse:collapse;
    }
    td{
    padding:10px 20px 10px 10px;
    border:1px solid #787878;
    }
    table td.numbers,table td.numeric{
    text-align:right;
    }
    table.tablenumgrid th{
    text-align:center;
    }
    table.tablenumgrid th.secondary{
    text-align:right;
    }
    table.tablenumgrid td{
    text-align:right;
    white-space:nowrap;
    }
    th{
    padding:10px 20px 10px 10px;
    text-align:left;
    }
    th.secondary,tr.secondary th{
    border:1px solid #545454;
    font-weight:400;
    border-top:none;
    padding:2px 5px;
    background-color:#333;
    color: white;
    }
    div.sortDown,div.sortNone,div.sortUp{
    height:10px;
    width: 10px;
    background-repeat: no-repeat;
    }
    div.sortUp{
    background-image: url('../../assets/v5-images/icons/svg/solid/caret-up-solid-red.svg');
    }
    div.sortDown{
    background-image: url('../../assets/v5-images/icons/svg/solid/caret-down-solid-red.svg');
    }
    div.sortNone{
    background-image: url('../../assets/v5-images/icons/svg/solid/sort-solid-red.svg');
    }
    table a.tableRowToggle,table a.tableRowToggleClosed{
    width:12px;
    height:12px;
    display:inline-block;
    cursor:pointer;
    text-indent:-9999px;
    margin:2px 0 0 2px;
    }

    table caption {
     @include type-setting(3);
    padding: 10px;
    color: #000;
    text-align: left;
    }