abbr,acronym,address,applet,article,aside,audio,b,big,blockquote,body,canvas,caption,center,cite,code,dd,del,details,dfn,div,dl,dt,em,embed,fieldset,figcaption,figure,footer,form,header,hgroup,html,i,iframe,img,ins,kbd,label,legend,li,mark,menu,nav,object,ol,output,p,pre,q,ruby,s,samp,section,small,span,strike,strong,sub,summary,sup,table,tbody,td,tfoot,th,thead,time,tr,tt,u,ul,var,video{
margin:0;
padding:0;
border:0;
// font-size:100%;
// font:inherit;
vertical-align:baseline;
}
article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section,main {
display:block;
}
body{
line-height:1;
}
ol,ul{
list-style:none;
}
blockquote,q{
quotes:none;
}
blockquote:after,blockquote:before,q:after,q:before{
content:'';
content:none;
}
table{
border-collapse:collapse;
border-spacing:0;
}
html{
overflow-y:scroll;
}
body{
// font-family:Arial,Helvetica,sans-serif;
// font-size:81.3%;
// line-height:1.667em;
color:#111;
}
#headerLogo{
    font-size:14px;
}
.normalFont #breadCrumb ol,.normalFont .boxSubscribe ul.subscribeIcons{
// font-size:.917em;
}
.normalFont h3{
// font-size:1.167em;
}
.normalFont h2{
// font-size:1.583em;
}
.normalFont address,.normalFont blockquote,.normalFont div#nyroModalFull,.normalFont div.diaryMonth li h3,.normalFont div.rsTmb,.normalFont dl,.normalFont h4,.normalFont h5,.normalFont h6,.normalFont label,.normalFont legend,.normalFont ol,.normalFont p,.normalFont table,.normalFont textarea,.normalFont ul{
// font-size:1em;
}
.normalFont h1{
// font-size:2.167em;
}
div.accordion h2,div.accordion h3{
font-weight:700;
}
.normalFont div.accordion h2,
.normalFont div.accordion h3{
    // font-size:1em;
}
strong{
    font-weight:700;
}
p {
 margin:0 0 1em 0;
}
#contentContainer ul,#sideBar ul{
    margin:0 0 10px 10px;
}
#contentContainer ul {
    clear: both;
}
.itemThumbBook{
margin-left:0!important;
margin-right:0!important;
}
#contentContainer ol{
margin:0 0 10px .10px;
}
#contentContainer dl{
margin:0 0 1em 0;
}
dd{
margin:.5em 0 .5em 20px;
line-height:1.4em;
}
dt{
font-weight:700;
}
dl.metadata{
padding:4px;
margin:.5em 0;
overflow:hidden;
background-color:#e8e8e8;
background-image:linear-gradient(to bottom,#e8e8e8,#dbdbdb);
}
dl.metadata dt{
font-weight:700;
padding:.2em 5px;
}
dl.metadata dd{
margin:0 25px 0 5px;
padding:.2em 5px;
}
dl.metadata dd  {
line-height: inherit !important;
}
dl ul,ol ol,ol ol ol,ol ul,ul ol,ul ul,ul ul ul{
margin-bottom:0!important;
}
a{
text-decoration:none;
}
a.hover,a:active,a:focus,a:hover{
text-decoration:underline;
color:#000;
}
h1{
font-weight:400;
margin:0 0 .5em 0;
line-height:1em;
}
h2{
font-weight:400;
margin:0 0 .5em 0;
line-height:1.2em;
}
#navSecondary h2{
padding:.833em 0 0 0;
margin:.5em 0;
}
h3{
font-weight:700;
margin:0 0 .5em 0;
line-height:1.4em;
}
h4{
font-weight:700;
margin:0 0 .5em 0;
line-height:1.4em;
}
h5,h6{
color:#fff;
background-color:purple;
border:3px solid green;
line-height:1.4em;
}
h1 strong,h2 strong{
font-weight:400;
}
#contentContainer h2,#contentContainer h3{
clear:left;
}

code {
    display: block;
    margin:0 0 1em 0;
    padding: 5px;
    max-height: 10em;
    overflow-y: auto;
    background-color:#ddd;
    border: 1px solid #999;
}
abbr,acronym {
    border-bottom:1px dotted #111;
}

.hidden,.hide{
position:absolute;
left:-1000em;
}
.hideFromScreen{
display:none;
}
#gutter,#printBanner{
display:none;
}
.query{
background-color: $red;
color:#fff;
font-weight:700;
padding: 5px;
}
.cf:after,.cf:before{
content:"";
display:table;
}
.cf:after{
clear:both;
}

.clearAll,.clearBox,.utilclearfloats{
clear:both;
}
.isbn,.nowrap{
white-space:nowrap;
}
.alignLeft{
float:left;
}
.alignRight{
float:right;
}
a.skip:link,a.skip:visited{
display:block;
overflow:hidden;
text-indent:-600em;
background:0 0;
width:5em;
position:absolute;
top:0;
left:0;
font-weight:700;
}
a.skip:active,a.skip:focus,a.skip:hover{
text-indent:0;
width:10em;
padding:3px;
z-index:10000;
text-decoration:underline;
background-color:#fff;
}

#headerContainer{
width:100%;
min-width:960px;
}
#header{
padding:10px 0 0 0;
width:940px;
height:56px;
margin:0 auto;
}
#pageContainer{
position:relative;
width:940px;
margin:12px auto 10px auto;
padding:0 10px;
}
#contentContainer{
float:left;
position:relative;
margin:7px 0 0 0;
}
#navSecondary{
float:left;
width:220px;
margin:7px 20px 7px 0;
position:relative;
}
#footerContainer{
margin:1em 0 0 0;
width:auto;
min-width:960px;
clear:both;
position:relative;
background-color:#333;
}
#globalSearch,#globalSearchIntranet{
width:auto;
float:right;
}
.ie7 #globalSearch,.ie7 #globalSearchIntranet{
width:26em;
}
#globalSearch input,#globalSearchIntranet input{
width:15em;
margin:0;
float:left;
}
#globalSearch label,#globalSearchIntranet label{
color:#fff;
}
#globalSearch input.button,#globalSearchIntranet input.button{
width:5em;
float:right;
margin:0 0 0 1em !important;
}
#sitesearchContainer{
width:auto;
margin:.5em 0 0 0;
clear:both;
float:left;
}
#sitesearchContainer input{
width:auto;
}
#sitesearchContainer .sitesearchScope{
float:left;
margin-bottom:3px;
overflow:hidden;
line-height:.9em !important;
}
#sitesearchContainer .sitesearchScope label{
float:left;
color:#fff;
margin-left:5px;
padding:0;
}
#sitesearchContainer .sitesearchScopePadding{
margin: 0 0 0 10px;
}
.sitesearchScope input{
height:14px;
padding:0;
}
#globalSearch table{
width: 300px;
}
#globalSearch td, #globalSearchMobile td {
border:hidden;
background-color:transparent;
}
.gsc-branding,.gsc-clear-button{
display:none;
}
#globalSearch input.gsc-search-button{
width: 5em;
}
#globalSearch input.gsc-input{
border-top:#444 2px solid;
border-right:#f7f7f7 2px solid;
border-bottom:#f7f7f7 2px solid;
border-left:#444 2px solid;
}
#globalSearch table.gsc-search-box td.gsc-input{
padding:0 5px 0 0;
}
.gstl_50{
margin:0!important;
}
.gsc-search-button-v2 svg{
fill:#333!important;
}
#navigationContainer{
width:940px;
margin:15px auto 0 auto;
height:33px;
}
#accessibilityPanel{
float:right;
height:100%;
}
.normalFont #accessibilityPanel{
width:245px;
}
.largeFont #accessibilityPanel{
width:280px;
}
.largerFont #accessibilityPanel{
width:315px;
}
#accessibilityTab{
float:left;
background-color:#fff;
padding:8px 10px 0 10px;
border-radius:5px 5px 0 0;
position:relative;
margin:0 10px 0 0;
height:100%;
}
#accessibilityTab p{
margin:0;
}
#textTab{
float:right;
background-color:#fff;
padding:8px 10px 0 10px;
border-radius:5px 5px 0 0;
position:relative;
display:none;
height:100%;
}
.normalFont #textTab{
width:120px;
}
.largeFont #textTab{
width:135px;
}
.largerFont #textTab{
width:155px;
}
#textTab p{
margin:0;
padding:0 10px 0 0;
float:left;
}
#textTab li{
margin:0;
padding:0 10px 0 0;
float:left;
background:0 0;
}
#textTab .last{
padding:0;
}
#textTab li a{
line-height:0;
}
#textTab .normalFont{
font-size:12px;
}
#textTab .largeFont{
font-size:16px;
}
#textTab .largerFont{
font-size:18px;
}

ul#navSupp,ul.navSupp{
margin-left:12px;
}
ul#navSupp li a,ul.navSupp li a{
color:#000;
}
#navSub li.first{
padding-left:22px;
}
#navSub li.first ul li a{
font-weight:400;
}
#navSub li.first ul{
margin-left:-23px;
border-left:solid #fff 9px;
}
#navSub li.first ul li ul li{
margin-left:-22px;
}
#navSub li.first ul li.open ul li{
margin-left:-12px;
}
#navSub li.first ul li.active ul li{
margin-left:-22px;
}
#navSub li.first ul li ul li.active{
margin-left:-22px;
}
#baseStrip a,#footerContainer a{
color:#fff;
}
#footer{
margin:0 auto;
width:940px;
overflow:auto;
padding:10px 0;
}
#footer ul li{
    float:left;
    width:11%;
    background:0 0;
    padding:0;
    // font-size:.917em;
    @include type-setting(-1);
    margin:0;
    text-align:center;
}
#baseStrip{
clear:both;
float:left;
width:100%;
min-width:960px;
position:relative;
}
#baseStripInner{
width:940px;
margin:0 auto;
}
#baseStrip p{
float:left;
padding:12px 10px;
vertical-align:baseline;
margin:0;
color:#fff;
}
#baseStrip ul.ddmswitch li a{
background:0 0;
padding:0;
}

.hseform{
width:100%;
color:#666!important;
}
ul.no-style{
margin:0!important;
padding:0!important;
}
ul.no-style li{
background:0 0!important;
margin:0!important;
padding:0!important;
}
div.box .hseform fieldset{
border:1px solid #ccc;
width:99.7%!important;
}
.hseform fieldset{
position:relative!important;
background-color:#f1f1f1!important;
border-radius:.5em!important;
padding:4em 0 1em!important;
margin:1em 0!important;
width:100%!important;
}
.hseform fieldset fieldset{
border:0!important;
border-radius:0!important;
margin:0!important;
padding:0!important;
}
div.box .hseform fieldset:first-child{
margin-top:.1em!important;
}
div.box .hseform fieldset:last-child{
    margin-bottom:.1em!important;
}
.hseform fieldset legend{
    position:absolute!important;
    top:0!important;
    left:.75em!important;
    clear:both!important;
    font-size:1.4em!important;
    font-weight:700!important;
    color:#4e4e4e!important;
    padding-bottom:.5em!important;
}
.hseform fieldset fieldset legend{
margin:-1.6em 0 0 0!important;
}
.hseform p{
color:#666!important;
width:99.7777%!important;
margin-left:1.2em!important;
clear:both!important;
}
.hseform div p{
margin:.5em 0!important;
}
.hseform p strong{
color:#4e4e4e!important;
}
.hseform label{
font-weight:700!important;
color:#4e4e4e!important;
margin:0!important;
padding:0!important;
clear:both!important;
}
.hseform p.stepCompleted{
background:url(../v4-images/shared/forms/stepCompletedTick.png) center left no-repeat!important;
text-indent:20px!important;
}
.hseform dl dd,.hseform dl dt,.hseform dl label,.hseform input[type=checkbox],.hseform input[type=radio]{
// font-size:100%!important;
margin:0!important;
padding:0!important;
}
.hseform dl dt{
clear:left!important;
float:left!important;
}
.hseform dl dd{
margin-left:.75em!important;
float:left!important;
}
.hseform dl dd,.hseform dl dt{
height:1.2em!important;
padding:.75em 0!important;
}
.hseform input[type=checkbox],.hseform input[type=checkbox]+label,.hseform input[type=radio],.hseform input[type=radio]+label{
display:inline-block!important;
}
.hseform input[type=checkbox]+label,.hseform input[type=radio]+label{
margin:0 1em .5em 0!important;
}
.hseform ul.horizontal li{
float:left!important;
}
.hseform ul.radio-check,.hseform ul.radio-check-horizontal{
margin:.2em 0 0 1em!important;
list-style:none;
}
.hseform ul.radio-check li,.hseform ul.radio-check-horizontal li{
background:0 0!important;
padding:0!important;
margin:0 0 .4em!important;
}
.hseform ul.radio-check-horizontal li{
white-space:nowrap!important;
display:block!important;
float:left!important;
}
.hseform input[type=radio]{
position:absolute!important;
clip:rect(0,0,0,0)!important;
clip:rect(0 0 0 0)!important;
}
.hseform input[type=radio]+label::before{
content:''!important;
padding:0 0 25px 25px!important;
margin-left:-10px!important;
background:url(../v4-images/shared/forms/radio.png) center top no-repeat!important;
}
.hseform input[type=radio]:checked+label::before{
content:''!important;
padding:0 0 25px 25px!important;
margin-left:-10px!important;
background:url(../v4-images/shared/forms/radio-checked.png) center top no-repeat!important;
}
.hseform input[type=checkbox]{
text-decoration:none!important;
position:absolute!important;
clip:rect(0,0,0,0)!important;
clip:rect(0 0 0 0)!important;
}
.hseform input[type=checkbox]+label::before{
content:''!important;
padding:0 0 20px 25px!important;
margin-left:-10px!important;
background:url(../v4-images/shared/forms/checkbox.png) center top no-repeat!important;
}
.hseform input[type=checkbox]:checked+label::before{
content:''!important;
padding:0 0 20px 25px!important;
margin-left:-10px!important;
background:url(../v4-images/shared/forms/checkbox-checked.png) center top no-repeat!important;
}
.hseform input[type=checkbox]:focus+label,.hseform input[type=radio]:focus+label{
color:#007d00!important;
border-style:none!important;
border:none!important;
}
.ie .hseform .radio-checkbox label,.ie .hseform .radio-checkbox-horizontal label{
position:relative!important;
display:block!important;
float:left!important;
clear:none!important;
padding-left:50px!important;
}
.ie .hseform input[type=checkbox],.ie .hseform input[type=radio]{
position:relative!important;
width:1.3em!important;
height:1.3em!important;
display:block!important;
top:3px!important;
left:-4px!important;
vertical-align:bottom!important;
color:#090!important;
border-style:none!important;
border:none!important;
float:left!important;
clear:none!important;
}
.ie .hseform input[type=checkbox]+label::before,.ie .hseform input[type=radio]+label::before{
background:0 0!important;
}
.ie .hseform input[type=radio]+label.inline:before{
margin-left:10px!important;
}
.hseform input[type=radio]:checked:focus+label::before{
background:url(../v4-images/shared/forms/radio-checked-focus.png) center top no-repeat!important;
}
.hseform input[type=checkbox]:checked:focus+label::before{
background:url(../v4-images/shared/forms/checkbox-checked-focus.png) center top no-repeat!important;
}
.hseform select{
position:relative;
padding:.5em!important;
border:#d0d0d0 1px solid!important;
border-radius:.5em!important;
background-color:#fff!important;
color:#666!important;
}
.hseform optgroup{
font-style:normal!important;
padding:.4em!important;
}
.hseform .dateDropdown label,.hseform .dateDropdown select{
display:inline!important;
}
.hseform textarea{
resize:vertical;
}
.hseform input[type=password],.hseform input[type=text],.hseform textarea{
position:relative!important;
background-color:#fff!important;
padding:.5em!important;
border:#d0d0d0 1px solid!important;
border-radius:7px!important;
width:97.5555%;
display:block!important;
color:#666!important;
}
.hseform input:focus,.hseform select:focus,.hseform textarea:focus{
border:#999 1px solid!important;
box-shadow:#ccc 0 0 5px!important;
}
.twoPartInputField div{
width:auto!important;
margin:0!important;
padding:0!important;
}
.twoPartInputField input{
width:46.5%!important;
float:left!important;
}
.twoPartInputField input+input{
margin:0 0 0 .7em!important;
float:left!important;
}
.ie .twoPartInputField input{
margin:0 5px 0 0!important;
}
.hseform .clearFloatHeightFix{
content:"."!important;
visibility:hidden!important;
display:block!important;
height:0!important;
clear:both!important;
}
.hseform fieldset div{
clear:both!important;
position:relative!important;
width:90%!important;
margin:0 auto 1em auto!important;
padding:.75em 0 0 0!important;
background-image:url(../v4-images/shared/forms/form-element-divider.gif)!important;
background-position:center top!important;
background-repeat:repeat-x!important;
}
.hseform fieldset div div{
margin:0!important;
background:0 0!important;
}
.hseform label span.validationHint,.hseform legend span.validationHint{
color:#999!important;
}
.hseform a.button,.hseform button{
outline:0!important;
border:#999 1px solid!important;
float:none!important;
padding:.4em!important;
border-radius:.5em!important;
cursor:pointer!important;
margin:0!important;
color:#545454!important;
background-color:#d1d1d1;
background:-moz-linear-gradient( top, #ebebeb, #d1d1d1);
background:-webkit-linear-gradient(linear,left top,left bottom,from(#ebebeb),to(#d1d1d1));
text-shadow:0 -1px 0 rgba(000,000,000,.3),0 1px 0 rgba(255,255,255,.8);
}
.hseform button+button{
margin-left:.5em!important;
}
.hseform a.button{
display:inline-block;
// font-size:1.1em!important;
padding:.3em .5em!important;
text-decoration:none!important;
width:auto!important;
}
.hseform a.button:focus,.hseform a.button:hover,.hseform button:focus{
-moz-box-shadow:0 1px 3px rgba(194,194,194,.3),inset 0 0 2px rgba(92,92,92,.7);
-webkit-box-shadow:0 1px 3px rgba(194,194,194,.3),inset 0 0 2px rgba(92,92,92,.7);
box-shadow:0 1px 3px rgba(194,194,194,.3),inset 0 0 2px rgba(92,92,92,.7);
}
.hseform .inline{
display:inline!important;
position:relative!important;
}
.hseform input[type=text].input-numeric{
width:7%!important;
display:inline!important;
margin:0 .5em 0 0!important;
}
.hseform input[type=text].input-small{
width:35%!important;
display:inline!important;
margin:0 .5em 0 0!important;
}
.hseform input[type=text].input-medium{
width:50%!important;
display:inline!important;
margin:0 .5em 0 0!important;
}
#sideBar .itemThumbBook li,.box1col .itemThumbBook li{
width:200px;
}
.itemThumbBook li{
position:relative;
list-style:none;
background:0 0;
overflow:hidden;
padding:0 0 15px 0;
margin-left:0;
clear:left;
}
.itemThumbBook img{
float:left;
clear:left;
margin:0 6px 6px 0;
border-right:#dbdbdb 1px solid;
border-bottom:#dbdbdb 1px solid;
}
.itemThumbBook img.fileIcon{
border:none;
clear:none;
float:none;
position:absolute;
padding:2px;
background:url(../v4-images/shared/white-semitransparant.png) repeat;
}
.box1col .itemThumbBook li{
background:0 0;
clear:both;
overflow:hidden;
padding:0 0 12px 0;
margin-left:0;
}
.box1col .itemThumbBook li a{
padding:0;
background:0 0;
display:inline;
}
.itemThumbBook span{
font-weight:400;
margin:0 0 .2em 0;
padding-right:10px;
display:block;
}
.itemThumbBook li a:hover span{
text-decoration:underline;
}
.downloadBox{
clear:both;
padding:8px;
margin:0 0 14px 0;
background-color:#e8e8e8;
background-image:linear-gradient(to bottom,#e8e8e8,#dbdbdb);
border-radius:10px;
}
.downloadBox p{
margin:0!important;
}
.downloadBox a{
display:block;
height:100%;
padding:.5em 0 .5em 60px!important;
}
.downloadBox a.doc{
background-position:-1000px center;
}
.downloadBox a.pdf{
background-position:-2000px center;
}
.downloadBox a.excel{
background-position:-3000px center;
}
.downloadBox a.powerpoint{
background-position:-4000px center;
}
.downloadBox a.survey{
background-position:-5000px center;
font-weight:700;
}
.downloadBox a.survey span{
font-weight:400;
color:#000;
}
.downloadBox a span{
display:block;
}
.icapsl{
float:left;
margin:0 10px 10px 0;
}
.icapml{
float:left;
margin:0 10px 10px 0;
}
.icapll{
float:left;
margin:0 10px 10px 0;
}
.icapsr{
float:right;
margin:0 0 10px 10px;
}
.icapmr{
float:right;
margin:0 0 10px 10px;
}
.icaplr{
float:right;
margin:0 0 10px 10px;
}
.icapsl,.icapsl img,.icapsr,.icapsr img{
width:65px;
}
.icapml,.icapml img,.icapmr,.icapmr img{
width:130px;
}
.icapll,.icapll img,.icaplr,.icaplr img{
width:195px;
}
.icapll,.icaplr,.icapml,.icapmr,.icapsl,.icapsr{
background-color:#e8e8e8;
background-image:linear-gradient(to bottom,#e8e8e8,#dbdbdb);
}
.icapll p,.icaplr p,.icapml p,.icapmr p,.icapsr p,icapsl p{
padding:0 6px 2px 6px;
margin:0!important;
}
div.icaplr span.download{
font-style:normal;
}
.hse2ColumnLeft,.hse2ColumnRight{
float:left;
width:48%;
margin:3px 0 0 0;
}
.hse2ColumnRight{
padding:0 0 0 1%;
}
.hse2ColumnLeft{
padding:0 1% 0 0;
}
.utilclearfloats{
clear:both;
}
#lastUpdated{
display:none;
}
.thumbHead{
float:left;
padding:0 0 14px 0;
}
.thumbHead img{
float:left;
}
.thumbHead img.fileIcon{
float:none;
}
.thumbHead p{
padding-left:74px;
margin-bottom:0!important;
color:#111;
font-weight:700;
vertical-align:text-top;
}
.accordion{
margin:0 0 .625em 0!important;
clear:both;
}
.tabs .ui-tabs-nav{
margin:0!important;
}
.feedLoad{
margin:0 auto;
padding:5px 0;
display:block;
}
.tooltip{
position:relative;
border-bottom:1px dashed #111;
cursor:help;
}
.tooltip :focus+:last-child,.tooltip:focus>:last-child,.tooltip:hover>:last-child{
opacity:1;
-webkit-transition:.4s 0s;
-moz-transition:.4s 0s;
-ms-transition:.4s 0s;
-o-transition:.4s 0s;
transition:.4s 0s;
visibility:visible;
}
.tooltip>:last-child{
border:solid 1px;
border-radius:5px;
-webkit-box-shadow:0 1px 2px rgba(0,0,0,.3),0 1px 0 rgba(255,255,255,.3) inset;
-moz-box-shadow:0 1px 2px rgba(0,0,0,.3),0 1px 0 rgba(255,255,255,.3) inset;
box-shadow:0 1px 2px rgba(0,0,0,.3),0 1px 0 rgba(255,255,255,.3) inset;
-webkit-box-sizing:border-box;
-moz-box-sizing:border-box;
-ms-box-sizing:border-box;
box-sizing:border-box;
// font-size:1em;
line-height:1.5;
opacity:0;
padding:10px 20px;
position:absolute;
-webkit-transition:.2s 0s;
-moz-transition:.2s 0s;
-ms-transition:.2s 0s;
-o-transition:.2s 0s;
transition:.2s 0s;
visibility:hidden;
width:275px;
z-index:999;
font-weight:400;
font-style:normal;
}
.tooltip>:last-child *{
max-width:100%;
}
.tooltip>:last-child:after,.tooltip>:last-child:before{
border:solid 11px;
content:"";
display:block;
margin:0 20px 0 20px;
position:absolute;
}
.tooltip>:last-child{
background-color:#ffdb58;
border-color:#f1bd00;
color:#3f3100;
}
.tooltip>:last-child:after{
border-color:#ffdb58;
}
.tooltip>:last-child:before{
border-color:#f1bd00;
}
.tooltip>:last-child{
text-shadow:0 1px 0 rgba(255,255,255,.5);
}
.tooltip.tooltipToolbox>:last-child{
bottom:100%;
margin-bottom:15px;
}
.tooltip.tooltipToolbox>:last-child:after{
margin-top:-1px;
}
.tooltip.tooltipToolbox>:last-child:after,.tooltip.tooltipToolbox>:last-child:before{
border-bottom-color:transparent!important;
border-left-color:transparent!important;
border-right-color:transparent!important;
top:100%;
}
.tooltip.tooltipToolbox>:last-child:before{
margin-top:0;
}
.tooltip.tooltipToolbox>:last-child{
right:0;
}
.tooltip.tooltipToolbox>:last-child:after,.tooltip.tooltipToolbox>:last-child:before{
right:0;
}
.ie8 .tooltip span{
display:none;
}
.ie8 .tooltip:focus span,.ie8 .tooltip:hover span{
display:block;
background-color:#ffdb58;
border-color:#f1bd00;
color:#3f3100;
position:absolute;
top:-9.5em;
right:0;
width:275px;
padding:5px 10px;
z-index:999;
}
ul.semtabs{
margin:0 auto!important;
padding:0;
clear:both;
list-style:none;
overflow:hidden;
float:left;
}
ul.semtabs li{
float:left;
margin:0 6px 0 0;
padding:0;
list-style:none;
background-color:#464646;
border-radius:5px 5px 0 0;
}
ul.semtabs li.active{
background-color:#e6e6e6;
}
ul.semtabs li a{
display:block;
padding:3px 10px;
text-decoration:none;
font-weight:700;
color:#fff;
}
ul.semtabs li.active a{
color:#464646;
}


div.diaryMonth{
margin-bottom:30px;
}
div.diaryMonth h2{
text-align:center;
font-weight:700;
}
div.diaryMonth h2{
color:#fff;
padding:8px;
font-weight:400;
clear:none;
}
div.diaryMonth li h3{
font-size:1em;
color:#981e32;
margin:0;
}
div.diaryMonth ul{
margin:0;
}
div.diaryMonth li p{
margin:0;
}
div.diaryMonth li{
border-bottom:1px solid #c2c2c2;
padding:5px 10px;
background:0 0;
margin:0;
}
div.diaryMonth li.odd{
background-color:#f2f2f2;
border:0;
}
div.diaryMonth li.even{
background-color:#e4e4e4;
border:0;
}
#diaryContainer{
position:relative;
overflow:hidden;
}
.cdResponse{
line-height:1.4em;
}
.cdResponse address{
font-style:normal;
}
ul.ddmswitch{
height:7em;
overflow:auto;
background-color:#fff;
}
ul.ddmswitch li{
margin-left:10px;
line-height:1;
}
ul.ddmswitch a.default{
font-weight:700;
}
.ddmswitchContainerWithImages ul.ddmswitch{
height:2em;
overflow:hidden;
width:180px;
position:absolute;
left:100px;
bottom:-9px;
z-index:10;
border:1px solid #aaa;
}
.ddmswitchContainerWithImages ul.ddmswitch.open{
overflow:auto;
}
.ddmswitchContainerWithImages{
padding:5px 0 0 0!important;
position:relative;
}
.ddmswitchContainerWithImages img{
margin-top:0;
margin-right:5px;
float:left;
}
.ddmswitchContainerWithImages .trigger{
background:url(../v4-images/shared/page-furniture.png) 0 -220px no-repeat;
height:16px;
width:15px;
position:absolute;
top:12px;
right:1px;
z-index:11;
}
.ddmswitchContainerWithImages a,.ddmswitchContainerWithImages a:active,.ddmswitchContainerWithImages a:link,.ddmswitchContainerWithImages a:visited{
color:#000!important;
background-color:#fff;
text-decoration:none;
cursor:pointer;
display:block;
line-height:1.6;
}
.ddmswitchContainerWithImages a:hover{
background-color:#eee;
display:block;
}
#baseStrip ul.ddmswitch{
margin:3px 0;
}
#baseStrip ul.ddmswitch li{
background:0 0;
margin-left:0;
padding:0 0 0 4px;
}
#baseStrip ul.ddmswitch a{
line-height:1.6;
display:block;
color:#000;
}
#baseStrip .ddmswitchContainerWithImages{
float:right;
width:282px;
}
#baseStrip .ddmswitchContainerWithImages .ddmlabel{
color:#fff;
float:left;
margin:6px 0 0 0;
}
#baseStrip .ddmswitchContainerWithImages :focus{
outline:0;
background-color:#eee;
}
ul.ddmswitch span.nonLatin{
width:47px;
height:20px;
background:url(../v4-images/shared/page-furniture.png) no-repeat;
display:inline-block;
vertical-align:bottom;
}
#lArabic{
background-position:0 -140px;
width:37px;
}
#lBengali{
background-position:0 0;
width:42px;
}
#lChinese{
background-position:0 -20px;
width:34px;
}
#lFarsi{
background-position:0 -160px;
width:40px;
}
#lGujarati{
background-position:0 -60px;
width:47px;
}
#lHindi{
background-position:0 -40px;
width:27px;
}
#lKurdish{
background-position:0 -200px;
width:44px;
}
#lPashto{
background-position:0 -180px;
width:29px;
}
#lPunjabi{
background-position:0 -80px;
width:44px;
}
#lTamil{
background-position:0 -120px;
width:35px;
}
#lUrdu{
background-position:0 -100px;
width:24px;
}
#contentContainer ul.lightbox{
margin:0;
padding:0;
overflow:hidden;
}
#contentContainer ul.lightbox li{
padding:0 0 20px 0;
margin:0;
list-style:none;
width:100%;
overflow:hidden;
}
#contentContainer ul.lightbox li img{
float:left;
margin-right:10px;
}
#contentContainer ul.lightbox li div{
padding-left:148px;
}
#contentContainer ul.lightbox li div a{
padding-left:16px;
}
body.hasScript #contentContainer ul.lightbox li{
padding:0 0 20px 0;
margin:0;
list-style:none;
float:left;
}
body.hasScript #contentContainer ul.lightbox li img{
float:none;
margin-right:0;
}
body.hasScript #contentContainer ul.lightbox li div{
padding-left:0;
}
body.hasScript #contentContainer ul.lightbox li.lastOnLine{
padding-right:0;
}
div#nyroModalFull{
font-size:1em;
color:#000;
font-family:Verdana;
}
.ie7 div#nyroModalFull div#nyroModalWrapper a#closeBut{
line-height:1.65;
}
div#nyroModalLoading{
border:4px solid #777;
width:150px;
height:150px;
text-indent:-9999em;
background:#fff url(../v4-images/shared/loading.gif) no-repeat;
background-position:center;
}
div#nyroModalLoading.error{
border:4px solid #f66;
line-height:20px;
padding:20px;
width:300px;
height:100px;
text-indent:0;
background-color:#fff;
}
div#nyroModalWrapper{
background-color:#fff;
border:4px solid #777;
}
div#nyroModalWrapper a#closeBut{
position:absolute;
display:block;
top:10px;
right:19px;
width:150px;
height:25px;
text-align:right;
padding:0 30px 0 0;
z-index:99999;
cursor:pointer;
line-height:1.5;
}
div#nyroModalWrapper h1#nyroModalTitle{
display:none;
}
div#nyroModalWrapper .nyroModalCount{
color:#999;
white-space:nowrap;
}
div#nyroModalWrapper div.wrapper div#nyroModalContent{
padding:5px;
}
div#nyroModalWrapper div.wrapperImg div#nyroModalContent{
position:relative;
overflow:hidden;
text-align:center;
}
div#nyroModalWrapper div.wrapperImg div#nyroModalContent img{
vertical-align:baseline;
}
div#nyroModalWrapper div.wrapperImg div#nyroModalContent div{
position:absolute;
bottom:0;
left:0;
padding:0;
margin:10px 100px 0 130px;
overflow:hidden;
line-height:1.15;
}
div#nyroModalWrapper div.wrapperImg div#nyroModalContent a{
position:absolute;
bottom:9px;
z-index:2000;
cursor:pointer;
}
div#nyroModalWrapper div.wrapperImg div#nyroModalContent a.nyroModalPrev{
left:20px;
padding-right:30px;
height:25px;
line-height:1.5;
}
div#nyroModalWrapper div.wrapperImg div#nyroModalContent a.nyroModalNext{
right:20px;
padding-right:30px;
height:25px;
line-height:1.5;
}
div#nyroModalWrapper #nyroModalContent{
padding:40px 20px 50px 20px;
}
#nyroModalLoading,#nyroModalWrapper{
border:none!important;
}
.lightbox span{
padding:2px 6px;
float:left;
text-decoration:underline;
}
.lightbox a.hover span,.lightbox a:active span,.lightbox a:focus span,.lightbox a:hover span{
cursor:pointer;
}
.lightbox .expand{
height:22px;
width:22px;
}
.lightbox,.lightbox li{
position:relative;
}
.lightbox .expand{
position:absolute;
right:5px;
}
.alertbox{
padding:8px 35px 8px 14px!important;
margin-bottom:20px!important;
text-shadow:0 1px 0 rgba(255,255,255,.5)!important;
background-color:#fcf8e3!important;
border:1px solid #fbeed5!important;
border-radius:4px!important;
}
.alertbox,.alertbox h4{
color:#c09853!important;
}
.alertbox h4{
margin:0!important;
}
.alertbox .close{
position:relative!important;
top:-2px!important;
right:-21px!important;
line-height:20px!important;
}
.alertbox-success{
color:#468847!important;
background-color:#dff0d8!important;
border-color:#d6e9c6!important;
}
.alertbox-success h4{
color:#468847!important;
}
.alertbox-danger,.alertbox-error{
color:#b94a48!important;
background-color:#f2dede!important;
border-color:#eed3d7!important;
}
.alertbox-danger h4,.alertbox-error h4{
color:#b94a48!important;
}
.alertbox-info{
color:#3a87ad!important;
background-color:#d9edf7!important;
border-color:#bce8f1!important;
}
.alertbox-info h4{
color:#3a87ad!important;
}
.alertbox-block{
padding-top:14px!important;
padding-bottom:14px!important;
}
.alertbox-block>p,.alertbox-block>ul{
margin-bottom:0;
}
.alertbox-block p+p{
margin-top:5px!important;
}
#cboxOverlay,#cboxWrapper,#colorbox{
position:absolute;
top:0;
left:0;
z-index:9999;
overflow:hidden;
}
#cboxWrapper{
max-width:none;
}
#cboxOverlay{
position:fixed;
width:100%;
height:100%;
}
#cboxBottomLeft,#cboxMiddleLeft{
clear:left;
}
#cboxContent{
position:relative;
}
#cboxLoadedContent{
overflow:auto;
-webkit-overflow-scrolling:touch;
}
#cboxTitle{
margin:0;
}
#cboxLoadingGraphic,#cboxLoadingOverlay{
position:absolute;
top:0;
left:0;
width:100%;
height:100%;
}
#cboxClose,#cboxNext,#cboxPrevious,#cboxSlideshow{
cursor:pointer;
}
.cboxPhoto{
float:left;
margin:auto;
border:0;
display:block;
max-width:none;
-ms-interpolation-mode:bicubic;
}
.cboxIframe{
width:100%;
height:100%;
display:block;
border:0;
}
#cboxContent,#cboxLoadedContent,#colorbox{
box-sizing:content-box;
-moz-box-sizing:content-box;
-webkit-box-sizing:content-box;
}
#cboxOverlay{
background-color:#ccc;
}
#colorbox{
outline:0;
}
#cboxTopLeft{
width:25px;
height:25px;
background:url(../v4-images/shared/colorbox/images/border1.png) no-repeat 0 0;
}
#cboxTopCenter{
height:25px;
background:url(../v4-images/shared/colorbox/images/border1.png) repeat-x 0 -50px;
}
#cboxTopRight{
width:25px;
height:25px;
background:url(../v4-images/shared/colorbox/images/border1.png) no-repeat -25px 0;
}
#cboxBottomLeft{
width:25px;
height:25px;
background:url(../v4-images/shared/colorbox/images/border1.png) no-repeat 0 -25px;
}
#cboxBottomCenter{
height:25px;
background:url(../v4-images/shared/colorbox/images/border1.png) repeat-x 0 -75px;
}
#cboxBottomRight{
width:25px;
height:25px;
background:url(../v4-images/shared/colorbox/images/border1.png) no-repeat -25px -25px;
}
#cboxMiddleLeft{
width:25px;
background:url(../v4-images/shared/colorbox/images/border2.png) repeat-y 0 0;
}
#cboxMiddleRight{
width:25px;
background:url(../v4-images/shared/colorbox/images/border2.png) repeat-y -25px 0;
}
#cboxContent{
background-color:#fff;
overflow:hidden;
}
.cboxIframe{
background-color:#fff;
}
#cboxError{
padding:50px;
border:1px solid #ccc;
}
#cboxLoadedContent{
margin:30px 0;
}
#cboxTitle{
position:absolute;
bottom:0;
left:40px;
text-align:left;
width:80%;
color:#444;
background-color:#fff;
}
#cboxCurrent{
position:absolute;
bottom:0;
right:40px;
color:#757575;
}
#cboxLoadingOverlay{
background:#fff url(../v4-images/shared/colorbox/images/loading.gif) no-repeat 5px 5px;
}
#cboxClose,#cboxNext,#cboxPrevious,#cboxSlideshow{
border:0;
padding:0;
margin:0;
overflow:visible;
width:auto;
background:0 0;
}
#cboxClose:active,#cboxNext:active,#cboxPrevious:active,#cboxSlideshow:active{
outline:0;
}
#cboxSlideshow{
position:absolute;
bottom:0;
right:42px;
color:#444;
}
#cboxPrevious{
position:absolute;
bottom:0;
left:0;
color:#444;
}
#cboxNext{
position:absolute;
bottom:0;
right:0;
color:#444;
}
#cboxClose{
position:absolute;
top:0;
right:0;
display:block;
color:#444;
}
@media print{
body{
font-size:100%;
}
#baseStrip,#breadCrumb,#cookieContainer,#footerContainer,#headerContainer,#navDivider,#navSecondary,#navigationPositioner,#sideBar,#siteAlert,#top,.socialMedia{
display:none!important;
float:none;
padding:0!important;
margin:0!important;
box-shadow:none!important;
}
#printBanner{
display:block;
position:relative;
height:65px;
margin:0 0 10px 0;
}
#printBground{
width:100%;
position:absolute;
top:0;
left:0;
z-index:100;
}
#printLogo{
top:0;
left:0;
z-index:110;
position:absolute;
}
#columnContainer,#contentContainer,#pageContainer,.column1,.column2{
width:auto!important;
float:none;
margin:0;
padding:0;
}
.hideFromScreen{
display:inline;
}
h2.hideFromScreen{
display:block;
}
.box{
width:98%!important;
margin-top:5px!important;
margin-bottom:5px!important;
padding:5px!important;
border:1px solid #ccc;
height:auto!important;
}
.box1col,.box2col,.box3col,.boxHalfLeft{
margin-right:12px!important;
}
.box1col{
width:28%!important;
}
.box2col{
width:63%!important;
}
.box3col{
width:98%!important;
}
.boxLast{
margin-right:0!important;
}
.boxHalfLeft,.boxHalfRight{
width:30%!important;
}
.more{
display:none!important;
}
.ui-accordion .ui-accordion-content{
display:block!important;
}
.bl,.br,.tl,.tr{
display:none;
}
ul li{
list-style:disc outside!important;
padding:0!important;
margin:.5em 1em .5em 2em!important;
}
ul li a{
padding:0!important;
background-image:none!important;
margin:0!important;
}
ul li a img{
list-style:none;
}
}
