/* v4.2.8 (V5 Edit) */
/*
	Contents

	- Framework core styles
	- Website specific styles
	- Google autocomplete styles
	- jQueryUI
*/

/* v4.2.5 minified with http://cssminifier.com/
*  Yui @ http://refresh-sf.com/yui/ created socail media layout issues
*  minifycss @ http://www.minifycss.com/css-compressor/ lost 'x' close on pop-ups
*/

/*v4.2.8 amended by Sarah for template updates - 20/2/19*/

/* ----------------------------------------------------- */
/* Site Layout */
/* ----------------------------------------------------- */


#headerContainer, #baseStrip, div.diaryMonth h2, .boxSubscribe {
	background-color: #981e32;
}

/* ----------------------------------------------------- */
/* Typography & Basic Definitions */
/* ----------------------------------------------------- */

/* Subnav */

/* Sub nav bullet triggers, at different levels */

#navSub li.active {
	border-left:#B30030 solid 3px;
}

p,
li,
h4 {
	color:#111;
}

h1 {
	color: $red;
}

h2 a:hover,
h2 a:active,
h2 a:focus {
	color:#555;
}

/* List styles */


// resets ul li


#contentContainer ul.linkListNoBullet {
margin: 0 0 10px 0 !important;
}

#contentContainer ul.linkListNoBullet li {
list-style-image: none !important;
}

 ul.columnsList li::before, #pagination ul li::before, ul.itemThumbBook li, ul.hsl-links li, ul.social li, ul.articleList, ul.linkListNoBullet li {
padding-left: 0 !important;
background: none !important;
}

#contentContainer ul.linkList li::before {
content: "";
position: relative;
float: left;
top: 5px;
width: 0;
height: 0;
border-style: solid;
border-width: 5.5px 0 5.5px 6.5px;
border-color: transparent transparent transparent $red;
margin-left: -18px;
padding-right: 12px;
}



// Single list items

#contentContainer p.linkList, #contentContainer p.linkBullet  {
padding: 0 0 0 18px;
clear: both;
position: relative;
}

#contentContainer p.linkBullet::before {
	content: "";
	position: absolute;
	background-image: url('../../assets/v5-images/icons/svg/solid/square-full-solid-red.svg');
	background-repeat: no-repeat;
	height: 4px;
	width: 4px;
	top: 8px;
	left: 0;
}

#contentContainer p.linkList::before  {
	content: "";
	position: absolute;
	background-image: url('../../assets/v5-images/icons/svg/solid/caret-right-red.svg');
	background-repeat: no-repeat;
	height: 10px;
	width: 10px;
	top: 6px;
	left: 0;
}

p.more {
padding-left: 20px;
}

#contentContainer p.more::before {
	content: "";
	position: relative;
	margin-left: -15px;
	float: left;
	top: 4px;
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 5.5px 0 5.5px 6.5px;
	border-color: transparent transparent transparent $red;
}

#contentContainer .backgroundRed ul li::before, #contentContainer .backgroundRed p.linkBullet::before, #contentContainer .backgroundRed p.linkList::before {
    content: '';
    display: inline-block;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 5.5px 0 5.5px 6.5px;
    border-color: transparent transparent transparent white;
    margin-left: -18px;
    padding-right: 12px;
}

#contentContainer .backgroundRed p.linkList::before {
margin-left: 0;
}

ul.listtick, ul.tick, ul.listcross, ul.cross {
margin: 0 0 10px 20px !important;
}

ul.listtick li::before,
ul.tick li::before {
content: '' !important;
float: left;
position: relative;
background: url(../../assets/v5-images/icons/svg/solid/check-solid-green.svg) no-repeat 0 !important;
width: auto;
height: 10px;
top: 5px;
margin-left: -18px;
padding-left: 12px;
}

ul.listcross li::before,
ul.cross li::before {
content: '' !important;
float: left;
position: relative;
background: url(../../assets/v5-images/icons/svg/solid/cross-solid.svg) no-repeat 0 !important;
width: auto;
height: 10px;
top: 5px;
margin-left: -18px;
padding-left: 12px;
}

/* Subscribe */

.itemThumbBook li a:hover span {
color:#981e32;
}

.itemThumbBook li a:hover span.subText {
color: $hseblack !important;
}

/* ----------------------------------------------------- */
/* Misc */
/* ----------------------------------------------------- */

.boxSubscribeSingle h2 {
	color:#4E4E4E;
}
.headingTwo {
	font-weight:bold;
}

/* ----------------------------------------------------- */
/* Widgets */
/* ----------------------------------------------------- */


/* Events diary page */

div.diaryMonth {
	margin-bottom: 30px;
}

div.diaryMonth h2 {
	color:#4E4E4E;
}

div.diaryMonth h2 {
	color: #ffffff;
}
div.diaryMonth li h3 {
	color:#981e32;/*changed from #a50532 by Sarah 27/2/19*/
}

div#contentContainer div.diaryMonth li.odd {
	background-color:#f2f2f2;
	border: 0px;
}

div#contentContainer div.diaryMonth li.even {
	background-color:#e4e4e4;
	border: 0px;

}


/****added by SArah 02/05/19 for product buy buttons in pubns***/
.buy-button{
	background-color: #981e32;
	color: #fff !important;
	padding: 5px;
}

.buy-button a:hover, .buy-button a:visited {
	background-color: #981e32;
	text-decoration: underline;
	padding: 5px;
}
