#headerLogo {
font-size: 14px;
}

#headerContainer {
width: 100%;
min-width: 960px;
}
#header {
padding: 10px 0 0 0;
width: $full-width;
height: 56px;
margin: 0 auto;
}

#pageContainer {
position: relative;
width: $full-width;
margin: 12px auto 10px auto;
padding: 0 10px;
}

#contentContainer ul,
#sideBar ul {
margin: 0 0 10px 28px;
}
#contentContainer ul {
clear: both;
}

#contentContainer {
float: left;
position: relative;
margin: 7px 0 0 0;
}
#navSecondary {
float: left;
width: 220px;
margin: 7px $gutter 7px 0;
position: relative;
}
#navigationContainer {
width: $full-width;
margin: 15px auto 0 auto;
height: 33px;
}
#footerContainer {
margin: 1em 0 0 0;
width: auto;
min-width: 960px;
clear: both;
position: relative;
background-color: #333;
}

#footer {
margin: 0 auto;
width: $full-width;
overflow: auto;
padding: 10px 0;
}
#footer ul li {
float: left;
width: 11%;
background: 0 0;
padding: 0;
margin: 5px 0;
@include type-setting(0);
text-align: center;
}
#baseStrip {
clear: both;
float: left;
width: 100%;
min-width: 960px;
position: relative;
}
#baseStripInner {
width: $full-width;
margin: 0 auto;
}
#baseStrip p {
float: left;
padding: 12px 10px;
vertical-align: baseline;
margin: 0;
color: #fff;
}

#gutter,
#printBanner {
display: none;
}

#lastUpdated {
display: none;
}