{% from "macros/input.njk" import fieldInput %}
{% from "macros/input-email.njk" import fieldInputEmail %}
{% from "macros/input-radio.njk" import fieldInputRadio %}
{% from "macros/input-numeric.njk" import fieldInputNumeric %}
{% from "macros/submit.njk" import fieldInputSubmit %}
{% include "includes/forms.njk" %}
{% macro formContainer(components, childObjects) %}
    {% for elem in components.objects %}
        <form id="{{ elem.id }}" action="{{ elem.action }}">
            {% for elem in childObjects %}
                {% if elem.type == 'text' %}
                    {{ fieldInput(elem.id, elem.heading, elem.instruction, elem.label, elem.label_hint, elem.type) }}
                {% elif elem.type == 'numeric' %}
                    {{ fieldInputNumeric(elem.id, elem.heading, elem.instruction, elem.label, elem.label_hint, elem.type) }}
                {% elif elem.type == 'email' %}
                    {{ fieldInputEmail(elem.id, elem.heading, elem.instruction, elem.label, elem.label_hint, elem.type) }}
                {% elif elem.type == 'radio' %}
                    {{ fieldInputRadio(elem.id, elem.heading, elem.instruction, elem.label, elem.label_hint, elem.type, elem.options) }}
                {% elif elem.type == 'submit' %}
                    {{ fieldInputSubmit(elem.id, elem.heading, elem.instruction, elem.label, elem.label_hint) }}
                {% else %}
                    {{ fieldInput(elem.id, elem.heading, elem.instruction, elem.label, elem.label_hint, elem.type) }}
                {% endif %}
            {% endfor %}
        {% endfor %}
    </form>
{% endmacro %}