// Navigation

.hse-navigation {
  @include clearfix();
  display: flex;
  @include mq($until: hse-desktop) {
  background: $gray;
  }
  }
  
  .hse-header__navigation-container {
  @include clearfix();
  @include mq($until: hse-desktop) {
  margin: 0;
  .hse-width-container {
    margin: 0;
    max-width: 100%;
    }
  } 
 
  }
  
  .hse-navigation__navigation-list {
  margin: 0;
  }
  
// fix required for overriding width-container for mobile navigation

  .hse-navigation__navigation-link {
  @include mq($until: hse-desktop) {
  padding: 10px hse-spacing(3);
  }
  @include mq($from: 769px) {
  padding: 10px hse-spacing(5);
  }
  @include mq($from: hse-desktop) {
  padding: hse-spacing(2) hse-spacing(3);
  }
  }


.navDrop {
  display: none;
  /* Hides drop-down menu */
}

.navDropdown li {
  background: none;
}

/* ---------------------------- */
/* Main menu */
/* ---------------------------- */

@media only screen and (min-width: $desktop) {
  .menu li.search {
    display: none;
  }

  .home .menu li.home,
  .news .menu li.news,
  .guidance .menu li.guidance,
  .aboutyou .menu li.aboutyou,
  .abouthse .menu li.abouthse,
  .contact .menu li.contact,
  .freeUpdates .menu li.freeUpdates {
    background-color: #333;
    border-radius: 0px;
  }

  .home .menu  {
    & li.home a { border-bottom: 2px solid #333;
    }
  }

  .news .menu  {
    & li.news a { border-bottom: 2px solid #333;
    }
  }

  .guidance .menu  {
    & li.guidance a { border-bottom: 2px solid #333;
    }
  }

  .abouthse .menu  {
    & li.abouthse a { border-bottom: 2px solid #333;
    }
  }

  .freeUpdates .menu  {
    & li.freeUpdates a { border-bottom: 2px solid #333;
    }
  }

  .contact .menu  {
    & li.contact a { border-bottom: 2px solid #333;
    }
  }


}

.desktop-hide {
  display: none;
  @media only screen and (min-width: $desktop) {
    display: block;
  }
}

.menu {
  display: none;
  font-size: 1.1em !important;
  @media only screen and (min-width: $desktop) {
    display: block;
  }
}

.menu-button {
@include mq($from: hse-desktop) {
 display: none;
}
}

.menu-button {
  height: 25px;
  width: 25px;
  padding: 0;
  background: none;
  border: none;
  margin-left: auto;
}

.menu-button:hover {
  cursor: pointer;
}

.menu.active {
  display: block;
}

.menu a {
  display: block;
}

.no-js .menu {
  display: block;
}



.menu li {
  width: 100%;
  float: left;
  list-style-type: none;
  background: none;
  padding: 0;
  @media only screen and (min-width: $desktop) {
    width: auto;
    margin: 0;
    float: left;
    text-align: center;
    position: relative;
    background-color: $red;
  }
}

.menu li a:hover {
  background-color: $black;
  @include mq($from: hse-desktop) {
  border-bottom: 1px solid $black;
  }
  color: white;
}

.menu li a {
  text-decoration: none;
  width: 100%;
  color: $body;
  box-sizing: border-box;
  border-bottom: 1px solid $gray;
  @media only screen and (min-width: $desktop) {
    background-image: none;
    vertical-align: middle;
    font-weight: bold;
    color: #fff;
    text-decoration: none;
    display: block;
    line-height: inherit;
    border-bottom: 2px solid $red;
  }
}

.menu li a:hover {
  @media only screen and (min-width: $desktop) {
    background-color: $hseblack;
  }
}

.full-width-container {
  width: 100%;
  float: left;
  clear: both;
}

.responsive-container {
  width: 90%;
  padding-left: 5%;
  padding-right: 5%;
}

.responsive-nav-container {
  width: 100%;
}

.responsive-nav-container .menu li:hover a::before {
  color: white;
}

// icons

.menu li a::before {
  content: " ";
  background-image: url("../../assets/v5-images/icons/svg/solid/chevron-right-gray.svg");
  @media only screen and (min-width: $desktop) {
    display: none;
  }
  float: right;
  background-repeat: no-repeat;
  display: inline-block;
  width: 25px;
  height: 25px;
  margin: 0;
}

.menu li a:hover::before {
  content: " ";
  background-image: url("../../assets/v5-images/icons/svg/solid/chevron-right-white.svg");
  @media only screen and (min-width: $desktop) {
    display: none;
  }
  float: right;
  background-repeat: no-repeat;
  display: inline-block;
  width: 25px;
  height: 25px;
  margin: 0;
}

.menu li a:focus::before {
  background-image: url("../../assets/v5-images/icons/svg/solid/chevron-right-dark-gray.svg");
}
