$type-settings: (
  -1: (
    font-size: 0.75rem,
    line-height: 21px
  ),
  0: (
    font-size: 0.9rem,
    line-height: 1.5
  ),
  1: (
    font-size: 2.45rem,
    line-height: 1
  ),
  2: (
    font-size: 1.625rem,
    line-height: 1.2
  ),
  3: (
    font-size: 1.1rem,
    line-height: 1.4
  )
);

@function type-scale($level) {
  @return map-get(
    map-get($type-settings, $level), 'font-size');
}

@function line-height($level) {
  @return map-get(
    map-get($type-settings, $level), 'line-height');
}

@mixin type-setting($level) {
  font-size: type-scale($level);
  line-height: line-height($level);
}

body {
    font-family: $color_hse-black;
}

.heading-xl,
h1 {
    @include type-setting(1);
    @media only screen and (max-width : $desktop) {
    font-size: 2rem;
    }
    font-weight: bold;
    margin: 0 0 15px;
    color: $color_hse-red;
}

.heading-l,
h2 {
    @include type-setting(2);
    font-weight: bold;
    color: $black;
    margin: 0 0 15px;
}

.heading-m,
h3 {
    @include type-setting(3);
    font-weight: bold;
    color: $black;
    margin: 0 0 15px;
}

.heading-s,
h4 {
    @include type-setting(0);
    font-weight: bold;
    color: $black;
    margin: 0 0 15px;
}

.heading-xs,
h5 {
    @include type-setting(0);
    font-weight: bold;
    color: $black;
    margin: 0 0 15px;
}

address,
li,
dt,
dd,
label,
p {
    @include type-setting(0);
    color: $black;
}

.subtext {
    @include type-setting(-1);
}

sub,
sup {
    @include type-setting(-1);
    line-height: 0;
    position: relative;
    vertical-align: baseline;
}

sub {
    bottom: -0.25em;
}

sup {
    top: -0.5em;
}

small {
    @include type-setting(-1);
}

pre,
code,
kbd,
samp {
    font-family: monospace, monospace;
    @include type-setting(0);
}
abbr[title] {
    border-bottom: none;
    text-decoration: underline;
    text-decoration: underline dotted;
}

#navSub li.active {
	border-left:#B30030 solid 3px;
}

p,
li,
h4 {
	color:#111;
}

h1 {
	color: $color_hse-red;
}

h2 a:hover,
h2 a:active,
h2 a:focus {
	color:#555;
}


$body-font: Arial,Helvetica,sans-serif;

$vr: 6px;
$hr: 10px;

$dp: 8px;
$dp-half: 4px;

$button-border-radius: 0;
$focus-width: 3px;
$border-width: 2px;
