// Breadcrumbs

#breadCrumb {
margin-bottom: 10px;
background: $gray;
margin: 0;
float: left;
}

#breadCrumb ol li {
font-size: 1.1em;	
}

#breadCrumb ol li a {
color: $hseblack;
text-decoration: underline;
}

#breadCrumb ol li a:hover {
text-decoration: none;	
}