/* Components */

// itemThumbBook

.box ul.itemThumbBook a:link {
text-decoration: none !important;
}


ul.itemThumbBook .header, ul.itemThumbBook .resourceTitle {
color: $red;
text-decoration: underline;   
}

ul.itemThumbBook .header:hover , ul.itemThumbBook .resourceTitle:hover, ul.itemThumbBook a:focus .header, ul.itemThumbBook a:focus .resourceTitle {
color: $black !important;
}

#contentContainer ul.itemThumbBook .subText {
width: 100% !important;
}

#contentContainer ul.itemThumbBook {
margin: 0 !important;
}

#contentContainer ul.itemThumbBook a {
float: left !important;
width: 100%;
}

#contentContainer ul.itemThumbBook li {
float: left;
padding: 0 !important;
margin-bottom: 10px;
width: 100%;
}

#contentContainer ul.itemThumbBook li p {
margin: 0 !important;
}

#contentContainer ul.itemThumbBook span {
padding-right: 0;
}

.v5-float-right {
float: right !important
}


// HSL Publications *replaced js carousel (homepage)

.hsl-links {
margin: 0 !important;
}

ul.itemThumbBook.publications a {
text-decoration: underline !important;
}

ul.itemThumbBook.publications li {
width: 100% !important;
}

ul.itemThumbBook.publications a {

@media only screen and (min-width : 756px) {
width: 47% !important;	
}

@media only screen and (min-width : 979px) {
max-width: 100px !important;
}

margin-right: 20px;
clear: none;

}

@media only screen and (min-width : 979px) {
    .itemThumbBook.publications  a:last-of-type {
    margin-right: 0px !important;
}


.publications .itemThumbBook img {
margin: 0 0 10px 0 !important;
}


.mobile {
display: none;
}

.publications li {
clear: none !important;
}

}


.publications-products a {
background: #2846A5;
}

.training a {
background: #4F2170;
}

.testing a {
background: #CE421B;
}

.research a {
background: #287826;	
}



// Lightbox

.lightbox {
margin-bottom: 10px !important;
}

.lightbox li {
background: none;
padding-right: 0 !important;
background: $gray;
border: 5px solid $gray;
}

#contentContainer ul.lightbox li {
padding-bottom: 0 !important;
}

.lightbox li a {
float: left;
}

body.hasScript #contentContainer ul.lightbox li {
margin-right: 10px;
}

.expand {
bottom: 10px !important;
left: auto !important;
}

// Dropdown

.ddmswitch input.button {
position: relative;
background: $red;
color: white;
}

.box .ddmStyling select, .homepageDropdown .ddmStyling select {
margin-bottom: 10px !important;
}

.box .ddmStyling {
margin: 0 10px 0 0;
}

.ddmStyling {
float: left;
}

.ddmStyling select {
float: left;
display: block;
@media only screen and (min-width : $desktop) {
width: 100% !important;
}
max-width: 100%; 
box-sizing: border-box;
margin: 0;
border-radius: 0;
height: 31px !important;
background-position: right;
content: " ";
}

.ddmStyling select::-ms-expand {
display: none;
}
.ddmStyling select:hover {
border-color: #888;
}
.ddmStyling selectfocus {
border-color: #aaa;
box-shadow: 0 0 1px 3px rgba(59, 153, 252, .7);
box-shadow: 0 0 0 3px -moz-mac-focusring;
color: #222; 
outline: none;
}
.ddmStyling select option {
font-weight:normal;
}

.ddmStyling input.button, .box .ddmStyling input.button {
width: 34px !important;
height: 31px !important;
}

.ddmStyling input.button:hover {
cursor: pointer;
}

.ddmStyling select {
width: 160px !important;
}

/* Cookies bar */

.v5-span-heading1 {
color: white;
font-size: 2em;
float: left;
padding: 20px 0;
}

#cookieNotify {
background: none !important;
}

#cookieNotify p {
padding: 0;
}

#cookieNotify .v5-hide-button {
background: none;
color: white;
text-decoration: underline;
border: 0;
}

#cookieNotify .v5-hide-button:hover {
cursor: pointer;
}

// Alert box

.v5-notice-box {
float: left;
padding: 10px;
width: 100%;
border: 2px solid $red;
margin-bottom: 20px;
}

// Tables 

table caption {
background: $hseblack;
padding: 10px;
color: white;
}

// Accordion 

.ui-accordion .ui-accordion-header .ui-icon {
vertical-align: middle !important;
margin: 0  5px 10px 0 !important;
position: relative !important;
text-indent: -99999px !important;
overflow: hidden !important;
background-repeat: no-repeat !important;
left: 0 !important;
float: left !important;
}

.ui-accordion .ui-accordion-header a {
font-size: 0.9rem !important;
}

.ui-accordion-content {
margin-bottom: 10px !important;
width: 100% !important;
}


.ui-accordion-header {
background: none !important;
color: $red !important;
padding: 10px 0 !important;
border-radius: 0 !important;
text-decoration: underline !important;
}
.ui-accordion-header:hover {
color: $black !important;
text-decoration: none !important;
}


.ui-accordion-header.ui-state-focus  {
background: $focus !important;
color: $black !important;
text-decoration: none !important;
}

.ui-accordion-header.ui-state-active {
color: $black !important;
margin: 0 !important;
}


.ui-corner-all {
border-radius: 0 !important;
}

.ui-accordion .ui-accordion-content {
padding: 20px !important;   
}

.ui-accordion .ui-accordion-content-active {
border: 1px solid $gray !important;
border-top: 0 !important;
border-radius: 0 !important;
}

// Containers

.v5-container {
width: 90%;
padding-left: 5%;
padding-right: 5%;
@media only screen and (min-width : $desktop) {
width: 940px !important;
margin: 0 auto;
padding: 0;
}
}
