// Header 
#headerContainer {
width: 100%;
float: left;
max-width: 100%;
min-width: 100%;
background-image: none;
background: $red;
}

#header {
width: 100%;
background: $red;
}


.headerTop {
min-width: 90%;
@media only screen and (min-width : $desktop) {
max-width: 940px;
min-width: 940px;
margin: 0 auto;
padding: 0;
}
margin-left: 5%;
margin-right: 5%;
}

#headerLogo {
    margin: 0;
    @media only screen and (min-width : $desktop) {
     margin: 0 0 .5em 0;
    }
}

#headerLogo a {
text-decoration: none;
}

h1.offCanvasHeaderLogo {
font-size: 14px !important;	
}

#headerLogo, #offCanvasHeaderLogo a {
float: left;
text-decoration: none;
}


#navigationContainer {
height: 33px;	
}

.navDropdown {
font-size: 1.1em !important;
}

@media only screen and (max-width: 979px) {
/*
#navigationContainer, .headerLogo {
display: none;
// Hides HSE logo in mobile view  
}
*/
} 

// Search box 

#globalSearch, #globalSearchMobile  {
float: left;
}

.desktop-gcs-search {
display: none; 
@media only screen and (min-width : $desktop) {
display: block;
}
}

.mobile-gcs-search {
display: block;
width: 90%;
margin: 0 auto;
@media only screen and (min-width : $desktop) {
display: none
}   
}

.mobile-gcs-search .gsc-input-box {
height: 37px;
}

.mobile-gcs-search #gsc-i-id2 {
margin: 0 !important;
height: 37px !important;
}

.gsc-search-button {
padding-right: 0;
}

// Medium Devices, Desktops 
@media only screen and (max-width : 979px) {

#globalSearch table {
width: 100%;
}

#globalSearch {
width: 100% !important;
}

}

.navDrop {
display: none;
/* Hides drop-down menu */
}

.navDropdown li {
background: none;
}

// Main mene

.menuContainer {
width: 100%;
float: left;
margin-top: 10px;
margin-bottom: 10px;
background: $gray;
@media only screen and (min-width : $desktop) {
background: $red;
margin-bottom: 0;
}
}

// Cookie container 
#cookieContainer {
width: 90% !important;
padding: 10px 0;
padding-left: 5%;
padding-right: 5%;
@media only screen and (min-width : $desktop) {
width: 100% !important;
padding-left: 0;
padding-right: 0;
}
}