// Homepage

// Homepage banner

.homepageBanner {
padding-top: 0;
padding-bottom: 0;
@media only screen and (min-width : $desktop) {
margin-bottom: 20px !important;
}
}

.homepageBanner:hover h2 {
text-decoration: underline;
}

.homepageBannerText {
white-space: nowrap; 
width: 100%;
float: left;
@media only screen and (min-width : $desktop) {
width: auto;
position: absolute;
max-width: 60%;
}
position: relative;
bottom: 20px;
background-color: $red;
color: white;
padding: 10px;
max-width: 100%;
z-index: 999;
}

.homepageBannerText h2::after {
content: " ";
background-image: url('../../assets/v5-images/icons/svg/solid/caret-right-white.svg');
background-repeat: no-repeat;
background-position: left;
display: inline-block;
margin-left: 10px;
width: 20px;
height: 20px;
}



.homepageBannerText h2 {
margin: 0;
padding: 0;
clear: none;
white-space: nowrap; 
}

.homepageBannerText p  {
color: white;
margin: 0;
}

.homepageBanner a {
float: left;
width: 100%;
}

.homepageBanner img {
height: auto;
	@media only screen and (min-width : 979px) {
		max-height: 265.14px !important;
	}
}

.mostPopular {
@media only screen and (min-width : 979px) {
		max-height: 265.14px !important;
	}	
}

.subText {
color: $hseblack;
}

// Responsive carousel

#homepageCarousel {
width: 100% !important;
}

.touchcarousel-item img {
border-radius: 0 !important;
}

ul.touchcarousel-container {
width: 1200px!important;
}

.homepageRecommended {
margin-bottom: 20px;
}