// Cookie notification

.v5-span-heading1 {
	color: white;
	font-size: 2em;
	float: left;
	padding: 20px 0;
	}
	
	#cookieNotify {
	background: none !important;
	}
	
	#cookieNotify p {
	padding: 0;
	}
	
	#cookieNotify .v5-hide-button {
	background: none;
	color: white;
	text-decoration: underline;
	border: 0;
	}
	
	#cookieNotify .v5-hide-button:hover {
	cursor: pointer;
	}

#cookieContainer {
float: left;
background-color: #333;
display: block;
}

.ie7 #cookieContainer {
	height: 3.500em;
}

#cookieNotify {
	width: 100%;
	@media only screen and (min-width : $desktop) {
	width: 940px;
	}
	padding: 0px !important;
	margin: 5px auto;
	background: url(../v4-images/shared/cookie-icon.png) no-repeat 0 4px;
}

.ie7 #cookieNotify {
	height: 2.667em;
}

#cookieNotify p {
	color: #fff;
	font-size: 1.1em;
	float: left;
	margin: 0;
}

#cookieNotify p a {
	color: #FF9C00;
	text-decoration:underline;
}

#cookieNotifyClose {
	float: right;
	padding: 6px 0 0 0;
}

/* Cookie notification end */

/* Notification bar */

.notification-banner {
background: $gray;
width: 100%;
height: auto;
float: left;
@media only screen and (min-width : 980px) {
min-height: 78px;
}
font-size: 16px;
border-bottom: 2px solid $red;
line-height: normal !important;
}

.notification-banner.global {
background: $hseblack;
border-bottom: 2px solid $focus;
}

.notification-banner.global p {
color: white;
}

.notification-banner.global a {
color: $focus;
}



.brexit-icon {
float: left;
}

.notification-container {
width: 90%;
padding: 10px 5%;
@media only screen and (min-width : 980px) {
padding: 20px 0;
width: 940px;
float: none;
}
float: left;
position: relative;
}

.notification-message {
margin: 0;
float: left;
}

.notification-call-to-action {
display: block;
width: 100%;
@media only screen and (min-width : 980px) {
margin-left: 54px;
}
}

.notification-message img {
@media only screen and (max-width : 979px) {
display: none;
}
@media only screen and (min-width : 980px) {
margin-right: 20px;
float: left;
}
}

.notification-hide, .notification-banner.global .notification-hide
	{
@media only screen and (min-width : 980px) {
position: absolute;
right: 0;	
top: 0;
}
float: right;
padding-top: 20px;
}

.notification-bar-title {
font-weight: bold;
vertical-align: top !important;
width: 100%;
}
/* Notification bar end */