.slinky-menu {
  overflow: hidden;
  -webkit-transform: translateZ(0);
          transform: translateZ(0); }
  .slinky-menu > ul {
    left: 0;
    position: relative;
    -webkit-transform: translateZ(0);
            transform: translateZ(0); }
  .slinky-menu ul,
  .slinky-menu li {
	font-size: inherit;
    list-style: none;
    margin: 0; }
  .slinky-menu ul {
    width: 100%; }
  .slinky-menu a {
    align-items: center;
    display: flex; }
    .slinky-menu a span {
      flex: 1;
      line-height: 1.4; }
  .slinky-menu li ul {
    //display: none;
    left: 100%;
    position: absolute; // Applied only if browser has JS - accesibility 
    top: 0; }
  .slinky-menu .header {
    display: flex;
}

.slinky-menu .first .header {
	display: flex;
}
    .slinky-menu .header .title {
      flex: 1;
      line-height: 1.4;
      margin: 0;
      order: 1; }

.slinky-theme-default {
  background: $gray; }
  .slinky-theme-default .title {
    color: #333;
    padding: 1em; }
  .slinky-theme-default li {
    line-height: 1; }
  .slinky-theme-default a:not(.back) {
    color: #333;
    padding: 12px !important; }
    .slinky-theme-default a:not(.back):hover {
      background: $darkgray; 
	  color: black;
	  }
    .slinky-theme-default a:not(.back):active {
      background: $darkgray; 
	  color: black;}


.slinky-theme-default .back::before {
content: " ";
background-image: url('../../assets/v5-images/icons/svg/solid/arrow-left-white.svg');
background-repeat: no-repeat;
float: left;
display: block;
height: 16px;
margin: 0;
transform: translateX(10px) !important; // Important to reverse slinky transform CSS
border-right: 10px solid transparent;
}

.slinky-theme-default .back {
text-decoration: none;
}

 .slinky-theme-default  a.next::after
 {
content: " ";
background-image: url('../../assets/v5-images/icons/svg/solid/arrow-right.svg');
background-repeat: no-repeat;
display: block;
width: 16px;
height: 16px;
right: 10px;
margin: 0;
}

.slinky-theme-default a.next:hover::after, .slinky-theme-default a.next:focus::after {
content: " ";
background-image: url('../../assets/v5-images/icons/svg/solid/arrow-right-red.svg');
background-repeat: no-repeat;
display: block;
width: 16px;
height: 16px;
right: 10px;
margin: 0;
z-index: 9999;	
}

  .slinky-theme-default .next::after {
    margin-left: 1em; }
  .slinky-theme-default .back::before {
    padding: 0 1em;
    -webkit-transform: scaleX(-1);
            transform: scaleX(-1); }

.slinky-menu li {
background: none ;
padding: 0;
}

.slinky-menu li.first {
font-weight: bold;
background: $red;
}

.slinky-menu li.first a {
color: white;
}

.slinky-menu li.first a:hover{
background: $red;
color: white;
} 

// Active page

li a.active-page {
background: $darkgray;
border-left: 3px solid $red;
text-decoration: none;
}

li.first a.active-page {
background: $red;
}

.no-active-style {
background: none !important;
border-left: none !important;
}


// Back

.slinky-menu li a.back {
width: 100%;
background: $red;
color: white;
}

.slinky-menu li.first a {
width: 100%;	
}

// links

.slinky-menu a span {
text-decoration: none;	
}

.slinky-menu a span:hover, .slinky-menu a {
text-decoration: none;	
}

.slinky-menu .header .title {
color: white;	
}

.slinky-menu li a.back {
padding: 1em 0;
}