<header class="site-header">
    <div class="site-header__inner">
        <div class="site-logo">
            <a href="index.html">
                <img src="images/hse-logo.png"/>
            </a>
        </div>
        <div class="site-header__content">
            <h1 class="site-header__title">Digital workspace</h1>
            <p class="site-header__copy">Development tools and components</p>
        </div>
    </div>
</header>