{% from "macros/input.njk" import fieldInput %}
{% from "macros/input-email.njk" import fieldInputEmail %}
{% from "macros/input-radio.njk" import fieldInputRadio %}
{% from "macros/input-numeric.njk" import fieldInputNumeric %}
{% from "macros/submit.njk" import fieldInputSubmit %}