<link rel="icon" href="~/images/logos/favicon.ico">
<link rel="shortcut icon" href="~/images/logos/favicon.ico">
<link rel="apple-touch-icon" href="~/images/logos/favicon.ico">
<link rel="apple-touch-icon-precomposed" href="~/images/logos/favicon.ico">
<link rel="stylesheet" type="text/css" href="app.css">
