a {
    text-decoration: none;
  }
  a.hover,
  a:active,
  a:focus,
  a:hover {
    text-decoration: underline;
    color: #000;
  }

  a, .backgroundRed .more a {
    text-decoration: underline;
    &:link {
        color: $red; 
    }
    &:visited {
        color: $darkred;
        text-decoration: underline;
    }
    &:hover,
    &:active,
    &:focus,
    a span.subText {
        text-decoration: none !important;
        color: $redhover;
    }
}

.backgroundRed a, .backto a {
    &:link {
        color: white; 
    }
    &:hover {
    color: $black;
    }
    &:active,
    &:focus {
    color: $black;
    }
    &:visited {
    color: white;
    }
    &:visited:hover {
    color: $black;
    }
    a span.subText {
        text-decoration: none;
        color: $black;
    }    
}

ul.newsList a h3, ul.newsList h3 a {
text-decoration: underline;
color: $red;
}

ul.newsList h3 a {
&:hover {
background: $focus;   
}     
}

ul.newsList a {
&:hover {
text-decoration: none;
color: $black ; 
background: $white;   
} 
&:hover h3 {
text-decoration: none;
color: $black ; 
background: $focus;   
} 
&:focus h3 {
color: $black ; 
text-decoration: none;
} 

}

p a, li a {

    &:hover, &:focus {
    text-decoration: none;
    color: $black ; 
    background: $focus;   
    }
}

.footer-links-container a, .guidance-languages a {
color: white;
}