.hse-news-article {
border-bottom: 2px solid $color_hse-grey-4;
@include hse-responsive-margin(4, "bottom");
@include hse-all-headings {
@include hse-font(22);
font-weight: bold;
}

&:last-of-type {
border-bottom: none;    
}

time::after {
content: '|';
padding-left: 4px;
}

time:only-child::after {
display: none;
}


.hse-news-article__category {
display: inline-flex;
margin-bottom: 5px;
padding-right: 5px;
&:not(:has(a.hse-news-article__link)) {
padding: 5px;
background: $color_hse-grey-4;
}
&--homepage {
    background: $color_hse-white !important;
}

.hse-news-article__link {
padding: 5px;
background: $color_hse-grey-4;
&:hover {
background: $color_hse-red;
color: white;
}
}

}
}