/* ==========================================================================
   UTILITIES / #CLEARFIX
   ========================================================================== */

/**
 * Automatically clear an elements
 * child elements
 *
 * Usage: class="hse-u-clear"
 * See tools/mixins
 */
 
@use "../tools/mixins" as *;

 .hse-u-clear {
   @include clearfix();
 }