.hse-section p.moreLink a::before {
    content: " ";
    position: relative;
    top: 2px;
    background-image: url("../../assets/v6-images/icons/svg/solid/arrow-right-red.svg");
    background-repeat: no-repeat;
    display: inline-block;
    margin-right: 5px;
    width: 16px;
    height: 16px;
  }
  
.hse-section p.moreLink a:hover::before {
    content: " ";
    background-image: url("../../assets/v6-images/icons/svg/solid/arrow-right-black.svg");
    background-repeat: no-repeat;
    display: inline-block;
    margin-right: 5px;
    width: 16px;
    height: 16px;
  }
  
  .backgroundRed p.moreLink a::before {
    content: " ";
    background-image: url("../../assets/v6-images/icons/svg/solid/arrow-right-white.svg");
    background-repeat: no-repeat;
    display: inline-block;
    margin-right: 5px;
    width: 16px;
    height: 16px;
  }
  
  // Social
  
  ul.social {
    margin: 0 !important;
  }
  
  ul.social li a::before {
    position: relative;
    top: 2px;
    background-repeat: no-repeat;
    display: inline-block;
    margin-right: 5px;
    width: 16px;
    height: 16px;
  }
  
  ul.social li {
    padding-top: 7.5px;
  }
  
  ul.social li:first-child {
    padding-top: 0;
  }
  
  ul.social li.facebook a::before {
    content: " ";
    background-image: url("../../assets/v6-images/icons/svg/brands/facebook-square-red.svg");
  }
  
  ul.social li.linkedin a::before {
    content: " ";
    background-image: url("../../assets/v6-images/icons/svg/brands/linkedin-red.svg");
  }
  
  ul.social li.youtube a::before {
    content: " ";
    background-image: url("../../assets/v6-images/icons/svg/brands/youtube-red.svg");
  }
  
  ul.social li.twitter a::before {
    content: " ";
    background-image: url("../../assets/v6-images/icons/svg/brands/twitter-red.svg");
  }
  
  #printGuide a::before {
    content: " ";
    background-image: url("../../assets/v6-images/icons/svg/solid/print.svg");
    background-repeat: no-repeat;
    display: inline-block;
    margin-right: 5px;
    width: 16px;
    height: 16px;
  }
  
  .global-menu-button span::before,
  .global-menu-button.main-menu span::before,
  .search-button span::before,
  .search-button.main-search span::before {
    -webkit-transform: translateY(-35%) rotate(45deg) scale(1);
    -ms-transform: translateY(-35%) rotate(45deg) scale(1);
    transform: translateY(-35%) rotate(45deg) scale(1);
    border-bottom: 2px solid $color_hse-red;
    border-right: 2px solid $color_hse-red;
    content: "";
    display: inline-block;
    height: 8px;
    margin: 0 10px 0 2px;
    vertical-align: middle;
    width: 8px;
  }

  
  .global-menu-button.main-menu-expanded span:before,
  .search-button.main-search-expanded span:before {
    content: "";
    display: inline-block;
    height: 8px;
    margin: 0 10px 0 2px;
    vertical-align: middle;
    width: 8px;
    -webkit-transform: translateY(1px) rotate(225deg) scale(1);
    -ms-transform: translateY(1px) rotate(225deg) scale(1);
    transform: translateY(1px) rotate(225deg) scale(1);
  }

  .global-menu-button.main-menu-expanded,
  .search-button.main-search-expanded {
    position: relative;
  }

  .search-button.main-search:hover:after {
    content: "";
    height: 3px;
    left: 0;
    right: 0;
    position: absolute;
    bottom: -11px;
    top: auto;
    background: $color_hse-black;
  }

  .search-button.main-search.main-search-expanded:hover:after {
    background:none;
  }

  .global-menu-button:hover:after  {
    content: "";
    height: 3px;
    left: 5px;
    right: 10px;
    position: absolute;
    bottom: -11px;
    top: auto;
    background: $color_hse-red;
  }

  #menu-button.global-menu-button.main-menu-expanded:after {
    content: "";
    height: 3px;
    left: 5px;
    right: 10px;
    position: absolute;
    bottom: -11px;
    top: auto;
    background: $color_hse-black;
  }

  #menu-button.global-menu-button:focus-visible:after {
    content: "";
    height: 3px;
    left: 5px;
    right: 10px;
    position: absolute;
    bottom: 0;
    top: auto;
    background: $color_hse-black;
  }

  .search-button .x-mark {
    display: none;
  }

  .search-button.main-search-expanded .x-mark {
    display: inline-block;
    font-size: 26px;
    font-weight: normal;
  }

  .search-button.main-search-expanded .gsc-search-button svg {
    display: none;
  }

  .search-button.main-search-expanded span:before,
  .search-button.main-search-expanded span:after {
    display: none;
  }

  .global-menu-button:hover span:before,
  .global-menu-button.main-menu:hover span:before {
    border-bottom: 2px solid $color_hse-red;
    border-right: 2px solid $color_hse-red;
  }

  .search-button:hover span:before,
  .search-button.main-menu:hover span:before {
    border-bottom: 2px solid $color_hse-red;
    border-right: 2px solid $color_hse-red;
  }

  .global-menu-button.main-menu-expanded:hover span:before {
    border-bottom: 2px solid $color_hse-black;
    border-right: 2px solid $color_hse-black;
  }

  .global-menu-button.main-menu-expanded span:after {
    background: $color_hse-black; 
  }
  .search-button.main-search:hover:after {
    background: $color_hse-red;
  }

  .global-menu-button:hover:after {
    background: $color_hse-red;
  }
  
  .boxList ul li:hover h3 {
    color: white !important;
  }
  
  #backnav::before {
    content: " ";
    background-image: url("../../assets/v6-images/icons/svg/solid/arrow-left-white.svg");
    background-repeat: no-repeat;
    display: inline-block;
    position: relative;
    top: 3px;
    width: 16px;
    height: 16px;
    margin-right: $hse-legacy-spacing-10;
  }
  