// ========================================================================== //
// UTILITIES / #SPACING
// ========================================================================== //

// Directions for spacing
// Original code taken from GDS (Government Digital Service)
// https://github.com/alphagov/govuk-frontend

@use "../tools/exports" as *;
@use "../tools/spacing" as spacing;
@use "../settings/all" as *;

$_spacing-directions: ("top", "right", "bottom", "left") !default;

// Spacing override classes
//
// Generate spacing override classes for the given property (e.g. margin)
// for each point in the spacing scale.
//
// @param {String} $property - Property to add spacing to (e.g. 'margin')
//
// @example scss
//   .hse-u-margin-0 {
//      margin: 0;
//   }
//
//  .hse-u-margin-top-1 {
//     margin-top: [whatever spacing point 1 is...]
//   }
//
// 1. For each point in the spacing scale (defined in settings), create an
//    override that affects all directions...
// 2. ... and then an override for each individual direction

@mixin _hse-generate-spacing-overrides($property) {
  // [1] //
  @each $scale-point, $scale-map in $hse-spacing-responsive-scale {
    .hse-u-#{$property}-#{$scale-point} {
      @if $property == "margin" {
        @include spacing.hse-responsive-margin($scale-point, "all", true);
      } @else if $property == "padding" {
        @include spacing.hse-responsive-padding($scale-point, "all", true);
      }
    }

    // [2] //
    @each $direction in $_spacing-directions {
      .hse-u-#{$property}-#{$direction}-#{$scale-point} {
        @if $property == "margin" {
          @include spacing.hse-responsive-margin($scale-point, $direction, true);
        } @else if $property == "padding" {
          @include spacing.hse-responsive-padding($scale-point, $direction, true);
        }
      }
    }
  }
}

@include govuk-exports("govuk/overrides/spacing") {
  @include _hse-generate-spacing-overrides("margin");
  @include _hse-generate-spacing-overrides("padding");
}
