/* ==========================================================================
   UTILITIES / #TEXT-ALIGN
   ========================================================================== */

/* stylelint-disable declaration-no-important */

.hse-u-text-align-left {
text-align: left !important;
}

.hse-u-text-align-center {
text-align: center !important;
}

.hse-u-text-align-right {
text-align: right !important;
}