/* ==========================================================================
   COMPONENTS / #CARD
   ========================================================================== */

@use "../../base/core/tools/spacing" as *;
@use "../../base/core/tools/mixins" as *;
@use "../../base/core/tools/typography" as *;
@use "../../base/core/settings/spacing" as *;
@use "../../base/core/settings/colours" as *;
@use "../../base/core/settings/typography" as *;
@use "../../base/core/tools/sass-mq" as *;

$card-border-width: 1px;
$card-border-bottom-width: hse-spacing(1);

/* Base card
   ========================================================================== */

.hse-card {
  position: relative;
  width: 100%;
  border-bottom: 4px solid transparent;
  margin-bottom: $hse-legacy-spacing-20;
  @include hse-responsive-margin(7, "bottom");

  h2,
  h3 {
    @include hse-font(22, bold);
  }

  &:link {
    color: #1e060a;
    background: none;
  }

  /* Only show red border when not focused */
  &:not(:focus-within):hover {
    border-bottom-color: $color_hse-red; 
  }
  
}

/* Non-clickable variant */

.hse-card--non-clickable {
  box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.15);
  border-bottom: none;

  a::after {
    display: none;
  }

  &:hover {
    border-bottom: none;
  }
}

/* Entire card clickable */

.hse-card a::after {
  position: absolute;
  inset: 0;
  z-index: 1;
  content: "";
}

/* Image card
   ========================================================================== */

.hse-card__img {
  border-bottom: $card-border-width solid $color_hse-grey-5;
  display: block;
  width: 100%;
  @include print-hide();
}

.hse-card--img {
  border: 2px solid $card-border-color;
  border-bottom-width: 4px;
  background: $color_hse-white;
}

/* Card content */

.hse-card__content {
  background: $color_hse-white;
  @include top-and-bottom();
  @include hse-responsive-padding(5);
}

.hse-card__heading,
.hse-card__metadata,
.hse-card__description {
  margin-bottom: hse-spacing(3);
}

/* Card group
   ========================================================================== */

.hse-card-group {
  margin-bottom: hse-spacing(3);
  padding: 0;
  list-style: none;
  @include flex();

  @include mq($until: desktop) {
    margin-bottom: hse-spacing(6);
  }

  @include mq($from: tablet) {
    margin: hse-spacing(3) -15px 0;
  }

  + h2,
  + .hse-heading-l,
  + h3,
  + .hse-heading-m {
    padding-top: 0;
  }

  li {
    @include flex-item();
  }

  &.hse-grid-column-one-half li,
  &.hse-grid-column-one-third li {
    background: none;
    padding: 0;

    @include mq($from: tablet) {
      padding: 0 16px;
      float: left;
    }
  }
}

/* Equal heights helper */

.hse-card-group:has(.hse-card) li {
  @include hse-responsive-margin(4, "bottom");
}

/* Chevron card
   ========================================================================== */

.hse-card--chevron {
  position: relative;
  margin-bottom: $hse-legacy-spacing-10;
  padding: hse-spacing(3) hse-spacing(4);
  background: $color_hse-white;
  box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.15);
  border-bottom: none;

  h3 {
    margin: 0;
    padding: 0;
  }

  .hse-card__descriptor {
    padding-right: hse-spacing(3);
  }

  a {
    display: block;
    font-weight: bold;
    padding-right: hse-spacing(3); // chevron space

    &::before {
      content: "";
      position: absolute;
      right: hse-spacing(3);
      top: 43%;
      width: 10px;
      height: 10px;
      border-right: 3px solid $color_hse-red;
      border-top: 3px solid $color_hse-red;
      transform: rotate(45deg);
    }

    /* Hover styles only when not focused */
    &:not(:focus):hover {
      color: $color_hse-white;
    }

    &:not(:focus):hover::before {
      border-right-color: $color_hse-white;
      border-top-color: $color_hse-white;
    }

    &:focus {
      color: $hse-text-color;
      box-shadow: none;
    }

    &:focus::before {
      border-right-color: $hse-text-color;
      border-top-color: $hse-text-color;
    }

    &:focus::after {
      border: 0;
      outline: 0;
      box-shadow: inset 0 -4px 0 0 #333;
    }
  }

  /* Background + text for mouse hover, but not while focused */
  &:not(:focus-within):hover {
    background: $color_hse-red;

    p {
      color: $color_hse-white;
    }
  }

  /* Keyboard focus: yellow background, text remains default (black) */
  &:focus-within {
    background: $hse-focus-color;
  }
}

/* Box card
   ========================================================================== */

.hse-card--box {
  position: relative;
  margin-bottom: $hse-legacy-spacing-10;
  padding: hse-spacing(3) hse-spacing(4);
  background: $color_hse-white;
  box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.15);
  border-bottom: none;

  h3 {
    margin: 0;
    padding: 0;
  }

  a {
    display: block;
    font-weight: bold;
    padding-right: hse-spacing(3);

    &:not(:focus):hover {
      color: $color_hse-white;
    }

    &:focus {
      color: $hse-text-color;
      box-shadow: none;
    }

    &:focus::before {
      border-right: 3px solid $hse-text-color;
      border-top: 3px solid $hse-text-color;
    }

    &:focus::after {
      border: 0;
      outline: 0;
      box-shadow: inset 0 -4px 0 0 #333;
    }
  }

  &:not(:focus-within):hover {
    background: $color_hse-red;
  }

  &:focus-within {
    background: $hse-focus-color;
  }
}
