.hse-information-banner {
    @include clearfix();
    padding: 10px;
    border: 2px solid $color_hse-beta;
    margin-bottom: $hse-legacy-spacing-20;
    &:a:link {
      text-decoration: underline;
    }
    &:a:visited,
    &:a:hover {
      text-decoration: none;
      color: $color_hse-grey-1;
    }
    &:a:focus {
        color: $color_hse-beta;
      }
      p {
        margin-bottom: 0 !important;
      }
  
  }

  
  /* Beta */

  .hse-beta-highlight {
    display: inline-block;
    margin: 0 8px 0 0;
    padding: 2px 5px 0;
    font-weight: 700;
    font-size: 14px;
    text-transform: uppercase;
    letter-spacing: 1px;
    text-decoration: none;
    color: #fff;
    background-color: $color_hse-beta;
    font-size: 16px;
    line-height: 1.25;
  }
  