@use "../../base/core/settings/colours" as *;
@use "../../base/core/tools/mixins" as *;
@use "../../base/core/tools/sass-mq" as *;
@use "../../base/core/settings/spacing" as *;
@use "../../base/core/tools/spacing" as *;

.hse-information-banner {
@include clearfix();
padding: hse-spacing(3) 0;
// background-color: $color_hse-grey-4;
background-color: #f5e9eb;
border-bottom: 1px solid $color_hse-grey-3;
&:a:link {
text-decoration: underline;
}
&:a:visited,
&:a:hover {
text-decoration: none;
color: $color_hse-grey-1;
}
&:a:focus {
color: $color_hse-beta;
}

&__inner {
border-left: 4px solid $color_hse-red;
padding-left: hse-spacing(3);
}
@include mq($media-type: print) {
display: none;
}

&--default {
background-color: #f5e9eb;
border-bottom: 1px solid $color_hse-grey-3;
.hse-information-banner__inner {
p {
margin: 0;
}   
}
}

&--beta {
background-color: $color_hse-grey-4;
border-bottom: 1px solid $color_hse-grey-3;
}

&--mourning {
background-color: black;
border-bottom: 1px solid $color_hse-grey-3;
.hse-information-banner__inner {
padding-left: 0;
border-left: 0;
}
p {
color: white;
}
a {
color: white;
}
}

&__heading {
color: white;
margin-bottom: 0;
}
&__description {
margin: hse-spacing(3) 0;
}
&__more {
margin: 0;
}

}


/* Beta */

.hse-beta-highlight {
display: inline-block;
margin: 0 8px 0 0;
padding: 2px 5px 0;
font-weight: 700;
font-size: 14px;
text-transform: uppercase;
letter-spacing: 1px;
text-decoration: none;
color: #fff;
background-color: $color_hse-beta;
font-size: 16px;
line-height: 1.25;
}
  