ul.itemThumbBook.publications {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(120px, 1fr));
}

ul.itemThumbBook.publications,
ul.itemThumbBook.publications li {
  margin: 0;
  padding: 0;
  list-style: none;
}
ul.itemThumbBook.publications {
  margin: 0 -10px;
}

ul.itemThumbBook.publications li {
  margin: 10px;
}

ul.itemThumbBook.publications img {
  width: 100%;
}

ul.itemThumbBook.publications figure,
ul.itemThumbBook.publications img {
  margin: 0;
  padding: 0;
}




.hsl-links {
    margin: 0 -10px 20px -10px;
}
  

.publications-products a {
  background-color: #2846a5;
}

.training a {
  background-color: #4f2170;
}

.testing a {
  background-color: #ce421b;
}

.research a {
  background-color: #287826;
}
