// Callouts

$callout-border-width: 10px;

.callout {
  @include hse-responsive-padding(4);
  margin-bottom: $hse-legacy-spacing-20;
  border-left: $callout-border-width solid $color_hse-red;
  @include hse-responsive-margin(6, "bottom");
}

.callout p {
  padding: 0;
  margin-bottom: 2.5px;
}

.callout--information {
  border-left: $callout-border-width solid $color_hse-red;
}

.callout--survey {
  border-left: $callout-border-width solid $color_hse-beta;
}

// Modify style for full width
.hse-page-contents--fullWidth {
  .callout--information {
    background: $color_hse-grey-4;
    border-left: $callout-border-width solid $color_hse-red;
  }

  .callout--survey {
    background: $color_hse-grey-4;
    border-left: $callout-border-width solid $color_hse-beta;
  }

  .callout--warning {
    background: left $color_hse-grey-4;
    border-left: hse-spacing(4) solid $color_hse-grey-4;
    margin: hse-spacing(6) 0;
    @include hse-responsive-padding(4, "top");
    @include hse-responsive-padding(4, "bottom");
    p {
      @include hse-responsive-padding(2);  
    }
  }
}

.callout--warning {
  margin: hse-spacing(6) 0 hse-spacing(6) 0;
  background: none;
  border-left: 0;
  font-weight: 700;
  background-image: url("../../assets/v6-images/icons/warning.svg") !important;
  background-size: 35px 35px !important;
  background-repeat: no-repeat !important;
  background-position: left;
  min-height: 35px !important;
  padding: 5px 0 0 55px;
}

.callout h2 {
  font-size: 1.1rem;
}

.callout h3 {
  font-size: 0.9rem;
}
