<!DOCTYPE html>
<html lang="en"><!-- InstanceBegin template="/Templates/v5-hse-dev.dwt" codeOutsideHTMLIsLocked="true" -->
<head>
	
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0">
		
<!-- Anti-flicker snippet (recommended) If installing optimise with GTM, specifcy GTM container ID  -->
<style>.async-hide { opacity: 0 !important} </style>
<script>(function(a,s,y,n,c,h,i,d,e){s.className+=' '+y;h.start=1*new Date;
h.end=i=function(){s.className=s.className.replace(RegExp(' ?'+y),'')};
(a[n]=a[n]||[]).hide=h;setTimeout(function(){i();h.end=null},c);h.timeout=c;
})(window,document.documentElement,'async-hide','dataLayer',4000,
{'GTM-PJPWMNL':true});</script>

<!-- Google Tag Manager -->
<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
})(window,document,'script','dataLayer','GTM-PJPWMNL');</script>
<!-- End Google Tag Manager -->
	

		
<link rel="stylesheet" href="../assets/v4-css/core.min.css" type="text/css" media="screen,print" />
	




<link rel="stylesheet" href="../assets/v4-css/website.min.css" type="text/css" media="screen,print" />

<!-- V5 -->
<link rel="stylesheet" href="../assets/v5-css/v5.min.css" type="text/css" media="screen,print" />



<!-- InstanceBeginEditable name="doctitle" -->
<title>Fusion Dev Kit</title>
<meta name="Description" content="HSE's job is to protect people against risks to health or safety arising out of work activities. Provides advice, guidance, regulations and inspections." />
<meta name="Keywords" content="HSE, health and safety executive,  occupational ill-health, occupational health and safety, accident, safety, employee safety, health and safety at work act, law" />
<!-- Custom CSS -->
<!-- InstanceEndEditable -->
<meta name="HSE.contentType" content="default" />
<link rel="shortcut icon" href="../favicon.ico" />
<link rel="apple-touch-icon" href="../assets/v4-images/shared/apple-touch-icon.png" />
<link rel="home" href="../index.htm" />

</head>
<body class="guidance normalFont">
	
<!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-PJPWMNL"
height="0" width="0" style="display:none;visibility:hidden" aria-hidden="true"></iframe>
</noscript>
<!-- End Google Tag Manager (noscript) -->

<div id="top"> 
 <a href="#contentContainer" class="skip">Skip to content</a> 
 

</div>



<div id="printBanner"> <img src="../assets/v4-images/website/print/print-logo.jpg" width="193" height="65" alt="Health and Safety Executive" id="printLogo"/> </div>
	
<div id="cookieContainer" class="cf">
  <div id="cookieNotify" class="cf">
    <p>This website uses non-intrusive cookies to improve your user experience. You can visit our <a href="../privacy-cookies.htm">cookie privacy page</a> for more information.</p>
  </div>
</div>
	
<!-- Off canvas navigation -->
<div id="off-canvas-container" class="full-width-container">
	
<div class="c-offcanvas-content-wrap responsive-container">
        <a href="#offCanvas" id="triggerButton"></a>
         <!-- Your Main Content goes here -->
		
	
    <div id="offCanvasHeaderLogo" class="offCanvasHeaderLogo"><a href="../index.htm">Health and Safety<br />
      Executive</a></div>
       
    </div>
    
    <div id="offCanvas" class="responsive-nav-container">
	
	<div>
		<div id="off-canvas-top">
		<div id="headerLogoOffCanvas" class="offCanvasHeaderLogo"><a href="../index.htm">Health and Safety<br />
      Executive</a></div>
		<div class="off-canvas-close">
			<a class="js-offcanvas-close"></a>
		</div>
		</div>
		<ul id="off-canvas-menu">
		 <li><a href="../index.htm">Home</a></li>
		 <li><a href="../news/index.htm">News</a></li>
		 <li><a href="../guidance/index.htm">Guidance</a></li>
         <li><a href="../template/index.htm">Template</a></li>
		</ul>
	</div>
	
	</div>
	
</div>	
	
	
	
	
<header id="headerContainer" class="cf">
  <div id="header" class="cf"> 
    <div id="headerLogo" class="headerLogo"><a href="../index.htm">Health and Safety<br />
      Executive</a></div>
       
	
    <!--
    <div id="globalSearch">
      <gcse:searchbox-only></gcse:searchbox-only>
    </div>
    -->
     </div>
  <div id="navigationContainer" class="cf">
    <ul class="navDropdown">
      <li class="home"><a href="../index.htm">Dev Kit</a></li>
      <li class="components"><a href="../components/index.htm">Components</a>
      </li>
      <li class="layout"><a href="index.htm">Design</a>
   
      </li>     
      <li class="template"><a href="../template/index.htm">Template</a>
   
      </li>  
    
		
	
		
    </ul>
    
  </div>
	
	
	
	
	
</header>


 
	
	


<nav id="breadCrumb" aria-label="Breadcrumb">
	<div class="breadCrumbContainer">
		
		<!-- InstanceBeginEditable name="Breadcrumbs" -->
		<ol>
			<li class="home">Fusion Dev Kit</li>
		</ol>
		<!-- InstanceEndEditable -->
		
	</div>
	
	<div id="backTo">
	  
	  <p class="backto"><a id="backnav" href="index.htm"><i class="fas fa-arrow-left"></i> Back to</a></p>
	  
	</div>
	

</nav>
	
 

	


<!-- InstanceBeginEditable name="beta-survey" --> 


<!-- InstanceEndEditable -->

 
	


<div id="pageContainer" class="cf v5" xmlns:argot="http://purl.oclc.org/argot/" xmlns:dc="http://purl.org/dc/terms/" xmlns:foaf="http://xmlns.com/foaf/0.1/" xmlns:v="http://www.w3.org/2006/vcard/ns#" xmlns:dbp="http://dbpedia.org/resource/">
 
	

<!-- Beta content page -->


	

<nav id="navSecondary">
<!-- InstanceBeginEditable name="Subnav" --><!-- #BeginLibraryItem "/Library/_v5-template.lbi" --><div id="menu" class="slinky-menu slinky-theme-default">
<ul>
  <li class="first"><a href="index.htm">Template</a></li>
  	<li><a href="layout.htm">Google Analytics</a></li>
	<li><a href="breadcrumbs.htm">Breadcrumbs</a></li>
    <li><a href="pages.htm">Google Tag Manager</a></li>
    <li><a href="cookies.htm">Cookies</a></li>
    <li><a href="jquery.htm">jQuery</a></li>
    <li><a href="jquery-ui.htm">jQuery UI</a></li>
    <li><a href="dreamweaver-params.htm">Dreamweaver parameters</a></li>
 </ul>
</div>

<!-- #EndLibraryItem --><!-- InstanceEndEditable -->
</nav>




<main id="contentContainer" class="columnbetacontentpage column2"> 
	
   
	  
	  
  <!-- InstanceBeginEditable name="content" -->
  
  <h1>Breadcrumbs</h1>

<p>The breadcrumbs component helps users to understand where they are within a website’s structure and move between levels.
</p>  
  
				
<!-- InstanceEndEditable -->
	  
  
	  
  
  


  <!-- Beta two column (top task) -->
	  
  
	  
   

	  


	  
	  

	
	
	
</main>

  

</div>
	  
	

	
<div id="feedback">
 <div class="feedback-container">
	<p class="feedback-message"><strong>Is this page useful?</strong></p>
	 
	<div class="feedback-links">
		<a id="userYes" href="#userYes">Yes</a>
		<a id="userNo" href="#userNo">No</a>
	</div>
 </div>
</div>
	


<footer id="footerContainer">
  <div id="footer">
    <h2 class="hide">Footer links</h2>
	<div class="footer-links-container">
    <ul>
      <li class="first"><a href="../search/search-results.htm">Search</a></li>
      <li><a href="../a-z/index.htm">A-Z</a></li>
      <li><a href="../acronym/index.htm">Acronyms</a></li>
      <li><a href="../about/site_map/index.htm">Site map</a></li>
      <li><a href="../copyright.htm">Copyright</a></li>
      <li><a href="../privacy.htm">Privacy</a></li>
      <li><a href="../accessibility.htm">Accessibility</a></li>
    </ul>
	</div>
  </div>
  <div id="baseStrip">
    <div id="baseStripInner">
      <p>HSE aims to reduce work-related death, injury and ill health.</p>
      <ul class="ddmswitch separateLabel fauxDropdown" title="Information in:" id="languagesDropdown">
        <li><a href="../languages/welsh.htm"><span xml:lang="cy">Cymraeg</span> / Welsh</a></li>
        <li><a href="../languages/albanian.htm"><span xml:lang="sq">Shqip</span> / Albanian</a></li>
        <li><a href="../languages/arabic.htm"><span id="lArabic" class="nonLatin"></span> / Arabic</a></li>
        <li><a href="../languages/bengali.htm"><span id="lBengali" class="nonLatin"></span> / Bengali</a></li>
        <li><a href="../languages/chinese.htm"><span id="lChinese" class="nonLatin"></span> / Chinese</a></li>
        <li><a href="../languages/czech.htm"><span xml:lang="cs">&#268;e&#353;tina</span> / Czech</a></li>
        <li><a href="../languages/gujarati.htm"><span id="lGujarati" class="nonLatin"></span> / Gujarati</a></li>
        <li><a href="../languages/hindi.htm"><span id="lHindi" class="nonLatin"></span> / Hindi</a></li>
        <li><a href="../languages/kurdish.htm"><span id="lKurdish" class="nonLatin"></span> / Kurdish</a></li>
        <li><a href="../languages/latvian.htm"><span xml:lang="lv">Latvie&scaron;u</span> / Latvian</a></li>
        <li><a href="../languages/lithuanian.htm"><span xml:lang="lt">Lietuviskai</span> / Lithuanian</a></li>
        <li><a href="../languages/polish.htm"><span xml:lang="pl">Polski</span> / Polish</a></li>
        <li><a href="../languages/portuguese.htm"><span xml:lang="pt">Portugu&ecirc;s</span> / Portuguese</a></li>
        <li><a href="../languages/punjabi.htm"><span id="lPunjabi" class="nonLatin"></span> / Punjabi</a></li>
        <li><a href="../languages/romanian.htm"><span xml:lang="ro">Rom&acirc;n&acirc;</span> / Romanian</a></li>
        <li><a href="../languages/russian.htm"><span xml:lang="ru">&#1056;&#1091;&#1089;&#1089;&#1082;&#1080;&#1081;</span> / Russian</a></li>
        <li><a href="../languages/slovak.htm"><span xml:lang="sk">Slovensky</span> / Slovak</a></li>
        <li><a href="../languages/turkish.htm"><span xml:lang="tr">T&#252;r&#231;ke</span> / Turkish</a></li>
        <li><a href="../languages/urdu.htm"><span id="lUrdu" class="nonLatin"></span> / Urdu</a></li>
      </ul>
    </div>
	</div>
</footer>
	  
<div id="lastUpdated"><!-- InstanceBeginEditable name="updated" --> Updated:
	<!-- #BeginDate format:IS1 -->2020-02-04<!-- #EndDate -->
	<!-- InstanceEndEditable --></div>
<script type="text/javascript" src="https://www.google.co.uk/jsapi"></script>
<script type="text/javascript" src="../assets/v4-js/jquery.min.js"></script>
<script type="text/javascript" src="../assets/v5-js/v5-hse-primary.min.js"></script>
<script type="text/javascript" src="../assets/v4-js/core.min.js"></script>
<script type="text/javascript" src="../assets/v5-js/v5-footer.min.js"></script>
	
<div id="gutter"><!-- InstanceBeginEditable name="gutter" --> <!-- InstanceEndEditable --></div>






	
 
<!-- InstanceParam name="bodyClass" type="text" value="guidance" --> 
<!-- InstanceParam name="layout" type="text" value="betacontentpage" --> 
<!-- InstanceParam name="columnLayout" type="number" value="2" --> 
<!-- InstanceParam name="platform" type="text" value="v5" --> 
<!-- InstanceParam name="rdfa" type="boolean" value="false" -->
<!-- InstanceParam name="welsh" type="boolean" value="false" --> 
<!-- InstanceParam name="homepage" type="boolean" value="false" --> 
<!-- InstanceParam name="weblite" type="boolean" value="false" -->
<!-- InstanceParam name="feedback" type="boolean" value="true" -->
<!-- InstanceParam name="contentType" type="text" value="default" -->
<!-- InstanceParam name="notificationBar" type="boolean" value="false" --> 

</body>
<!-- InstanceEnd --></html>