ul.itemThumbBook .header,
ul.itemThumbBook .resourceTitle {
color: $color_hse-red;
}

ul.itemThumbBook .header:hover,
ul.itemThumbBook .resourceTitle:hover,
ul.itemThumbBook a:focus .header,
ul.itemThumbBook a:focus .resourceTitle {
color: $hse-text-color !important;
}

ul.itemThumbBook .subText {
width: 100% !important;
}

ul.itemThumbBook a span {
text-decoration: underline;
}

ul.itemThumbBook a:hover span {
text-decoration: none;
}

ul.itemThumbBook a:hover .resourcePrice {
text-decoration: none;
color: $color_hse-grey-1;
}

ul.itemThumbBook li p {
margin: 0 !important;
}

ul.itemThumbBook span {
padding-right: 0;
}

.itemThumbBook li a:hover span.subText {
color: $color_hse-grey-1 !important;
}

.itemThumbBook li a:hover span {
color: #981e32;
}

.resourceTitle {
  padding-top: $hse-legacy-spacing-10;
  float: left;
}

.itemThumbBook abbr {
    display: inline-block;
}

.resourceTitle,
.resourcePrice {
  width: 100%;
  margin: 0 !important;
}

.resourceTitle span,
.resourcePrice span {
  display: inline-block;
}

.resourcePrice {
  text-decoration: none;
  color: $color_hse-grey-1;
}

.subText {
  color: #111;
}
.catalogue {
  background-color: #fff;
  border: 2px solid #981e32;
}

.subText {
  display: inline-block !important;
  clear: both;
}
