.layout {
  max-width: $max-width;
  margin: 0 auto;

  @extend .clearfix;
}

.layout-experience-page {
  max-width: 100%;
}

.clearfix {
  &:after {
    display: block;
    content: '';
    clear: both;
  }
}

.component-container {
  max-width: $max-width;
  margin: 0 auto;
}
