.information-banner {
    @include clearfix();
    margin-bottom: $hse-legacy-spacing-20;
    &:a:link,
    &:a:visited,
    &:a:focus {
        color: $color_hse-beta;
      }
  }
  
.information-banner p a {
    text-decoration: underline;
  }

.information-banner p a:hover {
    text-decoration: none;
    color: $color_hse-grey-1;
  }
  
  /* Beta */
  
.information-banner {
    padding: 10px;
    border: 2px solid $color_hse-beta;
    box-sizing: border-box;
  }
  
.information-banner p {
    margin-bottom: 0 !important;
  }
  
  .beta-highlight {
    display: inline-block;
    margin: 0 8px 0 0;
    padding: 2px 5px 0;
    font-family: "nta", Arial, sans-serif;
    font-weight: 700;
    font-size: 14px;
    text-transform: uppercase;
    letter-spacing: 1px;
    text-decoration: none;
    color: #fff;
    background-color: $color_hse-beta;
    font-size: 16px;
    line-height: 1.25;
  }
  
  .information-banner p {
    font-size: 0.9rem;
    margin: 0px;
  }
  