
.hse-subscribe {
display: flex;
align-items: center;
flex-direction: column;
border: 2px solid $hse-border-color;
@include hse-responsive-padding(4);
padding-left: hse-spacing(2);
margin-bottom: hse-spacing(6);
&__form-group {
padding-right: hse-spacing(2);
margin-bottom: 0;
}
&__form {
flex: auto;
width: 100%;
}
button {
margin-bottom: 0;
margin-top: hse-spacing(4);
padding: 5px;
}
.hse-button {
box-shadow: none;
}

&:before {
content: "";
background: url(../../assets/v6-images/icons/mail.svg) white no-repeat 0;
background-repeat: no-repeat;
display: inline-block;
width: 24px;
height: 24px;
padding-right: hse-spacing(4);
}

.hse-subscribe__text {
margin-bottom: 0;
@include hse-responsive-padding(2);
}

button.btn {
margin-bottom: 0 !important;
@include mq($until: 1002px) {
display: flex;
margin: auto;
margin-top:  hse-spacing(2);
}
}

.hse-subscribe__submit {
display: flex;
flex-direction: column;
}
}

// Full width layout

.hse-page-contents--fullWidth {

.hse-subscribe {
flex-direction: column;
@include mq($from: tablet) {
flex-direction: row;
}
&__form {
flex: auto;
@include mq($from: desktop) {
    margin-left: auto;
}
}
.hse-button {
margin: 0;
}
}


}

.hse-section .hse-subscribe .form-group {
input {
@include mq($from: 990px) {
margin-bottom: 0;
}
}
}

// sidebar
hse-sidebar__navigation
.hse-sidebar-top, .hse-sidebar  {
.hse-subscribe {
 .hse-input {
  width: 100%;
 }

}
}


// legacy subscribe box


.subscribe .fieldset__heading {
color: $black;
}


