@use "../../base/core/settings/colours" as *;
@use "../../base/core/settings/spacing" as *;
@use "../../base/core/tools/spacing" as *;
@use "../../base/core/tools/sass-mq" as *;

// ─── Base Component ───────────────────────────────────────────────────────────

.hse-subscribe {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 10px;
  border: 2px solid $hse-border-color;

  .hse-section--homepage & {
    border-color: $card-border-color;
  }

  // Email icon
  &::before {
    content: "";
    display: inline-block;
    width: 24px;
    height: 24px;
    padding-right: hse-spacing(4);
    background: url(../../assets/v6-images/icons/mail.svg) no-repeat 0 / contain;
  }

  &__text {
    width: 100%;
    margin-bottom: 0;
    @include hse-responsive-padding(4);

    @include mq($from: tablet) {
      padding: 0 hse-spacing(4);
    }

    @include mq($until: desktop) {
      text-align: center;
    }
  }

  &__form {
    flex: auto;
    width: 100%;
  }

  &__form-group {
    width: 100%;
    margin-bottom: 0;
    display: flex;
    align-items: center;

    @include mq($until: tablet) {
      flex-direction: column;
    }
  }

  .hse-input--subscribe {
    width: 100%;
    min-width: 320px;
    height: 46px;
    margin-right: 10px;

    @include mq($until: desktop) {
      min-width: 220px;
    }

    @include mq($until: tablet) {
      margin-right: 0;
    }
  }

  .hse-button {
    margin: 10px 0;
    padding: 5px;
    max-width: fit-content;
    @include mq($from: tablet) {
      box-shadow: none;
    }
  }
}

// ─── Full Width Layout ────────────────────────────────────────────────────────

.hse-page-contents--fullWidth .hse-subscribe {
  flex-direction: column;

  @include mq($from: tablet) {
    flex-direction: row;
  }

  &__form {
    flex: auto;

    @include mq($from: desktop) {
      margin-left: auto;
    }
  }

  .hse-button {
    @include mq($from: tablet) {
      margin: 0;
    }
  }
}

// ─── Contents Layout ──────────────────────────────────────────────────────────

.hse-page-contents .hse-subscribe {
  &__text {
    padding: hse-spacing(4);
  }

  &__form-group {
    flex-direction: column;
    align-items: center;
  }
}

// ─── Sidebar Layout ───────────────────────────────────────────────────────────

.hse-sidebar-top,
.hse-sidebar {
  .hse-subscribe {
    @include hse-responsive-padding(3);

    &__form-group {
      flex-direction: column;
      align-items: center;
    }

    &__text {
      text-align: center;
    }

    .hse-input--subscribe {
      min-width: fit-content;
      margin-right: 0;
    }
  }
}

// ─── Legacy ───────────────────────────────────────────────────────────────────

.subscribe .fieldset__heading {
  color: $hse-text-color;
}
