// Navigation

.hse-navigation {
  @include clearfix();
  display: flex;
  padding-top: 25px;
}

  .hse-navigation-header {
    margin-right: 0;
    @include mq($from: desktop) {
      margin-right: -16px;
    }
  }
  
  .hse-header__navigation-container {
  background-color: $color_hse-grey-4;
  @include clearfix();
  @include mq($until: desktop) {
  margin: 0;
  padding-left: 16px;
  .hse-width-container {
    margin: 0;
    padding-left: 0;
    max-width: 100%;
    }
  } 
 
  }

  .hse-navigation__navigation-item {
  padding-bottom: 15px;
  margin-bottom: 0;
  &:last-of-type {
    }
  }
  
  .hse-navigation__primary-navigation-item {
    a {
      padding: 4px 16px;
    }
  }
  
  .hse-navigation__navigation-list {
  width: 100%;
  margin: 0;
  @include hse-font(16);
  list-style-type: none;
  background: none;
  padding: 0;
  background-color: $color_hse-grey-4;
  &--footer {
    background-color: $color_hse-grey-2;
  }
  @include mq($from: desktop) {
  margin: 0 0 0 -16px;
  width: auto;
  margin: 0;
  position: relative;
  &--columns-2 {
    column-count: 2;
  }
 }
}

  .navigation-third-list {
    grid-template-columns: none; 
    display: block;
  }
  
// fix required for overriding width-container for mobile navigation

  .hse-navigation__navigation-link {
    text-decoration: underline;
    width: 100%;
    display: inline;
    &:link, &:visited {
    color: $color_hse-white;
    }
    &--menu {
      &:link, &:visited {
      color: $color_hse-red;
      font-weight: 700;
      }
    }

    @include mq($from: desktop) {
      background-image: none;
      vertical-align: middle;
      text-decoration: underline;
      line-height: inherit;
    }
  }


/* ---------------------------- */
/* Main menu */
/* ---------------------------- */

@include mq($from: desktop) {
  .menu li.search {
    display: none;
  }

  .news .menu  {
    & li.news a { border-bottom: 2px solid #333;
    }
  }

  .guidance .menu  {
    & li.guidance a { border-bottom: 2px solid #333;
    }
  }

  .abouthse .menu  {
    & li.abouthse a { border-bottom: 2px solid #333;
    }
  }

  .freeUpdates .menu  {
    & li.freeUpdates a { border-bottom: 2px solid #333;
    }
  }

  .contact .menu  {
    & li.contact a { border-bottom: 2px solid #333;
    }
  }
}


.menu, .search {
  display: none;
  font-size: 1.1em !important;
  @include mq($from: desktop) {
    display: none;
  }
}

.menu-button, .search-button {
@include mq($from: desktop) {
  margin-right: 20px !important;
}
}

.menu-button, .search-button {
  padding: 1px 20px;
  background: none;
  border: none;
  margin-left: auto;
  margin-bottom: 4px;
  font-weight: 700;
  text-decoration: none;
  border-left: 1px solid $color_hse-grey-3;
  &:last-of-type {
    margin-left: 0;
  }
}

.menu-button:hover {
  cursor: pointer;
  position: relative;
  color: $color_hse-red;
}

.menu-button.main-menu-expanded:hover {
  color: $color_hse-black;
}

.menu.active {
  display: block;
}

.search.active {
  display: block;
}

.search {
  display: none;
}


.no-js .menu {
  display: block;
}

.full-width-container {
  width: 100%;
  float: left;
  clear: both;
}

.responsive-container {
  width: 90%;
  padding-left: 5%;
  padding-right: 5%;
}

.responsive-nav-container {
  width: 100%;
}

.responsive-nav-container .menu li:hover a::before {
  color: white;
}

// icons

.menu li a::before {
  @include mq($from: desktop) {
    display: none;
  }
}
