<!DOCTYPE html>
<html lang="en-GB"><!-- InstanceBegin template="/Templates/dev-kit.dwt" codeOutsideHTMLIsLocked="false" -->
<head>

<!-- Anti-flicker snippet (recommended) If installing optimise with GTM, specifcy GTM container ID  --> 

<script id="anti-flicker">(function(a,s,y,n,c,h,i,d,e){s.className+=' '+y;h.start=1*new Date;
h.end=i=function(){s.className=s.className.replace(RegExp(' ?'+y),'')};
(a[n]=a[n]||[]).hide=h;setTimeout(function(){i();h.end=null},c);h.timeout=c;
})(window,document.documentElement,'async-hide','dataLayer',4000,
{'GTM-PJPWMNL':true});
</script> 

<!-- GTM --> 
	
<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
})(window,document,'script','dataLayer','GTM-PJPWMNL');</script>

<meta charset="utf-8">
	



<meta name="viewport" content="width=device-width, initial-scale=1.0">
<!-- v5.1.1 -->



<link rel="stylesheet" href="../../assets/v5-css/v5.min.css" type="text/css" media="screen,print" />
<style>
#globalSearch {
display: none;
}	
</style>



<!-- Page title and meta -->
	
<!-- InstanceBeginEditable name="doctitle" -->
<title>Design System</title>
<meta name="Description" content="HSE's job is to protect people against risks to health or safety arising out of work activities. Provides advice, guidance, regulations and inspections." />
<meta name="Keywords" content="HSE, health and safety executive,  occupational ill-health, occupational health and safety, accident, safety, employee safety, health and safety at work act, law" />
<!-- Custom CSS -->
<!-- InstanceEndEditable -->
<meta name="HSE.contentType" content="default" />
<link rel="shortcut icon" href="../../favicon.ico" />
<link rel="apple-touch-icon" href="../../assets/v4-images/shared/apple-touch-icon.png" />
<link rel="home" href="../../index.htm" />


<!-- ie 11 fix for left-hand navigation --> 
<script src="https://cdn.polyfill.io/v2/polyfill.min.js"></script>


</head>
<body class="template normalFont">

<!-- GTM -->

<noscript aria-hidden="true" aria-label="GTM-PJPWMNL">
<iframe title="GTM-PJPWMNL" src="https://www.googletagmanager.com/ns.html?id=GTM-PJPWMNL" height="0" width="0" style="display:none;visibility:hidden" aria-hidden="true"></iframe>
</noscript>
<section id="top" aria-label="Skip to content">  <a href="#contentContainer" class="skip">Skip to content</a>  </section>
 
<section id="printBanner" aria-label="Print banner"> <img src="../../assets/v4-images/website/print/print-logo.jpg" width="193" height="65" alt="Health and Safety Executive" id="printLogo"/> </section>
<header id="headerContainer">
  <div id="header">
    <div class="headerTop header js-header">
		 
		<div id="headerLogo" class="headerLogo"><a href="../../index.htm">Health and Safety<br />
        Executive</a></div>
		
		 
		
      <div id="globalSearch" class="desktop-gcs-search">
        <gcse:searchbox-only></gcse:searchbox-only>
      </div>
    </div>
    
    <!-- JS Main Navigation -->
    
    <div class="menuContainer">
      <nav id="main-menu"  class="menu js-menu">
        <ul>
          <li class="home"><a href="../../index.htm">Design system</a></li>
          <li class="style"><a href="../../style/index.htm">Styles</a></li>
          <li class="components"><a href="../../components/index.htm">Components</a></li>
          <li class="patterns"><a href="../../patterns/index.htm">Patterns</a></li>
          <li class="template"><a href="../index.htm">Framework</a></li>
        </ul>
      </nav>
    </div>
  </div>
   </header>
   
<nav id="breadCrumb" aria-label="Previous pages:">
  <div class="breadCrumbContainer"> <!-- InstanceBeginEditable name="Breadcrumbs" -->
		<ol>
			<li class="home"><a href="../../index.htm">Design System</a></li>
			<li><a href="../index.htm">Framework</a></li>
			<li>Accessibility</li>
		</ol>
		<!-- InstanceEndEditable --> </div>
  <div id="backTo">
    <p class="backto"><a id="backnav" href="../index.htm">Back to</a></p>
  </div>
</nav>
 
<div id="pageContainer" class="v5" xmlns:argot="http://purl.oclc.org/argot/" xmlns:dc="http://purl.org/dc/terms/" xmlns:foaf="http://xmlns.com/foaf/0.1/" xmlns:v="http://www.w3.org/2006/vcard/ns#" xmlns:dbp="http://dbpedia.org/resource/">
<!-- InstanceBeginEditable name="beta-survey" --> 


<!-- InstanceEndEditable -->   

<!-- Beta content page --> 

  
<nav id="navSecondary" aria-label="Secondary"> <!-- InstanceBeginEditable name="Subnav" --><!-- #BeginLibraryItem "/Library/_v5-framework.lbi" --><div id="menu" class="slinky-menu slinky-theme-default">
<ul>
    <li class="first"><a href="../index.htm">Template</a></li>
	<li><a href="../template.htm">Applying template</a></li>
	<li><a href="../regions.htm">Editable regions</a></li>
    <li><a href="../param.htm">Parameters</a></li>
	<li><a href="../accessibility.htm">Accessibility</a></li>
	<li><a href="#">Components</a>
		<ul>
		   <li><a href="index.htm">Overview</a></li>
          <li><a href="notification-banner.htm">Notification banner</a></li>
		   <li><a href="user-satisfaction.htm">User satisfaction</a></li>
		   <li><a href="document-title-meta.htm">Document title and meta elements</a></li>
		   <li><a href="page-notification.htm">Page notification</a></li>
		   <li><a href="breadcrumbs.htm">Breadcrumbs</a></li>
		   <li><a href="beta-banner.htm">Beta survey</a></li>
		   <li><a href="secondary-nav.htm">Secondary navigation</a></li>
		   <li><a href="cookies.htm">Cookie banner</a></li>
		</ul>
	</li>
	
 </ul>
</div>
<!-- #EndLibraryItem --><!-- InstanceEndEditable --> </nav>

<main id="contentContainer" class="columnbetacontentpage column2">
 
	
<!-- InstanceBeginEditable name="content" -->
  
  <h1>Cookie banner</h1>
	
	
  <p>Tell users about the cookies you’re setting on their device and let them accept or reject different types of non-essential cookies.</p>
	
  <h2>Why we need it</h2>
	
  <p>The Cookie banner componenet is built into the website framework and is not optional, it gives users the means of consenting to non-essential cookies being set on their device. It is coupled with a cookies page that gives a user more information and control of cookies set on HSE.GOV.UK</p>
	
  <p>We need the banner to notify users that we are using essential cookies to make the site work but also give them the option to opt-in or opt-out of analytics which requires the use of cookies to track users.</p>
	
	
  <h2>How it works</h2>
	
  <p>Show the cookie banner every time the user accesses your service until they either:</p>
  <ul>
    <li>accept or reject cookies using the buttons in the cookie banner</li>
    <li>save their cookie preferences on the service&rsquo;s cookies page</li>
  </ul>
  <p>Once the user has accepted or rejected cookies, the cookie banner should:</p>
  <ul>
    <li>hide the cookie banner message</li>
    <li>show a confirmation message — and a &lsquo;hide&rsquo; button to let the user close the banner</li>
    <li>set a cookie to save the user&rsquo;s preferences for 1 year</li>
  </ul>
  <p>Make sure the cookie banner does not:</p>
  <ul>
    <li>show when the user visits again, once their preferences have been saved</li>
    <li>set any non-essential cookies unless the user accepted them on a previous visit</li>
  </ul>
	
  <hr>
	
  <h2>Code</h2>
	
  <p>Cookie preference control works using a combination of user input with HTML form, user interaction with cookie banner, essential cookies for storing user cookie preferences and JS conditionals in page template.</p>
	
  <div class="box">
	  
	<h3>Contents</h3>
	
   <ul>
	   
	<li><a href="#cookie-preferences">Cookie preferences</a></li>
	<li><a href="#template-code">Template code</a></li>
	<li><a href="#cookies-page">Cookies page (HTML form)</a></li>
	<li><a href="#banner-html">Banner HTML</a></li>

   </ul>
	
  </div>
	

	
  <h2 id="cookie-preferences">Cookie preferences</h2>
	
  <p>The JS file <a href="../cookie-preferences.js">cookie-preferences.js</a>, is used to set and modify cookies, <a href="https://github.com/js-cookie/js-cookie/tree/latest#readme">JS Cookie</a> is used for managing cookies.</p>
	
  <p>The file contains JS functions to perform the following tasks:</p>
	
  <ul>
	  
   <li>Set variable for cookie base settings (path,domain,secure,sameSite,expires)</li>
   <li>Modify <strong>cookies_policy</strong> based on cookies page form input</li>
   <li>Modify <strong>optInGoogleTracking</strong> cookie to track users analytics preference</li>
   <li>Sets and unsets GA cookies based on <strong>cookies_policy</strong> value</li>
   <li>Display dialog box if user saves preferences on cookies page</li>
   <li>Close cookie banner on user clicking hide button and storing action as a value in <strong>hide_banner</strong> cookie</li>
   <li>Control cookie banner displaying depending on value of <strong>hide_banner</strong> cookie</li>
   <li>Smooth scrolling to banner message after form saves</li>
   <li>Sets value of <strong>cookie_status</strong> based on user switching toggle or clicking accept all button on cookies page</li>
   <li>Sets value of <strong>cookie_status</strong> based on user clicking accept or reject button in cookie banner</li>

	
  </ul>
	
  <h3>Framework dependencies</h3>
	
  <ul>
	  
  <li><a href="https://github.com/js-cookie/js-cookie/tree/latest#readme">JS Cookie</a></li>
  <li><a href="../add-custom-event-listener.js">Event listener</a></li>
  <li>Modal</li>
  <li>Smooth scroll</li>
	
  </ul>
	
  <h3>Setting cookies</h3>
	
  <p>Cookies required:</p>
	
  <table>
	  
  <thead>
	  
  <tr>
	  
  <th>Name</th>
  <th>Purpose</th>
  <th>Expires</th>
	  
  </tr>
	  
	  
  </thead>
	  
  <tbody>
	  
  <tr>
  
  <td>optInGoogleTracking</td>
  <td>Holds a value of true or false, this cookie is of specific use to analytics</td>
  <td>1 year</td>
	  
	  
  </tr>
	  
  <tr>
  
  <td>cookies_policy</td>
  <td>Used to track cookie preferences, essential and analytics</td>
  <td>1 year</td>
	  
	  
  </tr>
	  
  <tr>
  
  <td>cookies_status</td>
  <td>Holds value of accepted or rejected after a user changes their GA preference using the toggle or accept all button on the cookies page</td>
  <td>1 year</td>
	  
	  
  </tr>
	  
  <tr>
  
  <td>hide_banner</td>
  <td>Used to keep track of user hiding banner</td>
  <td>1 year</td>
	  
	  
  </tr>
	  
	  
  </tbody>
	
	
	
  </table>
	
  <h3>Cookie preferences code</h3>
	
  <iframe width="100%" height="300" src="//jsfiddle.net/pjenkinsonhse/Lekcpa8f/embedded/js/dark/" allowfullscreen="allowfullscreen" allowpaymentrequest frameborder="0"></iframe>
	
  <h2 id="template-code">Template code</h2>
	
  <p>HSE.GOV.UK uses Google Tag Manager to setup Google analytics, the following JavaScript is included in the opening <strong>&lt;head&gt;</strong> tag of the website template.</p>
	
	
  <h3>Optimize anti-flicker snippet</h3>
	
  <p><a href="https://developers.google.com/optimize/">Optimize anti-flicker snippet</a>, which supports loading your Optimize container asynchronously while hiding the page until the container is ready</p>
	
	
<iframe width="100%" height="300" src="//jsfiddle.net/pjenkinsonhse/cxsrLftk/2/embedded/html/dark/" allowfullscreen="allowfullscreen" allowpaymentrequest></iframe>  
	
  <h3>Google Tag Manager</h3>	
	
  <p>Google Anlaytics is setup with Google Tag Manager, the code required is conditonally loaded and setup as instructed in the <a href="https://developers.google.com/tag-manager/quickstart">Google Tag Manager Quick Start Guide</a></p>
	
<iframe width="100%" height="300" src="//jsfiddle.net/pjenkinsonhse/5b7gyj9f/embedded/html/dark/" allowfullscreen="allowfullscreen" allowpaymentrequest frameborder="0"></iframe>
	
	
 <h3>Non-JS</h3>
	
 <p>While non-JavaScript code should not be required to run GTM, it has not been possible to get GTM to work without this snippet of code and requires further investigation.</p>
 
 <p>The following snippet is included after the opening <strong>&lt;body&gt;</strong> tag on every page of your</p>

	
<iframe width="100%" height="300" src="//jsfiddle.net/pjenkinsonhse/qzp9fexh/3/embedded/html/dark/" allowfullscreen="allowfullscreen" allowpaymentrequest frameborder="0"></iframe>
	
	
<h3>JS conditionals</h3>
	
<p>JS conditionals are used in the template code to check if the user has opted in, it does this by getting the value of the <strong>optInGoogleTracking</strong> cookie and checking if it is set to <strong>&lsquo;true&rsquo;</strong>.</p>
	
<iframe width="100%" height="300" src="//jsfiddle.net/pjenkinsonhse/xf7gub2j/embedded/html/dark/" allowfullscreen="allowfullscreen" allowpaymentrequest frameborder="0"></iframe>
	
<h2 id="cookies-page">Cookies page</h2>
	
<p>A cookies page is used to provide the user a way to control their cookie preferences, this allows users an alternative way to the cookie banner to accept or reject analytics.</p>
	
<p>The HTML form inclues:</p>
	
 <ul>
	 
  <li>A button to accept all cookies</li>
  <li>A checkbox styled as a switch to toggle between accepting or rejecting analytics</li>
  <li>Button to save changes</li>
	
 </ul>
	
 <h3>Auto save and refresh</h3>
	
 <p>Currently the form is set to save automatically when a user clicks the accept all button or toggles between accepting or rejecting analytics.</p>
	
 <h3>Form code</h3>
	

<iframe width="100%" height="300" src="//jsfiddle.net/pjenkinsonhse/zp5mj1qg/1/embedded/html/dark/" allowfullscreen="allowfullscreen" allowpaymentrequest frameborder="0"></iframe>
	
	
  <h2 id="banner-html">Banner HTML</h2>
	
  <p>The JS file <a href="../cookie-banner-html.js">cookies-banner-html.js</a> contains HTML for the Cookie Banner and related banner messages.</p>
	
  <p>The file contains 3 cookie banner messages, contained in variables that are interchangeable depending on the outcome of the users actions.</p>
	
  <p>The 3 messages are:</p>
	
  <ul>
	  
   <li><strong>Start message</strong> for a user that has not yet accepted or rejected analytics cookies</li>
   <li><strong>Accepted message</strong> for a user that has accepted analytics cookies</li>
   <li><strong>Rejected message</strong> for a user that has rejected analytics cookies</li>
	
  </ul>
	
  <p>To work out what message to serve, JS is used to get the value of &lsquo;cookies_status&rsquo;, a cookie which is set when the user accepts or rejects analytics in the cookie banner.</p>
	
  <p>A JS switch statement is used to check the value of the status variable to see if its value is 'accepted', 'rejected' or if the cookies has not been set. It then puts the outcome of this check into the cookieMessage variable which is outputted as HTML.</p>
	
  <h3>Banner HTML code</h3>
	
<iframe width="100%" height="300" src="//jsfiddle.net/pjenkinsonhse/y670hs9f/5/embedded/js/dark/" allowfullscreen="allowfullscreen" allowpaymentrequest frameborder="0"></iframe>
	  
<!-- InstanceEndEditable -->
	
 

<!-- Beta two column (top task) --> 

   </main>

</div>

<nav id="footer-nav" aria-label="Footer menu">
  <footer id="footerContainer">
    <div id="footer">
      <h2 class="visually-hidden">Footer links</h2>
      <div class="footer-links-container">
       
      </div>
    </div>
    <div id="baseStrip">
      <div id="baseStripInner">
        <p>HSE aims to reduce work-related death, injury and ill health.</p>
      </div>
    </div>
  </footer>
</nav>
<section id="lastUpdated" aria-label="Last updated">
<!-- InstanceBeginEditable name="updated" --> Updated:
	<!-- #BeginDate format:IS1 -->2021-05-25<!-- #EndDate -->
	<!-- InstanceEndEditable -->
</section>
<script src="../../assets/v5-js/v5-main.min.js"></script>
<script src="../../assets/v5-js/jquery.min.js"></script> 
<script src="../../assets/v5-js/v5-footer.min.js"></script> 

	
 
<script src="../../assets/v5-js/v5-footer-slinky-js.min.js"></script> 





<div id="gutter"><!-- InstanceBeginEditable name="gutter" --> <!-- InstanceEndEditable --></div>

<!-- SiteImprove JS --> 
<script type="text/javascript">
/*<![CDATA[*/
(function() {
var sz = document.createElement('script'); sz.type = 'text/javascript'; sz.async = true;
sz.src = '//siteimproveanalytics.com/js/siteanalyze_6798.js';
var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(sz, s);
})();
/*]]>*/
	
// removes cellspacing & cellpadding attributes from GCS (Assesibility fix)
window.onload = function(){

var searchTable = document.querySelector('table.gsc-search-box');
var searchTable2 = document.querySelector('table.gsc-input');
var searchTable3 = document.querySelector('table.gssb_c');
var searchInput = document.querySelector('input.gsc-input');

searchTable.removeAttribute('cellpadding');
searchTable2.removeAttribute('cellpadding');
searchTable3.removeAttribute('cellpadding');
searchInput.removeAttribute('cellpadding');

searchTable.removeAttribute('cellspacing');
searchTable2.removeAttribute('cellspacing');
searchTable3.removeAttribute('cellspacing');
searchInput.removeAttribute('cellspacing');
};	
</script> 
	
<!-- InstanceParam name="bodyClass" type="text" value="template" --> 
<!-- InstanceParam name="layout" type="text" value="betacontentpage" --> 
<!-- InstanceParam name="columnLayout" type="number" value="2" --> 
<!-- InstanceParam name="platform" type="text" value="v5" --> 
<!-- InstanceParam name="rdfa" type="boolean" value="false" --> 
<!-- InstanceParam name="welsh" type="boolean" value="false" --> 
<!-- InstanceParam name="homepage" type="boolean" value="false" --> 
<!-- InstanceParam name="weblite" type="boolean" value="false" --> 
<!-- InstanceParam name="feedback" type="boolean" value="true" --> 
<!-- InstanceParam name="contentType" type="text" value="default" --> 
<!-- InstanceParam name="notificationBar" type="boolean" value="false" --> 
<!-- InstanceParam name="printGuide" type="boolean" value="false" -->
</body>
<!-- InstanceEnd --></html>