<!DOCTYPE html>
<html lang="en-GB"><!-- InstanceBegin template="/Templates/dev-kit.dwt" codeOutsideHTMLIsLocked="false" -->
<head>

<meta charset="utf-8">
	



<meta name="viewport" content="width=device-width, initial-scale=1.0">
<!-- v5.1.1 -->



<link rel="stylesheet" href="../../assets/v5-css/v5.min.css" type="text/css" media="screen,print" />
<style>
#globalSearch {
display: none;
}	
</style>



<!-- Page title and meta -->
	
<!-- InstanceBeginEditable name="doctitle" -->
<title>Design System</title>
<meta name="Description" content="HSE's job is to protect people against risks to health or safety arising out of work activities. Provides advice, guidance, regulations and inspections." />
<meta name="Keywords" content="HSE, health and safety executive,  occupational ill-health, occupational health and safety, accident, safety, employee safety, health and safety at work act, law" />


<!-- InstanceEndEditable -->
<meta name="HSE.contentType" content="default" />
<link rel="shortcut icon" href="../../favicon.ico" />
<link rel="apple-touch-icon" href="../../assets/v4-images/shared/apple-touch-icon.png" />
<link rel="home" href="../../index.htm" />


<!-- ie 11 fix for left-hand navigation --> 
<script src="https://cdn.polyfill.io/v2/polyfill.min.js"></script>


</head>
<body class="template normalFont">

<section id="top" aria-label="Skip to content">  <a href="#contentContainer" class="skip">Skip to content</a>  </section>
 
<section id="printBanner" aria-label="Print banner"> <img src="../../assets/v4-images/website/print/print-logo.jpg" width="193" height="65" alt="Health and Safety Executive" id="printLogo"/> </section>
<header id="headerContainer">
  <div id="header">
    <div class="headerTop header js-header">
		 
		<div id="headerLogo" class="headerLogo"><a href="../../index.htm">Health and Safety<br />
        Executive</a></div>
		
		 
		
      <div id="globalSearch" class="desktop-gcs-search">
        <gcse:searchbox-only></gcse:searchbox-only>
      </div>
    </div>
    
    <!-- JS Main Navigation -->
    
    <div class="menuContainer">
      <nav id="main-menu"  class="menu js-menu">
        <ul>
          <li class="home"><a href="../../index.htm">Design system</a></li>
          <li class="style"><a href="../../style/index.htm">Styles</a></li>
          <li class="components"><a href="../../components/index.htm">Components</a></li>
          <li class="patterns"><a href="../../patterns/index.htm">Patterns</a></li>
          <li class="template"><a href="../index.htm">Framework</a></li>
        </ul>
      </nav>
    </div>
  </div>
   </header>
   
<nav id="breadCrumb" aria-label="Previous pages:">
  <div class="breadCrumbContainer"> <!-- InstanceBeginEditable name="Breadcrumbs" -->
		<ol>
			<li class="home"><a href="../../index.htm">Design System</a></li>
			<li><a href="../index.htm">Framework</a></li>
			<li>Components</li>
		</ol>
		<!-- InstanceEndEditable --> </div>
  <div id="backTo">
    <p class="backto"><a id="backnav" href="index.htm">Back to</a></p>
  </div>
</nav>
 
<div id="pageContainer" class="v5" xmlns:argot="http://purl.oclc.org/argot/" xmlns:dc="http://purl.org/dc/terms/" xmlns:foaf="http://xmlns.com/foaf/0.1/" xmlns:v="http://www.w3.org/2006/vcard/ns#" xmlns:dbp="http://dbpedia.org/resource/">
<!-- InstanceBeginEditable name="beta-survey" --> 


<!-- InstanceEndEditable -->   

<!-- Beta content page --> 

  
<nav id="navSecondary" aria-label="Secondary"> <!-- InstanceBeginEditable name="Subnav" --><!-- #BeginLibraryItem "/Library/_v5-framework.lbi" --><div id="menu" class="slinky-menu slinky-theme-default">
  <ul>
    <li class="first"><a href="../index.htm">Framework</a></li>
	  <li><a href="#">Template</a>
      <ul>
        <li><a href="../template/template.htm">Applying template</a></li>
        <li><a href="../template/regions.htm">Editable regions</a></li>
        <li><a href="../template/param.htm">Parameters</a></li>
        <li><a href="../template/accessibility.htm">Accessibility</a></li>
        <li><a href="#">Components</a>
          <ul>
            <li><a href="index.htm">Overview</a></li>
            <li><a href="notification-banner.htm">Notification banner</a></li>
            <li><a href="user-satisfaction.htm">User satisfaction</a></li>
            <li><a href="document-title-meta.htm">Document title and meta elements</a></li>
            <li><a href="page-notification.htm">Page notification</a></li>
            <li><a href="breadcrumbs.htm">Breadcrumbs</a></li>
            <li><a href="beta-banner.htm">Beta survey</a></li>
            <li><a href="secondary-nav.htm">Secondary navigation</a></li>
            <li><a href="cookies.htm">Cookie banner</a></li>
          </ul>
        </li>
      </ul>
    </li>
	  <li><a href="#">Workflow</a>
		  <ul>
			  <li><a href="../workflow/index.htm">Workflow</a></li>
			  <li><a href="#">Gitflow</a>
			  <ul>
				  <li><a href="../workflow/gitflow.htm">Gitflow</a></li>
				  <li><a href="../workflow/gitflow-features.htm">Feature branches</a></li>
				  <li><a href="../workflow/gitflow-releases.htm">Release branches</a></li>
				  <li><a href="../workflow/gitflow-hotfixes.htm">Hotfixes</a></li>
				</ul>
			  </li>
			  <li><a href="../workflow/client-tools.htm">Git-client management tools</a></li>
		  </ul>
	  </li>
    
    <li><a href="#">Testing</a>
      <ul>
		<li><a href="../testing/index.htm">Overview</a></li>
        <li><a href="../testing/browsers-devices.htm">Browsers and devices</a></li>
		<li><a href="../testing/test.htm">Test page</a></li>
      </ul>
    </li>
	<li><a href="#">Javascript</a>
      <ul>
		<li><a href="../javascript/index.htm">Overview</a></li>
        <li><a href="../javascript/create-a-basic-component.htm">Create a component</a></li>
      </ul>
    </li>
  </ul>
</div>
<!-- #EndLibraryItem --><!-- InstanceEndEditable --> </nav>

<main id="contentContainer" class="columnbetacontentpage column2">
 
	
<!-- InstanceBeginEditable name="content" -->
  
  <h1>Template Components</h1>
	
 <p>Template componenets that use <a href="../template/regions.htm">editable regions</a> and <a href="../template/param.htm">parameters</a>.</p>
	
 <div class="box">
	
 <h2>Contents</h2>
	 
 <ul>
  <li><a href="notification-banner.htm">Notification banner</a></li>
  <li><a href="user-satisfaction.htm">User satisfaction</a></li>
  <li><a href="document-title-meta.htm">Document title and meta elements</a></li>
  <li><a href="page-notification.htm">Page notification</a></li>
  <li><a href="breadcrumbs.htm">Breadcrumbs</a></li>
  <li><a href="beta-banner.htm">Beta banner</a></li>
  <li><a href="secondary-nav.htm">Secondary navigation</a></li>
  <li><a href="cookies.htm">Cookie banner</a></li>
 </ul>
	 
	 
 </div>




	
	
	
	
	
	
	
	
	
				
<!-- InstanceEndEditable -->
	
 

<!-- Beta two column (top task) --> 

   </main>

</div>

<nav id="footer-nav" aria-label="Footer menu">
  <footer id="footerContainer">
    <div id="footer">
      <h2 class="visually-hidden">Footer links</h2>
      <div class="footer-links-container">
       
      </div>
    </div>
    <div id="baseStrip">
      <div id="baseStripInner">
        <p>HSE aims to reduce work-related death, injury and ill health.</p>
      </div>
    </div>
  </footer>
</nav>
<section id="lastUpdated" aria-label="Last updated">
<!-- InstanceBeginEditable name="updated" --> Updated:
	<!-- #BeginDate format:IS1 -->2021-06-16<!-- #EndDate -->
	<!-- InstanceEndEditable -->
</section>
<script src="../../assets/v5-js/v5-main.min.js"></script>
<script src="../../assets/v5-js/jquery.min.js"></script> 
<script src="../../assets/v5-js/v5-footer.min.js"></script> 

	
 
<script src="../../assets/v5-js/v5-footer-slinky-js.min.js"></script> 





<div id="gutter"><!-- InstanceBeginEditable name="gutter" --> <!-- InstanceEndEditable --></div>

	
<!-- InstanceParam name="bodyClass" type="text" value="template" --> 
<!-- InstanceParam name="layout" type="text" value="betacontentpage" --> 
<!-- InstanceParam name="columnLayout" type="number" value="2" --> 
<!-- InstanceParam name="platform" type="text" value="v5" --> 
<!-- InstanceParam name="rdfa" type="boolean" value="false" --> 
<!-- InstanceParam name="welsh" type="boolean" value="false" --> 
<!-- InstanceParam name="homepage" type="boolean" value="false" --> 
<!-- InstanceParam name="weblite" type="boolean" value="false" --> 
<!-- InstanceParam name="feedback" type="boolean" value="true" --> 
<!-- InstanceParam name="contentType" type="text" value="default" --> 
<!-- InstanceParam name="notificationBar" type="boolean" value="false" --> 
<!-- InstanceParam name="printGuide" type="boolean" value="false" -->
</body>
<!-- InstanceEnd --></html>