// Multi step nav

.hse-contents-list {
margin-bottom: $hse-legacy-spacing-20;
}
  
  .multistep--columns-two {
    width: 100%;
    @include mq($from: desktop) {
      column-count: 2;
      width: 620px !important;
    }
  }
  
  ol.multistep.multistep--dashed {
    list-style-type: none;
    position: relative;
    width: 100%;
  }
  
  
  ul.multistep li::before,
  ol.multistep.multistep--dashed li::before {
    content: "—";
    position: absolute;
    color: $color_hse-grey-3;
    left: 0;
    width: $hse-legacy-spacing-20;
    overflow: hidden;
  }
  
  .multistep {
    width: 100%;
    margin: 0 0 0 20px;
    padding: 0;
  }
  
  ol.multistep li {
    padding: 0 hse-spacing(2);
    clear: both;
    &:a {
      display: inline-block;
    }
  }