/*doc
---
title: Blockquotes
name: f-block-quotes
category: Page features - Blockquotes
---


```html_example
<blockquote>
    <div class="quote-body">
        <cite>
            <p>No problem can be solved from the same level of consciousness that created it.</p>
        </cite>
        <p class="quote-credit"><img class="quote-avatar" srcset="../images/png/avatar-einstein.png 1x, ../images/png/avatar-einstein@2x.png 2x" alt="Albert Einstein Photograph"/><span> - Albert Einstein</span></p>
    </div>
</blockquote>
```

*/

blockquote {
  margin: 0;
  padding: $dp * 2;
  background-color: $mono-f;
  border-left: $dp solid $blockquote-color;
}

.quote-body {
  color: $emphasised-text-color;
  font-family: $font-serif;
  @extend .font-size-19;
}

.quote-credit {
  position: relative;
  text-align: right;
  @extend .font-size-19;
  color: $mono-c;
  margin: 0;

  span {
    display: inline-block;
    vertical-align: middle;
  }
}

.quote-avatar {
  display: inline-block;
  width: 50px;
  height: 50px;
  vertical-align: middle;
  margin-right: $dp * 2;
}
