/*doc
---
title: Site Header
name: z-site-a-siteheader
category: Site features - Site header
---

The site header consists of a logo, a navigation and a site search.

```html_example
<header class="site-header">
    <div class="site-header__inner">
        <div class="site-logo">
            <img src="logo.svg" />
        </div>

        <button class="btn site-menu-action">Menu</button>

        <button class="btn site-search-action">Search this website</button>

        <div class="site-search">
            <div class="form-group">
                <label for="siteSearch" class="label label-hidden">Search this website</label>
                <input type="text" id="siteSearch" class="input-text" /> <button class="btn">Search</button>
            </div>
        </div>

        <nav class="site-navigation">
            <ul class="primary-nav">
                <li class="primary-nav-item"><a href="#" class="nav-link" id="parentA" aria-haspopup="true">Nav one</a>
                <li class="primary-nav-item"><a href="#" class="nav-link" id="parentB" aria-haspopup="true">Nav two</a>
                <li class="primary-nav-item"><a href="#" class="nav-link">Nav three</a>
                <li class="primary-nav-item"><a href="#" class="nav-link">Nav four</a>
            </ul>

            <ul class="secondary-nav" data-nav-parent="parentA" aria-label="submenuA">
                <li class="secondary-nav-item"><a href="#" class="subnav-link">Subnav A one</a>
                <li class="secondary-nav-item"><a href="#" class="subnav-link">Subnav A two</a>
                <li class="secondary-nav-item"><a href="#" class="subnav-link">Subnav A three</a>
                <li class="secondary-nav-item"><a href="#" class="subnav-link">Subnav A four</a>
            </ul>

            <ul class="secondary-nav" data-nav-parent="parentB" aria-label="submenuA">
                <li class="secondary-nav-item"><a href="#" class="subnav-link">Subnav B one</a>
                <li class="secondary-nav-item"><a href="#" class="subnav-link">Subnav B two</a>
                <li class="secondary-nav-item"><a href="#" class="subnav-link">Subnav B three</a>
                <li class="secondary-nav-item"><a href="#" class="subnav-link">Subnav B four</a>
            </ul>
        </nav>
    </div>
</div>
```

*/

.site-header {
    background-color: $black;
    padding: $dp*2;
    margin-bottom: $dp*4;
}

.site-header__inner {
    max-width: $max-width;
    margin: 0 auto;
}

.site-header__content {
    vertical-align: middle;
    display: inline-block;
    margin-left: $dp*4;
}

.site-header__title {
    @extend .font-size-24;
    margin-bottom: $dp/2;
    color: $white;
}
.site-header__copy {
    @extend .subtext;
    color: $white;
    margin-bottom: 0;
}

.site-logo {
    display: inline-block;
    vertical-align: middle;
    img {
        display: block;
        max-width: 50px;
    }
}