/*doc
---
title: Summary list
name: z-site-c-summary-list
category: Page features - Summary list
---

Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.

```html_example
<dl class="summary-list">
  <div class="summary-list__row">
    <dt class="summary-list__key">
      Name
    </dt>
    <dd class="summary-list__value">
      Sarah Philips
    </dd>
    <dd class="summary-list__actions">
      <a class="link" href="#">
        Change<span class="visually-hidden"> name</span>
      </a>
    </dd>
  </div>
  <div class="summary-list__row">
    <dt class="summary-list__key">
      Date of birth
    </dt>
    <dd class="summary-list__value">
      5 January 1978
    </dd>
    <dd class="summary-list__actions">
      <a class="link" href="#">
        Change<span class="visually-hidden"> date of birth</span>
      </a>
    </dd>
  </div>
  <div class="summary-list__row">
    <dt class="summary-list__key">
      Contact information
    </dt>
    <dd class="summary-list__value">
      72 Guild Street<br>London<br>SE23 6FH
    </dd>
    <dd class="summary-list__actions">
      <a class="link" href="#">
        Change<span class="visually-hidden"> contact information</span>
      </a>
    </dd>
  </div>
  <div class="summary-list__row">
    <dt class="summary-list__key">
      Contact details
    </dt>
    <dd class="summary-list__value">
      <p class="body">07700 900457</p>
      <p class="body">sarah.phillips@example.com</p>
    </dd>
    <dd class="summary-list__actions">
      <a class="link" href="#">
        Change<span class="visually-hidden"> contact details</span>
      </a>
    </dd>
  </div>
</dl>
```

*/

.summary-list {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: 400;
  @extend .font-size-19;
  color: $mono-a;
  margin: 0;
  margin-bottom: 20px;
  @media (min-width: $bp-tablet) {
    margin-bottom: 30px;
  }
}
.summary-list__row {
  margin-bottom: 15px;
  border-bottom: 1px solid $mono-e;
}
.summary-list__key {
  @extend .font-size-19;
  font-weight: 700;
  margin: 0;
  margin-bottom: 5px;
}
.summary-list__value {
  @extend .font-size-19;

  word-wrap: break-word;
  overflow-wrap: break-word;
  margin: 0;
  margin-bottom: 15px;
}
.summary-list__actions {
  @extend .font-size-19;
  margin: 0;
  margin-bottom: 15px;
}
