@use "../../base/core/tools/mixins" as *;
@use "../../base/core/settings/colours" as *;
@use "../../base/core/settings/spacing" as *;
@use "../../base/core/tools/typography" as *;
@use "../../base/core/tools/sass-mq" as *;


.hse-header {
background-color: $color_hse-white;
@include clearfix();
}

.hse-header::before {
background: $color_hse-red;
display: block;
content: '';
height: 4px;
@include mq($media-type: print) {
  display: none;
}
} 

.hse-header__container {
border-bottom: 1px solid #c2c2c2;
}

.hse-header__top-container {
display: flex;
flex-direction: row;
flex-wrap: wrap;
@include clearfix();  
}

.hse-header__top-container {
@include clearfix();
}


.hse-header__search {
top: -5px;
position: absolute;
right: 0;
margin-right: 16px;
/* z-index: 1; */
// position: relative;
text-align: right;
flex-basis: 100%;
margin-top: $hse-legacy-spacing-20;
@include clearfix();
@include mq($from: desktop) {
// margin-left: auto;
top: 0;
position: relative;
flex-basis: content;
margin-top: 0;
}
}

.hse-header__logo svg {
@include mq($until: desktop) {
width: 170px;
}
}

.hse-header__logo a {
&:focus {
outline: #fd0 5px solid !important;
box-shadow: none;
}
&:focus svg path {
fill: $color_hse-black !important;
}
&:focus-visible {
outline-offset: initial;
}
}

.full-width-homepage-banner {
    max-width: 960px;
    margin: 0 auto;
    padding-left: 23px;
    padding-right: 23px;
    padding-top: 60px;
    padding-bottom:32px;
    @include mq($from: desktop) {
    padding-left: 39px;
    padding-right: 39px;
    }
    @include mq($from: 958px) {
        max-width: none;
    }
    @include mq($from: 1024px) {
        max-width: 960px;
        padding-left: 0;
    }
}

#headerLogo {
    margin: 10px 0;
    @include mq($from: desktop) {
      height: 46px;
      display: flex;
    }
    a {
      color: $color_hse-black;
      display: block;
      padding: 0;
      text-decoration: none !important;
      display: flex;
    }
  }

.hse-header__logo-text {
display: flex;
position: relative;
flex-direction: column;
padding-left: 40px;
font-weight: 500;
@include hse-typography-responsive(19);
@include mq($from: desktop) {
padding-top: 14px;
}
@include mq($from: desktop) {
line-height: 1 !important;
}
&::before {
background: #9f2447;
bottom: 0;
content: "";
position: absolute;
margin-left: -20px;
top: 0;
width: 2px;
}
}
