/*doc
---
title: Form errors
name: c-errors
category: Page features - Form elements
---


```html_example
<div class="form-group form-group--error">
  <fieldset class="fieldset" role="group" aria-describedby="passport-issued-hint passport-issued-error">
    <legend class="fieldset__legend fieldset__legend--xl">
      <h1 class="fieldset__heading">
        When was your passport issued?
      </h1>
    </legend>
    <span id="passport-issued-hint" class="hint">
      For example, 12 11 2007
    </span>
    <span id="passport-issued-error" class="error-message">
      <span class="visually-hidden">Error:</span> The date your passport was issued must be in the past
    </span>
    <div class="date-input" id="passport-issued">
      <div class="date-input__item">
        <div class="form-group">
          <label class="label date-input__label" for="passport-issued-day">
            Day
          </label>
          <input class="input date-input__input input-digits-4 input--error" id="passport-issued-day" name="passport-issued-day" type="text" value="6" pattern="[0-9]*" inputmode="numeric">
        </div>
      </div>
      <div class="date-input__item">
        <div class="form-group">
          <label class="label date-input__label" for="passport-issued-month">
            Month
          </label>
          <input class="input date-input__input input-digits-4 input--error" id="passport-issued-month" name="passport-issued-month" type="text" value="3" pattern="[0-9]*" inputmode="numeric">
        </div>
      </div>
      <div class="date-input__item">
        <div class="form-group">
          <label class="label date-input__label" for="passport-issued-year">
            Year
          </label>
          <input class="input date-input__input input-digits-4 input--error" id="passport-issued-year" name="passport-issued-year" type="text" value="2076" pattern="[0-9]*" inputmode="numeric">
        </div>
      </div>
    </div>
  </fieldset>
</div>
```

*/

.error-message {
  color: $red;
  @extend .subtext;
}
