$gray: #eee;
$darkgray: #c2c2c2;
$red: #981e32;
$boxgray: #f3f3f3;
$redhover: #333333;
$darkergray: #4e4e4e;
$darkred: #58041b;
$black: #000;
$hseblack: #333333;
$body: #111;
$beta: #014a82;
$focus: #ffdd00;
$yes: #005500;


$black: #000000;
$white: #ffffff;

$mono-a: #333333;
$mono-b: #4f4f4f;
$mono-c: #828282;
$mono-d: #bdbdbd;
$mono-e: #e0e0e0;
$mono-f: #f2f2f2;

$form-focus-color: $focus;