$type-settings: (
  -1: (
    font-size: 0.75rem,
    line-height: 21px
  ),
  0: (
    font-size: 0.9rem,
    line-height: 1.5
  ),
  1: (
    font-size: 2.45em,
    line-height: 1.5
  ),
  2: (
    font-size: 1.625rem,
    line-height: 1.5
  ),
  3: (
    font-size: 1.1rem,
    line-height: 1.5
  )
);

@function type-scale($level) {
  @return map-get(
    map-get($type-settings, $level), 'font-size');
}

@function line-height($level) {
  @return map-get(
    map-get($type-settings, $level), 'line-height');
}

@mixin type-setting($level) {
  font-size: type-scale($level);
  line-height: line-height($level);
}

body {
    font-family: $body-font;
}

.heading-xl,
h1 {
    @include type-setting(1);
    font-weight: 700;
    margin-bottom: $dp*3;
    color: $red;
}

.heading-l,
h2 {
    @include type-setting(2);
    font-weight: 700;
    color: $black;
    margin: 0 0 15px;
}

.heading-m,
h3 {
    @include type-setting(3);
    font-weight: 700;
    color: $black;
    margin: 0 0 15px;
}

.heading-s,
h4 {
    @include type-setting(3);
    font-weight: 700;
    color: $black;
    margin: 0 0 15px;
}

.heading-xs,
h5 {
    @include type-setting(3);
    font-weight: 700;
    color: $black;
    margin: 0 0 15px;
}

p {
  margin: 0 0 15px;
}

address,
li,
dd,
label,
p {
    @include type-setting(0);
    color: $black;
}

.subtext {
    @include type-setting(-1);
}

sub,
sup {
    @include type-setting(-1);
    line-height: 0;
    position: relative;
    vertical-align: baseline;
}

sub {
    bottom: -0.25em;
}

sup {
    top: -0.5em;
}

small {
    @include type-setting(-1);
}

pre,
code,
kbd,
samp {
    font-family: monospace, monospace;
    @include type-setting(0);
}

abbr[title] {
    border-bottom: none;
    text-decoration: underline;
    text-decoration: underline dotted;
}

