// More links

p.moreLinkSide {
clear: both;	
}

// More link child column
.columnFull .column p.moreLink {
font-weight: bold;
clear: both;
margin: 0 !important;
margin-top: auto !important;
}

// More link column row

.homepage-section p.moreLink {
font-weight: bold;
clear: both;
margin-top: auto !important;
}

p.moreLink {
margin-bottom: 0 !important;
}

p.moreLink a {
padding: 0;
font-weight: bold;
}





