/* ==========================================================================
   ELEMENTS / #PAGE
   ========================================================================== */

@use "../settings/_all" as *;

html {
  background-color: $color_hse-white;
  overflow-y: scroll;
  font-size: $hse-base-font-size;
  font-family: Roboto, Arial, "Helvetica Neue", Helvetica, sans-serif;
}

body {
  background-color: $color_hse-white;
  color: $hse-text-color;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-family: Roboto, Arial, "Helvetica Neue", Helvetica, sans-serif;
  line-height: _hse-line-height($hse-base-line-height, $hse-base-font-size);
  margin: 0;
}
